{% set DomainUri=GetGlobals('DomainUri') %}

<title>Loding...</title>
<style>
body {margin:0px; }
body:after {content:""; width: 100%; height: 100%; z-index: 999; position: absolute; top:0; left:0;}
.spiner {background: rgb(6,26,82);
background: linear-gradient(0deg, rgba(3,65,155,1) 0%, rgba(26,93,200,1) 15%, rgba(0,116,255,1) 39%, rgba(22,138,255,0.7707457983193278) 80%, rgba(98,215,255,0.9248074229691877) 100%); height: 100vh; display: flex; align-items: center; justify-content: center; }
.spiner_inner {width: 30%; height: 100%; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.spiner_inner .circle_wrap {color: #fefefe; position: relative; top: 0px; left: 0px; width: 76px; height: 35px; margin: 0 auto;}
.spiner_inner .circle_wrap span {position: absolute; bottom: 10px; opacity: 0; font-size: 60px; }
.spiner_inner .circle_wrap .circle:nth-child(1) {left:0; animation: dot 1.2s infinite ease-in 0.5s; }
.spiner_inner .circle_wrap .circle:nth-child(2) {left:30px; animation: dot 1.2s infinite ease-in 1.5s; }
.spiner_inner .circle_wrap .circle:nth-child(3) {left:60px; animation: dot 1.2s infinite ease-in 2.5s; }
.tit_txt {color: #fefefe; font-weight: 600; font-size: 22px; margin: 10px 0 ;}
.sub_txt {color: #fefefe; font-size: 16px;}
.syringe_icon {width: 60px; padding: 5px 0;}

@keyframes dot {
	0% {bottom: 10px; opacity: 0; }
	30% {bottom: 0; opacity: 1; }
	70% {bottom: 0; opacity: 1; }
	100% {bottom: -10px; opacity: 0; }
}

</style>

<body>
	<div class="spiner">
		<div class="spiner_inner">
			<img src="{{DomainUri}}/source/img/icons/syringe.png" class="syringe_icon">
			<div class="circle_wrap">
				<span class="circle">.</span>
				<span class="circle">.</span>
				<span class="circle">.</span>
			</div>
			<span class="tit_txt">Ddos 검사 중..</span>
			<span class="sub_txt">잠시 후 페이지로 이동합니다.</span>
		</div>
	</div>


 <script type="text/javascript">


    var date = new Date();
    var days = 30;
    date.setTime(date.getTime() + (days * 24*60*60*1000));
    const ctSecure = location.protocol === "https:" ? "; secure" : "";
    document.cookie = "{{cookieName}}" + "=" + escape("{{cookieVal}}") + "; expires = " + date.toGMTString() + "; path=/; samesite=lax" + ctSecure;
    setTimeout(function(){
       window.location.reload(1);
    }, 3000);
</script>

</body>
