<title>Warning</title>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<style>
body {margin: 0px; background-color: #c62214}
i,span {color: #fff;}
 .all_wrap {width: 40%; margin: 0 auto; height: 100%; display: flex; flex-direction: column; justify-content: center;} 
 .icon {font-size: 70px;} 
 .tit {font-size: 25px; font-weight: 600; padding-top: 10px;} 
 .sub {padding: 15px 0; line-height: 27px;} 
 .back_btn {background-color: #ffffff38; color: #fff; padding: 10px; display: inline-block; width: 140px; font-size: 14px; text-decoration-line: none; text-align: center;}
</style>

<body>
	<div class="all_wrap">
		<i class="xi-close-circle icon"></i>
		<span class="tit">DDos 접근 시도가 감지되었습니다.</span>
		<span class="sub">비정상적인 접근은 허용되지 않습니다. 3분 후에 다시 시도해주세요.</span>
		<a href="#" onclick="history.back()" class="back_btn">이전으로 돌아가기</a>
	</div>
</body>

<script type="text/javascript">

	var deleteCookie = function(name){
		document.cookie = name + '=; expires=Thu, 01 Jan 1999 00:00:10 GMT;';
	}

	deleteCookie('ddosCookie');
	deleteCookie('webCookie');

</script>

