{% extends "/index.html" %}
{% block sortingWrap %}{% endblock %}
{% block content %}
<style>
	.ebuyBank_insert_btn_box{padding: 10px;}
	.td_input{width: 100%;padding:2px 4px;letter-spacing: 0;border: 1px solid #d5d5d5;}
	.p_td_bankName{width: 200px;}
	.del_col{width: 50px;}
	.p_td_status{width: 50px;}


	.c_btn{background-color: var(--css-maincolor);border: none;}
	.c_btn span{color: #fff;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>이름</th>
				<th>코드</th>
				<th>상태</th>
				<th>수정</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Information</span>
		<div class="st_right_detail_con_container" >
			<div class="detail_box">
				<div class="p_i">
					<span class="p_i_tit">이름</span>
					<div class="p_i_con_box">
						<input type="text" name="" class="p_input bank_name_val" value="">
					</div>
				</div>
				<div class="p_i">
					<span class="p_i_tit">코드</span>
					<div class="p_i_con_box">
						<input type="text" name="" class="p_input bank_code_val" value="">
					</div>
				</div>
			</div>
		</div>
		<div class="click_btn_box">
		    <a class="st_r_de_f_btn st_r_de_f_btn_ins_save" href="javascript:void(0);"><span class="f_normal">등록하기</span></a>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var ebuyTable=$('.staff_table').DataTable({
	    // "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/BankCon/dataTableListLoad",
	        type:"POST",
	        data:function(d){
	   	    },
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "name", "class":"p_td_bankName"},
	        { "data": "code", "class":"p_td_code"},
	        { "data": "status", "class":"p_td_status"},
	        { "data": null, "class": "del_col", "defaultContent": '<a href="javascript:void(0)" class="update_btn p_btn"><span class="f_small">수정</span></a>', "orderable": false }
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y');
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['name']){
				var name=aData['name'];
				if(name.length>0){
					$('.p_td_bankName', nRow).html('<input type="text" class="name_val td_input" value="'+name+'">');
				}
			}
			if(aData['code']){
				var code=aData['code'];
				if(code.length>0){
					$('.p_td_code', nRow).html('<input type="text" class="code_val td_input" value="'+code+'">');
				}
			}

			if(aData['status']){
				var status=aData['status'];
				if(status=='정상'){
					statusVal='329301';
					statusBtnClass='c_btn';
				}else{
					statusVal='329401';//차단
					var statusBtnClass='';
				}
				$('.p_td_status', nRow).html('<a href="javascript:void(0)" class="status_btn p_btn '+statusBtnClass+'" data-status="'+statusVal+'"><span class="f_small">'+status+'</span></a>');
			}
		},
		drawCallback: function( settings ) {

		},
	});

	//추가하기
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		var name=$('.bank_name_val').val();
		var code=$('.bank_code_val').val();
		$.post(DomainUri+'/BankCon/BankInsert',{
			name:name,
			code:code
		},function(data){
	    	var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('추가가 완료되었습니다.','');
			}
		});

	});

	//  수정하기
	body.on('click','.update_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    var name=targetTd.closest('tr').find('.name_val').val();
	    var code=targetTd.closest('tr').find('.code_val').val();

	    console.log(targetIDX);
	    console.log(name);
	    console.log(code);

		$.post(DomainUri+'/BankCon/BankUpdate',{
			targetIDX:targetIDX,
			name:name,
			code:code,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('수정이 완료되었습니다.','');
			}
		});
	});

	// status 수정
	body.on('click','.status_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		var status=targetTd.attr('data-status');
		if(status==329301){
			statusVal=329401;
		}else{
			statusVal=329301;
		}

		console.log(statusVal);
		$.post(DomainUri+'/BankCon/StatusUpdate',{
			targetIDX:targetIDX,
			statusVal:statusVal,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('수정이 완료되었습니다.','');
			}
		});
	});



});
</script>
{% endblock %}
