{% extends "/index.html" %}
{% block sortingWrap %}
{% endblock %}
{% block content %}
<style>
.email_wrap{display: flex;flex-direction: column;justify-content: space-between;width: 30%;background-color: #fff;padding: 10px;}
.email_input_box{display: flex;justify-content: space-between;}
.email_title_box{width: 50%;}
.pd_r_5{padding-right: 5px;}
.pd_l_5{padding-left: 5px;}



.email_title_txt{padding-bottom: 5px;}
.email_content_txt{padding: 10px 0px 5px 0px;}

/*	.sel_manager_list_wrap{background-color: #eee;width: 100%;min-height: 100px;max-height:300px;padding: 10px;}*/
.m_box{display:inline-block;padding: 2px 5px;border: 1px solid #000;}
.m_email{font-weight: 500;}
.m_email_del_btn{padding-left: 5px;}
.manager_chk{padding: 5px 0px;}


.email_content_input_box{height: 100%;}
.email_content_val{height: calc(100% - 40px);}

.send_btn{width: 100%;height: 40px;background-color: var(--css-maincolor);text-align: center;line-height: 30px;}
.send_btn span{color: #fff;}

.manager_list_wrap{width: 20%;padding:10px;background-color: #fff;}
.e_manager_search_box{padding: 7px 0px;}
.e_manager_search{border: 1px solid #ccc;}
.manager_list_box{height: calc(100% - 60px);padding-top: 10px;overflow-y: scroll;}



/*디테일*/
.st_detail_wrap{width: 50%;}
.logo_wrap{width: 100%;height: 55px;background-color: #898989;}
.logo_box{display:flex;align-items: center; height: 100%;padding-left: 60px;}

.content_wrap{height: calc(100% - 170px);}
.content_box{}

.title_txt{display: block; padding-bottom: 20px; background: linear-gradient(90deg, rgba(236,186,49,1) 0%, rgba(251,170,59,1) 100%); height: 138px; padding: 55px; text-align: center; color: #fff;}
.content_txt{display:block;padding:30px;white-space: pre-line;font-weight: 400;line-height: 20px;}
.logo_img {width:142px;}

/*푸터*/

.email_footer_wrap{display: flex; align-items: center; width: 100%; height: 70px; padding: 0 30px; border-top: 1px solid #dfdfdf;
    padding-top: 40px;}
.footer_txt{color: #838383; line-height: 20px; font-size: 12px; font-weight: 400;}

/*파일부분*/
#file_el_form{position: absolute; left: -9999px; top:-9999px; display: none;}
.file_attach_btn {background-color: var(--css-maincolor);padding: 4px 12px; min-width: 150px;}
.gesipan_file_tme_list{display: inline-block; padding:1px 10px; border:1px solid#395B77; margin:3px;}
.p_file_box{display: flex;}
.p_file_box_header{display: flex;align-items: center; text-align: center;  padding: 0px 0px;}
.file_del_btn span{font-weight: bold; color:#f56565; margin-left: 10px;}
.file_del_btn:active{top:1px;}

.zig{background: linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0, linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0, linear-gradient(315deg, #ECEDDC 25%, transparent 25%), linear-gradient(45deg, #ECEDDC 25%, transparent 25%); background-size: 100px 100px; background-color: #edbe43; width: 100%; height: 138px; display: block; position: absolute; z-index: 1;
opacity: 10%;}

</style>
<div class="table_flex_box">
	<div class="email_wrap">
		<div class="email_input_box">
			<div class="email_title_box pd_r_5">
				<span class="email_title_txt f_normal">제목</span>
				<input type="text" class="p_input email_title_val" value="이바이 개인정보 이용현황 안내">
			</div>
			<div class="email_title_box pd_l_5">
				<span class="email_title_txt f_normal">마켓 리스트</span>
				<select class="p_select market_select_val">
					<option value="none">선택해주세요.</option>
					{% for key in marketPack %}
						<option value="{{key.idx}}">{{key.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="send_all_btn_box">
		<a href="javascript:void(0);" class="p_chkbox send_all_btn" >
		        <span class="p_chkbox_i"></span>
		        <span class="p_chkbox_f f_small manager_email">모든 매니저에게 보내기(공지사항용)</span>
		    </a>
		</div>
		{# <div class="sel_manager_list_wrap"> #}
			{# <div class="m_box">
				<span class="f_small m_email">Admin@portal.com</span>
				<a href="javascript:void(0)" class="m_email_del_btn">
					<i class="fa-solid fa-x f_small"></i>
				</a>
			</div> #}
		{# </div> #}
		<div class="email_content_input_box">
			<span class="email_content_txt f_normal">내용</span>
			<textarea class="p_textarea email_content_val">안녕하세요. 이바이 입니다.
항상 이바이 서비스를 이용해주셔서 감사합니다.
이바이 에서는 회원 님의 개인정보 이용 내역과 수집 출처 등을
연 1회 이상 안내 드리고 있습니다.

아래 '개인정보 이용 현황 안내' 확인 버튼을 누르시면 확인하실 수 있습니다

※본 메일은 법령에 따른 통지 의무 사항으로 수신 동의 여부와 상관없이 모든 회원에게 발송됩니다
(관련 근거 : 개인정보보호법 제39조의8 등)


청약철회 및 환불 유의사항
상품 첫 유료결제 후 7일이 지나거나 서비스 이용 이력이 있는 경우 청약철회가 불가하며, 남은 이용 기간만큼 기존 결제수단으로 환불됩니다.
청약철회 및 환불 시 기존 결제수단으로 환불이 불가한 경우, 입력한 계좌로 환불 금액이 입금됩니다.
계좌 정보를 입력하지 않을 경우, 다시 해지 신청을 진행해야 해지 가능합니다.
해지 예약은 다음 정기결제일까지 상품 이용이 가능하며, 바로 해지는 해지 즉시 상품이 종료됩니다.
해지 예약 후 언제든지 다시 시작하기로 해지 예약 철회가 가능합니다.
바로 해지 완료 후 취소 불가하며, 다시 가입 후 상품 구독이 가능합니다.</textarea>
		</div>
		<a href="javascript:void(0)" class="p_btn send_btn"><span class="f_normal">보내기</span></a>
	</div>
	<div class="manager_list_wrap">
		<span class="manager_list_title f_normal f_bold">마켓 매니저 리스트</span>
		<div class="e_manager_search_box">
			<input type="text" class="p_input e_manager_search" value="" placeholder="마켓 선택 후 매니저를 검색해주세요">
		</div>
		<div class="manager_list_box scroll_change">
			{# append 부분 #}
		</div>
	</div>

	<div class="st_detail_wrap">
		<div class="logo_wrap">
			<div class="logo_box">
				<img class="logo_img" src="{{DomainUri}}/source/img/icons/partners_logo_YnH.png" alt="logo">
			</div>
		</div>
		<div class="content_wrap">
			<div class="content_box">
				<div class="zig"></div>
				<span class="f_biggest f_bold title_txt">이바이 개인정보 이용현황 안내</span>

				<span class="f_normal content_txt">안녕하세요.이바이 입니다.
					항상 이바이 서비스를 이용해주셔서 감사합니다.
					이바이에서는 회원님의 개인정보 이용내역과 수집출처 등을
					연 1회 이상 안내 드리고 있습니다.

					아래 '개인정보 이용현황 안내' 확인 버튼을 누르시면 확인하실 수 있습니다

					※본 메일은 법령에 따른 통지 의무사항으로 수신동의 여부와 상관없이 모든 회원에게 발송됩니다
					(관련 근거 : 개인정보보호법 제39조의8 등)

					청약철회 및 환불 유의사항
					상품 첫 유료결제 후 7일이 지나거나 서비스 이용 이력이 있는 경우 청약철회가 불가하며, 남은 이용 기간만큼 기존 결제수단으로 환불됩니다.
					청약철회 및 환불 시 기존 결제수단으로 환불이 불가한 경우, 입력한 계좌로 환불 금액이 입금됩니다.
					계좌 정보를 입력하지 않을 경우, 다시 해지 신청을 진행해야 해지 가능합니다.
					해지 예약은 다음 정기결제일까지 상품 이용이 가능하며, 바로 해지는 해지 즉시 상품이 종료됩니다.
					해지 예약 후 언제든지 다시 시작하기로 해지 예약 철회가 가능합니다.
					바로 해지 완료 후 취소 불가하며, 다시 가입 후 상품 구독이 가능합니다.
				</span>
			</div>
		</div>
		<div class="email_footer_wrap">
			<span class="f_normal footer_txt">
				This mail is only for sending and you cannot reply to this address. If you have any other inquiries, please contact us to <a href="https://portal.ebuycompany.com/" target="_blank" style="text-decoration: underline;text-decoration-color: #1e00ff;">https://portal.ebuycompany.com</a> Thank you.<br>
				Copyrightⓒ EBUYCOMPANY Inc. All Rights Reserved.
			</span>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');

	body.on('keyup','.email_title_val',function(){
		var thisVal=$(this).val();
		$('.title_txt').html(thisVal);
	});

	body.on('keyup','.email_content_val',function(){
		var thisVal=$(this).val();
		$('.content_txt').html(thisVal);
	});

	body.on('keyup','.e_manager_search',function(){
	    var val = $(this).val().toLowerCase();
	    $('.manager_list').hide();
	    $('.manager_list:contains(' + val + ')').show();
	});

	// :contains 대소문자 구분하지 않는 jQuery 확장
	$.extend($.expr[':'], {
	    'contains': function (elem, i, match, array) {
	        return (
	            elem.textContent || elem.innerText || ''
	        ).toLowerCase().indexOf((match[3] || '').toLowerCase()) >= 0;
	    }
	});

	var managerPack=[];
	body.on('click','.manager_chk ',function(){
		var tmpThis=$(this);
		var targetIDX=tmpThis.attr('data-idx');
		var email=tmpThis.find('.manager_email').text();

		if (targetIDX === 'all') {
	        if (tmpThis.hasClass('p_chkbox_s')) {
	            // '전체' 버튼이 체크된 경우
	            // 모든 .manager_chk의 데이터를 managerPack 배열에 추가 (all 제외)
	            $('.manager_chk').not('[data-idx="all"]').addClass('p_chkbox_s');
	            managerPack = [];
	            $('.manager_chk').not('[data-idx="all"]').each(function () {
	                var allTargetIDX = $(this).attr('data-idx');
	                var allEmail = $(this).find('.manager_email').text();
	                managerPack.push({
	                    idx: allTargetIDX,
	                    email: allEmail
	                });
	            });
	        } else {
	            // '전체' 버튼이 체크 해제된 경우
	            // managerPack 배열 초기화
	            $('.manager_chk').removeClass('p_chkbox_s');
	            managerPack = [];
	        }
	    } else {
	        // 개별 .manager_chk 처리
	        if (tmpThis.hasClass('p_chkbox_s')) {
	            managerPack.push({
	                idx: targetIDX,
	                email: email
	            });
	        } else {
	            // 클래스가 제거된 경우 해당 데이터를 배열에서 제거
	            managerPack = managerPack.filter(function (item) {
	                return item.idx !== targetIDX;
	            });
	        }
	    }
		console.log(managerPack);
	});

	body.on('click','.send_btn',function(){
		var tmpThis=$(this);
		var title=$('.email_title_val').val();
		var content=$('.email_content_val').val();
		var marketIDX=$('.market_select_val').val();

		var allTargetingStat = "N";
		if($('.send_all_btn').hasClass('p_chkbox_s')){
			allTargetingStat="Y";
		}


		$.post(DomainUri+"/MarketManagerEmailCon/EmailSend",{
			title:title,
			content:content,
			marketIDX:marketIDX,
			managerPack:managerPack,
			allTargetingStat:allTargetingStat
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=='t'){
				pToastr('메일 발송완료','');
			}else{
				pToastr(obj.msg,'');
			}
		});

		// $.post(DomainUri+"/MarketManagerEmailCon/EmailSend",{
		// 	title:title,
		// 	content:content,
		// 	marketIDX:marketIDX,
		// 	managerPack:managerPack
		// },function(html){
		// 	var newWindow = window.open();
		//     newWindow.document.write(html);
		// });
	});

	body.on('change','.market_select_val',function(){
		$('.manager_list_box').html('');
		var tmpThis=$(this);
		var targetIDX=tmpThis.val();
		managerPack = [];

		$.post(DomainUri+"/MarketManagerEmailCon/MarketManagerListLoad",{
			targetIDX:targetIDX,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=='t'){
				var dataPack=obj.dataPack;

				var allHtml = '';
		        allHtml += '<div class="manager_list">';
		        allHtml += '    <a href="javascript:void(0);" class="p_chkbox manager_chk all" data-idx="all">';
		        allHtml += '        <span class="p_chkbox_i"></span>';
		        allHtml += '        <span class="p_chkbox_f f_small manager_email">전체</span>';
		        allHtml += '    </a>';
		        allHtml += '</div>';
		        $('.manager_list_box').append(allHtml);

				for(var i = 0 ; i < dataPack.length ; i++){
					var idx=dataPack[i].idx;
					var name=dataPack[i].name;
					var email=dataPack[i].email;

					var tmpHtml='';
					tmpHtml+='<div class="manager_list">';
					tmpHtml+='	<a href="javascript:void(0);" class="p_chkbox manager_chk" data-idx="'+idx+'">';
				    tmpHtml+='        <span class="p_chkbox_i"></span>';
				    tmpHtml+='        <span class="p_chkbox_f f_small manager_email">'+email+'</span>';
				    tmpHtml+='        <span class="p_chkbox_f f_small manager_name">('+name+')</span>';
				    tmpHtml+='    </a>';
					tmpHtml+='</div>';

					$('.manager_list_box').append(tmpHtml);
				}
			}
		});
	});







	//DefinAll 파일관련 정의
	// var FileMaxSize='{{FileMaxSize}}';
	// var FileAbledExtString='{{FileAbledExt}}';
	// var FileAbledExt = FileAbledExtString.split(', ');
	// var FileAbledCount='{{FileAbledCount}}';

	// //파일배열 세팅
	// var filesArr = new Array();
	// var fileNo=0;

	// //파일 유효성 확인 함수
	// function fileConfirm(obj){
	// 	pLoadingOff();
	// 	var thisTempFileName=obj['name'];
	// 	var thisTempFileExtn=thisTempFileName.substring(thisTempFileName.lastIndexOf('.') + 1).toLowerCase();

	// 	if (FileAbledExt.includes(thisTempFileExtn)===false) {
    //     	var errMsg = ""+FileAbledCount+"개 이상 업로드를 할 수 없습니다.";
    //     	pLoadingOff();
	// 		pToastr(errMsg);
	// 		return false;
	// 	}
	// 	if(obj.name.length > 100){
	// 		pToastr('Files with file names longer than 100 characters cannot be attached.','300px');
	// 		pLoadingOff();
	// 		return false;
	// 	}
	// 	if(obj.size > FileMaxSize){
    //         var errMsg = "Up to "+$FileMaxSize+"MB per file can be registered.";
    //         pLoadingOff();
	// 		pToastr(errMsg);
	// 		return false;
	// 	}
	// 	if(obj.name.lastIndexOf('.') == -1){
	// 		var errMsg="Files without an extension cannot be attached.";
	// 		pLoadingOff();
	// 		pToastr(errMsg);
    //     	return false;
	// 	}

  	// 	return true;
	// }


	// body.on('change','#file_el',function(){
	// 	pLoadingOn();
    // 	var attFileCnt = document.querySelectorAll('.gesipan_file_tme_list').length;    // 기존 추가된 첨부파일 개수
   	// 	var remainFileCnt = FileAbledCount - attFileCnt;    // 추가로 첨부가능한 개수
    // 	var curFileCnt = this.files.length;  // 현재 선택된 첨부파일 개수
    // 	if (curFileCnt > remainFileCnt) {
    //         var errMsg = ""+FileAbledCount+"개 이상 업로드를 할 수 없습니다.";
    //         pLoadingOff();
    //     	pToastr(errMsg);
    //     	return false;
    // 	}
	// 	if (this.files.length != 0) {
	// 		var tempErrStatus=2;
	// 		var filesPreviewEl='';
	// 		//자료형에는 for of를 쓰나? 이해가 안됩니다.
	// 		for (const targetFile of this.files) {
	// 		// for (var i = 0; i < this.files.length; i++) {
	// 			// var targetFile=this.files[i];
	// 			var targetFileName=targetFile['name'];
	// 			var fileConfirmFnc=fileConfirm(targetFile);
	// 			if(fileConfirmFnc===true){
	// 				var reader = new FileReader();
	//                 reader.onload = function () {
	//                     filesArr.push(targetFile);
	//                 };
	//                 reader.readAsDataURL(targetFile);

	// 				filesPreviewEl+='<li class="gesipan_file_tme_list"><span class="f_normal">'+targetFileName+'</span><a href="javascript:void(0)" class="file_del_btn " data-seq="'+fileNo+'"><span class="f_normal">X</span></a> </li>';
	// 					fileNo++
	// 			}else{
	// 				tempErrStatus=3;
	// 				break;
	// 			}
	// 		}
	// 		//초기화
	// 		$('#file_el').val("");
	// 		if(tempErrStatus==3){
	// 			filesPreviewEl='';
	// 			pLoadingOff();
	// 		}else{
	// 			$('.document_file_preview_box').append(filesPreviewEl);
	// 			pLoadingOff();
	// 		}
	// 	}else{
	// 		pLoadingOff();
	// 	}
	// });

	// body.on('click','.file_del_btn',function(){
	// 	var thisBtn=$(this);
	// 	var thisIndex=thisBtn.attr('data-seq')*1;
	// 	$('.file_del_btn[data-seq='+thisIndex+']').closest('li').remove();
    // 	filesArr[thisIndex].is_delete = true;
	// });



	// ebuyTable=$('.staff_table').DataTable({
	//     "order": [[1,'desc']],
	//     "iDisplayLength":100,
	//     "ajax" : {
	//         url:DomainUri+"/NoticeCon/DataTableListLoad",
	//         type:"POST",
	//         data:function(d){

	//    	    },
	//    	},
	//    	"destroy": true,//재설정
	//    	"columns": [
	//         { "data": "idx", "class":"","orderable": false,"visible":false},
	//         { "data": "createTime", "class":"td_change_createTime"},
	//         { "data": "title", "class":""},
	//         { "data": "content", "class":"p_td_content"},
	//         { "data": "staffEmail", "class":""},
	//         { "data": "status", "class":"p_td_status td_btn"},
	//         { "data": null, "class": "del_col td_btn", "defaultContent": '', "orderable": false },
	//     ],
    // 	"initComplete": function(settings, data, dataIndex){
    // 		pTableInitComplete(this,'y','y');
	// 	},
	// 	fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
	// 		if(aData['status']){
	// 			var status=aData['status'];
	// 			var statusBtnClass='';
	// 			if(status=='활성'){
	// 				statusVal='342401';
	// 				statusBtnClass='c_btn';
	// 			}else{
	// 				statusVal='342501';//차단
	// 			}
	// 			$('.p_td_status', nRow).html('<a href="javascript:void(0)" class="status_btn p_btn '+statusBtnClass+'" data-status="'+statusVal+'"><span class="f_small">'+status+'</span></a>');
	// 		}

	// 		$('.del_col', nRow).html('<a href="javascript:void(0)" class="del_btn p_btn"><span class="f_small">삭제</span></a>');


	// 		var content=aData['content'];
	// 		var contentTxt = content;
	// 		if(content.length>15){
	// 			contentTxt =content.substring(0, 15) + "...";
	// 		}
	// 		$('.p_td_content', nRow).html('<span class="f_small">'+contentTxt+'</span>');

	// 		var createTime=aData['createTime'];
	// 		$('.td_change_createTime', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(createTime)+'</span>');
    // 		pLoadingOff();
	// 	},
	// 	drawCallback: function( settings ) {

	// 	},
	// });

	// // status 수정
	// body.on('click','.status_btn',function(){
	// 	var targetTd=$(this);
	//     var targetRow=targetTd.closest('tr')[0];
	//     var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	// 	var status=targetTd.attr('data-status');
	// 	if(status==342401){
	// 		statusVal=342501;
	// 	}else{
	// 		statusVal=342401;
	// 	}
	// 	$.post(DomainUri+'/NoticeCon/StatusUpdate',{
	// 		targetIDX:targetIDX,
	// 		statusVal:statusVal,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pAlert(obj.msg);
	// 			return false;
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('수정이 완료되었습니다.','');
	// 		}
	// 	});
	// });

	// // 공지사항 삭제 (db에서 delete 하는게 아니라 status만 바꿔주는거)
	// body.on('click','.del_btn',function(){
	// 	var targetTd=$(this);
	//     var targetRow=targetTd.closest('tr')[0];
	//     var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	//     $.confirm({
	//     	title:'공지사항 삭제',
	//     	content:'<span class="f_big">공지사항을 삭제하시겠습니까?</span>',
	//     	closeIcon: true,
	//     	useBootstrap: false,
	//     	backgroundDismiss: true,
	//     	boxWidth: '500px',
	//     	buttons: {
	//     		'confirm': {
	//     			text: '확인',
	//     			btnClass: 'btn-blue director_update',
	//     			keys:['enter'],
	//     			action:function(){
	//     				$.post(DomainUri+'/NoticeCon/DeleteStatusUpdate',{
	//     					targetIDX:targetIDX,
	//     				},function(data){
	//     					var obj=JSON.parse(data);
	//     					if(obj.result=="f"){
	//     						pAlert(obj.msg);
	//     						return false;
	//     					}else{
	//     						ebuyTable.ajax.reload();
	//     						pToastr('삭제가 완료되었습니다.','');
	//     					}
	//     				});
	//     			}
	//     		},
	//     		cancel:{text:"취소"}
	//     	}
	//     });

	// });

	// //추가하기 버튼 클릭 시 랜더
	// body.on('click','.notice_regist_btn',function(){
	// 	$.post(DomainUri+'/NoticeCon/NoticeDetailFormLoad',{
	// 		pageType:'ins'
	// 	},function(html){
	//     	$(".st_detail_wrap").html(html);
	// 	});
	// });

	// //추가하기 버튼
	// body.on('click','.st_r_de_f_btn_ins_save',function(){
	// 	var title=$('.ins_title_val').val();
	// 	var content=$('.ins_content_val').val();

	// 	var form = document.querySelector("#file_el_form");
	// 	// for로 돌려서 배열에 담은다음 여러개 한꺼번에 돌리기
	// 	var formData = new FormData(form);
	// 	var filesListCount=0;
	// 	for (var i = 0; i < filesArr.length; i++) {
	// 		// 삭제되지 않은 파일만 폼데이터에 담기
	// 		if (!filesArr[i].is_delete) {
	// 		    formData.append("files[]", filesArr[i]);
	// 		    filesListCount++;
	// 		}
	// 	}

	// 	formData.append('title',title);
	//     formData.append('content',content);

	// 	$.ajax({
	// 		beforeSend: function() {
	// 		},
	// 		url: DomainUri+'/NoticeCon/NoticeInsert',
	// 		type: "POST",
	// 		data: formData,
	// 		contentType: false,
	// 		cache: false,
	// 		processData:false,
	// 		success:function(response){
	// 			var obj=JSON.parse(response);
	// 			if(obj.result=='t'){
	// 				pToastr('공지사항 등록이 완료되었습니다.','');
	// 	    		ebuyTable.ajax.reload();
	// 			}else{
	// 				pAlert(obj.msg);
	// 			}
	// 		},
	// 		error: function(jqXHR, text, error){
	// 			//
	// 		}
	// 	});
	// 	// $.post(DomainUri+'/NoticeCon/NoticeInsert',{
	// 	// 	title:title,
	// 	// 	content:content,
	// 	// },function(data){
	//     // 	var obj=JSON.parse(data);
	//     // 	if(obj.result=='t'){
	//     // 		pToastr('공지사항 등록이 완료되었습니다.','');
	//     // 		ebuyTable.ajax.reload();
	//     // 	}
	// 	// });
	// });

	// //td클릭했을때 거래 정보
	// ebuyTable.on( 'click', 'tbody td', function(e){
	// 	if(
	// 		$(this).hasClass('dataTables_empty') === false &&
	//         $(e.target).hasClass('p_clipboard_btn') === false &&
	//         $(e.target).hasClass('p_td_status')===false &&
	//         $(e.target).hasClass('del_col')===false &&
	//         $(e.target.parentElement).hasClass('p_clipboard_btn') === false &&
	//         $(e.target.parentElement).hasClass('del_btn') === false &&
	// 		$(e.target.parentElement).hasClass('status_btn')===false
	// 	){
	// 		var targetTd=$(this);
	// 	    var targetRow=targetTd.closest('tr')[0];
	// 	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	// 	    $.post(DomainUri+'/NoticeCon/NoticeDetailFormLoad',{
	// 	    	targetIDX:targetIDX,
	// 			pageType:'upd'
	// 		},function(html){
	// 	    	$(".st_detail_wrap").html(html);
	// 	    	var currentURL = window.location.href;
	// 			var urlParams = new URLSearchParams(currentURL);
	// 			var viewValue = urlParams.get('view');
	// 			$('.detail_tab[data-type='+viewValue+']').trigger('click');
	// 		});
	// 	}
	// });

	// body.on('click','.st_r_de_f_btn_save',function(){
	// 	var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
	// 	var title=$('.upd_title_val').val();
	// 	var content=$('.upd_content_val').val();

	// 	var form = document.querySelector("#file_el_form");
	// 	// for로 돌려서 배열에 담은다음 여러개 한꺼번에 돌리기
	// 	var formData = new FormData(form);
	// 	var filesListCount=0;
	// 	for (var i = 0; i < filesArr.length; i++) {
	// 		// 삭제되지 않은 파일만 폼데이터에 담기
	// 		if (!filesArr[i].is_delete) {
	// 		    formData.append("files[]", filesArr[i]);
	// 		    filesListCount++;
	// 		}
	// 	}

	// 	formData.append('targetIDX',targetIDX);
	//     formData.append('title',title);
	//     formData.append('content',content);

	//     $.ajax({
	// 		beforeSend: function() {
	// 		},
	// 		url: DomainUri+'/NoticeCon/NoticeUpdate',
	// 		type: "POST",
	// 		data: formData,
	// 		contentType: false,
	// 		cache: false,
	// 		processData:false,
	// 		success:function(response){
	// 			var obj=JSON.parse(response);
	// 			if(obj.result=='t'){
	// 				pToastr('공지사항 수정이 완료되었습니다.','');
	// 	    		ebuyTable.ajax.reload();
	// 			}else{
	// 				pAlert(obj.msg);
	// 			}
	// 		},
	// 		error: function(jqXHR, text, error){
	// 			//
	// 		}
	// 	});


	// 	// $.post(DomainUri+'/NoticeCon/NoticeUpdate',{
	// 	// 	targetIDX:targetIDX,
	// 	// 	title:title,
	// 	// 	content:content,
	// 	// },function(data){
	//     // 	var obj=JSON.parse(data);
	//     // 	if(obj.result=='t'){
	//     // 		pToastr('공지사항 수정이 완료되었습니다.','');
	//     // 		ebuyTable.ajax.reload();
	//     // 	}
	// 	// });
	// });

	// body.on('click','.file_btn',function(){
	// 	var fileIDX = $(this).data('idx');
	// 	$.post(DomainUri+'/NoticeCon/FileDownOrImageView',{
	// 		fileIDX: fileIDX,
	// 	},function(data){
	// 		console.log(data);

	// 		var {result, uri, type} = JSON.parse(data);

	// 		if(result == 't'){
	// 			if(type === 'img'){
	// 				var popup = window.open(uri, '_blank');
	// 				if (!popup) {
	// 					alert('팝업이 차단되었습니다. 팝업 차단을 해제하고 다시 시도하세요.');
	// 				}
	// 			}else if (type === 'file'){
	// 				// 다운로드 코드
	// 				var link = document.createElement('a');
	// 				link.href = uri;
	// 				link.download = 'asdsadasdsadasd'; // 여기에 파일 이름을 지정하세요
	// 				document.body.appendChild(link);
	// 				link.click();
	// 				document.body.removeChild(link);
	// 			}
	// 		}
	// 	});
	// });


});
</script>

{% endblock %}



