{% extends "/index.html" %}
{% block sortingWrap %}
<style>
.sorting_list_btn {display: block; padding: 7px 0; border-bottom: 1px solid #e9e9e9;}
.sorting_list_btn span {font-weight: 400;}
.st_bot_sorting_box{max-height:79%;}
</style>

<div class="st_sorting_wrap">
    <div class="st_top_sorting_box">
        
        <div class="top_sorting_count_box">
    		<div class="p_t_b_3 total_count_txt flex_between"></div>
    		<div class="p_t_b_3 before_count_txt flex_between"></div>
    		<div class="p_t_b_3 after_count_txt flex_between"></div>
    		<div class="p_t_b_3 total_success_amount_txt flex_between"></div>
			<div class="p_t_b_3 total_fail_amount_txt flex_between"></div>
    	</div>


        <div class="p_btn_box index_sorting">
            <div class="index_sort_tit">
                <span class="f_normal sorting_date">Date</span>
                <div class="sort_btn_box">
                	<a class="today_apply_btn p_btn" href="javascript:void(0)">
                        <span class="f_small">Today</span>
                    </a>
                </div>
            </div>
            <div class="p_help_me_datatable_im_between_date_wrap">
                <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-3 days")|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
                <span class="p_between_hyphen"> - </span>
                
                <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
            </div>
        </div>
        <ul class="option_date_ul">
        {% set optionDateFunc = GetGlobals('monthCount') %}
        {% set optionDateData = optionDateFunc.data %}
        {% for key in optionDateData %}
            <li class="p_wid_4">
                <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
                    <span class="f_small">{{key.standMonth}}월</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="st_bot_sorting_box scroll_change">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">마켓 이름</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in marketListData %}
            	<a href="javascript:void(0)" class="p_chkbox" data-sel="{{key.code}}" data-column="3">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	.index_sorting{height: auto;margin: 0px;}
	.p_table_box{width:100%;}
	.p_table td{padding:8px;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table market_table none_all_chk">
			<thead>
				<th>idx</th>
				<th width= "15%" class="p_th_search_date">CreateTime</th>
				<th width= "52%">log</th>
				<th width= "5%">code</th>
				{# <th width= "">marketName</th> #}
				<th width= "8%">ip</th>
				<th width= "10%">action</th>
				<th width= "5%">type</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	var body      = $('body');
	var startDate = $('.start_date').val();
	var endDate   = $('.end_date').val();
	var renderidx='{{renderidx}}';

	//서치버튼
	body.on('click', '.sort_apply_btn', function () {
		resetSortingCount();
	});

	var GbLoginIDX = '{{GetGlobals('loginIDX')}}';
	var socket = io.connect( DomainUri+':3165' );
	socket.emit('p_con',GbLoginIDX);

	//리셋버튼
	body.on('click','.sort_reset_btn',function(){
		pLoadingOn();
		startDate='{{ "now"|date_modify("-1 month")|date("Y-m-d") }}';
		endDate='{{ "now"|date("Y-m-d") }}';
		$('.option_date_btn').removeClass('p_btn_active');
		var startDateChk = pDateChk(startDate);
		var endDateChk = pDateChk(endDate);

		if(startDateChk == true && endDateChk == true){
			$('.start_date').val(startDate);
			$('.end_date').val(endDate);
			ebuyTable.ajax.reload();
		}else{
			pToastr('날짜 형식이 아닙니다.','');
		}
         pLoadingOff();
	});


	var ebuyTable=$('.market_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/ApiAllLogCon/GetMarketAllApiLogData",
	        type:"POST",
	        data:function(d){
	        	d.startDate=$('.start_date').val();
	        	d.endDate=$('.end_date').val();
	   	    },
	   	},

	   	"columns": [
	        { "data": "idx", "class":"p_td_idx","orderable": false,"visible":false},
	        { "data": "createTime", "class":"td_change_createTime"},
	        { "data": "log", "class":"p_td_log"},
	        { "data": "marketCode", "class":"p_render_idx"},
	        // { "data": "marketName", "class":""},
	        { "data": "ip", "class":""},
	        { "data": "action", "class":""},
	        { "data": "type", "class":""},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['log']){
				log = aData['log'];
				$('.p_td_log', nRow).html(`
					<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text='${log}'>
						<span class="f_small json_log line3 ellipsis_copy_text">${log}</span>
					</a>
				`);
			}

			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html(getHtmlKORUTC(createTime));
			}

    		pLoadingOff();
		},
		drawCallback: function( settings ) {
		},
	});

	//$('.p_td_log').each(function(){
	//	var length = 8;
	//	console.log($(this));
	//    $(this).each(function(){
	//    	if( $(this).text().length >= length){
	//        	$(this).text($(this).text().substr(0,length)+'...');
	//        }
	//    });
	//});
});
</script>

{% endblock %}



