<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="log">
		<span class="f_big ">Log</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>
<div class="st_right_detail_con_container" data-idx="{{dataPack['clientIDX']}}" data-logType="client" data-memoStatus="371101">
	<div class="info_detail_box">
		{# <div class="p_i">
			<span class="p_i_tit">휴대폰번호</span>
			<div class="p_i_con_box">
				<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{dataPack['phone']}}">
				    <span class="f_small">{{dataPack['phone']}}</span>
				</a>
			</div>
		</div> #}
		<div class="p_i">
			<span class="p_i_tit">상태</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['memo']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">상태코드</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['statusIDX']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">유저정보</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['clientInfo']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">스태프정보</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['staffInfo']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">ex</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['ex']}}</span>
			</div>
		</div>

		<div class="p_i">
			<span class="p_i_tit">생성시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['createTime']}} (UTC)</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">생성시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['createTime']|date('Y-m-d H:i:s', '+0900')}} (KST)</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">생성시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['createTime']|date('Y-m-d H:i:s', '+0800')}} (GMT+8)</span>
			</div>
		</div>

	</div>
	<div class="log_detail_box display_none"></div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>
</div>
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>



