{% extends "/index.html" %}
{% block sortingWrap %}{% endblock %}
{% block content %}
<style>
	.accountHolder_val , .accountNumber_val , .status_val{width: 100%;padding:2px 4px;letter-spacing: 0;border: 1px solid #d5d5d5;}
	.p_td_idx{width: 100px;}
	.del_col{width: 50px;}
	.p_td_status{width: 60px;}
	.c_btn{background-color: var(--css-maincolor);border: none;}
	.c_btn span{color: #fff;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn regist_btn"><span class="f_normal">추가</span></a>
		</div>
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>은행코드</th>
				<th>은행</th>
				<th>계좌주</th>
				<th>계좌번호</th>
				<th  class="p_th_search_sel" data-opop="All,정상,비활성">활성화</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';
	var ebuyTable=$('.staff_table').DataTable({
	    // "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/EbuyBankCon/dataTableListLoad",
	        type:"POST",
	        data:function(d){
	   	    },
	   	},
	   	"columns": [
	        { "data": "idx", "class":"p_td_idx","orderable": false,"visible":false},
	        { "data": "code", "class":"p_render_idx"},
	        { "data": "name", "class":""},
	        { "data": "accountHolder", "class":"p_td_accountHolder"},
	        { "data": "accountNumber", "class":"p_td_accountNumber"},
	        { "data": "status", "class":"p_td_status"},
	        // { "data": null, "class": "del_col", "defaultContent": '<a href="javascript:void(0)" class="update_btn p_btn"><span class="f_small">수정</span></a>', "orderable": false }
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['status']){
				var status=aData['status'];
				var statusBtnClass='';
				if(status=='정상'){
					statusVal='323301';
					statusBtnClass='c_btn';
				}else{
					statusVal='323401';
				}
				if(status.length>0){
					$('.p_td_status', nRow).html('<a href="javascript:void(0)" class="status_btn p_btn '+statusBtnClass+'" data-status="'+statusVal+'"><span class="f_small">'+status+'</span></a>');
				}
			}
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	//디테일 렌더
	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('status_btn')===false // 상태버튼
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/EbuyBankCon/EbuyBankDetailFormLoad',{
	    		pageType:'upd',
				targetIDX:targetIDX,
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}
	});

	// ebuyBank 수정
	body.on('click','.st_r_de_f_btn_save',function(){
		var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		var accountHolder = $('.accountHolder_val').val();
		var accountNumber = $('.accountNumber_val').val();

	    $.post(DomainUri+'/EbuyBankCon/EbuyBankUpdate',{
			targetIDX:targetIDX,
			accountHolder:accountHolder,
			accountNumber:accountNumber,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('수정이 완료되었습니다.','');
			}
		});

	});

	body.on('click','.regist_btn',function(){
		$.post(DomainUri+'/EbuyBankCon/EbuyBankDetailFormLoad',{
			pageType:'ins',
		},function(html){
	    	$(".st_detail_wrap").html(html);
		});
	});


	//추가하기
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		var bankIDX=$('.bank_val').val();
		var accountNumber=$('.ins_accountHolder_val').val();
		var accountHolder=$('.ins_accountNumber_val').val();
		$.post(DomainUri+'/EbuyBankCon/EbuyBankInsert',{
			bankIDX:bankIDX,
			accountNumber:accountNumber,
			accountHolder:accountHolder,
		},function(data){
	    	var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('추가가 완료되었습니다.','');
			}
		});

	});

	// status 수정
	body.on('click','.status_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		var status=targetTd.attr('data-status');
		if(status==323301){
			statusVal=323401;
		}else{
			statusVal=323301;
		}
	    var status=targetTd.closest('tr').find('.status').val();
	    console.log(targetIDX);
		$.post(DomainUri+'/EbuyBankCon/StatusUpdate',{
			targetIDX:targetIDX,
			statusVal:statusVal,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('수정이 완료되었습니다.','');
			}
		});
	});




});
</script>
{% endblock %}
