<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="log">
		<span class="f_big ">Log</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>
<div class="st_right_detail_con_container" data-idx="{{targetIDX}}"  data-logType="ebuyBank" data-memoStatus="395101">
	<div class="info_detail_box">
		<div class="p_i">
			<span class="p_i_tit">은행</span>
			<div class="p_i_con_box">
				{% if pageType=='upd' %}
					<span class="p_i_con">{{detailPack['name']}}</span>
				{% else %}
					<select class="p_select bank_val">
					{% for key in bankPack %}
						<option value="{{key.idx}}">{{key.name}} | {{key.code}}</option>
					{% endfor %}
					</select>
				{% endif %}
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">예금주</span>
			<div class="p_i_con_box">
				{% if pageType=='upd' %}
					<input type="text" name="" class="p_input accountHolder_val" value="{{detailPack['accountHolder']}}">
				{% else %}
					<input type="text" name="" class="p_input ins_accountHolder_val" value="">
				{% endif %}
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">계좌번호</span>
			<div class="p_i_con_box">
				{% if pageType=='upd' %}
					<input type="text" name="" class="p_input accountNumber_val" value="{{detailPack['accountNumber']}}">
				{% else %}
					<input type="text" name="" class="p_input ins_accountNumber_val" value="">
				{% endif %}
			</div>
		</div>
	</div>
	<div class="log_detail_box display_none"></div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>
</div>
{% if pageType=='ins' %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_ins_save" href="javascript:void(0);"><span class="f_normal">등록하기</span></a>
	</div>
{% else %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_save" href="javascript:void(0);"><span class="f_normal">수정하기</span></a>
	</div>
{% endif %}
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>




