{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
    <div class="st_top_sorting_box">
        <div class="st_top_sorting_box">
	        <span class="top_sorting_count_box">
	        	<div class="sorting_count_box flex_between">
		        	<span class="f_normal count_tit">Total</span>
		        	<span class="f_normal count_txt total_count_txt"></span>
	        	</div>
	    	</span>
	    </div>
        <div class="index_sorting">
            <div class="index_sort_tit">
                <span class="f_small sorting_date">Date</span>
                <div class="sort_btn_box display_flex">
                	<a class="today_apply_btn p_btn" href="javascript:void(0)" title="Searching based on today's date">
                        <span class="f_small">Today</span>
                    </a>
                </div>
            </div>
            <div class="p_help_me_datatable_im_between_date_wrap">
                <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-1 week")|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
                <span class="p_between_hyphen"> - </span>
                <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
            </div>
        </div>
        <ul class="option_date_ul">
        {% set optionDateFunc = GetGlobals('monthCount') %}
        {% set optionDateData = optionDateFunc.data %}
        {% for key in optionDateData %}
            <li class="p_wid_4">
                <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
                    <span class="f_small">{{key.standMonth}}월</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
.confirm_cont_box {text-align: left;}
.confirm_cont_box span{display: block; line-height: 23px;}

</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>clientIDX</th>
				<th></th>
				<th>No</th>
 				<th class="p_th_reg">거래일</th>
 				<th class="p_th_reg">현금영수증시작일</th>
 				<th>이름</th>
				<th>현금영수증발행번호</th>
				<th>금액</th>
 				<th class="p_th_reg">완료일</th>
				<th>상태</th>
				<th>타입</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';
	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[2,'asc'],[3,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/CashReceiptCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	d.startDate=$('.start_date').val();
	        	d.endDate=$('.end_date').val();
	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "clientIDX", "class":"","orderable": false,"visible":false},
	        { "data": "onlyOrderable","orderable": false,"visible":false},
	        { "data": "no", "class":" "},
	        { "data": "originReg", "class":" p_td_reg td_change_originReg"},
	        { "data": "createTime", "class":" p_td_reg td_change_createTime"},
	        { "data": "clientName", "class":"p_td_name"},
	        { "data": "ReceiptTypeNo", "class":"p_render_idx"},
	        { "data": "ReceiptAmt", "class":"p_td_amount td_ReceiptAmt"},
	        { "data": "resultTime", "class":" p_td_reg td_change_resultTime"},
	        { "data": "status", "class":"td_status"},
	        { "data": "type", "class":""},

	    ],
    	"initComplete": function(settings, data, dataIndex){
			pTableInitComplete(this,'y','y');
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['originReg']){
				var originReg=aData['originReg'];
				$('.td_change_originReg', nRow).html(getHtmlKORUTC(originReg));
			}
			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html(getHtmlKORUTC(createTime));
			}
			if(aData['resultTime'] && aData['resultTime']!='-'){
				var resultTime=aData['resultTime'];
				$('.td_change_resultTime', nRow).html(getHtmlKORUTC(resultTime));
			}

			if(aData['ReceiptAmt']){
				var ReceiptAmt=aData['ReceiptAmt'];
				$('.td_ReceiptAmt', nRow).html(pComma(ReceiptAmt));
			}

			if(aData['onlyOrderable']){
				if(aData['onlyOrderable']=='1'){
					$('.td_status', nRow).css('background-color','rgb(244 193 193)');
				}
			}
		},
		drawCallback: function( settings ) {

		},
	});

	//이름 클릭했을때 공통 정보(유저의 모든 정보)
	ebuyTable.on( 'click', 'tbody td.p_td_name', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['clientIDX'];
		    $.post(DomainUri+'/ClientCon/ClientDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
				$.confirm({
					title:'회원정보',
					content:html,
					closeIcon: true,
					boxWidth: '100%',
					buttons: {
						'confirm': {
							text: '확인',
							btnClass: 'btn-blue ',
							keys:['enter'],
							action:function(){

							}
						},
					}
				});
			});
		}
	});

	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
	        $(e.target).hasClass('p_td_name') === false &&
	        $(e.target).hasClass('dt_cancel_btn') === false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
	        $(e.target.parentElement).hasClass('p_td_name') === false &&
	        $(e.target.parentElement).hasClass('dt_cancel_btn') === false
		){
			pLoadingOn();
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/CashReceiptCon/DetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
				pLoadingOff();
			});
		}
	});

	body.on( 'click', '.try_again_btn', function(e){
		pLoadingOn();
	    var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		$.confirm({
			title:'재발행',
			content:'<div class="confirm_cont_box"><span class="f_normal">재발행을 시작하시겠습니까? 확인을 누르면 발행 대기로 상태가 바뀝니다.</span></div>',
			onContentReady: function () {
			    pLoadingOff();
			},
			boxWidth: '500px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue ',
					keys:['enter'],
					action:function(){
						pLoadingOn();
						$.post(DomainUri+'/CashReceiptCon/PowerTryAgain',{
							targetIDX:targetIDX,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=='t'){
								ebuyTable.ajax.reload();
								pToastr('발행대기상태로 바뀌었습니다.');
								$('.try_again_btn').remove();
							}else{
								pAlert('오류!');
							}
							pLoadingOff();
						});
					}
				},
				cancel:{text:"취소"}
			}
		});
	});

	body.on( 'click', '.pls_stop_btn', function(e){
		pLoadingOn();
	    var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		$.confirm({
			title:'중지',
			content:'<div class="confirm_cont_box"><span class="f_normal">현금영수증 발행을 중지하시겠습니까? 이미 발행이 시작되었다면 중지할 수 없습니다..</span></div>',
			onContentReady: function () {
			    pLoadingOff();
			},
			boxWidth: '500px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue ',
					keys:['enter'],
					action:function(){
						pLoadingOn();
						$.post(DomainUri+'/CashReceiptCon/CashReceiptStop',{
							targetIDX:targetIDX,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=='t'){
								ebuyTable.ajax.reload();
								pToastr('수정이 완료되었습니다.');
								$('.pls_stop_btn').remove();
								$('.de_status').text('미발행');
							}else{
								pAlert(obj.msg);
							}
							pLoadingOff();
						});
					}
				},
				cancel:{text:"취소"}
			}
		});
	});

	body.on( 'click', '.view_fulldata_btn', function(e){
		pLoadingOn();
	    var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		$.post(DomainUri+'/CashReceiptCon/getFulldata',{
			targetIDX:targetIDX
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=='t'){
				$.confirm({
					title:'결과',
					content:'<div class="confirm_cont_box"><span class="f_normal">'+obj.data+'</span></div>',
					boxWidth: '800px',
					buttons: {
						cancel:{text:"창닫기"}
					}
				});
			}else{
				pAlert('오류!');
			}
			pLoadingOff();
		});
	});

	body.on( 'click', '.cash_cancel_btn', function(e){
		pLoadingOn();
	    var targetIDX=$('.st_right_detail_con_container').attr('data-idx');

		$.post(DomainUri+'/CashReceiptCon/DetailDataLoad',{
			targetIDX:targetIDX
		},function(data){
			var obj=JSON.parse(data);
			console.log(data);
			if(obj.result=='t'){
				var tid=obj.data.result_TID;
				var num=obj.data.ReceiptTypeNo;
				var amount=pComma(obj.data.ReceiptAmt)+'원';
				$.confirm({
					title:'발행취소',
					content:'<div class="confirm_cont_box"><span class="f_normal">해당 현금영수증 발행을 취소하시겠습니까?<br>발행번호 : '+num+'<br>금액 : '+amount+'<br></span><span class="balace_exp_txt f_normal">사유 : </span><input type="text" class="p_input msg_val" value=""></div>',
					onContentReady: function () {
					    pLoadingOff();
					},
					boxWidth: '500px',
					buttons: {
						'confirm': {
							text: '확인',
							btnClass: 'btn-blue ',
							keys:['enter'],
							action:function(){
								pLoadingOn();
								var mag=$('.msg_val').val();
								if(mag.length<1){
									pAlert('사유를 입력해 주세요');
									pLoadingOff();
									return false;
								}
								$.post(DomainUri+'/CashReceiptCon/CashReceiptCancel',{
									targetIDX:targetIDX,
									mag:mag,
								},function(data){
									var obj=JSON.parse(data);
									if(obj.result=='t'){
										ebuyTable.ajax.reload();
										pToastr('수정이 완료되었습니다.');
										$('.cash_cancel_btn').remove();
										$('.de_status').text('발행완료(취소신청)');
									}else{
										pAlert('오류!');
									}
									pLoadingOff();
								});
							}
						},
						cancel:{text:"취소"}
					}
				});
			}else{
				pAlert('오류!');
			}
			pLoadingOff();
		});








	});





});
</script>
{% endblock %}
