{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
    <div class="st_top_sorting_box">
        <div class="st_top_sorting_box">
	        <span class="top_sorting_count_box">
	        	<div class="sorting_count_box flex_between">
		        	<span class="f_normal count_tit">Total</span>
		        	<span class="f_normal count_txt total_count_txt"></span>
	        	</div>
	    	</span>
	    </div>
        <div class="index_sorting">
            <div class="index_sort_tit">
                <span class="f_small sorting_date">Date</span>
                <div class="sort_btn_box display_flex">
                	<a class="today_apply_btn p_btn" href="javascript:void(0)" title="Searching based on today's date">
                        <span class="f_small">Today</span>
                    </a>
                </div>
            </div>
            <div class="p_help_me_datatable_im_between_date_wrap">
                <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-1 month")|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
                <span class="p_between_hyphen"> - </span>
                <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
            </div>
        </div>
        <ul class="option_date_ul">
        {% set optionDateFunc = GetGlobals('monthCount') %}
        {% set optionDateData = optionDateFunc.data %}
        {% for key in optionDateData %}
            <li class="p_wid_4">
                <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
                    <span class="f_small">{{key.standMonth}}월</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="st_bot_sorting_box">
        <div class="sorting_box">
			<span class="sorting_tit f_normal">Status</span>
			<a href="javascript:void(0);" class="p_chkbox sorting_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="table_flex_box">
	<div class="p_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn new_btn"><span class="f_normal">거래시작하기</span></a>
		</div>
		<table class="p_table staff_table none_all_chk">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">신청일시</th>

				<th class="p_th_search_sel" data-opop="전체,전체1,전체2,전체3">상태</th>

				<th>구매자</th>
				<th>구매자계정이메일</th>
				<th>구매자전자화폐계정</th>
				<th>판매자</th>
				<th>판매자계정이메일</th>

				<th>전자화폐</th>
				<th>수량</th>
				<th>단가</th>
				<th>합계금액</th>
				<th>구매금액</th>
				<th>판매금액</th>

				<th class="p_th_search_date">종료일시</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
.p_i_con_box .ptp_ins_type{}
.p_i_con_box .ptp_ins_buyer{width: 80px;}
.p_i_con_box .ptp_ins_buyer_search{}
.p_i_con_box .ptp_ins_buyer_account{}
.p_i_con_box .ptp_ins_seller{width: 80px;}
.p_i_con_box .ptp_ins_seller_search{}
.p_i_con_box .ptp_ins_amount{}
.p_i_con_box .ptp_ins_rate{}

.tmp_client_name{color: #007bff;}
</style>
<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';
	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[2,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/PtpCon/dataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	d.startDate=$('.start_date').val();
				d.endDate=$('.end_date').val();
	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":"p_td_idx","orderable": false,"visible":false},
	        { "data": "createTime", "class":"p_td_reg p_td_createTime"},

			{ "data": "status", "class":"p_td_status"},

			{ "data": "BuyerName", "class":"p_td_BuyerName"},
			{ "data": "BuyerClientEmail", "class":"p_td_BuyerClientEmail"},
			{ "data": "BuyerClientPtpAccount", "class":"p_td_BuyerClientPtpAccount"},
			{ "data": "SellerName", "class":"p_td_SellerName"},
			{ "data": "SellerClientEmail", "class":"p_td_SellerClientEmail"},

			{ "data": "typeName", "class":"p_td_typeName"},
			{ "data": "amount", "class":"p_td_amount"},
			{ "data": "rate", "class":"p_td_rate"},
			{ "data": "totalPrice", "class":"p_td_totalPrice"},
			{ "data": "BuyerPrice", "class":"p_td_BuyerPrice"},
			{ "data": "SellerPrice", "class":"p_td_SellerPrice"},

	        { "data": "completeTime", "class":"p_td_reg p_td_completeTime"},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			// 해야함
    		pLoadingOff();
		},
		drawCallback: function( settings ) {
		},
	});

	body.on('click','.new_btn',function(){
    	$.post(DomainUri+'/PtpCon/DetailFormLoad',{
			pageType:'ins'
		},function(html){
	    	$(".st_detail_wrap").html(html);
		});
	});



	/*시작하기에요.. 후..*/
	var ptpInsTypeIDX=0;
	var ptpInsBuyerIDX=0;
	var ptpInsBuyerAccountIDX=0;
	var ptpInsSellerIDX=0;
	var ptpInsAmount=0;
	var ptpInsRate=0;

	var ptpInsClientType='';//seller, buyer
	body.on('change','.ptp_ins_type',function(){
		if(this.value=='false'){
			pAlert('비활성 상태입니다.');
		}
	});
	body.on('keyup','.ptp_ins_buyer, .ptp_ins_seller',function(e){
		if (e.keyCode == 13) {
			if($(this).hasClass('ptp_ins_buyer')){
				$('.ptp_ins_buyer_search').trigger('click');
			}else if($(this).hasClass('ptp_ins_seller')){
				$('.ptp_ins_seller_search').trigger('click');
			}
		}
	});
	body.on('click','.ptp_ins_buyer_search',function(){
		var thisBtn=$(this);
		ptpInsBuyerIDX=0;
		ptpInsClientType='b';
		if($('.tmp_client_search_table').length){
			$('.tmp_client_search_table').remove();
		}
		if(thisBtn.parents('.tmp_client_search_table').find('.tmp_client_checked_table').length){
			thisBtn.parents('.tmp_client_search_table').find('.tmp_client_checked_table').remove();
		}

		// if($('.ptp_ins_buyer').val().length<2){
		if($('.ptp_ins_buyer').val().length<1){
			pAlert('구매자 이름을 2글자 이상 입력해주세요.');
			return false;
		}
		if($('.ptp_ins_type').val()=='none' || $('.ptp_ins_type').val()=='false'){
			pAlert('전자화폐 다시 선택');
			return false;
		}
		$.post(DomainUri+'/PtpCon/ClientSearch',{
			cType:ptpInsClientType,
			name:$('.ptp_ins_buyer').val(),
			typeIDX:$('.ptp_ins_type').val()
		},function(data){
	    	var obj=JSON.parse(data);
	    	console.log(obj);
			if(obj.result=="f"){
				pAlert(obj.msg);
			}else{
				var data=obj['data'];
				var dataLen=data.length;
				if(dataLen===0){
					pAlert('이름에 "'+$('.ptp_ins_buyer').val()+'" 포함된 클라이언트가 없습니다.');
				}else{
					var parentBox=thisBtn.parent('.p_i_con_box');
					var tmpHtml='';
					tmpHtml+='<table class="p_table tmp_client_search_table">';
					tmpHtml+='	<thead>';
					tmpHtml+='		<tr>';
					tmpHtml+='			<th colspan="4">전자화폐계정이 등록된 회원만 검색됩니다.</th>';
					tmpHtml+='		</tr>';
					tmpHtml+='		<tr>';
					tmpHtml+='			<th>name</th>';
					tmpHtml+='			<th>phone</th>';
					tmpHtml+='			<th>email</th>';
					tmpHtml+='			<th></th>';
					tmpHtml+='		</tr>';
					tmpHtml+='	</thead>';
					tmpHtml+='	<tbody>';
					for (var i =0; i < dataLen; i++) {
						var clientData=data[i];
						tmpHtml+='		<tr>';
						tmpHtml+='			<td class="tmp_client_name" data-id="'+clientData['idx']+'">'+clientData['name']+'</td>';
						tmpHtml+='			<td>'+clientData['phone']+'</td>';
						tmpHtml+='			<td>'+clientData['email']+'</td>';
						tmpHtml+='			<td><a class="p_btn ptp_ins_client_check" data-id="'+clientData['idx']+'" href="javascript:void(0)" ><span class="f_small">선택</span></a></td>';
						tmpHtml+='		</tr>';
					}
					tmpHtml+='	</tbody>';
					tmpHtml+='</table>';
					parentBox.append(tmpHtml);
				}
			}
		});
	});

	body.on('click','.ptp_ins_seller_search',function(){
		var thisBtn=$(this);
		ptpInsClientType='s';
		ptpInsSellerIDX=0;
		if($('.tmp_client_search_table').length){
			$('.tmp_client_search_table').remove();
		}
		if(thisBtn.parents('.tmp_client_search_table').find('.tmp_client_checked_table').length){
			thisBtn.parents('.tmp_client_search_table').find('.tmp_client_checked_table').remove();
		}

		// if($('.ptp_ins_seller').val().length<2){
		if($('.ptp_ins_seller').val().length<1){
			pAlert('판매자 이름을 2글자 이상 입력해주세요.');
			return false;
		}
		$.post(DomainUri+'/PtpCon/ClientSearch',{
			cType:ptpInsClientType,
			name:$('.ptp_ins_seller').val(),
		},function(data){
	    	var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
			}else{
				var data=obj['data'];
				var dataLen=data.length;
				if(dataLen===0){
					pAlert('이름에 "'+$('.ptp_ins_seller').val()+'" 포함된 클라이언트가 없습니다.');
				}else{
					var parentBox=thisBtn.parent('.p_i_con_box');
					var tmpHtml='';
					tmpHtml+='<table class="p_table tmp_client_search_table">';
					tmpHtml+='	<thead>';
					tmpHtml+='		<tr>';
					tmpHtml+='			<th>name</th>';
					tmpHtml+='			<th>phone</th>';
					tmpHtml+='			<th>email</th>';
					tmpHtml+='			<th></th>';
					tmpHtml+='		</tr>';
					tmpHtml+='	</thead>';
					tmpHtml+='	<tbody>';
					for (var i =0; i < dataLen; i++) {
						var clientData=data[i];
						tmpHtml+='		<tr>';
						tmpHtml+='			<td class="tmp_client_name" data-id="'+clientData['idx']+'">'+clientData['name']+'</td>';
						tmpHtml+='			<td class="tmp_client_phone">'+clientData['phone']+'</td>';
						tmpHtml+='			<td class="tmp_client_email">'+clientData['email']+'</td>';
						tmpHtml+='			<td><a class="p_btn ptp_ins_client_check" data-id="'+clientData['idx']+'" href="javascript:void(0)" ><span class="f_small">선택</span></a></td>';
						tmpHtml+='		</tr>';
					}
					tmpHtml+='	</tbody>';
					tmpHtml+='</table>';
					parentBox.append(tmpHtml);
				}
			}
		});
	});
	body.on('click','.ptp_ins_client_check',function(){
		var thisBtn=$(this);
		var thisClientIDX=thisBtn.attr('data-id');
		var parentResultTr=thisBtn.parents('tr');
		var thisClientName=parentResultTr.children('.tmp_client_name').text();
		var thisClientPhone=parentResultTr.children('.tmp_client_phone').text();
		var thisClientEmail=parentResultTr.children('.tmp_client_email').text();
		if(ptpInsClientType=='b'){
			ptpInsBuyerIDX=thisClientIDX;
			var tmpThTxt='구매자';
			$('.ptp_ins_buyer').val('');
		}else{
			ptpInsSellerIDX=thisClientIDX;
			var tmpThTxt='판매자';
			$('.ptp_ins_seller').val('');
		}

		var tmpHtml='';
		tmpHtml+='<table class="p_table tmp_client_checked_table">';
		tmpHtml+='	<thead>';
		tmpHtml+='		<tr>';
		tmpHtml+='			<th>'+tmpThTxt+'</th>';
		tmpHtml+='			<th>phone</th>';
		tmpHtml+='			<th>email</th>';
		tmpHtml+='		</tr>';
		tmpHtml+='	</thead>';
		tmpHtml+='	<tbody>';
		tmpHtml+='		<tr>';
		tmpHtml+='			<td class="tmp_client_name">'+thisClientName+'</td>';
		tmpHtml+='			<td class="tmp_client_phone">'+thisClientPhone+'</td>';
		tmpHtml+='			<td class="tmp_client_email">'+thisClientEmail+'</td>';
		tmpHtml+='		</tr>';
		tmpHtml+='	</tbody>';
		tmpHtml+='</table>';

		var parentResultTable=thisBtn.parents('.tmp_client_search_table');
		parentResultTable.after(tmpHtml);
		parentResultTable.remove();
	});

/*
ptp_ins_type
ptp_ins_buyer
ptp_ins_buyer_search
ptp_ins_buyer_account
ptp_ins_seller
ptp_ins_seller_search
ptp_ins_amount
ptp_ins_rate
*/
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		if($('.ptp_ins_type').val()=='none' || $('.ptp_ins_type').val()=='false'){
			pAlert('전자화폐 다시 선택');
			return false;
		}
		if(ptpInsBuyerIDX*1<1){
			pAlert('구매자 다시 선택');
			return false;
		}
		if($('.ptp_ins_buyer').val().length<2){
			pAlert('구매자 이름을 2글자 이상 입력해주세요.');
			return false;
		}
		if($('.ptp_ins_buyer_account').val()=='none' || $('.ptp_ins_buyer_account').val()=='false'){
			pAlert('구매자 전자화폐 계정 다시 선택');
			return false;
		}
		if(ptpInsSellerIDX*1<1){
			pAlert('판매자 다시 선택');
			return false;
		}
		if($('.ptp_ins_seller').val().length<2){
			pAlert('판매자 이름을 2글자 이상 입력해주세요.');
			return false;
		}
		ptpInsRate=pUncomma($('.ptp_ins_rate').val(),2)*1;
		if(ptpInsRate<500){
			pAlert('단가 다시 입력');
			return false;
		}
		ptpInsAmount=pUncomma($('.ptp_ins_amount').val(),2)*1;
		if(ptpInsAmount<10){
			pAlert('수량 다시 입력');
			return false;
		}
	});

	function ptpInsInfoReset() {
		ptpInsTypeIDX=0;
		ptpInsBuyerIDX=0;
		ptpInsBuyerAccountIDX=0;
		ptpInsSellerIDX=0;
		ptpInsAmount=0;
		ptpInsRate=0;
	}

	body.on( 'click', '.tmp_client_name', function(e){
			var targetTd=$(this);
		    var targetIDX=targetTd.attr('data-id');
		    $.post(DomainUri+'/ClientCon/ClientDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
				$.confirm({
					title:'회원정보',
					content:html,
					closeIcon: true,
					useBootstrap: false,
					backgroundDismiss: true,
					boxWidth: '95%',
					buttons: {
						'confirm': {
							text: '확인',
							btnClass: 'btn-blue director_update',
							keys:['enter'],
							action:function(){

							}
						},
						// cancel:{text:"취소"}
					}
				});
			});
	});
	/*시작하기에요.. 후..*/


























































	// ebuyTable.on( 'change', '.request_status_sel', function(e){
	// 	var targetTd=$(this);
 //    	var targetRow=targetTd.closest('tr')[0];
	//     var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	//     var marketIDX=ebuyTable.row(targetRow).data()['marketIDX'];
	//     var amount=ebuyTable.row(targetRow).data()['amount'];

	//     var selVal = $(this).find("option:selected").val();
	//     if (selVal=='417301'||selVal=='417201'||selVal=='417211') {
	//     	var value = amount;
	//     	var confirmTxt ='<span class="f_normal expected_time_confirm_txt">취소 처리하시겠습니까?</span>'
	//     	if(selVal=='417301'){
	//     		var expectedTime = $(targetRow).find(".expected_reg").val();
	//     		value = expectedTime;
	//     		if(expectedTime.length<1){
	//     			value = null;
	//     		}
	//     		var confirmTxt ='<span class="f_normal expected_time_confirm_txt">확인 처리하시겠습니까?<br>예상처리일시 : '+expectedTime+'</span>'
	//     	}
	//     	if(selVal=='417201'){
	//     		var hash = $(targetRow).find(".hash_input").val();
	//     		value = hash;
	//     		if(hash.length<1){
	//     			hash ='미입력';
	//     		}
	//     		var confirmTxt ='<span class="f_normal expected_time_confirm_txt">완료 처리하시겠습니까?<br>해쉬 : '+hash+'</span>'
	//     	}
	//     	$.confirm({
	// 			title:false,
	// 			content:confirmTxt,
	// 			closeIcon: true,
	// 			useBootstrap: false,
	// 			backgroundDismiss: true,
	// 			boxWidth: '20%',
	// 			onClose: function () {
 //    			    targetTd.find("option:first").prop("selected", true);
 //    			},
	// 			buttons: {
	// 				'cancel':{
	// 					text:"취소"
	// 				},
	// 				'confirm': {
	// 					text: '확인',
	// 					btnClass: 'btn-blue',
	// 					keys:['enter'],
	// 					action:function(){
	// 						console.log(value);
	// 						$.post(DomainUri+'/PtpCon/StatusUpdate',{
	// 							targetIDX:targetIDX,
	// 							marketIDX:marketIDX,
	// 							changeStatus:selVal,
	// 							value:value,
	// 						},function(data){
	// 					    	var obj=JSON.parse(data);
	// 							if(obj.result=="f"){
	// 								pAlert(obj.msg);
	// 							}else{
	// 								ebuyTable.ajax.reload();
	// 								pToastr('완료되었습니다.','');
	// 							}
	// 						});
	// 					}
	// 				}
	// 			}
	// 		});
	//     }
	// });

	// ebuyTable.on( 'click', 'tbody td', function(e){
	// 	if(
	// 		$(this).hasClass('dataTables_empty') === false &&
	//         $(e.target).hasClass('p_clipboard_btn') === false &&
	//         $(e.target).hasClass('request_status_sel') === false &&
	//         $(e.target).hasClass('hash_input') === false &&
	//         $(e.target).hasClass('expected_reg') === false &&
	//         $(e.target).hasClass('expected_reg_box') === false &&
	//         $(e.target.parentElement).hasClass('p_clipboard_btn') === false &&
	//         $(e.target.parentElement).hasClass('request_status_sel') === false &&
	//         $(e.target.parentElement).hasClass('hash_input') === false &&
	//         $(e.target.parentElement).hasClass('expected_reg') === false &&
	//         $(e.target.parentElement).hasClass('expected_reg_box') === false
	// 	){
	// 		var targetTd=$(this);
	// 	    var targetRow=targetTd.closest('tr')[0];
	// 	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	//     	var marketIDX=ebuyTable.row(targetRow).data()['marketIDX'];
	//     	var requestStatusIDX=ebuyTable.row(targetRow).data()['requestStatusIDX'];


	//     	$.post(DomainUri+'/PtpCon/DetailFormLoad',{
	// 			targetIDX:targetIDX,
	// 			marketIDX:marketIDX,
	// 			requestStatusIDX:requestStatusIDX,
	// 		},function(html){
	// 	    	$(".st_detail_wrap").html(html);
	// 	    	var currentURL = window.location.href;
	// 			var urlParams = new URLSearchParams(currentURL);
	// 			var viewValue = urlParams.get('view');
	// 			$('.detail_tab[data-type='+viewValue+']').trigger('click');
	// 		});
	// 	}
	// });

	// body.on('click','.hash_save_btn',function(){
	// 	pLoadingOn();
	// 	var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
	// 	var hash=$('.hash_val').val();
	// 	$.post(DomainUri+'/PtpCon/HashUpdate',{
	// 		targetIDX:targetIDX,
	// 		hash:hash,
	// 	},function(data){
	//     	var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pAlert(obj.msg);
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('수정이 완료되었습니다.','');
	// 		}
	// 	});
	// 	pLoadingOff();
	// });
});
</script>

{% endblock %}




