{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
	<div class="st_top_sorting_box">
		<div class="st_top_sorting_box">
			<span class="top_sorting_count_box">
				<div class="sorting_count_box flex_between">
					<span class="f_normal count_tit">Total</span>
					<span class="f_normal count_txt total_count_txt"></span>
				</div>
			</span>
		</div>
		<div class="index_sorting">
			<div class="index_sort_tit">
				<span class="f_small sorting_date">Date</span>
				<div class="sort_btn_box display_flex">
					<a class="today_apply_btn p_btn" href="javascript:void(0)" title="Searching based on today's date">
						<span class="f_small">Today</span>
					</a>
				</div>
			</div>
			<div class="p_help_me_datatable_im_between_date_wrap">
				<input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-1 month")|date("Y-m-d") }}">
				<span class="p_calaner_icon"></span>
				<span class="p_between_hyphen"> - </span>
				<input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
				<span class="p_calaner_icon"></span>
			</div>
		</div>
		<ul class="option_date_ul">
		{% set optionDateFunc = GetGlobals('monthCount') %}
		{% set optionDateData = optionDateFunc.data %}
		{% for key in optionDateData %}
			<li class="p_wid_4">
				<a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
					<span class="f_small">{{key.standMonth}}월</span>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="st_bot_sorting_box">
		<div class="sorting_box">
			<span class="sorting_tit f_normal">Status</span>
			<a href="javascript:void(0);" class="p_chkbox sorting_chkbox p_chkbox_s all">
				<span class="p_chkbox_i"></span>
				<span class="p_chkbox_f f_small sorting_all">전체</span>
			</a>
		</div>
	</div>
	<div class="st_sorting_final_btn">
		<a class="sort_reset_btn" href="javascript:void(0)">
			<span class="f_normal">reset</span>
		</a>
		<a class="sort_apply_btn" href="javascript:void(0)">
			<span class="f_normal">search</span>
		</a>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="table_flex_box">
	<div class="p_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn crontest_btn"><span class="f_normal">강!제!크!론!</span></a>
			<!-- <a href="javascript:void(0)" class="p_btn crontestccaca_btn"><span class="f_normal">현금영수증크론11테스트</span></a> -->
			<a href="javascript:void(0)" class="p_btn new_btn"><span class="f_normal">거래시작하기</span></a>
		</div>
		<table class="p_table staff_table none_all_chk">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">신청일시</th>

				<th class="p_th_search_sel" data-opop="전체,전체1,전체2,전체3">상태</th>

				<th>구매자</th>
				<th>구매자계정이메일</th>
				<th>구매자전자화폐계정</th>
				<th>판매자</th>
				<th>판매자계정이메일</th>

				<th>전자화폐</th>
				<th>수량</th>
				<th>단가</th>
				<th>합계금액</th>
				<th>구매금액</th>
				<th>판매금액</th>

				<th class="p_th_search_date">종료일시</th>

				<th>BuyerClientIDX</th>
				<th>SellerClientIDX</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
.p_i_con_box .ptp_ins_type{}
.p_i_con_box .ptp_ins_buyer{width: 80px;}
.p_i_con_box .ptp_ins_buyer_search{}
.p_i_con_box .ptp_ins_buyer_account{}
.p_i_con_box .ptp_ins_seller{width: 80px;}
.p_i_con_box .ptp_ins_seller_search{}
.p_i_con_box .ptp_ins_amount{}
.p_i_con_box .ptp_ins_rate{}

.tmp_client_name{color: #007bff;}




.p_table td .ptp_de_top_btn{width: 100%;padding:10px 5px;text-align: center;}
.p_table td .ptp_de_top_btn_cancel{}
.p_table td .ptp_de_top_btn_complete{}
.p_table td .ptp_de_top_btn_next{}

.p_table td .ptp_de_top_btn span{font-weight: 400;line-height: 20px;}

</style>
<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';
	var ebuyTable=$('.staff_table').DataTable({
		"order": [[1,'desc']],
		"iDisplayLength":100,
		"ajax" : {
			url:DomainUri+"/PtpCon/dataTableListLoad",
			type:"POST",
			data:function(d){
				d.startDate=$('.start_date').val();
				d.endDate=$('.end_date').val();
			},
			"dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
		},
		"columns": [
			{ "data": "idx", "class":"p_td_idx","orderable": false,"visible":false},
			{ "data": "createTime", "class":"p_td_reg td_change_createTime"},

			{ "data": "status", "class":"p_td_status"},

			{ "data": "BuyerName", "class":"p_td_BuyerName"},
			{ "data": "BuyerClientEmail", "class":"p_td_BuyerClientEmail"},
			{ "data": "BuyerClientPtpAccount", "class":"p_td_BuyerClientPtpAccount"},

			{ "data": "SellerName", "class":"p_td_SellerName"},
			{ "data": "SellerClientEmail", "class":"p_td_SellerClientEmail"},

			{ "data": "typeName", "class":"p_td_typeName"},
			{ "data": "amount", "class":"p_td_price p_td_amount"},
			{ "data": "rate", "class":"p_td_price p_td_rate"},
			{ "data": "totalPrice", "class":"p_td_price p_td_totalPrice"},
			{ "data": "BuyerPrice", "class":"p_td_price p_td_BuyerPrice"},
			{ "data": "SellerPrice", "class":"p_td_price p_td_SellerPrice"},

			{ "data": "completeTime", "class":"p_td_reg td_change_completeTime"},
			{ "data": "BuyerClientIDX", "visible":false},
			{ "data": "SellerClientIDX", "visible":false},
		],
		"initComplete": function(settings, data, dataIndex){
			pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){

			if(aData['BuyerClientPtpAccount']){
				var BuyerClientPtpAccount=aData['BuyerClientPtpAccount'];
				$('.p_td_BuyerClientPtpAccount', nRow).html('<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="'+BuyerClientPtpAccount+'"><span class="f_small">'+BuyerClientPtpAccount+'</span></a>');
			}

			$('.p_td_amount', nRow).html('<span class="f_small">'+parseFloat(aData['amount'].replace(/,/g, '')).toLocaleString()+'</span>');
			$('.p_td_rate', nRow).html('<span class="f_small">'+parseFloat(aData['rate'].replace(/,/g, '')).toLocaleString()+'</span>');
			$('.p_td_totalPrice', nRow).html('<span class="f_small">'+parseFloat(aData['totalPrice'].replace(/,/g, '')).toLocaleString()+'</span>');
			$('.p_td_BuyerPrice', nRow).html('<span class="f_small">'+parseFloat(aData['BuyerPrice'].replace(/,/g, '')).toLocaleString()+'</span>');
			$('.p_td_SellerPrice', nRow).html('<span class="f_small">'+parseFloat(aData['SellerPrice'].replace(/,/g, '')).toLocaleString()+'</span>');


			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html(getHtmlKORUTC(createTime));
			}
			if(aData['completeTime']){
				var completeTime=aData['completeTime'];
				$('.td_change_completeTime', nRow).html(getHtmlKORUTC(completeTime));
			}
			if(aData['BuyerName']){
				var BuyerName=aData['BuyerName'];
				var BuyerClientIDX=aData['BuyerClientIDX'];
				$('.p_td_BuyerName', nRow).html('<span class="tmp_client_name" data-id="'+BuyerClientIDX+'">'+BuyerName+'</span>');
			}
			if(aData['SellerName']){
				var SellerName=aData['SellerName'];
				var SellerClientIDX=aData['SellerClientIDX'];
				$('.p_td_SellerName', nRow).html('<span class="tmp_client_name" data-id="'+SellerClientIDX+'">'+SellerName+'</span>');
			}
			pLoadingOff();
		},
		drawCallback: function( settings ) {
		},
	});

	/*시작하기에요.. 후..*/
	var ptpInsTypeIDX=0;
	var ptpInsBuyerIDX=0;
	var ptpInsBuyerAccountIDX=0;
	var ptpInsSellerIDX=0;
	var ptpInsAmount=0;
	var ptpInsRate=0;

	body.on('click','.new_btn',function(){
		$.post(DomainUri+'/PtpCon/DetailFormLoad',{
			pageType:'ins'
		},function(html){
			ptpInsTypeIDX=0;
			ptpInsBuyerIDX=0;
			ptpInsBuyerAccountIDX=0;
			ptpInsSellerIDX=0;
			ptpInsAmount=0;
			ptpInsRate=0;
			$(".st_detail_wrap").html(html);
		});
	});

	body.on( 'click', '.tmp_client_name', function(e){
		var targetTd=$(this);
		var targetIDX=targetTd.attr('data-id');
		$.post(DomainUri+'/ClientCon/ClientDetailFormLoad',{
			targetIDX:targetIDX,
		},function(html){
			$.confirm({
				title:'회원정보',
				content:html,
				boxWidth: '95%',
				buttons: {
					'confirm': {
						text: '확인',
						btnClass: 'btn-blue',
						keys:['enter'],
						action:function(){

						}
					},
					// cancel:{text:"취소"}
				}
			});
		});
	});
	var ptpInsClientType='';//seller, buyer
	body.on('change','.ptp_ins_type',function(){
		if(this.value=='false'){
			pAlert('비활성 상태입니다.');
		}
	});
	body.on('keyup','.ptp_ins_buyer, .ptp_ins_seller',function(e){
		if (e.keyCode == 13) {
			if($(this).hasClass('ptp_ins_buyer')){
				$('.ptp_ins_buyer_search').trigger('click');
			}else if($(this).hasClass('ptp_ins_seller')){
				$('.ptp_ins_seller_search').trigger('click');
			}
		}
	});

	body.on('click','.ptp_ins_buyer_search, .ptp_ins_seller_search',function(){
		pLoadingOn();
		var thisBtn=$(this);
		var tmpClientInput='';
		if($('.tmp_client_search_table').length){
			$('.tmp_client_search_table').remove();
		}
		if(thisBtn.parents('.p_i_con_box').find('.tmp_client_checked_table').length){
			thisBtn.parents('.p_i_con_box').find('.tmp_client_checked_table').remove();
		}
		if(thisBtn.hasClass('ptp_ins_buyer_search')){
			ptpInsBuyerIDX=0;
			ptpInsClientType='b';
			tmpClientInput=$('.ptp_ins_buyer');
			$('.ptp_ins_buyer_account').html('<option value="none">구매자 검색해주세요</option>');
			if($('.ptp_ins_type').val()=='none' || $('.ptp_ins_type').val()=='false'){
				pAlert('전자화폐 다시 선택');
				pLoadingOff();
				return false;
			}
		}else if(thisBtn.hasClass('ptp_ins_seller_search')){
			ptpInsSellerIDX=0;
			ptpInsClientType='s';
			tmpClientInput=$('.ptp_ins_seller');
		}

		if(tmpClientInput.val().length<1){
			pAlert('이름을 2글자 이상 입력해주세요.');
			pLoadingOff();
			return false;
		}

		$.post(DomainUri+'/PtpCon/ClientSearch',{
			cType:ptpInsClientType,
			name:tmpClientInput.val(),
			typeIDX:$('.ptp_ins_type').val()
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
			}else{
				var data=obj['data'];
				var dataLen=data.length;
				if(dataLen===0){
					pAlert('이름에 "'+tmpClientInput.val()+'" 포함된 클라이언트가 없습니다.');
				}else{
					var parentBox=thisBtn.parent('.p_i_con_box');
					var tmpHtml='';
					tmpHtml+='<table class="p_table tmp_client_search_table">';
					tmpHtml+='	<thead>';
					if(ptpInsClientType=='b'){
						tmpHtml+='		<tr>';
						tmpHtml+='			<th colspan="5">전자화폐계정이 등록된 회원만 검색됩니다.</th>';
						tmpHtml+='		</tr>';
					}
					tmpHtml+='		<tr>';
					tmpHtml+='			<th>grade</th>';
					tmpHtml+='			<th>name</th>';
					tmpHtml+='			<th>phone</th>';
					tmpHtml+='			<th>email</th>';
					tmpHtml+='			<th></th>';
					tmpHtml+='		</tr>';
					tmpHtml+='	</thead>';
					tmpHtml+='	<tbody>';
					for (var i =0; i < dataLen; i++) {
						var clientData=data[i];
						tmpHtml+='		<tr>';
						tmpHtml+='			<td class="tmp_grade_name">'+clientData['gradeName']+'</td>';
						tmpHtml+='			<td class="tmp_client_name" data-id="'+clientData['idx']+'">'+clientData['name']+'</td>';
						tmpHtml+='			<td class="tmp_client_phone">'+clientData['phone']+'</td>';
						tmpHtml+='			<td class="tmp_client_email">'+clientData['email']+'</td>';
						tmpHtml+='			<td><a class="p_btn ptp_ins_client_check" data-id="'+clientData['idx']+'" href="javascript:void(0)" ><span class="f_small">선택</span></a></td>';
						tmpHtml+='		</tr>';
					}
					tmpHtml+='	</tbody>';
					tmpHtml+='</table>';
					parentBox.append(tmpHtml);
				}
			}
			pLoadingOff();
		});
	});

	body.on('click','.ptp_ins_client_check',function(){
		pLoadingOn();
		var thisBtn=$(this);
		var thisClientIDX=thisBtn.attr('data-id');
		var parentResultTr=thisBtn.parents('tr');
		var thisClientGradeName=parentResultTr.children('.tmp_grade_name').text();
		var thisClientName=parentResultTr.children('.tmp_client_name').text();
		var thisClientPhone=parentResultTr.children('.tmp_client_phone').text();
		var thisClientEmail=parentResultTr.children('.tmp_client_email').text();
		if(ptpInsClientType=='b'){
			ptpInsBuyerIDX=thisClientIDX;
			var tmpThTxt='구매자';
			$('.ptp_ins_buyer').val('');
		}else{
			ptpInsSellerIDX=thisClientIDX;
			var tmpThTxt='판매자';
			$('.ptp_ins_seller').val('');
		}
		var tmpHtml='';
		tmpHtml+='<table class="p_table tmp_client_checked_table">';
		tmpHtml+='	<thead>';
		tmpHtml+='		<tr>';
		tmpHtml+='			<th>grade</th>';
		tmpHtml+='			<th>'+tmpThTxt+'</th>';
		tmpHtml+='			<th>phone</th>';
		tmpHtml+='			<th>email</th>';
		tmpHtml+='		</tr>';
		tmpHtml+='	</thead>';
		tmpHtml+='	<tbody>';
		tmpHtml+='		<tr>';
		tmpHtml+='			<td class="tmp_grade_name">'+thisClientGradeName+'</td>';
		tmpHtml+='			<td class="tmp_client_name" data-id="'+thisClientIDX+'">'+thisClientName+'</td>';
		tmpHtml+='			<td class="tmp_client_phone">'+thisClientPhone+'</td>';
		tmpHtml+='			<td class="tmp_client_email">'+thisClientEmail+'</td>';
		tmpHtml+='		</tr>';
		tmpHtml+='	</tbody>';
		tmpHtml+='</table>';

		var parentResultTable=thisBtn.parents('.tmp_client_search_table');
		parentResultTable.after(tmpHtml);
		parentResultTable.remove();
		if(ptpInsClientType=='b'){
			$.post(DomainUri+'/PtpCon/ClientPtpAccountSearch',{
				clientIDX:ptpInsBuyerIDX,
				ptpTypeIDX:$('.ptp_ins_type').val(),
			},function(data){
				var obj=JSON.parse(data);
				if(obj.result=="f"){
					pAlert(obj.msg);
				}else{
					var data=obj['data'];
					var dataLen=data.length;
					if(dataLen===0){
						pAlert('오류발생20240115JM');
					}else{
						var tmpOption='';
						tmpOption+='<option value="none">전자화폐 계정을 선택해주세요</option>';
						for (var ii=0; ii < dataLen; ii++) {
							var clientData=data[ii];
							tmpOption+='<option value="'+clientData['idx']+'">'+clientData['account']+' (등록일: '+clientData['createTime']+')</option>';
						}
						$('.ptp_ins_buyer_account').html(tmpOption);
					}
				}
				pLoadingOff();
			});
		}else{
			pLoadingOff();
		}
	});
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		pLoadingOn();
		if($('.ptp_ins_type').val()=='none' || $('.ptp_ins_type').val()=='false' || $('.ptp_ins_type').val()*1<1){
			pAlert('전자화폐 다시 선택');
			pLoadingOff();
			return false;
		}
		if(ptpInsBuyerIDX*1<1){
			pAlert('구매자 다시 선택');
			pLoadingOff();
			return false;
		}
		if($('.ptp_ins_buyer_account').val()=='none' || $('.ptp_ins_buyer_account').val()=='false' || $('.ptp_ins_buyer_account').val()*1<1){
			pAlert('구매자 전자화폐 계정 다시 선택');
			pLoadingOff();
			return false;
		}
		if(ptpInsSellerIDX*1<1){
			pAlert('판매자 다시 선택');
			pLoadingOff();
			return false;
		}
		ptpInsRate=pUncomma($('.ptp_ins_rate').val(),2)*1;
		if(ptpInsRate<1){
			pAlert('단가 다시 입력');
			pLoadingOff();
			return false;
		}
		ptpInsAmount=pUncomma($('.ptp_ins_amount').val(),2)*1;
		if(ptpInsAmount<1){
			pAlert('수량 다시 입력');
			pLoadingOff();
			return false;
		}
		$.post(DomainUri+'/PtpCon/PtpFinalCheck',{
			ptpTypeIDX:$('.ptp_ins_type').val(),
			BuyerIDX:ptpInsBuyerIDX,
			BuyerPtpAccountIDX:$('.ptp_ins_buyer_account').val(),
			SellerIDX:ptpInsSellerIDX,
			Rate:ptpInsRate,
			Amount:ptpInsAmount,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
			}else{
				var getPtpBuyerCheck=obj['getPtpBuyerCheck'];
				var getPtpSellerCheck=obj['getPtpSellerCheck'];
				var tmpHtml='';
				tmpHtml+='<table class="p_table">';
				tmpHtml+='	<tbody>';
				tmpHtml+='		<tr>';
				tmpHtml+='			<th>전자화폐명</th>';
				tmpHtml+='			<td>'+getPtpBuyerCheck.ptpTypeName+'</td>';
				tmpHtml+='		</tr>';
				tmpHtml+='		<tr>';
				tmpHtml+='			<th>수량</th>';
				tmpHtml+='			<td>$ '+pComma(obj.Amount,2)+'</td>';
				tmpHtml+='		</tr>';
				tmpHtml+='		<tr>';
				tmpHtml+='			<th>단가</th>';
				tmpHtml+='			<td>'+pComma(obj.Rate,2)+'원</td>';
				tmpHtml+='		</tr>';
				tmpHtml+='		<tr>';
				tmpHtml+='			<th>합계금액</th>';
				tmpHtml+='			<td>'+pComma(obj.totPrice)+'원</td>';
				tmpHtml+='		</tr>';
				tmpHtml+='	</tbody>';
				tmpHtml+='</table>';
				tmpHtml+='<div class="p_i_line"></div>';
				tmpHtml+='<div>';
				tmpHtml+='	<div style="display: inline-block;vertical-align: top;width: 50%;">';
				tmpHtml+='		<table class="p_table">';
				tmpHtml+='			<thead>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th colspan="2">구매자</th>';
				tmpHtml+='				</tr>';
				tmpHtml+='			</thead>';
				tmpHtml+='			<tbody>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>등급</th>';
				tmpHtml+='					<td>'+getPtpBuyerCheck.gradeName+'</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>수수료율</th>';
				tmpHtml+='					<td>'+getPtpBuyerCheck.tradeFeePer+'%</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>수수료</th>';
				tmpHtml+='					<td>'+pComma(obj.BuyerFee)+'원</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>차감할금액</th>';
				tmpHtml+='					<td>'+pComma(obj.BuyerPrice)+'원</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>현재보유잔액</th>';
				tmpHtml+='					<td>'+pComma(obj.BuyerMileage)+'원</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>전자화폐계정</th>';
				tmpHtml+='					<td>'+getPtpBuyerCheck.account+'</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>이름</th>';
				tmpHtml+='					<td>'+getPtpBuyerCheck.name+'</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>전화번호</th>';
				tmpHtml+='					<td>'+getPtpBuyerCheck.phone+'</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>이바이이메일</th>';
				tmpHtml+='					<td>'+getPtpBuyerCheck.email+'</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='			</tbody>';
				tmpHtml+='		</table>';
				tmpHtml+='	</div>';
				tmpHtml+='	<div style="display: inline-block;vertical-align: top;width: 50%;">';
				tmpHtml+='		<table class="p_table">';
				tmpHtml+='			<thead>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th colspan="2">판매자</th>';
				tmpHtml+='				</tr>';
				tmpHtml+='			</thead>';
				tmpHtml+='			<tbody>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>등급</th>';
				tmpHtml+='					<td>'+getPtpSellerCheck.gradeName+'</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>수수료율</th>';
				tmpHtml+='					<td>'+getPtpSellerCheck.tradeFeePer+'%</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>수수료</th>';
				tmpHtml+='					<td>'+pComma(obj.SellerFee)+'원</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>완료시거래대금</th>';
				tmpHtml+='					<td>'+pComma(obj.SellerPrice)+'원</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>-</th>';
				tmpHtml+='					<td>-</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>-</th>';
				tmpHtml+='					<td>-</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>이름</th>';
				tmpHtml+='					<td>'+getPtpSellerCheck.name+'</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>전화번호</th>';
				tmpHtml+='					<td>'+getPtpSellerCheck.phone+'</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='				<tr>';
				tmpHtml+='					<th>이바이이메일</th>';
				tmpHtml+='					<td>'+getPtpSellerCheck.email+'</td>';
				tmpHtml+='				</tr>';
				tmpHtml+='			</tbody>';
				tmpHtml+='		</table>';
				tmpHtml+='	</div>';
				tmpHtml+='</div>';
				if(obj.BuyerDepositEx.length>5){
					tmpHtml+='		<table class="p_table">';
					tmpHtml+='			<thead>';
					tmpHtml+='				<tr>';
					tmpHtml+='					<th>'+obj.BuyerDepositEx+'</th>';
					tmpHtml+='				</tr>';
					tmpHtml+='			</thead>';
					tmpHtml+='		</table>';
				}
				$.confirm({
					title:'최종 확인',
					content:tmpHtml,
					backgroundDismiss: false,
					boxWidth: '550px',
					buttons: {
						'confirm': {
							text: '거래시작하기',
							btnClass: 'btn-blue ',
							action:function(){
								$.post(DomainUri+'/PtpCon/PtpSubmit',{
									ptpTypeIDX:getPtpBuyerCheck.ptpTypeIDX,
									BuyerIDX:getPtpBuyerCheck.idx,
									BuyerPtpAccountIDX:getPtpBuyerCheck.ptpAccountIDX,
									SellerIDX:getPtpSellerCheck.idx,
									Rate:obj.Rate,
									Amount:obj.Amount,
								},function(data){
									var obj=JSON.parse(data);
									if(obj.result=="f"){
										pAlert(obj.msg);
									}else{
										pAlert('성공!');
										ebuyTable.ajax.reload();
									}
								});
							}
						},
						cancel:{text:"취소"}
					}
				});
			}
			pLoadingOff();
		});
	});

	/*시작하기에요.. 후..*/


	/*디테일이에요.. 후..*/
	var targetTd;
	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty') === false &&
			$(e.target).hasClass('tmp_client_name') === false &&
			$(e.target).hasClass('p_clipboard_btn') === false &&
			$(e.target.parentElement).hasClass('tmp_client_name') === false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn') === false
		){
			targetTd=$(this);
			var targetRow=targetTd.closest('tr')[0];
			var targetIDX=ebuyTable.row(targetRow).data()['idx'];

			$.post(DomainUri+'/PtpCon/DetailFormLoad',{
				targetIDX:targetIDX,
				pageType:'upd',
			},function(html){
				$(".st_detail_wrap").html(html);
				var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}
	});

	body.on( 'click', '.ptp_de_top_btn', function(e){
		pLoadingOn();
		var tmpType=$(this).attr('data-type');
		var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		$.post(DomainUri+'/PtpCon/BtnBeforeCheck',{
			targetIDX:targetIDX,
			type:tmpType,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
			}else{
				$.confirm({
					title:'재확인',
					content:obj.msg,
					backgroundDismiss: false,
					boxWidth: '500px',
					buttons: {
						'confirm': {
							text: '확인하였습니다.',
							btnClass: 'btn-blue',
							keys:['enter'],
							action:function(){
								pLoadingOn();
								$.post(DomainUri+'/PtpCon/BtnSubmit',{
									targetIDX:obj.targetIDX,
									type:obj.type,
									isStatusIDX:obj.statusIDX,
								},function(data){
									var obj=JSON.parse(data);
									if(obj.result=="f"){
										pAlert(obj.msg);
									}else{
										pAlert(obj.msg);
										ebuyTable.ajax.reload();
										targetTd.trigger('click');
									}
									pLoadingOff();
								});
							}
						},
						cancel:{text:"취소"}
					}
				});
			}
			pLoadingOff();
		});
	});


	/*디테일이에요.. 후..*/






	/*테스트에요.. 후..*/
	body.on( 'click', '.crontest_btn', function(e){
		pLoadingOn();
		$.post(DomainUri+'/PtpCon/crontestttttttttttttttttttttttttttt',function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
			}else{
				pAlert('돌앗다 ('+obj.msg+')');
			}
			pLoadingOff();
		});
	});
	/*테스트에요.. 후..*/






	/*테스트에요.. 후..*/
	body.on( 'click', '.crontestccaca_btn', function(e){
		$.post(DomainUri+'/PtpCon/CashReceiptCron11',function(data){
			console.log(data);
		});
	});
	/*테스트에요.. 후..*/











});
</script>

{% endblock %}