<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="log">
		<span class="f_big ">Log</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>

{# cccccccccccccccccc 111111222 이거 뭐넣어야할까나 로그 어떻게 보는거임..  #}{# memoStatus는 해당 클라이언트의 메모등록할때의 statusIDX , data-targetIdx는 clientIDX 입니다 #}
<div class="st_right_detail_con_container" data-idx="{{targetIDX}}" data-logType="ptp" data-memoStatus="371101" data-targetIdx="{{GetDetail['clientIDX']}}">
	<div class="info_detail_box">
		{% if pageType=='ins' %}
			<div class="p_i">
				<span class="p_i_tit">전자화폐</span>
				<div class="p_i_con_box">
					<select class="p_select ptp_ins_type">
						<option value="none">전자화폐를 선택해주세요</option>
						{% for key in GetPeerToPeerTypeData %}
							{% set typeIDX = key.idx %}
							{% set typeName = key.name %}
							{% if key.status == '비활성' %}
								{% set typeIDX = 'false' %}
								{% set typeName = '(비활성)' ~ typeName %}
							{% endif %}
							<option value="{{typeIDX}}">{{typeName}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="p_i_line"></div>
			<div class="p_i">
				<span class="p_i_tit">구매자명</span>
				<div class="p_i_con_box">
					<input type="text" class="p_input ptp_ins_buyer " value="" />
					<a href="javascript:void(0)" class="p_btn ptp_ins_buyer_search"><span class="f_small">검색</span></a>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">구매자P2P계정</span>
				<div class="p_i_con_box">
					<select class="p_select ptp_ins_buyer_account">
						<option value="none">구매자 검색해주세요</option>
					</select>
				</div>
			</div>
			<div class="p_i_line"></div>
			<div class="p_i">
				<span class="p_i_tit">판매자명</span>
				<div class="p_i_con_box">
					<input type="text" class="p_input ptp_ins_seller " value="" />
					<a href="javascript:void(0)" class="p_btn ptp_ins_seller_search"><span class="f_small">검색</span></a>
				</div>
			</div>
			<div class="p_i_line"></div>
			<div class="p_i">
				<span class="p_i_tit">수량($)</span>
				<div class="p_i_con_box">
					<input type="text" class="p_input ptp_ins_amount " value="" />
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">단가(원)</span>
				<div class="p_i_con_box">
					<input type="text" class="p_input ptp_ins_rate " value="" />
				</div>
			</div>
		{% else %}

			<div class="p_i">
				<span class="p_i_tit">시작일시</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.createTime}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">현재상태</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.status}}</span>
				</div>
			</div>
			<div class="p_i">

				<table class="p_table">
					<thead>
						<tr>
							<th>시간</th>
							<th>상태</th>
							<th>스태프</th>
						</tr>
					</thead>
					<tbody>

						{% for key in GetPtpDetailStatusLog %}
							<!--
							idx :: {{key.idx}}
							statusIDX :: {{key.statusIDX}}
							targetIDX :: {{key.targetIDX}}
							staffIDX :: {{key.staffIDX}}
							memo :: {{key.memo}}
							staffEmail :: {{key.staffEmail}}
							clientEmail :: {{key.clientEmail}}
							clientName :: {{key.clientName}}
							ex :: {{key.ex}}
							-->
							<tr>
								<td>
									<span class="utc_time f_small">UTC : {{key.createTime}}</span>
									<span class="kr_time f_small">KST : {{key.createTimeKst}}</span>
								</td>
								<td>{{key.status}}</td>
								<td>{{key.staffName}}</td>
							</tr>
						{% endfor %}
						{% if GetDetail.statusIDX == 251101 or GetDetail.statusIDX == 251102 %}
							{#
								251101=입금신청됨
								251102=구매자말리지차감함

								[완료처리버튼, 취소버튼]
							#}
							<tr>
								<td colspan="3">
									<a class="p_btn ptp_de_top_btn ptp_de_top_btn_cancel" data-type="cancel" href="javascript:void(0);">
										<span class="f_normal">취소</span>
										<br />
										{% if GetDetail.statusIDX == 251101 %}
											<span class="f_small">구매자, 판매자 마일리지 변동이 없습니다.<br />구매자의 입금신청이 되었으니 취소해야 합니다.<br />구매자에게 돈을 보내지 말라고 해야합니다.</span>
										{% elseif GetDetail.statusIDX == 251102 %}
											<span class="f_small">구매자의 거래대금으로 마일리지를 차감하였으니 다시 반환합니다.<br /> 구매자의 마일리지가 증가합니다.</span>
										{% endif %}
									</a>
								</td>
							</tr>
							{#
							케케케케케케케케
							케케케준케케케케
							케케케모케케케케
							케케케케케케케케
							<tr>
								<td colspan="3">
									<a class="p_btn ptp_de_top_btn ptp_de_top_btn_complete" data-type="complete" href="javascript:void(0);">
										<span class="f_normal">완료</span>
										<br />
										<span class="f_small">< 주의 ><br />판매자에게 거래대금을 전달합니다.<br /> 판매자의 마일리지가 증가합니다.</span>
									</a>
								</td>
							</tr>
							케케케케케케케케
							케케케준케케케케
							케케케모케케케케
							케케케케케케케케
							#}
						{% elseif GetDetail.statusIDX == 251201 %}
							{#
								251201=2단계: 구매자 마일리지 차감 완료 / 판매자 전자화폐 송금중 << 구매자 ClientMileage 차감 코드

								[완료처리버튼, 다음스텝으로버튼, 취소버튼(말리지반환)]
							#}
							<tr>
								<td colspan="3">
									<a class="p_btn ptp_de_top_btn ptp_de_top_btn_next" data-type="next" href="javascript:void(0);">
										<span class="f_normal">다음 단계로</span>
										<br />
										<span class="f_small">(생략가능)<br />판매자가 구매자 {{GetDetail.typeName}} 계정으로 {{GetDetail.typeName}}를 전송했다고 연락이 왔다면 다음 단계로 넘어가주세요.<br />구매자, 판매자 마일리지 변동은 없습니다.<br /><br />구매자 {{GetDetail.typeName}} 계정: {{GetDetail.BuyerClientPtpAccount}}<br />판매자가 보낼 수량: $ {{GetDetail.amount|number_format(2, '.', '')}}</span>
									</a>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<a class="p_btn ptp_de_top_btn ptp_de_top_btn_cancel" data-type="cancel" href="javascript:void(0);">
										<span class="f_normal">취소</span>
										<br />
										<span class="f_small">구매자의 거래대금으로 마일리지를 차감하였으니 다시 반환합니다.<br /> 구매자의 마일리지가 증가합니다.</span>
									</a>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<a class="p_btn ptp_de_top_btn ptp_de_top_btn_complete" data-type="complete" href="javascript:void(0);">
										<span class="f_normal">완료</span>
										<br />
										<span class="f_small">< 주의 ><br />판매자에게 거래대금을 전달합니다.<br /> 판매자의 마일리지가 증가합니다.</span>
									</a>
								</td>
							</tr>
						{% elseif GetDetail.statusIDX == 251301 %}
							{#
								251301=3단계: 판매자 송금완 / 구매자 전자화폐 지갑 확인중(생략가능)

								[완료처리버튼, 취소버튼(말리지반환)]
							#}
							<tr>
								<td colspan="3">
									<a class="p_btn ptp_de_top_btn ptp_de_top_btn_cancel" data-type="cancel" href="javascript:void(0);">
										<span class="f_normal">취소</span>
										<br />
										<span class="f_small">구매자의 거래대금으로 마일리지를 차감하였으니 다시 반환합니다.<br /> 구매자의 마일리지가 증가합니다.</span>
									</a>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<a class="p_btn ptp_de_top_btn ptp_de_top_btn_complete" data-type="complete" href="javascript:void(0);">
										<span class="f_normal">완료</span>
										<br />
										<span class="f_small">< 주의 ><br />판매자에게 거래대금을 전달합니다.<br /> 판매자의 마일리지가 증가합니다.</span>
									</a>
								</td>
							</tr>
						{% elseif GetDetail.statusIDX == 251401 or GetDetail.statusIDX == 251402 or GetDetail.statusIDX == 251403 %}
							{#
								251401=끝: 종료 구매자 확인완 / 피투피거래종료(완료) << 판매자 ClientMileage 증가 하는 코드
								251402=끝: 거래취소 << 구매자가 예치한 마일리지 반환함 << 구매자 ClientMileage 증가 하는 코드
								251403=끝: 거래취소 << 구매자 마일리지 예치하기 전에 취소하는것 마일리지 증차감 없음
							#}
						{% endif %}

					</tbody>
				</table>

			</div>
			<div class="p_i">
				<span class="p_i_tit">전자화폐</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.typeName}} ({{GetDetail.PeerToPeerTypeIDX}})</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">수량</span>
				<div class="p_i_con_box">
					<span class="p_i_con">$ {{GetDetail.amount|number_format(2, '.', '')}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">단가</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.rate|number_format(2, '.', '')}}원</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">합계금액</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.totalPrice|number_format(0)}}원</span>
				</div>
			</div>

			<div class="p_i_line"></div>

			<div class="p_i">
				<span class="f_big">구매자정보</span>
			</div>
			<div class="p_i">
				<span class="p_i_tit">현재등급</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.BuyerGradeName}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">구매자명</span>
				<div class="p_i_con_box">
					<span class="p_i_con tmp_client_name" data-id="{{GetDetail.BuyerClientIDX}}">{{GetDetail.BuyerName}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">전화번호</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.BuyerPhone}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">이바이이메일</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.BuyerClientEmail}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">수수료</span>
				<div class="p_i_con_box">
					<span class="p_i_con">거래당시 {{GetDetail.BuyerFeePer}}%, {{GetDetail.BuyerFee|number_format(0)}} 원</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">구매금액</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.BuyerPrice|number_format(0)}}원</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">전자화폐계정</span>
				<div class="p_i_con_box">
					<a href="javascript:void(0)" class="p_clipboard_btn p_i_con" data-clipboard-text="{{GetDetail.BuyerClientPtpAccount}}"><span class="f_small">{{GetDetail.BuyerClientPtpAccount}}</span></a>
				</div>
			</div>

			<div class="p_i_line"></div>

			<div class="p_i">
				<span class="f_big">판매자정보</span>
			</div>
			<div class="p_i">
				<span class="p_i_tit">현재등급</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.SellerGradeName}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">판매자명</span>
				<div class="p_i_con_box">
					<span class="p_i_con tmp_client_name" data-id="{{GetDetail.SellerClientIDX}}">{{GetDetail.SellerName}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">전화번호</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.SellerPhone}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">이바이이메일</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.SellerClientEmail}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">수수료</span>
				<div class="p_i_con_box">
					<span class="p_i_con">거래당시 {{GetDetail.SellerFeePer}}%, {{GetDetail.SellerFee|number_format(0)}}원</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">판매금액</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{GetDetail.SellerPrice|number_format(0)}}원</span>
				</div>
			</div>



			{{GetDetail.completeTime}}




		{% endif %}
	</div>
	<div class="log_detail_box display_none"></div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>
</div>


{% if pageType=='ins' %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_ins_save" href="javascript:void(0);"><span class="f_normal">P2P시작하기</span></a>
	</div>
{% endif %}
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>