<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="log">
		<span class="f_big ">Log</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>
<div class="st_right_detail_con_container" data-idx="{{targetIDX}}" data-logType="notice" data-memoStatus="388101">
	<div class="info_detail_box">
		<div class="title_box">
			{% if pageType=='ins' %}
				<input type="text" class="p_input ins_title_val" placeholder="제목을 입력해주세요.">
			{% elseif pageType=='upd' %}
				<input type="text" class="p_input upd_title_val" value="{{dataPack['title']}}">
			{% endif %}
		</div>
		{% set fileWrapClass='' %}
		{% if pageType=='ins' %}
			{% set fileWrapClass='file_contents_wrap_ins' %}
		{% elseif pageType=='upd' %}
			{% set fileWrapClass='file_contents_wrap_upd' %}
		{% endif %}
		<div class="file_contents_wrap {{fileWrapClass}}">
			<div class="p_file_box">
				<div class="p_file_box_header">
					{# <div class="qna_file_box_tit">
						<span class="f_normal">Attachment</span>
					</div> #}
					<label class="pub_fB_find_label" for="file_el">
						<a class="p_btn file_attach_btn">
							<span class="f_normal">파일첨부</span>
						</a>
						<form id="file_el_form" class="file_form" method="POST" enctype="multipart/form-data" action="/oo.php">
						{# 	<input type="hidden" name="insertedIDX" value="" class="file_docIDX_input"> #}
							<input id="file_el" class="pub_fB_files" value="" multiple="multiple" type="file">
						</form>
					</label>
				</div>
				<div class="document_file_preview_box">
					{% if pageType=='upd' %}
						{% for key in filePack %}
							<a href="javascript:void(0)" class="file_btn p_btn d_btn" data-idx="{{key.idx}}" data-targetIDX="{{key.targetIDX}}" data-statusIDX="{{key.statusIDX}}">
								<span class="title_box">
									<i class="fa-solid fa-download fd_icon"></i>
									<span class="f_small f_bold">{{key.orignName}}</span>
								</span>
								{# <span class="f_small">144KB</span> #}
							</a>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="mail_status_wrap">
			<div class="status_box">
				{% set status=dataPack['status'] %}

				<select class="p_select status_select_val">
					<option value="342401" {% if status=='일반' %}selected{% endif %}>일반</option>
					<option value="342402" {% if status=='긴급' %}selected{% endif %}>긴급</option>
					{% if pageType=='upd' %}
						<option value="342403" {% if status=='비활성' %}selected{% endif %}>비활성</option>
					{% endif %}
				</select>
			</div>
			{% if pageType=='ins' %}
				<div class="notice_chk_box">
				    <a href="javascript:void(0);" class="p_chkbox notice_mail_chk" data-idx="342502">
				        <span class="p_chkbox_i"></span>
				        <span class="p_chkbox_f f_small manager_email">메일 보내기</span>
				    </a>
				    <a href="javascript:void(0);" class="p_chkbox notice_popup_chk" data-idx="342602">
				        <span class="p_chkbox_i"></span>
				        <span class="p_chkbox_f f_small manager_email">팝업 띄우기</span>
				    </a>
				</div>
			{% else %}
				{% set mailingStatusIDX=dataPack['mailingStatusIDX'] %}
				<div class="mail_box">
				{% if mailingStatusIDX == '342501' %}
					<span class="f_normal al_mail_txt">이미 메일을 발송한 공지사항 입니다.</span>
				{% else %}
					<a href="javascript:void(0)" class="p_btn mail_send_btn"><span class="f_normal">메일 보내기</span></a>
				{% endif %}
				</div>
				{% set popupStatusIDX=dataPack['popupStatusIDX'] %}
				<div class="popup_chk_box">
					<select class="p_select popup_status_val">
						<option value="342601" {% if popupStatusIDX=='342601' %}selected{% endif %}>팝업 활성</option>
						<option value="342602" {% if popupStatusIDX=='342602' %}selected{% endif %}>팝업 비활성</option>
					</select>
				</div>
			{% endif %}
		</div>
		<div class="contect_box">
			{% if pageType=='ins' %}
				<textarea class="p_textarea ins_content_val" placeholder="내용을 입력해주세요"></textarea>
			{% elseif pageType=='upd' %}
				<textarea class="p_textarea upd_content_val">{{dataPack['content']}}</textarea>
			{% endif %}
		</div>
	</div>
	<div class="log_detail_box display_none"></div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>
</div>
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>

{% if pageType=='ins' %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_ins_save" href="javascript:void(0);"><span class="f_normal">등록하기</span></a>
	</div>
{% else %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_save" href="javascript:void(0);"><span class="f_normal">수정하기</span></a>
	</div>
{% endif %}




