<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EBUY</title>
	<style>
		/*디테일*/
		.email_wrap{width: 100%;}
		.logo_wrap{width: 100%;height: 100px;background-color: #e18e12;}
		.logo_box{display:flex;align-items: center; height: 100%;padding-left: 100px;}

		.content_wrap{height: calc(100% - 170px);background-color: #f9f9f9;}
		.content_box{padding: 50px 100px;}

		.title_txt{display:block;padding-bottom: 20px;}
		.content_txt{display:block;padding:10px 0px;white-space: pre-line;font-weight: 500;line-height: 20px;}

		/*푸터*/

		.email_footer_wrap{dispaly:flex;align-items: center; width: 100%;height: 70px;padding:0px 100px;background-color: #555;}
		.footer_txt{color: #fff;font-weight: 500;}
	</style>
</head>
<body>
	<div class="email_wrap">
		<div class="logo_wrap">
			<div class="logo_box">
				<img class="logo_img" src="https://staff.ebuycompany.com/source/img/icons/logo_YnH.png" alt="logo">
			</div>
		</div>
		<div class="content_wrap">
			<div class="content_box">
				<span class="f_biggest f_bold title_txt">{{title}}</span>
				<span class="f_normal content_txt">{{content}}</span>
			</div>
		</div>
		<div class="email_footer_wrap">
		</div>
	</div>
</body>
</html>