<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="log">
		<span class="f_big ">Log</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>
<div class="st_right_detail_con_container" data-idx="{{dataPack['marketIDX']}}" data-logType="market" data-memoStatus="382101">
	<div class="info_detail_box">
		<div class="p_i">
			<span class="p_i_tit">상태</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['memo']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">매니저이름</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['marketManagerName']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">등급</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['gradeName']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">포지션</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['position']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">이메일</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['marketManagerEmail']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">마켓이름</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['marketName']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">ex</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['ex']}}</span>
			</div>
		</div>

		<div class="p_i">
			<span class="p_i_tit">생성시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['createTime']}} (UTC)</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">생성시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['createTime']|date('Y-m-d H:i:s', '+0900')}} (KST)</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">생성시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['createTime']|date('Y-m-d H:i:s', '+0800')}} (GMT+8)</span>
			</div>
		</div>

	</div>
	<div class="log_detail_box display_none"></div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>
</div>
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>



