{% extends "/index.html" %}
{# {% block sortingWrap %}
<div class="st_sorting_wrap">
    <div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    </div>
    <div class="st_bot_sorting_box">
        <div class="sorting_box">
			<span class="sorting_tit f_normal">등급</span>
			<a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in gradePack %}
            	<a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox" data-sel="{{key.name}}" data-column="6">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
        <div class="sorting_box">
			<span class="sorting_tit f_normal">타입</span>
			<a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
        	<a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox" data-sel="안드로이드" data-column="7">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">안드로이드</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox" data-sel="아이폰" data-column="7">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">아이폰</span>
            </a>
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %} #}
{% block content %}
<style>
	.p_td_name{color: #007bff;}
	.p_td_status{width: 80px;}
	.st_bot_sorting_box{width: 240px;margin-top:0px;/*height: calc(100% - 40px);*/}

	.c_btn , .client_balance_btn{background-color: var(--css-maincolor);}
	.c_btn span , .client_balance_btn span{color: #fff;}

	.p_i_con_box{width: calc(100% - 110px);}
	.long_txt{width: 100%;overflow:hidden;}

	.mileage_text{color: #1f3082;}

	.detail_flex{display: flex;justify-content: space-between;align-items: center;}


	.now_balance_box{padding: 5px 0px;}
	.balance_radio_box{padding: 20px 0px 20px 0px;}
	.balance_radio_chk{padding: 0px 5px;}
	.balance_txt{font-weight: 500;font-size: 14px;}
	.balance_box{display: flex;justify-content: space-between;align-items: center;padding-bottom: 10px;}
	.balace_exp_txt{width: 100px;}
	.input_100{width: calc(100% - 100px);font-weight: 500;}

	.f_mig{color: #2900ff;}
	.tr_unactive{background-color: #e5e5e5;}

</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">등록일</th>
				<th>이름</th>
				<th>생년월일</th>
				<th>휴대폰번호</th>
				<th>은행</th>
				<th>계좌번호</th>
				<th>계좌주</th>
				<th>상태</th>
				<th>clientIDX</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';

	// function resetSortingCount(){
	// 	var columnsArr = [];
	// 	$('[data-column]').each(function() {
	// 		var columnIndex = $(this).attr('data-column');
	// 		if (columnsArr.indexOf(columnIndex) === -1) {
	// 			columnsArr.push(columnIndex);
	// 		}
	// 	});

	// 	var columnsVal = columnsArr.map(function(value) {
	// 		var searchValues = $('.sorting_box').not('.display_none').find('[data-column="' + value + '"].p_chkbox_s').map(function() {
	// 			var searchValue = $(this).attr('data-sel') || '';
	// 		    return searchValue === '전체' ? '' : searchValue;
	// 		}).get().join('|');
	// 		return searchValues;
	// 	});

	// 	$.post(DomainUri+"/ClientCon/ResetSortingCount",{
	// 		columnsVal:columnsVal,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=='t'){
	// 			var data=obj.data;
	// 			var count=data.count;
	// 			$('.total_num').html('Total '+count);
	// 		}
	// 	});
	// }

	// resetSortingCount();

	// //리셋버튼
	// body.on('click','.sort_reset_btn',function(){
	// 	resetSortingCount();
	// });

	// //서치버튼
	// body.on('click', '.sort_apply_btn', function () {
	// 	resetSortingCount();
	// });

	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/ClientBankCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	// d.startDate=startDate;
	        	// d.endDate=endDate;
	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "createTime", "class":"p_td_reg"},
	        { "data": "name", "class":"p_td_name"},
	        { "data": "birth", "class":"p_render_idx"},
	        { "data": "phone", "class":""},
	        { "data": "bankName", "class":""},
	        { "data": "accountNumber", "class":""},
	        { "data": "accountHolder", "class":""},
	        { "data": "status", "class":"p_td_status"},
	        { "data": "clientIDX", "class":"","orderable": false,"visible":false},
	    ],
    	"initComplete": function(settings, data, dataIndex){
			// pTableInitComplete(this,'y','y');
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html(getHtmlKORUTC(createTime));
			}
			if(aData['status']=="비활성" || aData['status']=="탈퇴"){
				$(nRow).addClass('tr_unactive')
			}
    		pLoadingOff();

		},
		drawCallback: function( settings ) {

		},
	});

	//이름 클릭했을때 공통 정보(유저의 모든 정보)
	ebuyTable.on( 'click', 'tbody td.p_td_name', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['clientIDX'];
		    $.post(DomainUri+'/ClientBankCon/ClientDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
				$.confirm({
					title:'회원정보',
					content:html,
					closeIcon: true,
					useBootstrap: false,
					backgroundDismiss: true,
					boxWidth: '95%',
					buttons: {
						'confirm': {
							text: '확인',
							btnClass: 'btn-blue director_update',
							keys:['enter'],
							action:function(){

							}
						},
						// cancel:{text:"취소"}
					}
				});
			});
		}
	});



	// ebuyTable.on( 'click', 'tbody td', function(e){
	// 	if(
	// 		$(this).hasClass('dataTables_empty')===false &&
	// 		$(e.target).hasClass('p_clipboard_btn')===false &&
	//         $(e.target).hasClass('p_td_name') === false &&
	// 		$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
	//         $(e.target.parentElement).hasClass('p_td_name') === false
	// 	){
	// 		var targetTd=$(this);
	// 	    var targetRow=targetTd.closest('tr')[0];
	// 	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	//     	$.post(DomainUri+'/ClientCon/ClientRightDetailFormLoad',{
	// 			targetIDX:targetIDX,
	// 		},function(html){
	// 	    	$(".st_detail_wrap").html(html);
	// 	    	var currentURL = window.location.href;
	// 			var urlParams = new URLSearchParams(currentURL);
	// 			var viewValue = urlParams.get('view');
	// 			$('.detail_tab[data-type='+viewValue+']').trigger('click');
	// 		});
	// 	}

	// });








});
</script>
{% endblock %}
