{% extends "/index.html" %}
{% block sortingWrap %}{% endblock %}
{% block content %}

<style type="text/css">
	.apa_con{min-height: 300px;}
</style>
<div>
	<div>
		<span>title</span>
		<input type="text" name="" class="p_input apa_title" placeholder="제목을 적어주세요." >
	</div>

	<div>
		<span>con</span>
		<textarea class="p_textarea apa_con" placeholder="내용을적어주세요."></textarea>
	</div>

	<select class="p_select apa_statusIDX">
		<option value="311101">공지사항</option>
		<option value="312101">혜택및이벤트</option>
	</select>


	<div>
		<a href="javascript:void(0)" class="p_btn apa_ins_btn">
			<span>등록</span>
		</a>
	</div>

</div>
<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');

	body.on("click",'.apa_ins_btn',function(){
		$.confirm({
			title:'앱푸시알람 보내기',
			content:'푸사알람을 보내겠습니까? 모든 회원을 대상으로 발송됩니다. 신중해주세요.',
		    closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '300px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue',
					keys:['enter'],
					action:function(){
						var thisTitle = $('.apa_title').val();
						var thisCon = $('.apa_con').val();
						var thisStatus =$('.apa_statusIDX').val();

						$.post(DomainUri+'/AppPushAlarmCon/writePushAlarm',{
							title:thisTitle,
							con:thisCon,
							statusIDX:thisStatus
						},function(data){
							var obj = JSON.parse(data);
							if(obj.result=='f'){
								pAlert(obj.msg);
							}else{
								pAlert("등록되었습니다.");
							}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});

	});

	// var sendiTable=$('.staff_table').DataTable({
	//     "order": [[1,'desc']],
	//     "iDisplayLength":10,
	//     "ajax" : {
	//         url:DomainUri+"/StaffCon/DataTableListLoad",
	//         type:"POST",
	//         data:function(d){
	//         	// d.startDate=startDate;
	//         	// d.endDate=endDate;
	//    	    },
	//    	},
	//    	"columns": [
	//         { "data": "idx", "class":"","orderable": false,"visible":false},
	//         { "data": "email", "class":""},
	//         { "data": "name", "class":""},
	//         { "data": "createTime", "class":"p_td_reg"},
	//         { "data": "gradeName", "class":""},
	//         { "data": "statusMemo", "class":""},
	//     ],
    // 	"initComplete": function(settings, data, dataIndex){
	// 		// pTableInitComplete(this,'y','y');
    // 		pTableInitComplete(this,'y');
	// 	},
	// 	fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
	// 		// if(aData['createTime']){
	// 		// 	var createTime=aData['createTime'];
	// 		// 	if(createTime.length>0){
	// 		// 		$('.p_td_reg', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KR : '+changeDateKR(createTime)+'</span>');
	// 		// 	}
	// 		// }
    // 		pLoadingOff();
	// 	},
	// 	drawCallback: function( settings ) {

	// 	},
	// });

	// sendiTable.on( 'click', 'tbody td', function(e){
	// 	if(
	// 		$(this).hasClass('dataTables_empty')===false &&
	// 		$(e.target).hasClass('p_clipboard_btn')===false &&
	// 		$(e.target.parentElement).hasClass('p_clipboard_btn')===false
	// 	){
	// 		var targetTd=$(this);
	// 	    var targetRow=targetTd.closest('tr')[0];
	// 	    var targetIDX=sendiTable.row(targetRow).data()['idx'];
	//     	$.post(DomainUri+'/StaffCon/staffDetailFormLoad',{
	// 			targetIDX:targetIDX,
	// 			pageType:'upd'
	// 		},function(html){
	// 	    	$(".st_detail_wrap").html(html);
	// 	    	$('.click_btn_box').addClass('{{permissionView}}');
	// 		});
	// 	}

	// });



	// //스태프 추가
	// body.on('click','.st_r_de_f_btn_ins_save',function(){
	// 	var email=$('.staff_email').val();
	// 	var name=$('.staff_name').val();
	// 	var gradeIDX=$('.staff_grade').val();
	// 	if(email==""){
	// 		pToastr('이메일을 적어주세요');
	// 		return false;
	// 	}
	// 	if(name==""){
	// 		pToastr('이름을 적어주세요');
	// 		return false;
	// 	}
	// 	$.post(DomainUri+'/StaffCon/StaffInsert',{
	// 		email:email,
	// 		name:name,
	// 		gradeIDX:gradeIDX,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pToastr(obj.msg);
	// 		}else{
	// 			sendiTable.ajax.reload();
	// 			pToastr('등록이 완료되었습니다.');
	// 			// window.location.reload();
    // 			// $('.st_r_de_f_info_btn_close').trigger('click');
	// 			// pToastr("등록이 완료되었습니다.");
	// 		}
	// 	});
	// });


});
</script>
{% endblock %}
