<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="log">
		<span class="f_big ">Log</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>
<div class="st_right_detail_con_container" data-idx="{{data['invoiceIDunique']}}" data-logType="clientApiDeposit" data-memoStatus="371101" data-targetIdx="{{clientIDX}}" data-marketCode={{data['marketCode']}} >
	<div class="info_detail_box">

		<div class="p_i">
		    <span class="p_i_tit">Market Code</span>
			<div class="p_i_con_box">
				<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text={{data['marketCode']}}>
					<span class="f_small">{{data['marketCode']}}</span>
				</a>
			</div>
		</div>

		<div class="p_i">
			<span class="p_i_tit">Invoice ID</span>
			<div class="p_i_con_box">
				<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text={{data['invoiceID']}}>
					<span class="f_small">{{data['invoiceID']}}</span>
				</a>
			</div>
		</div>

		<div class="p_i">
			<span class="p_i_tit">마켓 유저 이메일</span>
			<div class="p_i_con_box">
				<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text={{data['marketUserEmail']}}>
					<span class="f_small">{{data['marketUserEmail']}}</span>
				</a>
			</div>
		</div>

		<div class="p_i">
			<span class="p_i_tit">상태</span>
			<div class="p_i_con_box"><span>{{data['status']}}</div>
		</div>

		<div class="p_i">
			<span class="p_i_tit">에러코드</span>
			<div class="p_i_con_box"><span>{{data['errorCode']}}</div>
		</div>

		{% if data['status'] == '실패' %}
			<div class="p_i">
				<span class="p_i_tit stat_false">실패사유</span>
				<div class="p_i_con_box">
					<span class="stat_false">{{data['msg']}}</span>
				</div>
			</div>
		{% endif %}

		<div class="p_i_line"></div>

		{# 돈 관련 #}
		<div class="p_i">
			<span class="p_i_tit">입금 신청금액</span>
			<div class="p_i_con_box"><span>$ {{data['amount']|number_format(2)}}</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">마켓 수수료</span>
			<div class="p_i_con_box"><span>$ {{data['marketFeeCash']}}</div>
		</div>

		<div class="p_i">
			<span class="p_i_tit">적립금액</span>
			{% set realAmount = data['amount']*1 - data['marketFeeCash']*1 %}
			<div class="p_i_con_box"><span>$ {{realAmount|number_format(2)}}</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">변동전 마일리지</span>
			<div class="p_i_con_box"><span>{{data['beforeMileage']|number_format()}}</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">차감 마일리지</span>
			<div class="p_i_con_box"><span>{{data['mileage']|number_format()}}</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">변동후 마일리지</span>
			<div class="p_i_con_box"><span>{{data['afterMileage']|number_format()}}</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">적용환율</span>
			<div class="p_i_con_box"><span>{{data['exchangeRate']|number_format(2, '.', ',')}}</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">마켓 수수료율</span>
			<div class="p_i_con_box"><span>{{data['marketFeePer']}} %</div>
		</div>


		<div class="p_i">
			<span class="p_i_tit">고객 수수료율</span>
			<div class="p_i_con_box"><span>{{data['clientFeePer']}} %</div>
		</div>

		<div class="p_i">
			<span class="p_i_tit">고객 수수료</span>
			<div class="p_i_con_box"><span>{{data['clientFee']|number_format()}}</div>
		</div>

		<div class="p_i_line"></div>

		{# 시간 관련 #}
		<div class="p_i">
			<span class="p_i_tit">신청시간</span>
			<div class="p_i_con_box utc_time"><span>{{data['utcCreateTime']}}</div>
			<div class="p_i_con_box kr_time"><span>{{data['kstCreateTime']}}</div>
		</div>

		<div class="p_i">
			<span class="p_i_tit">종료시간</span>
			<div class="p_i_con_box utc_time"><span>{{data['utcAppTime']}}</div>
			<div class="p_i_con_box kr_time"><span>{{data['kstAppTime']}}</div>
		</div>

		<div class="p_i">
			<span class="p_i_tit">콜백시간</span>
			<div class="p_i_con_box utc_time"><span>{{data['utcCallBackTime']}}</span></div>
			<div class="p_i_con_box kr_time"><span>{{data['kstCallBackTime']}}</span></div>
		</div>





		{# 굳이 ex를 봐야하나? #}
		{# {% if data['ex1'] %}
		<div class="p_i">
			<span class="p_i_tit">Ex 1</span>
			<div class="p_i_con_box"><span>{{data['ex1']}}</span></div>
		</div>
		{% endif %}
		{% if data['ex2'] %}
		<div class="p_i">
			<span class="p_i_tit">Ex 2</span>
			<div class="p_i_con_box"><span>{{data['ex2']}}</span></div>
		</div>
		{% endif %}
		{% if data['ex3'] %}
		<div class="p_i">
			<span class="p_i_tit">Ex 3</span>
			<div class="p_i_con_box"><span>{{data['ex3']}}</span></div>
		</div>
		{% endif %} #}



		<div class="p_i_line"></div>

		<div class="p_i">
			<span class="p_i_tit">고객이름</span>
			<div class="p_i_con_box"><span>{{client['name']}}</span></div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">고객 휴대전화번호</span>
			<div class="p_i_con_box"><span>{{client['phone']}}</span></div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">고객 이메일</span>
			<div class="p_i_con_box"><span>{{client['clientEmail']}}</span></div>
		</div>
		<div class="p_i">
		    <span class="p_i_tit">고객 계좌번호</span>
			<div class="p_i_con_box"><span>{{client['accountNumber']}}</span></div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">총 마일리지</span>
			<div class="p_i_con_box"><span>{{client['allAmount']|number_format()}}</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">총입금이용횟수</span>
			<div class="p_i_con_box"><span>{{client['DepositCount']|number_format()}}</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">최근이용시간</span>
			<div class="p_i_con_box"><span>{{client['latestCreateTime']}}</div>
		</div>


	</div>
	<div class="log_detail_box display_none"></div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>
</div>
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>





