{% extends "/index.html" %}
{% block sortingWrap %}
<style>
.sorting_list_btn {display: block; padding: 7px 0; border-bottom: 1px solid #e9e9e9;}
.sorting_list_btn span {font-weight: 400;}
.st_bot_sorting_box{max-height:80%;}
.json_log{line-height: 1.5; max-height: 52px;}

</style>

<div class="st_sorting_wrap">
    <div class="st_top_sorting_box">

        <div class="top_sorting_count_box">
    		<div class="p_t_b_3 total_count_txt flex_between"></div>
    		<div class="p_t_b_3 before_count_txt flex_between"></div>
    		{# <div class="p_t_b_3 after_count_txt flex_between"></div> #}
    		<div class="p_t_b_3 total_success_amount_txt flex_between"></div>
			{# <div class="p_t_b_3 total_fail_amount_txt flex_between"></div> #}
    		<div class="p_t_b_3 total_fee_txt flex_between"></div>
    	</div>


        <div class="p_btn_box index_sorting">
            <div class="index_sort_tit">
                <span class="f_normal sorting_date">Date</span>
                <div class="sort_btn_box">
                	<a class="today_apply_btn p_btn" href="javascript:void(0)">
                        <span class="f_small">Today</span>
                    </a>
                </div>
            </div>
            <div class="p_help_me_datatable_im_between_date_wrap">
                <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-1 week")|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
                <span class="p_between_hyphen"> - </span>

                <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
            </div>
        </div>
        <ul class="option_date_ul">
        {% set optionDateFunc = GetGlobals('monthCount') %}
        {% set optionDateData = optionDateFunc.data %}
        {% for key in optionDateData %}
            <li class="p_wid_4">
                <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
                    <span class="f_small">{{key.standMonth}}월</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="st_bot_sorting_box scroll_change">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">마켓 이름</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in marketListData %}
            	<a href="javascript:void(0)" class="p_chkbox" data-sel="{{key.code}}" data-column="5">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	/*	--  */
	.p_td_ci{color: #007bff;}
	.p_td_reg{width: 140px;}
	.p_td_status{width: 100px;}
	.p_i_tit {width: 120px}
	.stat_select{padding: 0px;border-radius: 0px;}
	.p_td_name{color: #007bff;}

	.index_sorting{height: auto;margin: 0px;}

	.status_change_btn{margin-left: 3px;}
	.c_btn{background-color: var(--css-maincolor);}
	.d_btn{width: 100%;background-color: #c70000;}
	.c_btn span , .d_btn span{color: #fff;}

	.stat_comp{color: #10b36e;}
	.stat_false{color: #f00;}

	.all_chk_btn_box{padding: 10px;}

	.sorting_tit {display: block;}
	.action_btn {padding: 5px; color: #fff}
	.action_btn.approve_btn {margin-left:5px;}

	.tr_fail{background-color:#e5e5e5 ;}
	.td_amount , .td_mileage, .td_beforeMileage, .td_afterMileage{text-align: right;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table market_table none_all_chk">
			<thead>
				<th>idx</th>
				<th>No</th>
				<th  class="p_th_search_date">createTime</th>
				<th width= "8%">name</th>
				<th width= "17%">client Email</th>
				<th width= "8%">code</th>
				<th>marketName</th>
				<th >amount</th>
				<th >변동전마일리지</th>
				<th >차감마일리지</th>
				<th >변동후마일리지</th>
				<th>invoice ID</th>
				<th class="p_th_search_date">approval time</th>
				<th class="p_th_search_sel" data-opop="전체,Completed,Cancelled,In Progress" width= "8%">Status</th>
				{# <th width= "8%" class="p_th_search_sel p_th_status" data-opop="전체,Completed,In Progress,Cancelled">Status</th> #}
				<th class="p_th_search_sel" data-opop="전체,app,web">type</th>
			</thead>
			<tbody></tbody>
		</table>

	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var startDate=$('.start_date').val();
	var endDate=$('.end_date').val();
	var renderidx='{{renderidx}}';
	function formatNumber(number) {
	    return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}

	//deposit 제대로 파악 후 작업
	function resetDateCount() {
	    return new Promise(function(resolve, reject) {
	        startDate = $('.start_date').val();
			endDate = $('.end_date').val();
			$.post(DomainUri+"/ApiDepositCon/ResetDateCount",{
				startDate:startDate,
				endDate:endDate,
			},function(data){
				var obj=JSON.parse(data);
				if(obj.result=='t'){
					var data=obj.data;
					var successTotalCount=data.successTotalCount;
					var failTotalCount=data.failTotalCount;
					var allTotalCount = parseInt(successTotalCount) + parseInt(failTotalCount);
					var successAmount = data.successAmount;
					var numberSuccessAmount=formatNumber(successAmount);
					var successClientFee = data.successClientFee;
					var numberSuccessClientFee=formatNumber(successClientFee);
					$('.total_count_txt').html('<span class="f_small">전체</span><span class="f_small">'+allTotalCount+'건</span>');
					$('.before_count_txt').html('<span class="f_small">성공</span><span class="f_small">'+successTotalCount+'건</span>');
					$('.total_success_amount_txt').html('<span class="f_small">성공금액</span><span class="f_small">$ '+numberSuccessAmount+'</span>');
					$('.total_fee_txt').html('<span class="f_small">수수료</span><span class="f_small">'+numberSuccessClientFee+' 원</span>');
					// $('.after_count_txt').html('<span class="f_small">실패</span><span class="f_small">'+failTotalCount+'건</span>');
					// $('.total_fail_amount_txt').html('<span class="f_small">실패금액</span><span class="f_small">'+numberFailureAmount+'원');
					// $('.total_count_txt').html('총 '+allTotalCount+' | 성공 '+successTotalCount+' | 실패 '+successTotalCount+'');
					// $('.total_success_amount_txt').html('성공금액</br>'+numberSuccessAmount+'원');
					// $('.total_fail_amount_txt').html('실패금액</br>'+numberFailureAmount+'원');
				}
			});
	        resolve();
	    });
	}
	// 총 32건 | 성공 13건 | 실패 19건
	// resetDateCount();

	// //deposit 제대로 파악 후 작업
	// function resetSortingCount(){
	// 	var columnsArr = [];
	// 	$('[data-column]').each(function() {
	// 		var columnIndex = $(this).attr('data-column');
	// 		if (columnsArr.indexOf(columnIndex) === -1) {
	// 			columnsArr.push(columnIndex);
	// 		}
	// 	});

	// 	var columnsVal = columnsArr.map(function(value) {
	// 		var searchValues = $('.sorting_box').not('.display_none').find('[data-column="' + value + '"].p_chkbox_s').map(function() {
	// 			var searchValue = $(this).attr('data-sel') || '';
	// 		    return searchValue === '전체' ? '' : searchValue;
	// 		}).get().join('|');
	// 		return searchValues;
	// 	});

	// 	console.log(columnsVal);
	// 	$.post(DomainUri+"/ApiDepositCon/ResetSortingCount",{
	// 		columnsVal:columnsVal,
	// 		startDate:startDate,
	// 		endDate:endDate,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=='t'){
	// 			var data=obj.data;
	// 			var successTotalCount=data.successTotalCount;
	// 			var failTotalCount=data.failTotalCount;
	// 			var successAmount = data.successAmount;
	// 			var failureAmount = data.failureAmount;
	// 			var totalCount=parseInt(successTotalCount)+parseInt(failTotalCount);
	// 			var numberSuccessAmount=formatNumber(successAmount);
	// 			var numberFailureAmount=formatNumber(failureAmount);
	// 			$('.total_count_txt').html('<span class="f_small">전체</span><span class="f_small">'+allTotalCount+'건</span>');
	// 			$('.before_count_txt').html('<span class="f_small">성공</span><span class="f_small">'+successTotalCount+'건</span>');
	// 			$('.total_success_amount_txt').html('<span class="f_small">성공금액</span><span class="f_small">'+numberSuccessAmount+'원</span>');
	// 			// $('.total_count_txt').html('총 '+totalCount+'건 | 성공 '+successTotalCount+'건 | 실패 '+failTotalCount+'건');
	// 			// $('.total_success_amount_txt').html('성공(실입금액)</br>'+numberSuccessAmount+'원');
	// 			// $('.total_fail_amount_txt').html('실패(실입금액)</br>'+numberFailureAmount+'원');
	// 		}
	// 	});
	// }

	//날짜별 검색
	body.on('click','.date_apply_btn',function(){
		pLoadingOff();
	});

	//Today 검색
	body.on('click','.today_apply_btn',function(){
		// resetDateCount();
	});

	//달별로 검색
	body.on('click','.option_date_btn',function(){
		// resetDateCount();
	});

	//리셋버튼
	body.on('click','.sort_reset_btn',function(){
		// resetDateCount();
	});

	//서치버튼
	body.on('click', '.sort_apply_btn', function () {
		// resetSortingCount();
	});

	// var GbLoginIDX = '{{GetGlobals('loginIDX')}}';
	// var socket = io.connect( DomainUri+':3165' );
	// socket.emit('p_con',GbLoginIDX);

	//리셋버튼
	body.on('click','.sort_reset_btn',function(){
		pLoadingOn();
		startDate='{{ "now"|date_modify("-1 month")|date("Y-m-d") }}';
		endDate='{{ "now"|date("Y-m-d") }}';
		$('.option_date_btn').removeClass('p_btn_active');
		var startDateChk = pDateChk(startDate);
		var endDateChk = pDateChk(endDate);

		if(startDateChk == true && endDateChk == true){
			$('.start_date').val(startDate);
			$('.end_date').val(endDate);
			ebuyTable.ajax.reload();
		}else{
			pToastr('날짜 형식이 아닙니다.','');
		}
         pLoadingOff();
	});

	var ebuyTable=$('.market_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/ApiDepositCon/GetMarketDepositAllData",
	        type:"POST",
	        data:function(d){
	        	d.startDate=$('.start_date').val();
	        	d.endDate=$('.end_date').val();
	        	d.marketCode='{{marketCode}}';
	   	    },
	   	},

	   	"columns": [
	        { "data": "idx", "class":"p_td_idx","orderable": false,"visible":false},
	        { "data": "no", "class":"p_td_rowNumber"},
	        { "data": "createTime", "class":"td_change_createTime"},
	        { "data": "clientName", "class":"p_render_idx p_td_name"},
	        { "data": "marketUserEmail", "class":""},
	        { "data": "marketCode", "class":""},
	        { "data": "name", "class":"td_name"},
	        { "data": "amount", "class":"td_amount"},
	        { "data": "beforeMileage", "class":"td_beforeMileage"},
	        { "data": "mileage", "class":"td_mileage"},
	        { "data": "afterMileage", "class":"td_afterMileage"},
	        { "data": "invoiceID", "class":""},
	        { "data": "appTime", "class":"td_change_appTime"},
	        { "data": "status", "class":"p_td_status","orderable": false},
	        { "data": "orderLocation", "class":"p_td_orderLocation","orderable": false},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			var amount = parseFloat(aData['amount'].replace(/,/g, '')); // 천 단위 구분 기호(,) 제거
			var amountTxt=amount.toLocaleString(); // 천 단위 구분 기호(,)를 포함한 문자열로 변환


			var mileage = parseFloat(aData['mileage'].replace(/,/g, ''));
			var mileageTxt=mileage.toLocaleString();
			var afterMileage = parseFloat(aData['afterMileage'].replace(/,/g, ''));
			var afterMileageTxt=afterMileage.toLocaleString();
			var beforeMileage = parseFloat(aData['beforeMileage'].replace(/,/g, ''));
			var beforeMileageTxt=beforeMileage.toLocaleString();
			$('.td_amount', nRow).html('<span class="f_small">$'+amountTxt+'</span>');
			$('.td_mileage', nRow).html('<span class="f_small">'+mileageTxt+'</span>')
			$('.td_afterMileage', nRow).html('<span class="f_small">'+afterMileageTxt+'</span>')
			$('.td_beforeMileage', nRow).html('<span class="f_small">'+beforeMileageTxt+'</span>')

			if(aData['status']){
				var status = aData['status'];

				if(status == 'Completed'){
					$('.p_td_status', nRow).html('<span class="f_small p_td_ci">성공</span>');
				}else if(status == 'In Progress' ){
					$('.p_td_status', nRow).html('<span class="f_small stat_comp">진행중</span>');
				}else if(status == 'Cancelled'){
					$(nRow).addClass('tr_fail')
					$('.p_td_status', nRow).html('<span class="f_small stat_false">실패</span>');
				}
			}

			if(aData['createTime']){
			   $('.td_change_createTime', nRow).html(getHtmlKORUTC(aData['createTime']));
			}
			if(aData['appTime']){
			   $('.td_change_appTime', nRow).html(getHtmlKORUTC(aData['appTime']));
			}

			pLoadingOff();
		},
		drawCallback: function( settings ) {
			resetDateCount();//20240215
		},
	});

	// 디테일창
	ebuyTable.on( 'click', 'tbody td', function(e){
		var targetTd        = $(this);
		var targetRow       = targetTd.closest('tr')[0];
		var targetIDX       = ebuyTable.row(targetRow).data()['idx'];
		var marketUserEmail = ebuyTable.row(targetRow).data()['marketUserEmail'];

		$.post(DomainUri+'/ApiDepositCon/ApiDetailFormLoad',{
			targetIDX      : targetIDX,
			marketUserEmail: marketUserEmail,
		},function(html){
			$(".st_detail_wrap").html(html);
			var currentURL = window.location.href;
			var urlParams  = new URLSearchParams(currentURL);
			var viewValue  = urlParams.get('view');
			$('.detail_tab[data-type='+viewValue+']').trigger('click');
		});
	});

	ebuyTable.on( 'click', 'tbody td.p_td_name', function(e){
		var targetTd        = $(this);
		var targetRow       = targetTd.closest('tr')[0];
		var marketCode       = ebuyTable.row(targetRow).data()['marketCode'];
		var marketUserEmail = ebuyTable.row(targetRow).data()['marketUserEmail'];

		$.post(DomainUri + '/ApiDepositCon/ClientDetailLoad', {
		    marketCode      : marketCode,
			marketUserEmail: marketUserEmail,
		}, function (html) {
		    $.confirm({
		        title: '회원정보',
		        content: html,
		        closeIcon: true,
		        useBootstrap: false,
		        backgroundDismiss: true,
		        boxWidth: '95%',
		        onClose: function () {
		            // 다이얼로그가 닫힐 때 클래스 제거
		            $(targetTd).removeClass('disabled');
		        },
		        buttons: {
		            'confirm': {
		                text: '확인',
		                btnClass: 'btn-blue',
		                keys: ['enter'],
		                action: function () {
		                    // Your action on confirmation
		                }
		            },
		        }
		    });
		});
	});
});
</script>

{% endblock %}



