{% extends "/page/login/loginIndex.html" %}
{% block content %}

<style>
.login_wrap {width: 100%; max-width: 500px; min-height: 100vh; background-color: white; margin:0 auto; padding: 30px 35px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login_logo img{width: 130px}
.login_wrap .login_logo{}
.login_wrap .login_tit{padding-bottom: 30px; text-align: left; width: 100%;}
.login_wrap .login_box{width: 100%;}
.login_wrap .login_input{width: 100%; border:1px solid black; border-radius: 5px; padding:10px 10px; height: 42px;}
.login_wrap .login_btn{background-color: #0065ff; width: 100%; border-radius: 5px;  border:0px; text-align: center; margin-top: 20px; padding:12px 20px;}
/*인서트*/
.login_insert_box{margin-top: 100px;}
.login_wrap .insert_input{width: 100%; border:1px solid black; border-radius: 5px; padding:10px 10px; height: 42px;}
.login_wrap .insert_btn{background-color: #001e4b; width: 100%; border-radius: 5px;  border:0px; text-align: center; margin-top: 20px; padding:12px 20px;}
.login_wrap .insert_btn span{color:#fff;}
/*인서트*/

.login_wrap .login_btn.login_do_login_btn{background-color: #FFA98B;}
.login_wrap .login_btn span{color:white;}

.login_box{display: none; position: relative;}
.login_box.login_box_open{display: inline-block;}

.pw_cube_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login_con_box{width: 100%; padding-left: 20px;}
.pw_cube_box>li .login_cube_input{ border:1px solid black; border-radius: 5px; width: 42px; height: 42px; font-size: 23px; text-align: center; background-color: #f1f1f1; }

.login_txt{padding-bottom: 20px;}
.back_email_send_btn{padding-top: 20px; position:  absolute; left: 0; bottom: -30px;}

.login_email_insert_input{}

</style>


<div class="login_wrap">
    <div class="login_logo">
        {# 로고를 넣어주세요 #}
        {# <img src="{{DomainUri}}/source/img/icons/sandiLogo1.png"> #}
    </div>
    <div class="login_con_box">
        <div class="login_tit" >
            <span class="f_bigger">Login</span>
        </div>
        <div class="login_box login_box_open login_email_box">
            <span class="f_normal login_txt">메일로 인증번호를 발송합니다.</span>

            <input type="text" placeholder="이메일" class="login_input login_email_input " value="">

            <a href="javascript:void(0)" name="code" id="code" class="send_email_btn login_btn p_btn "><span>메일보내기</span></a>
        </div>

        {# 로그인에서 스태프 이메일 인서트 할때 주석 풀어주세요 #}
        {# <div class="login_insert_box login_box_open login_email_box">
            <input type="text" placeholder="생성 이메일" class="insert_input login_email_insert_input " value="">
            <input type="text" placeholder="이름" class="insert_input login_name_insert_input " value="">
            <a href="javascript:void(0)" name="code" id="code" class=" insert_btn p_btn "><span>생성</span></a>
        </div> #}


        <div class="login_box login_password_box">
            <span class="f_normal login_txt">발송된 인증번호를 적어주세요.</span>

            <ul class="pw_cube_box">
                <li>
                    <input type="text"   class="login_cube_input" data-seq=1>
                </li>
                <li>
                    <input type="text"   class="login_cube_input" data-seq=2>
                </li>
                <li>
                    <input type="text"   class="login_cube_input" data-seq=3>
                </li>
                <li>
                    <input type="text"   class="login_cube_input" data-seq=4>
                </li>
                <li>
                    <input type="text"   class="login_cube_input" data-seq=5>
                </li>
            </ul>

            <a href="javascript:void(0)" class="login_btn login_do_login_btn p_btn"><span>로그인하기</span></a>

            <a href="javascript:void(0)" class="back_email_send_btn">
                <span class="f_normal">< 이전화면으로</span>
            </a>

        </div>
    </div>



</div>


<script type="text/javascript">
$(document).ready(function(){
    var body=$('body');


    body.on('click','.back_email_send_btn',function(){
        $('.login_email_box').addClass('login_box_open');
        $('.login_password_box').removeClass('login_box_open');
    });
    //복사 붙여넣기용!!
    var ctrlDown = false;
    var ctrlKey = 17, vKey = 86, cKey = 67;
    $(document).keydown(function(e){
        if (e.keyCode == ctrlKey) ctrlDown = true;
    }).keyup(function(e){
        if (e.keyCode == ctrlKey) ctrlDown = false;
    });
    //복사 붙여넣기용!!
    body.on('keyup','.login_cube_input',function(event){
        event=event || window.event;
        var keyID=(event.which) ? event.which : event.keyCode;
         var thisInput=$(this);
        var thisVal=thisInput.val();

        var thisValLeng=thisVal.length;
        var thisSeq=thisInput.attr('data-seq')*1;
        var startSeq=thisSeq*1;
        var nextSeq=thisSeq+1;

        if (ctrlDown && (event.keyCode == vKey)) {//붙여넣기 한 경우
            for (var i = 0; i < thisValLeng; i++) {
                if(thisSeq<6){
                    $('.login_cube_input[data-seq="'+startSeq+'"]').val(thisVal[i]);
                    startSeq++;
                    if(startSeq==5){

                        $('.login_cube_input[data-seq="5"]').focus();

                    }
                }else{
                    break;
                }
            }
        }else{
            if(thisVal.length<1){
                if(keyID ===   8 ){//백스페이스의 경우
                    var beforeSeq=thisSeq-1;
                    if(beforeSeq>0){
                        $('.login_cube_input[data-seq="'+beforeSeq+'"]').focus();
                    }

                }
            }else if(thisVal.length<2){
                $('.login_cube_input[data-seq="'+nextSeq+'"]').focus();
            }else{

                lastChar = thisVal.substr(thisVal.length-1, 1);
                thisInput.val(lastChar);
                $('.login_cube_input[data-seq="'+nextSeq+'"]').focus();
            }
        }
    });

    //암호화 이메일 생성하기

    body.on('click','.insert_btn',function(){
        var email=$('.login_email_insert_input').val();
        var name=$('.login_name_insert_input').val();

        $.post(DomainUri+'/LoginCon/StaffEmailInsertData',{
            email:email,
            name:name
        },function(data){
            var obj = JSON.parse(data);
            if(obj.result=='t'){
                pAlert('생성완료');
            }else{
                pAlert(obj.msg);
            }
        });
    });
    //이메일 보내기
    body.on('click','.send_email_btn',function(){
        var thisVal=$('.login_email_input').val();
        // pLoadingOn();




        $.post(DomainUri+'/LoginCon/LoginProcess',{
            email:thisVal
        },function(data){
            var obj = JSON.parse(data);
            if(obj.result=='t'){
                $('.login_email_box').removeClass('login_box_open');
                $('.login_password_box').addClass('login_box_open');
                $('.login_cube_input[data-seq=1]').focus();
                $.post(DomainUri+'/LoginCon/EmailSend',{email:thisVal},function(data){});
            }else{
                pAlert(obj.msg);
            }
        });
    });
    //로그인
    body.on('click','.login_do_login_btn',function(){
        var code1=$('.login_cube_input[data-seq=1]').val()+'';
        var code2=$('.login_cube_input[data-seq=2]').val()+'';
        var code3=$('.login_cube_input[data-seq=3]').val()+'';
        var code4=$('.login_cube_input[data-seq=4]').val()+'';
        var code5=$('.login_cube_input[data-seq=5]').val()+'';
        var fullCode=code1+code2+code3+code4+code5;
        var thisEmail=$('.login_email_input').val();

        $.post(DomainUri+'/LoginCon/LoginAct',{
            code:fullCode,
            email:thisEmail
        },function(data){
            pLoadingOff();
            var obj = JSON.parse(data);
            var result = obj.result;
            if(result=='t'){
                var redirectUri=obj.redirectUri;
                console.log(obj)
                window.location.href=redirectUri;
            }else{
                pAlert(obj.msg);
            }
        });
    });

});
</script>
{% endblock %}
