{% set DomainUri=GetGlobals('DomainUri') %}

<!DOCTYPE html>
<html>
<head>
{% block head %}
<title>로그인</title>
<meta charset="utf-8">
<meta name="Generator" content="SaIlGong">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="noindex, nofollow">
<meta name="googlebot" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="{{DomainUri}}/source/css/main.css?v={{ "now"|date("Y-m-d H:i:s") }}">
<link rel="stylesheet" href="{{DomainUri}}//source/css/jquery-confirm.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
<script src="{{DomainUri}}/source/js/jquery-3-2-1.min.js"></script>
<script src="{{DomainUri}}/source/js/jquery-ui-1-10-3.min.js"></script>
<script src="{{DomainUri}}/source/js/clipboard.min.js"></script>
<script src="{{DomainUri}}/source/js/jquery-confirm.min.js"></script>
<script src="{{DomainUri}}/source/js/main.js?v={{ "now"|date("Y-m-d H:i:s") }}"></script>


<script type="text/javascript">
    var DomainUri='{{DomainUri}}';
    console.log(DomainUri);
</script>

{% endblock %}
</head>
<body>
{% block content %}
      
{% endblock %}
{% block footer %}
{% endblock %}   
</body>
</html>