{% extends "/page/login/loginIndex.html" %}
{% block content %}

<style>



.login_wrap{height: 100vh; display: flex; align-items: center; flex-direction: column; justify-content: center; }
.login_container {margin: 0px auto; width: fit-content; position: relative; top: -50px; }
.login_con_box{ margin:0px auto;   width: fit-content; background: white;}
.logo_box{background-color:  var(--css-maincolor); padding: 5px 15px; text-align: right; display: flex; justify-content: space-between; }
.logo_tit{    display: flex;align-items: center; font-weight: 500;}

.login_wrap .login_box{width: 450px; padding: 50px 35px;  }
.login_wrap .login_input{width: 100%; border: 1px solid #dedede; padding: 7px 15px;
    background-color: #fff;
    color: #000;
    box-shadow: rgb(33 35 38 / 10%) 0px 10px 10px -10px;

}
.login_wrap .login_input:focus{border: 1px solid var(--css-maincolor);}

.login_box{display: none; position: relative; }
.login_box.login_box_open{display: inline-block;}

.pw_cube_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pw_cube_box>li .login_cube_input{ border:1px solid black; border-radius: 5px; width: 42px; height: 42px; font-size: 23px; text-align: center; background-color: #f1f1f1; }


.login_unit_box{padding: 10px 0;}

.login_btn {text-align: center; width: 100%;  border: 1px solid #333 ;padding: 7px 10px; }
.login_btn:hover{background-color:var(--css-maincolor) ; }
.login_btn:hover .login_icon {color: #fff;}
.login_btn .login_icon {font-size: 15px;color: var(--css-maincolor); margin-left: 5px;}

.back_btn_unit_box{display: flex; justify-content: space-between;}


.login_info_box{background: aliceblue;margin-top: 20px; padding: 20px 35px; border: 1px solid  #d2ddff; width: 450px;}
.login_txt{color:  var(--css-subcolor1); }

.login_info{margin-left: 8px; }
.login_info_unit .fa-thumbtack{color:var(--css-subcolor1); margin-top: 2px;}
.login_info_box span{color:  var(--css-subcolor1);}
.login_info_unit{display: flex; padding: 5px 0px;}
.err_msg{padding: 10px 0px;}
</style>


{# <div style="position: absolute; top:0;left: 0; ">
    <span class="f_red f_big f_bold">임시! 로그인 팅긴요인:{{errType}}</span>
</div> #}

<div class="login_wrap">
    
    <div class="login_container">
        {% if data %}
            <span class="f_bigger f_red f_bold err_msg">{{data}} ({{ "now"|date("Y-m-d H:i:s") }})</span>
        {% endif %}
        <div class="login_con_box">
            <div class="logo_box">
                <span class="f_big  f_white logo_tit">Log In</span>
                <img class="h_logo" src="{{DomainUri}}/source/img/icons/logo_ebuy_partner.png" alt="logo">
            </div>
            <div class="login_box login_box_open login_email_box">
                <div class="login_unit_box">
                    <span class="f_normal login_txt f_400">A verification code for login will be sent to your email.</span>
                </div>
                <div class="login_unit_box">
                    <input type="text" placeholder="Please enter your email address to log in." class="login_input login_email_input " value="">

                </div>
                <div class="login_unit_box">
                    <a href="javascript:void(0)" name="code" id="code" class="send_email_btn login_btn p_btn ">
                        <span>Send Verification Code</span>
                        <i class="fa-regular fa-envelope login_icon"></i>
                    </a>
                </div>
            </div>
            <div class="login_box login_password_box">
                <div class="login_unit_box">
                    <span class="f_normal login_txt f_400">Please enter the verification code.</span>
                </div>
                <div class="login_unit_box">
                    <input type="text" placeholder="Please write the code in the email." class="login_input login_code_input " value="">
                </div>
                <div class="login_unit_box">
                    <a href="javascript:void(0)" class="login_btn login_do_login_btn p_btn ">
                        <span>Log in</span>
                        <i class="fa-solid fa-key login_icon"></i>
                    </a>
                </div>
                <div class="login_unit_box back_btn_unit_box">
                    <a href="javascript:void(0)" class="back_email_send_btn">
                        <span class="f_normal f_400" >< Go Back</span>
                    </a>
                    <div class="login_time_box">
                        <span class="f_normal f_400">Time remaining &nbsp;</span>
                        <span class="login_time_m f_normal f_400 f_red"></span>
                        <span class="f_red f_normal">:</span>
                        <span class="login_time_s f_normal f_400 f_red"></span>
                    </div>
                </div>
            </div>
        </div>


         <div class="login_info_box">
            <span class="f_400 f_normal">Info</span>
            <div class="login_info_unit">
                <i class="fa-solid fa-thumbtack"></i>
                <span class="login_info f_400 f_normal">Account registration is available for Level 5 and Level 4 of the market. Please inquire with the Associated market.</span>
            </div>
            {# <div class="login_info_unit">
                <i class="fa-solid fa-thumbtack"></i>
                <span class="login_info f_400 f_normal">가맹점 가입은 따로 연락을 주세요.</span>
            </div> #}
            <div class="login_info_unit">
                <i class="fa-solid fa-thumbtack"></i>
                <span class="login_info f_400 f_normal">If you want to manage multiple markets using a single account, please add the account on each market.</span>
            </div>
        </div>
    </div>

    
    {{blockFileCon | raw}}

</div>



<script type="text/javascript">
$(document).ready(function(){
    var body=$('body');

 var body=$('body');
    body.on('click','.back_email_send_btn',function(){
        $('.login_email_box').addClass('login_box_open');
        $('.login_password_box').removeClass('login_box_open');
        $('.login_time_m').html('05');
        $('.login_time_s').html('00');
        loginTimeStop();
    });


    window.addEventListener('popstate', function(event) {
        $('.back_email_send_btn').trigger('click')
      // 뒤로가기 이벤트에 대한 작업 수행
    });
    function enterEvent(class_name,fn_name){
        $("."+class_name).keyup(function(event){if(event.keyCode==13){eval(fn_name);return;}});
    }
    enterEvent('login_email_input','EmailSend()');
    enterEvent('login_code_input','Login()');

    
    //이메일 보내기
    body.on('click','.send_email_btn',function(){
        EmailSend();
    });
    //로그인
    body.on('click','.login_do_login_btn',function(){
        Login();
    });







    function EmailSend(){
        var thisVal=$('.login_email_input').val();
        // loginTimeStart();
        $.post(DomainUri+'/LoginCon/LoginProcess',{
            email:thisVal,
        },function(data){
            var obj = JSON.parse(data);
            if(obj.result=='t'){
                $.post(DomainUri+'/LoginCon/EmailSend',{email:thisVal});
                history.pushState(null, null, window.location.href);
                // $('.login_code_input').val(obj.tempCode)
                $('.login_email_box').removeClass('login_box_open');
                $('.login_password_box').addClass('login_box_open');
                $('.login_code_input').focus();
            }else{
                pAlert(obj.msg);
            }
        });
    }










    function Login(){
        var code =$('.login_code_input').val();
        var thisEmail=$('.login_email_input').val();

        $.post(DomainUri+'/LoginCon/LoginAct',{
            code:code,
            email:thisEmail
        },function(data){
            pLoadingOff();
            var obj = JSON.parse(data);
            var result = obj.result;
            if(result=='t'){
                var redirectUri=obj.redirectUri;
                console.log(obj)
                window.location.href=redirectUri;
            }else{
                pAlert(obj.msg);
            }
        });
    }











    // //암호화 이메일 생성하기

    // body.on('click','.insert_btn',function(){
    //     var email=$('.login_email_insert_input').val();
    //     var name=$('.login_name_insert_input').val();

    //     $.post(DomainUri+'/LoginCon/StaffEmailInsertData',{
    //         email:email,
    //         name:name
    //     },function(data){
    //         var obj = JSON.parse(data);
    //         if(obj.result=='t'){
    //             pAlert('생성완료');
    //         }else{
    //             pAlert(obj.msg);
    //         }
    //     });
    // });

    // //로그인
    // body.on('click','.login_do_login_btn',function(){
    //     var code1=$('.login_cube_input[data-seq=1]').val()+'';
    //     var code2=$('.login_cube_input[data-seq=2]').val()+'';
    //     var code3=$('.login_cube_input[data-seq=3]').val()+'';
    //     var code4=$('.login_cube_input[data-seq=4]').val()+'';
    //     var code5=$('.login_cube_input[data-seq=5]').val()+'';
    //     var fullCode=code1+code2+code3+code4+code5;
    //     var thisEmail=$('.login_email_input').val();

    //     $.post(DomainUri+'/LoginCon/LoginAct',{
    //         code:fullCode,
    //         email:thisEmail
    //     },function(data){
    //         pLoadingOff();
    //         var obj = JSON.parse(data);
    //         var result = obj.result;
    //         if(result=='t'){
    //             var redirectUri=obj.redirectUri;
    //             console.log(obj)
    //             window.location.href=redirectUri;
    //         }else{
    //             pAlert(obj.msg);
    //         }
    //     });
    // });

});
</script>
{% endblock %}
