<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="log">
		<span class="f_big ">Log</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>
<div class="st_right_detail_con_container" data-idx="{{targetIDX}}" data-logType="staff" data-memoStatus="391101">
	<div class="info_detail_box">
		<div class="p_i">
			<span class="p_i_tit">이메일</span>
			<div class="p_i_con_box">
				{% if pageType=="ins" %}
					<input type="text" name="" class="p_input staff_email">
				{% else %}
					<span class="p_i_con">{{staffDetail['email']}}</span>
				{% endif %}
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">이름</span>
			<div class="p_i_con_box">
				<input type="text" name="" class="p_input staff_name" value="{{staffDetail['name']}}">
			</div>
		</div>
		<div class="p_i">
		    <span class="p_i_tit">등급</span>
			<div class="p_i_con_box">
				<select class="staff_grade p_select">
		        	{% for key in gradePack %}
		        		{% set gradeIDX=staffDetail['gradeIDX'] %}
		        		{% if gradeIDX==key.idx %}
		        	    	<option value="{{key.idx}}" selected>{{key.name}}</option>
		        	    {% else %}
		        	    	<option value="{{key.idx}}" >{{key.name}}</option>
		        	    {% endif %}
		        	{% endfor %}
		    	</select>
			</div>
		</div>
		{% if pageType=='upd' %}
			<div class="p_i">
			    <span class="p_i_tit">상태</span>
				<div class="p_i_con_box">
					<select class="staff_status p_select">
						{% for key in statusPack %}
			        		{% set statusIDX=staffDetail['statusIDX'] %}
			        		{% if statusIDX==key.idx %}
			        	    	<option value="{{key.idx}}" selected>{{key.memo}}</option>
			        	    {% else %}
			        	    	<option value="{{key.idx}}" >{{key.memo}}</option>
			        	    {% endif %}
			        	{% endfor %}
			    	</select>
				</div>
			</div>
			<div class="p_i">
			    <span class="p_i_tit">입금신청알림</span>
				<div class="p_i_con_box">
					<select class="appActiveStat_val p_select">
						<option value="Y" {% if staffDetail['appActiveStat'] == 'Y' %}selected{% endif %}>허용</option>
						<option value="N" {% if staffDetail['appActiveStat'] == 'N' %}selected{% endif %}>차단</option>
			    	</select>
				</div>
			</div>
			<div class="p_i">
			    <span class="p_i_tit">정산신청알림</span>
				<div class="p_i_con_box">
					<select class="appSettlementStat_val p_select">
						<option value="Y" {% if staffDetail['appSettlementStat'] == 'Y' %}selected{% endif %}>허용</option>
						<option value="N" {% if staffDetail['appSettlementStat'] == 'N' %}selected{% endif %}>차단</option>
			    	</select>
				</div>
			</div>
		{% endif %}
		{% if pageType=="upd" %}
		<div class="login_history_box">
			<div class="btn_box p_i">
				<a href="javascript:void(0)" class="login_history_btn p_btn c_btn">
					<span class="f_small">로그인 내역</span>
				</a>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="log_detail_box display_none"></div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>
</div>
{% if pageType=='ins' %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_ins_save" href="javascript:void(0);"><span class="f_normal">등록하기</span></a>
	</div>
{% elseif pageType=='upd' %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_save" href="javascript:void(0);"><span class="f_normal">수정하기</span></a>
	</div>
{% endif %}
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>



