<style>
	.detail_table_wrap{padding: 10px;}
    .detail_table_wrap table{width:100%;table-layout: fixed;}
    .tbl-content{overflow-x:auto;margin-top: 0px;border: 1px solid rgba(255,255,255,0.3); margin-bottom: 20px;}
    .detail_table_wrap th{padding: 5px;text-align: left;font-weight: 500;font-size: 12px;color: #000;background-color: var(--css-maincolor);border: 1px solid #000;color: #000;text-align: center;}
    .detail_table_wrap td{padding: 5px;text-align: left;vertical-align:middle;font-weight: 500;font-size: 12px;color: #000;border: solid 1px rgba(0,0,0,0.4);}
    .login_text{padding: 8px 18px;font-weight: 400;}

    .history_table_box{width: 100%;height: 100%;padding: 0;min-width: 600px;height: 400px;}
    .history_table_box .dataTables_filter{display: none;}
    .dataTables_length{display: none;}
    .history_table_box .time_box{top: -28px;left: 0px;}

    .flex_box{display: flex;justify-content: space-between;padding: 5px 20px;}
    .p_help_me_datatable_im_between_date_wrap{width: 93%;}
    .c_btn{padding: 2px 12px;border: 1px solid #000;}

    .sorting_date_box{padding: 0px 10px 0px 0px;}
</style>
<div class="flex_box">
	<div class="p_help_me_datatable_im_between_date_wrap sorting_date_box">
        <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date h_start" data-type="start" value="{{ "now"|date_modify("-1 month")|date("Y-m-d") }}">
        <span class="p_calaner_icon"></span>
        <span class="p_between_hyphen"> - </span>
        <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date h_end" data-type="end" value="{{ "now"|date("Y-m-d") }}">
        <span class="p_calaner_icon"></span>
    </div>
    <a href="javascript:void(0)" class="history_date_btn c_btn p_btn">
    	<span class="f_small" style="line-height: 26px;">검색</span>
    </a>
</div>
<div class="detail_table_wrap">
    <div class="p_table_box history_table_box">
		<table class="p_table history_table">
			<thead>
				<th>idx</th>
				<th>로그인시간</th>
				<th>IP정보</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
{# 메인js가 불러와지지 않아서 데이터피커가 실행이 안됨 > 메인js에서 가져옴 #}
<script>
	$(document).ready(function(){
		var body=$('body');
		var startDate=$('.h_start').val();
		var endDate=$('.h_end').val();
		var targetIDX='{{targetIDX}}';
		var historyTable=$('.history_table').DataTable({
		    "order": [[1,'desc']],
		    "iDisplayLength":10,
		    "ajax" : {
		        url:DomainUri+"/StaffCon/StaffLoginHistoryListLoad",
		        type:"POST",
		        data:function(d){
		        	d.startDate=startDate;
		        	d.endDate=endDate;
		        	d.targetIDX=targetIDX;
		   	    },
		   	},
		   	"columns": [
		        { "data": "idx", "class":"TD_ID","orderable": false,"visible":false},
		        { "data": "createTime", "class":"p_td_reg td_change_createTime"},
		        { "data": "ip", "class":"TD_ID"},
		    ],
	    	"initComplete": function(settings, data, dataIndex){
				// pTableInitComplete(this,'y','y');
				pTableInitComplete(this,'y','y');
			},
			fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
				if(aData['createTime']){
					var createTime=aData['createTime'];
					$('.td_change_createTime', nRow).html(getHtmlKORUTC(createTime));
				}
	    		pLoadingOff();

			},
			drawCallback: function( settings ) {

			},
		});

		$('.p_between_date').datepicker({
	        rangeSelect: true,
	        beforeShow: pBetweenDateBeforeShow, //from날짜:FT_BEFORE_SHOW
			onSelect: pBetweenDateOnSelect //to날짜 : FT_ON_SELECT
	    });
		function pBetweenDateBeforeShow(input) {
			var thisEL=$(input);
			var thisType=thisEL.attr('data-type');
			thisBro=thisEL.siblings('.p_between_date');
			if(thisType=="start") {
				if (thisMinDate!=null) {
					thisBro.datepicker('option', 'minDate', thisMinDate).datepicker('refresh');
				}
				var maxMaxDate=thisBro.datepicker('getDate');
				if (maxMaxDate!=null) {
					thisEL.datepicker('option', 'maxDate', maxMaxDate).datepicker('refresh');
				}
			}
			if(thisType=="end") {
				var thisMinDate=thisBro.datepicker('getDate');
				if (thisMinDate!=null) {
					thisEL.datepicker('option', 'minDate', thisMinDate).datepicker('refresh');
				}
			}
		}
		function pBetweenDateOnSelect(input) {
			var thisEL=$(this);
			var thisType=$(this).attr('data-type')
			thisBro=thisEL.siblings('.p_between_date');
			if(thisType=="start") {
				if (thisMinDate!=null) {
					thisBro.datepicker('option', 'minDate', thisMinDate).datepicker('refresh');
				}
				var maxMaxDate=thisBro.datepicker('getDate');
				if (maxMaxDate!=null) {
					thisEL.datepicker('option', 'maxDate', maxMaxDate).datepicker('refresh');
				}
			}
			if(thisType=="end") {
				var thisMinDate=thisBro.datepicker('getDate');
				if (thisMinDate!=null) {
					thisEL.datepicker('option', 'minDate', thisMinDate).datepicker('refresh');
				}
			}
		}

		body.on('click','.history_date_btn',function(){
			startDate=$('.h_start').val();
			endDate=$('.h_end').val();
			$.post(DomainUri+"/StaffCon/StaffLoginHistoryListLoad",{
				startDate:startDate,
				endDate:endDate,
				targetIDX:targetIDX,
			},function(data){
				var obj=JSON.parse(data);
				if(obj.result=='t'){
					historyTable.ajax.reload();
				}
			})
		});
	})
</script>