{% extends "/index.html" %}
{% block sortingWrap %}
{# <div class="st_sorting_wrap">
	<div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    </div>
</div> #}

	{# <div class="st_sorting_wrap">
        <div class="st_top_sorting_box">
            <span class="f_big total_num">Total {{data}}</span>
            <div class="p_btn_box index_sorting">
                <div class="index_sort_tit">
                    <span class="f_normal sorting_date">Date</span>
                    <div class="sort_btn_box">
	                    <a class="date_apply_btn p_btn" href="javascript:void(0)">
	                        <span class="f_small">날짜별 검색</span>
	                    </a>
                    </div>
                    <span class="f_small sorting_date_utc">(UTC)</span>
                </div>
                <div class="p_help_me_datatable_im_between_date_wrap">
                    <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="1999-01-01">
                    <span class="p_calaner_icon"></span>
                    <span class="p_between_hyphen"> - </span>
                    <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{GetDate('today')}}">
                    <span class="p_calaner_icon"></span>
                </div>
            </div>
            <ul class="option_date_ul">
            {% set optionDateFunc = GetGlobals('monthCount') %}
            {% set optionDateData = optionDateFunc.data %}
            {% for key in optionDateData %}
                <li class="p_wid_4">
                    <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
                        <span class="f_small">{{key.standMonth}}월</span>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="st_bot_sorting_box">
        	<div class="sorting_box">
				<span class="sorting_tit f_normal">등급</span>
				<a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox p_chkbox_s all">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small sorting_all">전체</span>
                </a>
                {% for key in gradeData %}
                	{% set name=key.name %}
                	{% if name=='Manager' %}
                		{% set name='Normal Manager' %}
                	{% endif %}
                	<a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox" data-sel="{{name}}" data-column="4">
 	                    <span class="p_chkbox_i"></span>
 	                    <span class="p_chkbox_f f_small sorting_grade'+idx+'">{{name}}</span>
 	                </a>
                {% endfor %}
            </div>
        </div>
        <div class="st_sorting_final_btn">
            <a class="sort_reset_btn" href="javascript:void(0)">
                <span class="f_normal">reset</span>
            </a>
            <a class="sort_apply_btn" href="javascript:void(0)">
                <span class="f_normal">search</span>
            </a>
        </div>
    </div> #}
{% endblock %}
{% block content %}
<div class="table_flex_box">
	<div class="p_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn staff_regist_btn"><span class="f_normal">추가</span></a>
		</div>
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>이메일</th>
				<th>이름</th>
				<th class="p_th_search_date">최근로그인</th>
				<th>등급</th>
				<th class="p_th_search_sel" data-opop="All,계정 활성, 계정 비활성">상태</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';

	var startDate=$('.start_date').val();
	var endDate=$('.end_date').val();

	//데이트피커 리셋
	body.on('click','.sort_reset_btn',function(){
		pLoadingOn();
		startDate='1999-12-31';
		// startDate='1999-12-31';
		endDate='{{ "now"|date("Y-m-d") }}';
		$('.option_date_btn').removeClass('p_btn_active');
		var startDateChk = pDateChk(startDate);
		var endDateChk = pDateChk(endDate);

		if(startDateChk == true && endDateChk == true){
			$('.start_date').val(startDate);
			$('.end_date').val(endDate);
			// ebuyTable.ajax.reload();
		}else{
			pToastr('날짜 형식이 아닙니다.','');
		}
         pLoadingOff();
	});


	var ebuyTable=$('.staff_table').DataTable({
	    // "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/StaffCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	// d.startDate=startDate;
	        	// d.endDate=endDate;
	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "email", "class":"d_td_email p_render_idx"},
	        { "data": "name", "class":"d_td_name"},
	        { "data": "createTime", "class":"p_td_reg td_change_createTime"},
	        { "data": "gradeName", "class":"d_td_grade"},
	        { "data": "statusMemo", "class":"d_td_status"},
	    ],
    	"initComplete": function(settings, data, dataIndex){
			pTableInitComplete(this,'y','y',renderidx);
    		// pTableInitComplete(this,'y');
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){

			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html(getHtmlKORUTC(createTime));
			}
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/StaffCon/staffDetailFormLoad',{
				targetIDX:targetIDX,
				pageType:'upd'
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}

	});

	//추가하기 버튼 클릭 시 랜더
	body.on('click','.staff_regist_btn',function(){
    	$.post(DomainUri+'/StaffCon/staffDetailFormLoad',{
			pageType:'ins'
		},function(html){
	    	$(".st_detail_wrap").html(html);
	    	$('.click_btn_box').addClass('{{permissionView}}');
		});
	});

	//스태프 수정
	body.on('click','.st_r_de_f_btn_save',function(){

		var name=$('.staff_name').val();
		var statusIDX=$('.staff_status').val();
		var gradeIDX=$('.staff_grade').val();
		var gradeName=$('.staff_grade option:selected').text();
		var statusVal=$('.staff_status option:selected').text();
		var appActiveStat = $('.appActiveStat_val').val();
		var appSettlementStat = $('.appSettlementStat_val').val();


		var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		$.post(DomainUri+'/StaffCon/StaffUpdate',{
			targetIDX:targetIDX,
			name:name,
			statusIDX:statusIDX,
			statusVal:statusVal,
			gradeIDX:gradeIDX,
			gradeName:gradeName,
			appActiveStat:appActiveStat,
			appSettlementStat:appSettlementStat,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pToastr(obj.msg,'');
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('수정이 완료되었습니다.','');
				// window.location.reload();
			}
		});
	});


	//스태프 추가
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		var email=$('.staff_email').val();
		var name=$('.staff_name').val();
		var gradeIDX=$('.staff_grade').val();
		$.post(DomainUri+'/StaffCon/StaffInsert',{
			email:email,
			name:name,
			gradeIDX:gradeIDX,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pToastr(obj.msg,'');
			}else{
				ebuyTable.ajax.reload();
				pToastr('등록이 완료되었습니다.','');
				// window.location.reload();
    			// $('.st_r_de_f_info_btn_close').trigger('click');
				// pToastr("등록이 완료되었습니다.");
			}
		});
	});

	// //로그인히스토리
	body.on('click','.login_history_btn',function(){
		var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		$.post(DomainUri+'/StaffCon/loginHistoryRender',{
			targetIDX:targetIDX
		},function(html){
			$.confirm({
				title:'로그인 내역',
				content:html,
				closeIcon: true,
				useBootstrap: false,
				backgroundDismiss: true,
				boxWidth: '800px',
				buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue',
					keys:['enter'],
					action:function(){

					}
				},
				// cancel:{text:"취소"}
				}
		    });
		});
	});



});
</script>
{% endblock %}
