<style>
	.menu_bd{border: 1px solid #000;}
	.menu_padding{padding: 5px 10px;text-align: start;}
	.menu_title_input , .menu_cate_title_input , .menu_answer_input{width: 750px;}
	.menu_answer_text , .menu_answer_input{width: 750px;height: 350px;}
	.menu_select , .menu_lang_select{width: 200px;border: 1px solid #b90000;}
	.adminMenu_name{width: 80px;}
	.adminMenu_input{width: 70%;border: 1px solid #afafaf !important;}
</style>
{% if pageType == 'ins' %}
    <div class="p_i_box menu_padding" data-idx="">
		<span class="p_i_tit adminMenu_name">메뉴명 : &nbsp;</span>
		<input type="text" class="p_input adminMenu_input in_adm_menu_name" value="">
	</div>
 	<div class="p_i_box menu_padding">
		<span class="p_i_tit adminMenu_name">URL : &nbsp;</span>
		<input type="text" class="p_input adminMenu_input in_adm_menu_url" value="">
	</div>
{% elseif pageType == 'upd' %}
    <div class="p_i_box menu_padding" data-idx="{{idx}}">
		<span class="adminMenu_name">메뉴명 : &nbsp;</span>
		<input type="text" class="p_input adminMenu_input adm_menu_name" value="{{name}}">
	</div>
 	<div class="p_i_box menu_padding">
		<span class="adminMenu_name">URL : &nbsp;</span>
		<input type="text" class="p_input adminMenu_input adm_menu_url" value="{{url}}">
	</div>
{% endif %}

	
	
	