{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
	<div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    </div>
    <div class="st_bot_sorting_box">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">마켓</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in dataPack %}
            	<a href="javascript:void(0);" class="p_chkbox" data-sel="{{key.name}}" data-column="5">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	.c_btn{background-color: var(--css-maincolor);border: none;}
	.d_btn{background-color: #00a114;border: none;}
	.e_btn{background-color: #763eff;border: none;}
	.market_balance_btn{padding: 3px 6px;background-color: var(--css-maincolor);border-radius: 3px;}
	.c_btn span , .d_btn span , .e_btn span , .market_balance_btn span{color: #fff;}
	.detail_flex{display: flex;justify-content: space-between;align-items: center;}
	.detail_sub_title{padding: 8px 14px;}
	.ex_sub_title{padding: 2px;color: #f00;}
	.p_input_w80{width: 80% !important;text-align: end;}
	.p_i_tit_140{width: 140px;padding-left: 5px;margin-right: 20px;text-align-last: left;font-weight: 400;border-right: 1px solid #c9c9c9;}
	.per_txt{padding-left: 5px;}
	.balance_txt{font-weight: 500;}

	.now_balance_box{padding: 5px 0px;}
	.market_balance_radio_box{padding: 20px 0px 20px 0px;}
	.balance_radio_chk{padding: 0px 5px;}
	.market_balance_txt{font-weight: 500;font-size: 14px;}
	.market_balance_box{display: flex;justify-content: space-between;align-items: center;padding-bottom: 10px;}
	.market_balace_exp_txt{width: 100px;}
	.input_100{width: calc(100% - 100px);}
	.p_table_box{width: 100%;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>no</th>
				<th class="p_th_search_date">생성시간</th>
				<th>업체</th>
				<th>업체코드</th>
				<th>마켓이름</th>
				<th>마켓코드</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	{# <div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>  #}
</div>


<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';
	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/SandboxMarketCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "no", "class":"p_render_idx"},
	        { "data": "createTime", "class":"td_change_createTime"},
	        { "data": "partnerName", "class":"p_td_partnerName"},
	        { "data": "partnerCode", "class":""},
	        { "data": "name", "class":"p_td_marketName"},
	        { "data": "code", "class":"p_td_code"},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){

			if(aData['email']){
				var email=aData['email'];
				$('.p_td_email', nRow).html('<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="'+email+'"><span class="f_small">'+email+'</span></a>');
			}

			if(aData['partnerName']){
				var partnerName=aData['partnerName'];
				$('.p_td_partnerName', nRow).html('<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="'+partnerName+'"><span class="f_small">'+partnerName+'</span></a>');
			}

			if(aData['name']){
				var name=aData['name'];
				$('.p_td_marketName', nRow).html('<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="'+name+'"><span class="f_small">'+name+'</span></a>');
			}

			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(createTime)+'</span>');
			}
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});


});
</script>
{% endblock %}
