{% extends "/index.html" %}
{% block sortingWrap %}{% endblock %}
{% block content %}
	<style>
		.aa_box span{display: block;}
		.code_img li{display: inline-block;padding: 10px;}
		.code_img li span{text-align: center;}
		.day_box{padding: 20px 0px;}
		.c_name_val{width: 300px;}
		.start_date{width: 120px;}
		.c_memo_val{width: 500px;}
		.day_list_box{padding: 20px 0px;border: 1px solid #000;}

		.bb_box{width: 300px;}
		.aaa{margin: 50px;}
	</style>
	<div class="aa_box">
		<span class="f_normal">로그인idx : {{GetGlobals('loginIDX')}}</span>
		<span class="f_normal">로그인이메일 : {{GetGlobals('loginEmail')}}</span>
		<span class="f_normal">로그인이름 : {{GetGlobals('loginName')}}</span>
		<span class="f_normal">로그인등급 : {{GetGlobals('loginGrade')}}</span>
		<span class="f_normal">도메인uri : {{GetGlobals('DomainUri')}}</span>
		<span class="f_normal">토큰 : {{PageToken}}</span>
	</div>
	{# <a href="javascript:void(0)" class="c_t_btn p_btn"><span>테스트</span></a>
	<a href="javascript:void(0)" class="aaa p_btn"><span>제이 테스트</span></a>
	<a href="javascript:void(0)" class="ccc p_btn"><span>앱 스태프 알람 테스트</span></a> #}

	{# <a href="javascript:void(0)" class="p_btn adad"><span>qna테스트</span></a> #}


	{# <div class="migration_box">
		<a href="javascript:void(0)" class="migration_aaa p_btn"><span>마이그레이션 partner</span></a>
	</div>
	<div class="migration_box">
		<a href="javascript:void(0)" class="migration_bbb p_btn"><span>마이그레이션 market</span></a>
	</div>
	<div class="migration_box">
		<a href="javascript:void(0)" class="migration_ccc p_btn"><span>마이그레이션 marketManager</span></a>
	</div> #}
<script type="text/javascript">
	$(document).ready(function(){
		var body=$('body');
		var PageToken='{{PageToken}}';
		var DomainUri='{{DomainUri}}';
		var uri = DomainUri+'/marketSettlement?marketIDX=1&token='+PageToken+'';

		body.on('click','.ccc',function(){
			var tmpThis=$(this);
			$.post(DomainUri+'/DashboardCon/TestJb',{
			},function(data){
				var obj=JSON.parse(data);
				console.log(obj)
				if(obj.result=='t'){

				}
			});
		});

		body.on('click','.aaa',function(){
			var tmpThis=$(this);
			$.post(DomainUri+'/AAtestCon/aa',{
			},function(data){
				var obj=JSON.parse(data);
				console.log(obj)
				if(obj.result=='t'){

				}
			});
		});

		body.on('click','.adad',function(){
			$.post(DomainUri+'/DashboardCon/TestJb2222222',{
			},function(data){
				var obj=JSON.parse(data);
				console.log(obj)
				if(obj.result=='t'){

				}
			});
		});

		// body.on('click','.c_t_btn',function(){
		// 	var tmpThis=$(this);
		// 	$.post(DomainUri+'/AAACon/TETETE',{
		// 		clientIDX:5,
		// 	},function(data){
		// 		// $.confirm({
		// 		// 	title:'정보',
		// 		// 	content:html,
		// 		// 	closeIcon: true,
		// 		// 	useBootstrap: false,
		// 		// 	backgroundDismiss: true,
		// 		// 	boxWidth: '95%',
		// 		// 	buttons: {
		// 		// 		'confirm': {
		// 		// 			text: '확인',
		// 		// 			btnClass: 'btn-blue director_update',
		// 		// 			keys:['enter'],
		// 		// 			action:function(){

		// 		// 			}
		// 		// 		},
		// 		// 		cancel:{text:"취소"}
		// 		// 	}
		// 		// });
		// 		var obj=JSON.parse(data);
		// 		if(obj.result=='t'){
		// 			var returnUri = obj.data;
		// 			console.log(returnUri);
		// 			// tmpThis.attr('href',returnUri);

		// 			// window.location.href = DomainUri + '/ClientDetailCon/Render?' + returnUri;

		// 			window.open(DomainUri + '/ClientDetailCon/Render?chat=' + returnUri, "_blank");
		// 			// window.location.href = returnUri;


		// 		}

		// 	});


		// });
		// body.on('click','.migration_aaa',function(){
		// 	$.post(DomainUri+'/AAACon/MigrationPartner',{
		// 	},function(data){
		// 		console.log(data);
		// 	});
		// });

		// body.on('click','.migration_bbb',function(){
		// 	$.post(DomainUri+'/AAACon/MigrationMarket',{
		// 	},function(data){
		// 		console.log(data);
		// 	});
		// });

		// body.on('click','.migration_ccc',function(){
		// 	$.post(DomainUri+'/AAACon/MigrationMarketManager',{
		// 	},function(data){
		// 		console.log(data);
		// 	});
		// });




	});
</script>
{% endblock %}
