{% extends "/index.html" %}
{% block sortingWrap %}{% endblock %}
{% block content %}
<style>
.body_wrap{height: calc(100% - 60px);}
.sit_wrap{width: 100%; height: 100%; background-color: #fff;}
.sit_src_wrap{height: 60px;}
.sit_cont_wrap{height: calc(100% - 60px); padding: 0 10px 30px; overflow-y: auto;}
.index_sorting{width: 290px;}
.sit_cont_box{padding-right: 20px;padding-bottom: 20px;}
.cont_tit{padding: 10px 0;}

.p_table td.p_td_amount{width: auto;padding-left: 5px;letter-spacing: 1px;}
</style>
<div class="sit_wrap">
	<div class="sit_src_wrap ">
		<div class="p_btn_box index_sorting">
	        <div class="p_help_me_datatable_im_between_date_wrap">
	            <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date("Y-m-d") }}">
	            <span class="p_calaner_icon"></span>
	            <span class="p_between_hyphen"> - </span>
	            <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
	            <span class="p_calaner_icon"></span>
	        </div>
	    </div>
	    <div class="sort_btn_box">
	    	<a class="sit_date_btn p_btn" href="javascript:void(0)">
	            <span class="f_small">search</span>
	        </a>
	        <a class="sit_today_btn p_btn" href="javascript:void(0)">
	            <span class="f_small">Today</span>
	        </a>
	    	<a class="sit_m_oneday_btn p_btn" href="javascript:void(0)">
	            <span class="f_small">-1 D</span>
	        </a>
	    	<a class="sit_p_oneday_btn p_btn" href="javascript:void(0)">
	            <span class="f_small">+1 D</span>
	        </a>
	        {% set optionDateFunc = optionDateResult %}
	        {% set optionDateData = optionDateFunc.data %}
	        {% for key in optionDateData %}
		    	<a class="sit_monthday_btn p_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
		            <span class="f_small">{{key.standMonth}}월</span>
		        </a>
	        {% endfor %}
	    </div>
	</div>
	<div class="sit_cont_wrap">

<style type="text/css">
.tmp_box_inlineblock{display: inline-block;vertical-align: top;}
.p_table th.tmpw140,
.p_table td.tmpw140{width: 140px;}
</style>
<div class="tmp_box_top">
	<div class="tmp_box_inlineblock" style="width: 350px;">
		<div class="sit_cont_box">
			<span class="cont_tit f_normal sit_p_table_tit">파트너마감발란스</span>
			<div class="sit_cont_tb_box">
				<table class="p_table sit_p_table">
					<thead>
						<th class="tmpw140">파트너</th>
						<th>COUNT</th>
						<th>USD</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="tmp_box_inlineblock" style="width: 350px;">
		<div class="sit_cont_box">
			<span class="cont_tit f_normal sit_c_table_tit">회원마감마일리지</span>
			<div class="sit_cont_tb_box">
				<table class="p_table sit_c_table">
					<!-- <thead>
						<th>회원</th>
						<th>KRW</th>
					</thead> -->
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div class="sit_cont_box">
			<span class="cont_tit f_normal sit_bank_table_tit">계좌마감잔고</span>
			<div class="sit_cont_tb_box">
				<table class="p_table sit_bank_table">
					<thead>
						<th class="tmpw140">은행</th>
						<th>KRW</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="tmp_box_inlineblock" style="width: 350px;">
		<div class="sit_cont_box">
			<span class="cont_tit f_normal">입금신청</span>
			<div class="sit_cont_tb_box">
				<table class="p_table sit_md_table">
					<thead>
						<th class="tmpw140">입금신청</th>
						<th>COUNT</th>
						<th>KRW</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div class="sit_cont_box">
			<span class="cont_tit f_normal">출금신청</span>
			<div class="sit_cont_tb_box">
				<table class="p_table sit_mw_table">
					<thead>
						<th class="tmpw140">출금신청</th>
						<th>COUNT</th>
						<th>KRW</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="tmp_box_mid">
	<div class="tmp_box_inlineblock" style="">
		<div class="sit_cont_box">
			<span class="cont_tit f_normal">지불대행</span>
			<div class="sit_cont_tb_box">
				<table class="p_table sit_pd_table">
					<thead>
						<th class="tmpw140">지불대행</th>
						<th>COUNT</th>
						<th>거래수량</th>
						<th>업체수수료</th>
						<th>증감적립금</th>
						<th>거래금액</th>
						<th>유저수수료</th>
						<th>차감마일리지</th>
						<th>대략환율</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="tmp_box_inlineblock" style="">
		<div class="sit_cont_box">
			<span class="cont_tit f_normal">출금대행</span>
			<div class="sit_cont_tb_box">
				<table class="p_table sit_pw_table">
					<thead>
						<th class="tmpw140">출금대행</th>
						<th>COUNT</th>
						<th>USD</th>
						<th>KRW</th>
						<th>대략환율</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="tmp_box_bot">
	<div class="tmp_box_inlineblock" style="">
		<div class="sit_cont_box">
			<span class="cont_tit f_normal">지불대행수수료</span>
			<div class="sit_cont_tb_box">
				<table class="p_table sit_pdf_table">
					<thead>
						<th class="tmpw140">지불대행</th>
						<th>COUNT</th>
						<th>거래수량</th>
						<th>업체수수료</th>
						<th>증감적립금</th>
						<th>거래금액</th>
						<th>유저수수료</th>
						<th>차감마일리지</th>
						<th>현금영수증건수</th>
						<th>현금영수증금액</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>








	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var startDate = $('.start_date').val();
	var	endDate = $('.end_date').val();
	Load(startDate,endDate);

	body.on('click','.sit_today_btn',function(){
		startDate = '{{ "now"|date("Y-m-d") }}';
		endDate = '{{ "now"|date("Y-m-d") }}';
		$('.start_date').val(startDate);
		$('.end_date').val(endDate);
		Load(startDate,endDate);
    });

    body.on('click','.sit_date_btn',function(){
		startDate = $('.start_date').val();
		endDate = $('.end_date').val();
		Load(startDate,endDate);
    });
    body.on('click','.sit_monthday_btn',function(){
		startDate = $(this).attr('data-start');
		endDate = $(this).attr('data-end');
		$('.start_date').val(startDate);
		$('.end_date').val(endDate);
		Load(startDate,endDate);
    });

    body.on('click','.sit_p_oneday_btn',function(){
		startDate = $('.start_date').val();
		endDate = $('.end_date').val();
		$.post(DomainUri+"/StatisticsCon/daycalculForStatistics",{
			startDate:startDate,
			endDate:endDate,
			type:'pod'
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=='t'){
				var data=obj.data;
				startDate=data.startDate;
				endDate=data.endDate;
				$('.start_date').val(startDate);
				$('.end_date').val(endDate);
				Load(startDate,endDate);
			}
		});
    });
    body.on('click','.sit_m_oneday_btn',function(){
		startDate = $('.start_date').val();
		endDate = $('.end_date').val();
		$.post(DomainUri+"/StatisticsCon/daycalculForStatistics",{
			startDate:startDate,
			endDate:endDate,
			type:'mod'
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=='t'){
				var data=obj.data;
				startDate=data.startDate;
				endDate=data.endDate;
				$('.start_date').val(startDate);
				$('.end_date').val(endDate);
				Load(startDate,endDate);
			}
		});
    });



	function Load(startDate,endDate){
		pLoadingOn();
		$.post(DomainUri+"/StatisticsCon/Load",{
			startDate:startDate,
			endDate:endDate,
		},function(data){
			var obj=JSON.parse(data);
			var data=obj.data;
			if(obj.result=='t'){
				var pPack = data.pPack;
				var cPack = data.cPack;
				var mdPack = data.mdPack;
				var mwPack = data.mwPack;
				var pdPack = data.pdPack;
				var pdfPack = data.pdfPack;
				var pwPack = data.pwPack;
				var bankScrapingPack = data.bankScrapingPack;

				$('.sit_p_table_tit').html('파트너마감발란스('+endDate+')');
				$('.sit_c_table_tit').html('회원마감마일리지('+endDate+')');
				$('.sit_bank_table_tit').html('계좌마감잔고('+endDate+')');

				$('.sit_p_table tbody').html('');
				$('.sit_c_table tbody').html('');
				$('.sit_md_table tbody').html('');
				$('.sit_mw_table tbody').html('');
				$('.sit_pd_table tbody').html('');
				$('.sit_pdf_table tbody').html('');
				$('.sit_pw_table tbody').html('');
				$('.sit_bank_table tbody').html('');


				//마감발란스
				var pPackTotal = 0;
				pPack.forEach(item => {
				    $('.sit_p_table tbody').append(`<tr>
				        <td>`+item.name+`</td>
				        <td></td>
				        <td class="p_td_amount">$ `+pComma(item.balance,2)+`</td>
				    </tr>`);
				    pPackTotal = pPackTotal+item.balance*1;
				});
				$('.sit_p_table tbody').prepend(`<tr>
			        <td>전체</td>
			        <td>`+pPack.length+`</td>
			        <td class="p_td_amount">$ `+pComma(pPackTotal,2)+`</td>
			    </tr>`);

				//마감마일리지
			    $('.sit_c_table tbody').prepend(`<tr>
			        <th class="tmpw140">KRW</th>
			        <td class="p_td_amount">`+pComma(cPack.mileage)+` 원</td>
			    </tr>`);

			    //입금신청
			    $('.sit_md_table tbody').prepend(`<tr>
			        <td>전체입금신청금액</td>
			        <td>`+pComma(mdPack.totalCount)+`</td>
			        <td class="p_td_amount">`+pComma(mdPack.totalAmount)+` 원</td>
			    </tr><tr>
			        <td>자동승인</td>
			        <td>`+pComma(mdPack.autoCount)+`</td>
			        <td class="p_td_amount">`+pComma(mdPack.autoAmount)+` 원</td>
			    </tr><tr>
			        <td>관리자수동승인</td>
			        <td>`+pComma(mdPack.manualCount)+`</td>
			        <td class="p_td_amount">`+pComma(mdPack.manualAmount)+` 원</td>
			    </tr>`);

			    //출금신청
			    $('.sit_mw_table tbody').prepend(`<tr>
			        <td>출금신청금액</td>
			        <td>`+pComma(mwPack.count)+`</td>
			        <td class="p_td_amount">`+pComma(mwPack.amount)+` 원</td>
			    </tr><tr>
			        <td>수수료</td>
			        <td>`+pComma(mwPack.feeCount)+`</td>
			        <td class="p_td_amount">`+pComma(mwPack.fee)+` 원</td>
			    </tr><tr>
			        <td>수수료제외</td>
			        <td></td>
			        <td class="p_td_amount">`+pComma(mwPack.nonFeeAmount)+` 원</td>
			    </tr>`);


			    //bank
				var bankScrapingPackTotal = 0;
				bankScrapingPack.forEach(item => {
					var tmpBankName='';
					if(item.ebuyBankIDX==2){
						tmpBankName='KEB하나은행';
					}else if(item.ebuyBankIDX==3){
						tmpBankName='농협은행';
					}else if(item.ebuyBankIDX==4){
						tmpBankName='케이뱅크';
					}
				    $('.sit_bank_table tbody').append(`<tr>
				        <td>`+tmpBankName+`</td>
				        <td class="p_td_amount">`+pComma(item.afterAmount)+` 원</td>
				    </tr>`);
				    bankScrapingPackTotal = bankScrapingPackTotal+item.afterAmount*1;
				});
				$('.sit_bank_table tbody').prepend(`<tr>
			        <td>전체</td>
			        <td class="p_td_amount">`+pComma(bankScrapingPackTotal)+` 원</td>
			    </tr>`);







				//출금대행
				var pwcount = 0;
				var pwamount = 0;
				var pwmileage = 0;
				pwPack.forEach(item => {
				    $('.sit_pw_table tbody').append(`<tr>
				        <td>`+item.name+`</td>
			        	<td>`+pComma(item.count)+`</td>
				        <td class="p_td_amount">$ `+pComma(item.amount,2)+`</td>
				        <td class="p_td_amount">`+pComma(item.mileage)+` 원</td>
				        <td></td>
				    </tr>`);
				    pwcount = pwcount+item.count*1;
				    pwamount = pwamount+item.amount*1;
				    pwmileage = pwmileage+item.mileage*1;
				});
				$('.sit_pw_table tbody').prepend(`<tr>
			        <td>총합</td>
			        <td>`+pComma(pwcount)+`</td>
			        <td class="p_td_amount">$ `+pComma(pwamount,2)+`</td>
			        <td class="p_td_amount">`+pComma(pwmileage)+` 원</td>
			        <td class="p_td_amount">`+pComma(data.withdrawalAvgRatePack[0]['avg_exchange_rate'],2)+` 원</td>
			    </tr>`);


				var pdcount = 0;
				var pdamount = 0;
				var pdfeeAmount = 0;
				var pdnonfeeamount = 0;
				var pdnonfeemileage = 0;
				var pdmileage = 0;
				var pdmileageFee = 0;
				//지불대행파트너버전
			    pdPack.forEach(item => {
				    $('.sit_pd_table tbody').append(`<tr>
				        <td>`+item.name+`</td>
				        <td>`+pComma(item.count)+`</td>
				        <td class="p_td_amount">$ `+pComma(item.amount,2)+`</td>
				        <td class="p_td_amount" data="`+item.feeAmount+`">$ `+pComma(item.feeAmount,2)+`</td>
				        <td class="p_td_amount">$ `+pComma(item.nonfeeamount,2)+`</td>
				        <td class="p_td_amount">`+pComma(item.mileage)+` 원</td>
				        <td class="p_td_amount">`+pComma(item.mileageFee)+` 원</td>
				        <td class="p_td_amount">`+pComma(item.nonfeemileage)+` 원</td>
				        <td></td>
				    </tr>`);
				    pdcount = pdcount+item.count*1;
				    pdamount = pdamount+item.amount*1;
				    pdfeeAmount = pdfeeAmount+item.feeAmount*1;
				    pdnonfeeamount = pdnonfeeamount+item.nonfeeamount*1;
				    pdnonfeemileage = pdnonfeemileage+item.nonfeemileage*1;
				    pdmileage = pdmileage+item.mileage*1;
				    pdmileageFee = pdmileageFee+item.mileageFee*1;
				});
				$('.sit_pd_table tbody').prepend(`<tr>
			        <td>총합</td>
			        <td>`+pComma(pdcount)+`</td>
			        <td class="p_td_amount 14141414" data="`+pdamount+`">$ `+pComma(pdamount,2)+`</td>
			        <td class="p_td_amount">$ `+pComma(pdfeeAmount,2)+`</td>
			        <td class="p_td_amount">$ `+pComma(pdnonfeeamount,2)+`</td>
			        <td class="p_td_amount">`+pComma(pdmileage)+` 원</td>
			        <td class="p_td_amount">`+pComma(pdmileageFee)+` 원</td>
			        <td class="p_td_amount">`+pComma(pdnonfeemileage)+` 원</td>
			        <td class="p_td_amount">`+pComma(data.depositAvgRatePack[0]['avg_exchange_rate'],2)+` 원</td>
			    </tr>`);


				var pdfcount = 0;
				var pdfamount = 0;
				var pdffeeAmount = 0;
				var pdfnonfeeamount = 0;
				var pdfnonfeemileage = 0;
				var pdfmileage = 0;
				var pdfmileageFee = 0;
				//지불대행수수료버전
			    pdfPack.forEach(item => {
				    $('.sit_pdf_table tbody').append(`<tr>
				        <td>`+item.clientFeePer+`</td>
				        <td>`+pComma(item.count)+`</td>
				        <td class="p_td_amount">$ `+pComma(item.amount,2)+`</td>
				        <td class="p_td_amount">$ `+pComma(item.feeAmount,2)+`</td>
				        <td class="p_td_amount">$ `+pComma(item.nonfeeamount,2)+`</td>
				        <td class="p_td_amount">`+pComma(item.mileage)+` 원</td>
				        <td class="p_td_amount">`+pComma(item.mileageFee)+` 원</td>
				        <td class="p_td_amount">`+pComma(item.nonfeemileage)+` 원</td>
				    </tr>`);
				    pdfcount = pdfcount+item.count*1;
				    pdfamount = pdfamount+item.amount*1;
				    pdffeeAmount = pdffeeAmount+item.feeAmount*1;
				    pdfnonfeeamount = pdfnonfeeamount+item.nonfeeamount*1;
				    pdfnonfeemileage = pdfnonfeemileage+item.nonfeemileage*1;
				    pdfmileage = pdfmileage+item.mileage*1;
				    pdfmileageFee = pdfmileageFee+item.mileageFee*1;
				});
				$('.sit_pdf_table tbody').prepend(`<tr>
			        <td>총합</td>
			        <td>`+pComma(pdfcount)+`</td>
			        <td class="p_td_amount">$ `+pComma(pdfamount,2)+`</td>
			        <td class="p_td_amount">$ `+pComma(pdffeeAmount,2)+`</td>
			        <td class="p_td_amount">$ `+pComma(pdfnonfeeamount,2)+`</td>
			        <td class="p_td_amount">`+pComma(pdfmileage)+` 원</td>
			        <td class="p_td_amount">`+pComma(pdfmileageFee)+` 원</td>
			        <td class="p_td_amount">`+pComma(pdfnonfeemileage)+` 원</td>
			    </tr>`);


			}else{
				pAlert(obj.msg)
			}
			pLoadingOff();
		});
	}


});
</script>
{% endblock %}
