{% extends "/index.html" %}
{% block sortingWrap %}
{% endblock %}
{% block content %}
<style>
	.p_table_box{width: 50%;}
	.st_detail_wrap{width: 50%;}
	.info_text{display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;}
	.td_change_createTime{width: 170px;}
	.category_confirm_btn{margin-left: 10px;}

	.c_btn{background-color: var(--css-maincolor);}
	.c_btn span{color: #fff;}
	.td_btn{width: 50px;}

	/*인서트*/
	.title_box{width: 50%;}
	.category_select{width: 50%;}
	.upd_category_select{width: calc(50% - 100px);}
	.cate_change_btn{width: 100px;text-align: center;}
	.category_select_val , .upd_category_select_val{border-radius: 0px;}

	.ins_detail_box{padding: 10px;}
	.ins_title_val , .upd_title_val{border: 1px solid var(--css-maincolor);}
	.ins_content_val , .upd_content_val{height: 80%;min-height: 500px;padding: 5px;margin-top:15px;border: 1px solid var(--css-maincolor);border-radius: 0px;}
	.ins_notice_insert_btn , .notice_update_btn{display:block;height: 40px;margin-top: 10px;text-align: center;background-color: var(--css-maincolor);line-height: 40px;}
	.ins_notice_insert_btn span , .notice_update_btn span{color:#fff;}
	.displayNone{display: none;}
</style>
<div class="table_flex_box">
	<div class="p_table_box notice_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn faq_regist_btn"><span class="f_normal">추가</span></a>
			<a href="javascript:void(0)" class="p_btn category_confirm_btn"><span class="f_normal">카테고리 관리</span></a>
		</div>
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">생성시간</th>
				<th>제목</th>
				<th>내용</th>
				<th>작성자</th>
				<th>상태</th>
				<th>삭제</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	// var startDate=$('.start_date').val();
	// var endDate=$('.end_date').val();

	ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/AppFaqCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
				// d.startDate=$('.start_date').val();
				// d.endDate=$('.end_date').val();
	   	    },
	   	},
	   	"destroy": true,//재설정
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "createTime", "class":"td_change_createTime"},
	        { "data": "title", "class":""},
	        { "data": "content", "class":"p_td_content"},
	        { "data": "staffEmail", "class":""},
	        { "data": "status", "class":"p_td_status td_btn"},
	        { "data": null, "class": "del_col td_btn", "defaultContent": '', "orderable": false },
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y');
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['status']){
				var status=aData['status'];
				var statusBtnClass='';
				if(status=='활성'){
					statusVal='314401';
					statusBtnClass='c_btn';
				}else{
					statusVal='314501';//차단
				}
				$('.p_td_status', nRow).html('<a href="javascript:void(0)" class="status_btn p_btn '+statusBtnClass+'" data-status="'+statusVal+'"><span class="f_small">'+status+'</span></a>');
			}

			$('.del_col', nRow).html('<a href="javascript:void(0)" class="del_btn p_btn"><span class="f_small">삭제</span></a>');


			var content=aData['content'];
			var contentTxt = content;
			if(content.length>15){
				contentTxt =content.substring(0, 15) + "...";
			}
			$('.p_td_content', nRow).html('<span class="f_small">'+contentTxt+'</span>');

			var createTime=aData['createTime'];
			$('.td_change_createTime', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(createTime)+'</span>');
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	// status 수정
	body.on('click','.status_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		var status=targetTd.attr('data-status');
		if(status==314401){
			statusVal=314501;
		}else{
			statusVal=314401;
		}
		$.post(DomainUri+'/AppFaqCon/StatusUpdate',{
			targetIDX:targetIDX,
			statusVal:statusVal,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('수정이 완료되었습니다.','');
			}
		});
	});

	// 공지사항 삭제 (db에서 delete 하는게 아니라 status만 바꿔주는거)
	body.on('click','.del_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    $.confirm({
	    	title:'FAQ 삭제',
	    	content:'<span class="f_big">FAQ를 삭제하시겠습니까?</span>',
	    	closeIcon: true,
	    	useBootstrap: false,
	    	backgroundDismiss: true,
	    	boxWidth: '500px',
	    	buttons: {
	    		'confirm': {
	    			text: '확인',
	    			btnClass: 'btn-blue director_update',
	    			keys:['enter'],
	    			action:function(){
	    				$.post(DomainUri+'/AppFaqCon/DeleteStatusUpdate',{
	    					targetIDX:targetIDX,
	    				},function(data){
	    					var obj=JSON.parse(data);
	    					if(obj.result=="f"){
	    						pAlert(obj.msg);
	    						return false;
	    					}else{
	    						ebuyTable.ajax.reload();
	    						pToastr('삭제가 완료되었습니다.','');
	    					}
	    				});
	    			}
	    		},
	    		cancel:{text:"취소"}
	    	}
	    });

	});

	//추가하기 버튼 클릭 시 랜더
	body.on('click','.faq_regist_btn',function(){
		$.post(DomainUri+'/AppFaqCon/FaqDetailFormLoad',{
			pageType:'ins'
		},function(html){
	    	$(".st_detail_wrap").html(html);

		});
	});

	//추가하기 버튼
	body.on('click','.ins_notice_insert_btn',function(){
		var faqCategoryIDX=$('.child_category_select_val').val();
		if(faqCategoryIDX==null || faqCategoryIDX==undefined || faqCategoryIDX==''){
			faqCategoryIDX=$('.category_select_val').val();
		}
		if(faqCategoryIDX==999999999){
			pAlert('Please select a category');
			return false;
		}
		var title=$('.ins_title_val').val();
		var content=$('.ins_content_val').val();

		$.post(DomainUri+'/AppFaqCon/FaqInsert',{
			title:title,
			content:content,
			faqCategoryIDX:faqCategoryIDX,
		},function(data){
	    	var obj=JSON.parse(data);
	    	if(obj.result=='t'){
	    		pToastr('FAQ 등록이 완료되었습니다.','');
	    		ebuyTable.ajax.reload();
	    	}
		});
	});

	//td클릭했을때 거래 정보
	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty') === false &&
	        $(e.target).hasClass('p_clipboard_btn') === false &&
	        $(e.target).hasClass('p_td_status')===false &&
	        $(e.target).hasClass('del_col')===false &&
	        $(e.target.parentElement).hasClass('p_clipboard_btn') === false &&
	        $(e.target.parentElement).hasClass('del_btn') === false &&
			$(e.target.parentElement).hasClass('status_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		    $.post(DomainUri+'/AppFaqCon/FaqDetailFormLoad',{
		    	targetIDX:targetIDX,
				pageType:'upd'
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}
	});

	body.on('click','.st_r_de_f_btn_save',function(){
		var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		var title=$('.upd_title_val').val();
		var content=$('.upd_content_val').val();
		$.post(DomainUri+'/AppFaqCon/FaqUpdate',{
			targetIDX:targetIDX,
			title:title,
			content:content,
		},function(data){
	    	var obj=JSON.parse(data);
	    	if(obj.result=='t'){
	    		pToastr('faq 수정이 완료되었습니다.','');
	    		ebuyTable.ajax.reload();
	    	}
		});
	});

	/*---------------------카테고리 관련----------------------*/


	//카테고리 관리 컨펌
	body.on('click','.category_confirm_btn',function(){
		$.post(DomainUri+'/AppFaqCon/QnaCategoryConfirmLoad',{
		},function(html){
	    	$.confirm({
	    		title:'카테고리 관리',
	    		content:html,
	    		closeIcon: true,
	    		useBootstrap: false,
	    		backgroundDismiss: true,
	    		boxWidth: '1200px',
	    		buttons: {
	    			'confirm': {
	    				text: '확인',
	    				btnClass: 'btn-blue director_update',
	    				keys:['enter'],
	    				action:function(){

	    				}
	    			},
	    			cancel:{text:"취소"}
	    		}
	    	});
		});
	});

	//카테고리 추가 html
	body.on('click','.cate_insert_html_btn',function(){
		var tmpHtml='';
		tmpHtml+='<span class="f_big category_insert_title">카테고리 추가</span>';
		tmpHtml+='<div class="cate_box">';
        tmpHtml+='    <input type="text" class="p_input category_name_val" placeholder="메뉴명을 적어주세요.">';
        tmpHtml+='</div>';
        tmpHtml+='<div class="cate_inset_btn_box">';
        tmpHtml+='    <a href="javascript:void(0)" class="category_insert_btn p_btn"><span class="f_normal">추가</span></a>';
        tmpHtml+='</div>';
        $('.cate_wrap').html(tmpHtml);
	});

	//카테고리 추가
	body.on('click','.category_insert_btn',function(){
		var name=$('.category_name_val').val();
		$.post(DomainUri+'/AppFaqCon/FaqCategoryInsert',{
			name:name,
		},function(data){
	    	var obj=JSON.parse(data);
	    	console.log(obj.result);
	    	if(obj.result=='t'){
	    		pAlert('카테고리 추가가 완료되었습니다. 새로고침을 눌러주세요.');
	    	}else{
	    		pAlert(obj.msg)
	    	}
		});
	});

	//카테고리 숨김
    body.on( 'click', '.cheese_eye', function () {
    	pLoadingOn();
        tmpThis=$(this);
        tmpItem=tmpThis.closest($('.dd-item'));
        if(tmpItem.hasClass('dd-item_disable')){
        	tmpItem.removeClass('dd-item_disable')
        }else{
        	tmpItem.addClass('dd-item_disable')
        }
        targetIDX=tmpItem.attr("data-id");
        $.post(DomainUri+"/AppFaqCon/CheeseEyeAction",{
            targetIDX:targetIDX,
        },function(data){
            pLoadingOff();
        });
    });

    //카테고리 수정 html
    body.on('click','.cheese_setting',function(){
    	var tmpThis=$(this);
        var tmpItem=tmpThis.closest($('.dd-item'));
        var targetIDX=tmpItem.attr("data-id");

    	$.post(DomainUri+"/AppFaqCon/GetTargetNameData",{
            targetIDX:targetIDX,
        },function(data){
        	console.log(data);
        	var obj=JSON.parse(data);
        	if(obj.result=='t'){
        		var namePack = obj.namePack;
        		var idx=namePack.idx;
        		var name=namePack.name;
				var tmpHtml='';
				tmpHtml+='<span class="f_big category_insert_title">카테고리 수정</span>';
				tmpHtml+='<div class="upd_cate_box" data-idx="'+idx+'">';
		        tmpHtml+='    <input type="text" class="p_input upd_category_name_val" value="'+name+'">';
		        tmpHtml+='</div>';
		        tmpHtml+='<div class="cate_inset_btn_box">';
		        tmpHtml+='    <a href="javascript:void(0)" class="category_update_btn p_btn"><span class="f_normal">수정</span></a>';
		        tmpHtml+='</div>';
		        $('.cate_wrap').html(tmpHtml);
        	}
        });
    });

    //카테고리 수정
	body.on('click','.category_update_btn',function(){
		var targetIDX=$('.upd_cate_box').attr('data-idx');
		var name=$('.upd_category_name_val').val();
		$.post(DomainUri+'/AppFaqCon/FaqCategoryUpdate',{
			targetIDX:targetIDX,
			name:name,
		},function(data){
	    	var obj=JSON.parse(data);
	    	if(obj.result=='t'){
	    		pAlert('카테고리 수정이 완료되었습니다. 새로고침을 눌러주세요.');
	    	}else{
	    		pAlert(obj.msg)
	    	}
		});
	});

	//카테고리 삭제
	body.on( 'click', '.cheese_del', function () {
        pLoadingOn();
        var tmpThis=$(this);
        var tmpItem=tmpThis.closest($('.dd-item'));
        var targetIDX=tmpItem.attr("data-id");
        $.confirm({
            title:'메뉴삭제',
            content:'<span>정말로 삭제하시겠습니까?</span>',
            useBootstrap: false,
            backgroundDismiss: true,
            boxWidth: '300px',
            onContentReady: function () {
               pLoadingOff();
            },
            buttons: {
                'confirm': {
                    text: '확인',
                    btnClass: 'btn-blue',
                    keys:['enter'],
                    action:function(){
                        pLoadingOn();
                        $.post(DomainUri+'/AppFaqCon/FaqCategoryDelete',{
                        targetIDX:targetIDX,
                    },function(data){
                        pLoadingOff();
                        var obj=JSON.parse(data);
                            if(obj.result=="t"){
                            	pAlert('카테고리 삭제가 완료되었습니다. 새로고침을 눌러주세요.');
                            }else{
                                pAlert(obj.msg);
                            }
                        });
                    }
                },cancel:{text:'취소'}
            }
        });
    });

    //디테일 카테고리 변경
	body.on('click','.cate_change_btn',function(){
		var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		var faqCategoryIDX=$('.upd_category_select_val').val();

		$.confirm({
			title:'QnA 카테고리 변경',
			content:'<span class="f_normal">카테고리를 변경하시겠습니까?</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '500px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						$.post(DomainUri+'/AppFaqCon/DetailFaqCategoryChange',{
							targetIDX:targetIDX,
							faqCategoryIDX:faqCategoryIDX,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="t"){
								pToastr('카테고리 변경이 완료되었습니다.','');
								ebuyTable.ajax.reload();
							}else{
								pAlert(obj.msg);
							}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});

	});



});
</script>

{% endblock %}



