{% if pageType=='ins' %}
	<div class="ins_detail_box">
		<div class="category_select_box display_flex">
			<div class="title_box">
				<input type="text" class="p_input ins_title_val" placeholder="제목을 입력해주세요.">
			</div>
			<div class="category_select">
				<select class="p_select category_select_val">
					<option value="999999999">Select Category</option>
					{% for key in cateArr %}
						<option value="{{key.idx}}">{{key.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="contect_box">
			<textarea class="p_textarea ins_content_val" placeholder="내용을 입력해주세요"></textarea>
		</div>
		<div class="notice_insert_btn_box">
			<a href="javascript:void(0)" class="ins_notice_insert_btn"><span class="f_normal">추가</span></a>
		</div>
	</div>
{% elseif pageType=='upd' %}
	<div class="detail_tab_box display_flex flex_wrap">
		<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
			<span class="f_big ">Info</span>
		</a>
		<a href="javascript:void(0);" class="detail_tab" data-type="log">
			<span class="f_big ">Log</span>
		</a>
		<a href="javascript:void(0);" class="detail_tab" data-type="memo">
			<span class="f_big ">Memo</span>
		</a>
	</div>
	<div class="st_right_detail_con_container" data-idx="{{targetIDX}}" data-logType="clientFaq" data-memoStatus="373101">
		<div class="info_detail_box">
			<div class="category_select_box display_flex">
				<div class="title_box">
					<input type="text" class="p_input upd_title_val" value="{{dataPack['title']}}">
				</div>
				<div class="upd_category_select">
					<select class="p_select upd_category_select_val">
						{% for key in cateArr %}
							<option value="{{key.idx}}" {% if dataPack['faqCategoryIDX'] == key.idx %}selected{% endif %}>{{key.name}}</option>
						{% endfor %}
					</select>
				</div>
				<a href="javascript:void(0)" class="p_btn cate_change_btn"><span class="f_small">카테고리변경</span></a>
			</div>
			<div class="contect_box">
				<textarea class="p_textarea upd_content_val">{{dataPack['content']}}</textarea>
			</div>
		</div>
		<div class="log_detail_box display_none"></div>
		<div class="memo_detail_box display_none">
			<div class="memo_wrap">
				<div class="memo_list_box"></div>
				<div class="memo_val_box">
					<textarea class="p_textarea memo_val"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="memo_save_btn_box display_none">
		<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
	</div>
{% endif %}

{% if pageType=='ins' %}
	{# <div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_ins_save" href="javascript:void(0);"><span class="f_normal">등록하기</span></a>
	</div> #}
{% else %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_save" href="javascript:void(0);"><span class="f_normal">수정하기</span></a>
	</div>
{% endif %}




