{% extends "/index.html" %}
{% block content %}
<style>
	.p_td_name{color: #007bff;}
	.p_td_status{width: 80px;}
	.st_bot_sorting_box{width: 240px;margin-top:0px;/*height: calc(100% - 40px);*/}

	.c_btn , .client_balance_btn{background-color: var(--css-maincolor);}
	.c_btn span , .client_balance_btn span{color: #fff;}

	.p_i_con_box{width: calc(100% - 110px);}
	.long_txt{width: 100%;overflow:hidden;}

	.d_b{display: block;}
	.p_5_red{padding: 5px 0px;color: #f00;}

	.mileage_text{color: #1f3082;}

	.detail_flex{display: flex;justify-content: space-between;align-items: center;}


	.now_balance_box{padding: 5px 0px;}
	.balance_radio_box{padding: 20px 0px 20px 0px;}
	.balance_radio_chk{padding: 0px 5px;}
	.balance_txt{font-weight: 500;font-size: 14px;}
	.balance_box{display: flex;justify-content: space-between;align-items: center;padding-bottom: 10px;}
	.balace_exp_txt{width: 100px;}
	.input_100{width: calc(100% - 100px);font-weight: 500;}

	.f_mig{color: #2900ff;}

</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">가입시간</th>
				<th>이름</th>
				<th>생년월일</th>
				<th>휴대폰번호</th>
				<th>이메일</th>
				<th>등급</th>
				<th>신규/기존</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';

	function resetSortingCount(){
		var columnsArr = [];
		$('[data-column]').each(function() {
			var columnIndex = $(this).attr('data-column');
			if (columnsArr.indexOf(columnIndex) === -1) {
				columnsArr.push(columnIndex);
			}
		});

		var columnsVal = columnsArr.map(function(value) {
			var searchValues = $('.sorting_box').not('.display_none').find('[data-column="' + value + '"].p_chkbox_s').map(function() {
				var searchValue = $(this).attr('data-sel') || '';
			    return searchValue === '전체' ? '' : searchValue;
			}).get().join('|');
			return searchValues;
		});

		$.post(DomainUri+"/ClientCon/ResetSortingCount",{
			columnsVal:columnsVal,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=='t'){
				var data=obj.data;
				var count=data.count;
				$('.total_num').html('Total '+count);
			}
		});
	}

	resetSortingCount();

	//리셋버튼
	body.on('click','.sort_reset_btn',function(){
		resetSortingCount();
	});

	//서치버튼
	body.on('click', '.sort_apply_btn', function () {
		resetSortingCount();
	});

	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/ClientUnifyCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	// d.startDate=startDate;
	        	// d.endDate=endDate;
	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "createTime", "class":"p_td_reg td_change_createTime"},
	        { "data": "name", "class":"p_td_name"},
	        { "data": "birth", "class":"p_render_idx"},
	        { "data": "phone", "class":""},
	        { "data": "email", "class":""},
	        { "data": "gradeName", "class":""},
	        { "data": "migrationIDX", "class":"td_change_migrationIDX"},
	    ],
    	"initComplete": function(settings, data, dataIndex){
			// pTableInitComplete(this,'y','y');
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html(getHtmlKORUTC(createTime));
			}
    		pLoadingOff();

		},
		drawCallback: function( settings ) {
		},
	});

	//이름 클릭했을때 공통 정보(유저의 모든 정보)
	ebuyTable.on( 'click', 'tbody td.p_td_name', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		    $.post(DomainUri+'/ClientCon/ClientDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
				$.confirm({
					title:'회원정보',
					content:html,
					closeIcon: true,
					useBootstrap: false,
					backgroundDismiss: true,
					boxWidth: '95%',
					buttons: {
						'confirm': {
							text: '확인',
							btnClass: 'btn-blue director_update',
							keys:['enter'],
							action:function(){

							}
						},
						// cancel:{text:"취소"}
					}
				});
			});
		}
	});

	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
	        $(e.target).hasClass('p_td_name') === false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
	        $(e.target.parentElement).hasClass('p_td_name') === false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/ClientUnifyCon/ClientUnifySelLoad',{
				targetIDX:targetIDX,
			},function(html){
		    	$(".st_detail_wrap").html(html);
		  //   	var currentURL = window.location.href;
				// var urlParams = new URLSearchParams(currentURL);
				// var viewValue = urlParams.get('view');
				// $('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}

	});



	body.on('click','.unify_sel_btn',function(){




		var thisBtn=$(this);
		if(thisBtn.hasClass('unify_sel_btn_active')){
			thisBtn.closest('.able_list').removeClass('able_list_active')
			thisBtn.removeClass('unify_sel_btn_active');
		}else{
			$('.unify_sel_btn').removeClass('unify_sel_btn_active');
			$('.able_list').removeClass('able_list_active');
			thisBtn.closest('.able_list').addClass('able_list_active')
			thisBtn.addClass('unify_sel_btn_active');
		}



	});


	body.on('click','.id_unify_go_btn',function(){
		var standardIDX = $('.st_right_detail_con_container').attr('data-idx');
		console.log(standardIDX)



		if($('.unify_sel_btn_active').length<1){
			pToastr('통합대상계정을 선택해주세요')
			return
		}
		var unifiedIDX = $('.unify_sel_btn.unify_sel_btn_active').attr('data-idx');


		$.confirm({
			title:'계정통합',
			content:'정말로 계정을 통합하시겠습니까?',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '300px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue',
					keys:['enter'],
					action:function(){
						$.post(DomainUri+'/ClientUnifyCon/ClientUnifyAction',{
							standardIDX:standardIDX,
							unifiedIDX:unifiedIDX,
						},function(data){
							var obj = JSON.parse(data);
							pAlert(obj.msg,'300px',function(){
								window.location.reload();
							});
						});
					}
				},
				cancel:{text:"취소"}
			}
		});


	});



});
</script>
{% endblock %}
