<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="log">
		<span class="f_big ">Log</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>
<div class="st_right_detail_con_container" data-idx="{{targetIDX}}" data-logType="client" data-memoStatus="371101">
	<div class="info_detail_box">
		{# 보여줄지 말지는 회의후 진행 #}
		{# <div class="p_i">
			<span class="p_i_tit">CI</span>
			<div class="p_i_con_box">
				<a href="javascript:void(0)" class="p_clipboard_btn long_txt" data-clipboard-text="{{dataPack['ci']}}">
				    <span class="f_small">{{dataPack['ci']}}</span>
				</a>
			</div>
		</div> #}
		<div class="p_i">
			<span class="p_i_tit">Client idx</span>
			<div class="p_i_con_box">
				<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{targetIDX}}">
				    <span class="f_small">{{targetIDX}}</span>
				</a>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">등급</span>
			<div class="p_i_con_box">
				<select class="p_select c_grade_val">
					{% for key in gradePack %}
						<option value="{{key.idx}}" {% if dataPack['gradeIDX']==key.idx %}selected{% endif %}>{{key.name}}</option>
					{% endfor %}
				</select>
				{# <span class="p_i_con">{{dataPack['gradeName']}}</span> #}
			</div>
		</div>


		<div class="p_i">
			<span class="p_i_tit">이름</span>
			<div class="p_i_con_box detail_flex">
				<div class="name_box">
					<span class="p_i_con">{{dataPack['name']}}</span>
					{% if dataPack['withdrawalBlock'] == 'Y' %}
						<a href="javascript:void(0)" class="p_btn client_withdrawal_block_btn" data-type="N"><span class="f_small">출금금지해제</span></a>
					{% else %}
						<a href="javascript:void(0)" class="p_btn client_withdrawal_block_btn c_btn" data-type="Y"><span class="f_small">출금금지</span></a>
					{% endif %}
				</div>
				{% if dataPack['emergency'] == 'Y' %}
					<a href="javascript:void(0)" class="p_btn client_emergency_btn" data-type="N"><span class="f_small">해제</span></a>
				{% else %}
					<a href="javascript:void(0)" class="p_btn client_emergency_btn c_btn" data-type="Y"><span class="f_small">긴급</span></a>
				{% endif %}

			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">휴대폰번호</span>
			<div class="p_i_con_box">
				<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{dataPack['phone']}}">
				    <span class="f_small">{{dataPack['phone']}}</span>
				</a>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">이메일</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['email']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">생년월일</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['birth']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">마일리지</span>
			<div class="p_i_con_box detail_flex">
				<span class="p_i_con mileage_text f_bold">{{getMileage|number_format(0)}}원</span>
				<a href="javascript:void(0)" class="p_btn client_balance_btn"><span class="f_small">수정</span></a>
			</div>
		</div>

		<div class="p_i">
			<span class="p_i_tit">가입시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['createTime']}} (UTC)</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">가입시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['createTime']|date('Y-m-d H:i:s', '+0900')}} (KST)</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">가입시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['createTime']|date('Y-m-d H:i:s', '+0800')}} (GMT+8)</span>
			</div>
		</div>
		{% for key in cmlPack %}
			<div class="p_i">
				<span class="p_i_tit f_i_bold">지불대행 이메일</span>
				<div class="p_i_con_box">
					<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{key.referenceId}}">
					    <span class="f_small">{{key.referenceId}}</span>
					</a>
					<span class="d_b p_i_con">{{key.marketName}}(코드:{{key.marketCode}})</span>
				</div>
			</div>
		{% endfor %}
		<div class="p_i">
			<span class="p_i_tit">상태</span>
			<div class="p_i_con_box detail_flex">
				<span class="p_i_con">{{dataPack['status']}}</span>
				<a href="javascript:void(0)" class="p_btn client_del_btn"><span class="f_small">탈퇴처리</span></a>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">기본수수료</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['defaultFeeKRW']}}원</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">거래수수료</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['tradeFeePer']}}%</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">지불대행수수료</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['tranFeePer']}}%</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">출금대행수수료</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['withFeePer']}}%</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">출금수수료</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['withFeeKRW']}}원</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">최소출금금액</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['withMinKRW']}}원</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">디바이스</span>
			<div class="p_i_con_box">
				<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{dataPack['deviceNumber']}}">
				    <span class="f_small">{{dataPack['deviceNumber']}}</span>
				</a>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">디바이스타입</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['deviceType']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">인증이메일</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['email']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">은행</span>
			<div class="p_i_con_box">
				{% if bankPack['accountNumber'] == true %}
					<span class="p_i_con">{{bankPack['bankName']}}({{bankPack['bankCode']}})</span>
				{% endif %}
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">예금주</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{bankPack['accountHolder']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">계좌번호</span>
			<div class="p_i_con_box">
				{% if bankPack['accountNumber'] == true %}
					<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{bankPack['accountNumber']}}">
					    <span class="f_small">{{bankPack['accountNumber']}}</span>
					</a>
				{% endif %}
			</div>
		</div>


	</div>
	<div class="log_detail_box display_none"></div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>
</div>
<div class="click_btn_box">
    <a class="st_r_de_f_btn st_r_de_f_btn_save" href="javascript:void(0);"><span class="f_normal">수정하기</span></a>
</div>
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>



