{% extends "/index.html" %}
{% block sortingWrap %}

{% endblock %}
{% block content %}
<style>
	.st_right_detail_con_container{padding: 0px;}

	.detail_table{padding: 10px;}
    .detail_table table{width:100%;table-layout: fixed;}
    .tbl-content{overflow-x:auto;margin-top: 0px;border: 1px solid rgba(255,255,255,0.3); margin-bottom: 20px;}
    .detail_table th{padding: 5px;text-align: left;font-weight: 500;font-size: 10px;color: #000;background-color: #1f3082;border: 1px solid #000;color: #fff;text-align: center;}
    .detail_table td{padding: 5px;text-align: left;vertical-align:middle;font-weight: 500;font-size: 10px;color: #000;border: solid 1px rgba(0,0,0,0.4);}
    .table_tit{width: 100%;border: none;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>clientIDX</th>
				<th>이름</th>
				<th>생년월일</th>
				<th>휴대폰번호</th>
				<th>해제</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';

	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/MileageBlockCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	// d.startDate=$('.start_date').val();
				// d.endDate=$('.end_date').val();
	   	    },
	   	},
	   	"columns": [
	        { "data": "idx", "class":"p_td_idx","orderable": false,"visible":false},
	        { "data": "clientIDX", "class":""},
	        { "data": "name", "class":"p_td_name"},
	        { "data": "birth", "class":""},
	        { "data": "phone", "class":""},
	        { "data": null, "class": "del_col td_btn", "defaultContent": '', "orderable": false },
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			$('.del_col', nRow).html('<a href="javascript:void(0)" class="del_btn p_btn"><span class="f_small">해제</span></a>');
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	body.on('click','.del_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['clientIDX'];

	    console.log(targetIDX);
	    $.confirm({
			title:'정보',
			content:'<span class="f_normal">입금 정지 해제를 하시겠습니까?</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '500px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						$.post(DomainUri+'/MileageBlockCon/DepositUpdate',{
							targetIDX:targetIDX
						},function(data){
							var obj = JSON.parse(data);
							if(obj.result=='t'){
								ebuyTable.ajax.reload();
								pToastr('처리가 완료되었습니다.','');
							}else{
								pAlert(obj.msg);
							}
						})
					}
				},
				cancel:{text:"취소"}
			}
		});

	});

	// td클릭했을떄 거래 정보
	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty') === false &&
	        $(e.target).hasClass('p_clipboard_btn') === false &&
	        $(e.target.parentElement).hasClass('p_clipboard_btn') === false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['clientIDX'];
	    	$.post(DomainUri+'/MileageBlockCon/MileageBlockDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}
	});

	//이름 클릭했을때 공통 정보(유저의 모든 정보)
	ebuyTable.on( 'click', 'tbody td.p_td_name', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['clientIDX'];
	    	$.post(DomainUri+'/MileageBlockCon/ClientDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
				$.confirm({
					title:'회원정보',
					content:html,
					closeIcon: true,
					useBootstrap: false,
					backgroundDismiss: true,
					boxWidth: '95%',
					buttons: {
						'confirm': {
							text: '확인',
							btnClass: 'btn-blue director_update',
							keys:['enter'],
							action:function(){

							}
						},
						// cancel:{text:"취소"}
					}
				});
			});
		}

	});


});
</script>
{% endblock %}


