{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
    {# <div class="st_top_sorting_box">
        <span class="f_big total_num">Total</span>
        <div class="p_btn_box index_sorting">
            <div class="index_sort_tit">
                <span class="f_normal sorting_date">Date</span>
                <div class="sort_btn_box">
                	<a class="today_apply_btn p_btn" href="javascript:void(0)">
                        <span class="f_small">Today</span>
                    </a>
                    <a class="date_apply_btn p_btn" href="javascript:void(0)">
                        <span class="f_small">날짜별 검색</span>
                    </a>
                </div>
            </div>
            <div class="p_help_me_datatable_im_between_date_wrap">
                <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-1 month")|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
                <span class="p_between_hyphen"> - </span>
                <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
            </div>
        </div>
        <ul class="option_date_ul">
        {% set optionDateFunc = GetGlobals('monthCount') %}
        {% set optionDateData = optionDateFunc.data %}
        {% for key in optionDateData %}
            <li class="p_wid_4">
                <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
                    <span class="f_small">{{key.standMonth}}월</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div> #}
	<div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    </div>
    <div class="st_bot_sorting_box">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">마켓</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in dataPack %}
            	<a href="javascript:void(0);" class="p_chkbox" data-sel="{{key.name}}" data-column="3">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	.st_bot_sorting_box{width: 240px;margin-top:0px;height: calc(100% - 40px);}
	.p_td_status{width: 60px;}
	.c_btn{background-color: var(--css-maincolor);border: none;}
	.d_btn{background-color: #6f81ff;border: none;}
	.c_btn span , .d_btn span{color: #fff;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn grade_regist_btn"><span class="f_normal">추가</span></a>
		</div>
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>{# visible #}
				<th class="p_th_search_date">생성시간</th>
				<th>업체명</th>
				<th>마켓명</th>
				<th>마켓코드</th>
				<th>이메일</th>
				<th>매니저이름</th>
				<th>등급</th>
				<th>포지션</th>
				<th class="p_th_search_sel" data-opop="All,정상,비활성">상태</th>
				<th>양도</th>
				<th>marketIDX</th>{# visible #}
				<th>삭제</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div> 
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';

	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/MarketManagerCon/dataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	// d.startDate=startDate;
				// d.endDate=endDate;
	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},

	   	"columns": [
	        { "data": "idx", "class":"p_td_idx","orderable": false,"visible":false},
	        { "data": "createTime", "class":"p_td_reg td_change_createTime"},
	        { "data": "parterName", "class":"p_render_idx"},
	        { "data": "marketName", "class":""},
	        { "data": "code", "class":""},
	        { "data": "email", "class":"p_td_email"},
	        { "data": "marketManagerName", "class":""},
	        { "data": "gradeName", "class":""},
	        { "data": "position", "class":""},
	        { "data": "status", "class":"p_td_status"},
	        { "data": null, "class": "hand_over", "defaultContent": '', "orderable": false },
	        { "data": "marketIDX", "class":"p_td_status","visible":false},//양도할때 사용
	        { "data": null, "class": "del_col", "defaultContent": '', "orderable": false },
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){

			if(aData['email']){
				var email=aData['email'];
				$('.p_td_email', nRow).html('<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="'+email+'"><span class="f_small">'+email+'</span></a>');
			}
			if(aData['status']){
				var status=aData['status'];
				var statusBtnClass='';
				if(status=='정상'){
					statusVal='402101';
					statusBtnClass='c_btn';
				}else{
					statusVal='402201';//비활성
				}
				$('.p_td_status', nRow).html('<a href="javascript:void(0)" class="status_btn p_btn '+statusBtnClass+'" data-status="'+statusVal+'"><span class="f_small">'+status+'</span></a>');
			}
			if(aData['gradeIDX']){
				var gradeIDX=aData['gradeIDX'];
				if(gradeIDX!=1){
					$('.del_col', nRow).html('<a href="javascript:void(0)" class="del_btn p_btn"><span class="f_small">삭제</span></a>');
				}else{
					$('.del_col', nRow).html('<span>-</span>');
				}

				if(gradeIDX==1){
					$('.hand_over', nRow).html('<a href="javascript:void(0)" class="hand_over_btn p_btn d_btn"><span class="f_small">양도</span></a>');
				}else{
					$('.hand_over', nRow).html('<span>-</span>');
				}
			}
			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(createTime)+'</span>');
			}
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});


	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target).hasClass('hand_over')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('status_btn')===false &&
			$(e.target.parentElement).hasClass('del_btn')===false&&
			$(e.target.parentElement).hasClass('hand_over_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/MarketManagerCon/MarketManagerDetailFormLoad',{
	    		pageType:'upd',
				targetIDX:targetIDX,
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}

	});


	//추가하기 버튼 클릭 시 랜더
	body.on('click','.grade_regist_btn',function(){
    	$.post(DomainUri+'/MarketManagerCon/MarketManagerDetailFormLoad',{
			pageType:'ins'
		},function(html){
	    	$(".st_detail_wrap").html(html);
		});
	});

	//마켓이름 선택하기
	body.on('change','.market_val',function(){
		var selectedOption = $(this).find('option:selected');
		var marketIDX=selectedOption.val();
    	var code = '';
        if(marketIDX!='none'){
        	var code = selectedOption.attr('data-code');
        }
        $('.code_val').val(code);
	});

	//마켓 매니저 추가하기
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		var email = $('.email_val').val();
		var name = $('.name_val').val();
		var marketIDX = $('.market_val').val();
		//매니저idx는 마지막에 인서트된 idx거나 manager 테이블에 있는 idx
		var gradeIDX = $('.grade_val').val();
		var statusIDX = 402101;
		var position = $('.position_val').val();

		$.post(DomainUri+'/MarketManagerCon/MarketManagerInsert',{
    		email:email,
    		name:name,
			marketIDX:marketIDX,
			gradeIDX:gradeIDX,
			statusIDX:statusIDX,
			position:position,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
			}else{
				ebuyTable.ajax.reload();
				pToastr('추가가 완료되었습니다.','');
			}
		});
	});

	//마켓 매니저 수정하기
	body.on('click','.st_r_de_f_btn_save',function(){
		var targetIDX=$('.st_right_detail_con_container').data('idx');
		var name = $('.name_val').val();
		var gradeIDX = $('.grade_val').val();
		if(gradeIDX==''||gradeIDX==undefined||gradeIDX==null){
			gradeIDX=$('.grade_val').attr('data-gradeIDX');
		}
		var gradeName = $('.grade_val option:selected').text();
		var position = $('.position_val').val();
		var marketIDX=$('.market_idx').attr('data-marketIDX');

		$.confirm({
	        title:'마켓매니저 상세 수정',
	        content:'<span class="f_normal cf_txt">수정하시겠습니까?</span>',
	        closeIcon: true,
	        useBootstrap: false,
	        backgroundDismiss: false,
	        boxWidth: '600px',
	        buttons: {
	            cancel:{text:"Cancel"},
	            'confirm': {
	                text: 'Confirm',
	                btnClass: 'btn-blue',
	                keys:['enter'],
	                action:function(){
	                	pLoadingOn();
	                	$.post(DomainUri+'/MarketManagerCon/MarketManagerUpdate',{
    						targetIDX:targetIDX,
							name:name,
							gradeIDX:gradeIDX,
							gradeName:gradeName,
							position:position,
							marketIDX:marketIDX,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
							}else{
								AfterUpdDetails(ebuyTable,targetIDX);

								pToastr('수정이 완료되었습니다.','');
							}
							pLoadingOff();
						});
	                }
	            }
	        }
	    });

		
	});

	// status 수정
	body.on('click','.status_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		var status=targetTd.attr('data-status');
		if(status==402101){
			statusVal=402201;
		}else{
			statusVal=402101;
		}
		$.confirm({
	        title:'마켓매니저 상태 수정',
	        content:'<span class="f_normal cf_txt">수정하시겠습니까?</span>',
	        closeIcon: true,
	        useBootstrap: false,
	        backgroundDismiss: false,
	        boxWidth: '600px',
	        buttons: {
	            cancel:{text:"Cancel"},
	            'confirm': {
	                text: 'Confirm',
	                btnClass: 'btn-blue',
	                keys:['enter'],
	                action:function(){
	                	pLoadingOn();
	                	$.post(DomainUri+'/MarketManagerCon/StatusUpdate',{
							targetIDX:targetIDX,
							statusVal:statusVal,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
								return false;
							}else{
								ebuyTable.ajax.reload();
								pToastr('수정이 완료되었습니다.','');
							}
							pLoadingOff();
						});
	                }
	            }
	        }
	    });
		
	});

	// 마켓 매니저 삭제 (db에서 delete 하는게 아니라 status만 바꿔주는거)
	body.on('click','.del_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    $.confirm({
	        title:'마켓매니저 삭제',
	        content:'<span class="f_normal cf_txt">삭제하시겠습니까?</span>',
	        closeIcon: true,
	        useBootstrap: false,
	        backgroundDismiss: false,
	        boxWidth: '600px',
	        buttons: {
	            cancel:{text:"Cancel"},
	            'confirm': {
	                text: 'Confirm',
	                btnClass: 'btn-blue',
	                keys:['enter'],
	                action:function(){
	                	pLoadingOn();
	                	$.post(DomainUri+'/MarketManagerCon/DeleteStatusUpdate',{
							targetIDX:targetIDX,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
								return false;
							}else{
								ebuyTable.ajax.reload();
								pToastr('삭제가 완료되었습니다.','');
							}
							pLoadingOff();
						});
	                }
	            }
	        }
	    });
		
	});

	//슈퍼매니저 양도 디테일
	body.on('click','.hand_over_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['marketIDX'];
	    var marketName=ebuyTable.row(targetRow).data()['marketName'];
	    $.post(DomainUri+'/MarketManagerCon/MarketManagerDetailFormLoad',{
    		pageType:'hand',
			targetIDX:targetIDX,
		},function(html){
	    	$(".st_detail_wrap").html(html);
	    	$('.market_name').html(marketName);
		});
	});

	//handover 체크박스
	body.on('click','.manager_list_chkbox',function(){
		var tmpThis=$(this);
		$('.manager_list_chkbox').removeClass('p_chkbox_s');
		tmpThis.addClass('p_chkbox_s');
	});


	

	//슈퍼매니저 양도
	body.on('click','.st_r_de_f_btn_update',function(){
		var target=$('.manager_list_chkbox.p_chkbox_s');
		var targetIDX=target.attr('data-idx');
		var marketIDX=target.attr('data-marketIDX');
		var gradeIDX=target.attr('data-gradeIDX');
		var gradeName=target.attr('data-gradeName');
		var email=target.attr('data-email');
		$.post(DomainUri+'/MarketManagerCon/MarketManagerGradeUpdate',{
			targetIDX:targetIDX,
			marketIDX:marketIDX,
			gradeIDX:gradeIDX,
			gradeName:gradeName,
			email:email,
		},function(data){
	    	var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('변경이 완료되었습니다.','');
			}
		});
	});


});
</script>

{% endblock %}
