{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
	<div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    </div>
    <div class="st_bot_sorting_box">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">마켓</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in marketPack %}
            	<a href="javascript:void(0);" class="p_chkbox" data-sel="{{key.code}}" data-column="4">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>




{% endblock %}
{% block content %}
<style>
	.p_table_box{width: 100%;}

	.st_bot_sorting_box{width: 240px;margin-top:0px;height: calc(100% - 40px);}
	.td_change_createTime{width: 200px;}
	.btn_box{width: 50px;text-align: center;}
	.c_btn{background-color: var(--css-maincolor);border: none;}
	.d_btn{background-color: #f00;border: none;}
	.e_btn{background-color: #763eff;border: none;}
	.c_btn span , .d_btn span , .e_btn span{color: #fff;}

	.f_request{font-weight:600;color: #000;}
	.f_approval{font-weight:600;color: #00a114;}
	.f_delete{font-weight:600;color: #f00;}
	.f_refuse{font-weight:600;color: #763eff;}

	.market_select_val{margin-top: 30px;}

	/*------------*/


</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn marketKey_regist_btn"><span class="f_normal">추가</span></a>
		</div>
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">생성시간</th>
				<th class="p_th_search_sel" data-opop="All,정상,삭제대기,삭제(매니저),삭제(크론)">상태</th>
				<th>APIKEY</th>
				<th>마켓코드</th>
				<th>마켓</th>
				<th>매니저</th>
				<th>등록IP</th>
				<th>삭제예정일</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';
	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/MarketKeyCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	// d.startDate=startDate;
	        	// d.endDate=endDate;
	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "createTime", "class":"td_change_createTime"},
	        { "data": "status", "class":"p_td_status"},
	        { "data": "marketKey", "class":"td_change_marketKey"},
	        { "data": "marketCode", "class":"p_render_idx"},
	        { "data": "marketName", "class":"p_td_marketName"},
	        { "data": "email", "class":"p_td_email"},
	        { "data": "ip", "class":""},
	        { "data": "deletionTime", "class":""},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			var status=aData['status'];
			switch(status){
				case '정상' :
				    $('.p_td_status', nRow).html('<span class="f_small f_approval">'+status+'</span>');
			    break;
			    case '삭제대기' :
				    $('.p_td_status', nRow).html('<span class="f_small f_request">'+status+'</span>');
			    break;
			    case '삭제(매니저)' :
				    $('.p_td_status', nRow).html('<span class="f_small f_delete">'+status+'</span>');
			    break;
			    case '삭제(크론)' :
				    $('.p_td_status', nRow).html('<span class="f_small f_delete">'+status+'</span>');
			    break;
			}

			var managerIDX=aData['managerIDX'];
			if(managerIDX==0){
				$('.p_td_email', nRow).html('<span class="f_small">-</span>');
			}

			var marketName=aData['marketName'];
			if(marketName==null){
				$('.p_td_marketName',nRow).html('<span class="f_small">-</span>');
			}

			var marketKey=aData['marketKey'];
			$('.td_change_marketKey', nRow).html('<span class="f_small">'+maskMiddle(marketKey,'*',20)+'</span>');

			function maskMiddle(inputString, maskCharacter, visibleCharacterCount) {
	            var length = inputString.length;
	            // 만약 보이는 문자열 개수가 전체 문자열 길이보다 크다면 전체 문자열 반환
	            if (visibleCharacterCount >= length) {
	                return inputString;
	            }
	            // 마스킹할 부분의 시작과 끝 위치 계산
	            var start = Math.floor((length - visibleCharacterCount) / 2);
	            var end = start + visibleCharacterCount;
	            // 마스킹할 부분을 마스킹 문자로 변경
	            var maskedPart = Array(visibleCharacterCount + 1).join(maskCharacter);
	            // 문자열을 자르고 마스킹 문자열을 중간에 삽입
	            var maskedString = inputString.substring(0, start) + maskedPart + inputString.substring(end);
	            return maskedString;
	        }

			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(createTime)+'</span>');
			}
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	// ebuyTable.on( 'click', 'tbody td', function(e){
	// 	if(
	// 		$(this).hasClass('dataTables_empty')===false &&
	// 		$(e.target).hasClass('p_clipboard_btn')===false &&
	// 		$(e.target).hasClass('approval_btn_box')===false &&
	// 		$(e.target).hasClass('delete_btn_box')===false &&
	// 		$(e.target).hasClass('refuse_btn_box')===false &&
	// 		$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
	// 		$(e.target.parentElement).hasClass('approval_btn')===false&&
	// 		$(e.target.parentElement).hasClass('delete_btn')===false&&
	// 		$(e.target.parentElement).hasClass('refuse_btn')===false
	// 	){
	// 		var targetTd=$(this);
	// 	    var targetRow=targetTd.closest('tr')[0];
	// 	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	//     	$.post(DomainUri+'/MarketWhiteIpCon/DetailFormLoad',{
	// 			targetIDX:targetIDX,
	// 			pageType:'upd'
	// 		},function(html){
	// 	    	$(".st_detail_wrap").html(html);
	// 	    	var currentURL = window.location.href;
	// 			var urlParams = new URLSearchParams(currentURL);
	// 			var viewValue = urlParams.get('view');
	// 			$('.detail_tab[data-type='+viewValue+']').trigger('click');
	// 		});
	// 	}
	// });



	body.on('click','.marketKey_regist_btn',function(){
		$.confirm({
			title:'마켓키 생성',
			content:'<span class="f_normal">마켓을 선택 후 키를 생성해주세요. </br>이미 키가 존재하는 마켓은 생성이 되지 않습니다.</br><select class="p_select market_select_val">{% for key in marketPack %}<option value="{{key.code}}">{{key.name}}</option>{% endfor %}</select></span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '500px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						var marketCode=$('.market_select_val').val();
						console.log(marketCode);
				    	$.post(DomainUri+'/MarketKeyCon/MarketKeyInsert',{
							marketCode:marketCode
						},function(data){
					    	var obj=JSON.parse(data);
					    	if(obj.result=='t'){
					    		pToastr('마켓키 생성이 완료되었습니다.','');
					    	}else{
					    		pToastr(obj.msg,'');
					    	}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});

	});


});
</script>
{% endblock %}
