{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
	<div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    </div>
    <div class="st_bot_sorting_box">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">업체</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in dataPack %}
            	<a href="javascript:void(0);" class="p_chkbox" data-sel="{{key.name}}" data-column="2">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	.st_bot_sorting_box{width: 240px;margin-top:0px;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn partner_regist_btn"><span class="f_normal">추가</span></a>
		</div>
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">생성시간</th>
				<th>업체명</th>
				<th>코드</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';

	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/PartnerCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){

	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "createTime", "class":"p_td_reg td_change_createTime"},
	        { "data": "name", "class":"d_td_name p_render_idx"},
	        { "data": "code", "class":"d_td_email"},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
    		pLoadingOff();
    		if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(createTime)+'</span>');
			}
		},
		drawCallback: function( settings ) {

		},
	});

	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/PartnerCon/PartnerDetailFormLoad',{
				targetIDX:targetIDX,
				pageType:'upd'
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}
	});

	//추가하기 버튼 클릭 시 랜더
	body.on('click','.partner_regist_btn',function(){
    	$.post(DomainUri+'/PartnerCon/PartnerDetailFormLoad',{
			pageType:'ins'
		},function(html){
	    	$(".st_detail_wrap").html(html);
		});
	});

	//업체 추가하기
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		var name = $('.name_val').val();
		// var code = $('.code_val').val();

		$.post(DomainUri+'/PartnerCon/PartnerInsert',{
    		name:name
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
			}else{
				ebuyTable.ajax.reload();
				pToastr('추가가 완료되었습니다.','');
			}
		});
	});

	//업체 수정하기
	body.on('click','.st_r_de_f_btn_save',function(){
		var targetIDX=$('.st_right_detail_con_container').data('idx');
		var name=$('.name_val').val();
		$.confirm({
	        title:'업체 상세 수정',
	        content:'<span class="f_normal cf_txt">수정하시겠습니까?</span>',
	        closeIcon: true,
	        useBootstrap: false,
	        backgroundDismiss: false,
	        boxWidth: '600px',
	        buttons: {
	            cancel:{text:"Cancel"},
	            'confirm': {
	                text: 'Confirm',
	                btnClass: 'btn-blue',
	                keys:['enter'],
	                action:function(){
	                	pLoadingOn();
	                	$.post(DomainUri+'/PartnerCon/PartnerUpdate',{
    						targetIDX:targetIDX,
    						name:name,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
							}else{
								AfterUpdDetails(ebuyTable,targetIDX);
								pToastr('수정이 완료되었습니다.','');
							}
							pLoadingOff();
						});
						
	                }
	            }
	        }
	    });
	});

		
});
</script>
{% endblock %}
