{% extends "/index.html" %}
{% block sortingWrap %}{% endblock %}
{% block content %}
<style>
	.setting_wrap{}
	.setting_box{display: inline-block;width: 25%;vertical-align: top;padding-right: 25px;margin-bottom: 10px;padding-bottom: 10px;}
	.setting_title_box{padding-bottom: 10px;}
	.setting_title_box span{font-size: 18px;}
	.setting_con_box{}
	.value_val {width: 100%;padding:10px 5px;}
	.value_val_textarea{height: 120px;}
	.inactive_btn{width: 100%;padding:5px;text-align: center;border: 1px solid var(--css-maincolor);}

	.ex_box{padding: 10px 0px; }
	.ex_box span{font-size: 14px;}
	.ex_chk_span{background-color: var(--css-maincolor);color: #fff;}
	.ex_span{padding-left: 5px;}

	.inactive_box{padding-top: 5px;}

	/* 라디오 버튼	*/
	.depo_with_radio_box{padding: 10px 0px;}
	.p_radio_btn{padding:0px 10px 0px 0px;}


	.not_tit{width: 100%;padding: 0px 0px 20px 0px;text-align: center;color: #f00;font-weight: bold;}

	.radio_box{height: 20px;line-height: 20px;}
</style>
<div class="setting_wrap">
	{% for key in dataPack %}
		<div class="setting_box">
			<div class="setting_title_box">
				<span class="f_big setting_title">{{key.memo}}</span>
			</div>
			{% set radio_2_s = '' %}
			{% set radio_3_s = '' %}
			{% set radio_4s = '' %}
			{% if key.status == 2 %}
				{% set radio_2_s='p_radio_s' %}
			{% elseif key.status==3 %}
				{% set radio_3_s='p_radio_s' %}
			{% elseif key.status==4 %}
				{% set radio_4_s='p_radio_s' %}
			{% endif %}
			{% set statusText2 = '' %}
			{% set statusText3 = '' %}
			{% set statusText4 = '' %}
			{% if key.idx == 1 or key.idx == 2 or key.idx == 3 or key.idx == 4 or key.idx == 9 or key.idx == 10 %}
				{% set statusText2 = '잠금' %}
				{% set statusText3 = '정상열림' %}
				{% set statusText4 = '' %}
			{% elseif key.idx == 6 %}
				{% set statusText2 = '수동' %}
				{% set statusText3 = '자동' %}
				{% set statusText4 = '가상계좌' %}
			{% elseif key.idx == 7 %}
				{% set statusText2 = '수동' %}
				{% set statusText3 = '자동' %}
				{% set statusText4 = '' %}
			{% endif %}

			{% set display_none2 = '' %}
			{% set display_none3 = '' %}
			{% set display_none4 = '' %}
			{% if statusText2 == '' %}{% set display_none2 = 'display_none' %}{% endif %}
			{% if statusText3 == '' %}{% set display_none3 = 'display_none' %}{% endif %}
			{% if statusText4 == '' %}{% set display_none4 = 'display_none' %}{% endif %}
			<div class="radio_box" data-idx="{{key.idx}}">
				<a href="javascript:void(0);" class="p_radio p_radio_btn {{radio_2_s}} {{display_none2}}" data-status="2">
                    <span class="p_radio_i"></span>
                    <span class="p_radio_f f_small">{{statusText2}}</span>
                </a>
                <a href="javascript:void(0);" class="p_radio p_radio_btn {{radio_3_s}} {{display_none3}}" data-status="3">
                    <span class="p_radio_i"></span>
                    <span class="p_radio_f f_small">{{statusText3}}</span>
                </a>
            	<a href="javascript:void(0);" class="p_radio p_radio_btn {{radio_4_s}} {{display_none4}}" data-status="4">
                    <span class="p_radio_i"></span>
                    <span class="p_radio_f f_small">{{statusText4}}</span>
                </a>
			</div>

			<div class="ex_box">
				<div class="inactive_box" data-idx="{{key.idx}}">
					<textarea class="p_textarea value_val value_val_textarea">{{key.value}}</textarea>
					<a href="javascript:void(0)" class="inactive_btn">
						<span class="f_normal">저장</span>
					</a>
				</div>
			</div>

		</div>
	{% endfor %}
</div>
<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');

	//잠금문구 저장버튼
	body.on('click','.inactive_btn',function(){
		var tmpThis=$(this);
		var value=tmpThis.siblings('.value_val').val();
	    var targetIDX = tmpThis.closest('.inactive_box').data('idx');

	    if(targetIDX == 8){
	    	if (!(/^\d+$/.test(value))) {
		        pAlert('입금 대기 시간은 숫자만 입력 가능합니다.');
		        return false;
		    }
	    }

	    console.log(value);
	    console.log(targetIDX);

	    // $.post(DomainUri+'/SettingCon/SystemValueUpdate',{
		// 	targetIDX:targetIDX,
		// 	value:value,
		// },function(data){
		// 	var obj=JSON.parse(data);
		// 	if(obj.result=="f"){
		// 		pAlert(obj.msg);
		// 	}else{
		// 		pToastr(저장이 완료되었습니다.','');
		// 	}
		// });


	});

	//라디오버튼
	body.on('click','.p_radio_btn',function(){
		var tmpThis=$(this);
		var targetStatus = tmpThis.attr('data-status');
		var targetIDX=tmpThis.closest('.radio_box').data('idx');

	    console.log(targetStatus);
	    console.log(targetIDX);

		// $.post(DomainUri+'/SettingCon/SystemStatusUpdate',{
		// 	targetIDX:targetIDX,
		// 	targetStatus:targetStatus,
		// },function(data){
		// 	var obj=JSON.parse(data);
		// 	if(obj.result=="f"){
		// 		pAlert(obj.msg);
		// 	}else{
		// 		pToastr(저장이 완료되었습니다.','');
		// 	}
		// });


	});



});
</script>


{% endblock %}
