
{% extends "/index.html" %}
{% block sortingWrap %}{% endblock %}
{% block content %}
<style>
	.checkbox-wrapper-64 input:checked + .slider {
		background-color: var(--css-maincolor);
		border: 1px solid var(--css-maincolor);
	}
	.checkbox-wrapper-64 input:focus + .slider {
		box-shadow: 0 0 1px var(--css-maincolor);
	}
	.checkbox-wrapper-64 input:checked + .slider:before {
		transform: translateX(3.4em);
		background-color: #fff;
	}
	.checkbox-wrapper-64 input[type="checkbox"] {
		visibility: hidden;
		display: none;
	}
	.checkbox-wrapper-64 *,
	.checkbox-wrapper-64 ::after,
	.checkbox-wrapper-64 ::before {
		box-sizing: border-box;
	}
	/* The switch - the box around the slider */
	.checkbox-wrapper-64 .switch {
		font-size: 17px;
		position: relative;
		display: inline-block;
		width: 3.5em;
		height: 2em;
	}
	/* Hide default HTML checkbox */
	.checkbox-wrapper-64 .switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}
	/* The slider */
	.checkbox-wrapper-64 .slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: -15px;
		bottom: 0;
		background-color: #fff;
		border: 1px solid #adb5bd;
		transition: .4s;
		border-radius: 30px;
	}
	.checkbox-wrapper-64 .slider:before {
		position: absolute;
		content: "";
		height: 1.4em;
		width: 1.4em;
		border-radius: 20px;
		left: 0.5em;
		bottom: 0.6em;
		background-color: #adb5bd;
		transition: .4s;
	}
	
	.setting_wrap{}
	.setting_box{display: inline-block;width: 25%;vertical-align: top;padding-right: 25px;margin-bottom: 10px;padding-bottom: 10px;}
	.setting_title_box{padding-bottom: 10px;}
	.setting_title_box span{font-size: 18px;}
	.setting_con_box{}
	.value_val {width: 100%;padding:10px 5px;}
	.value_val_textarea{height: 120px;}
	.inactive_btn{width: 100%;padding:5px;text-align: center;border: 1px solid var(--css-maincolor);}

	.ex_box{padding: 10px 0px; }
	.ex_box span{font-size: 14px;}
	.ex_chk_span{background-color: var(--css-maincolor);color: #fff;}
	.ex_span{padding-left: 5px;}

	.inactive_box{padding-top: 5px;}

	/* 라디오 버튼	*/
	.depo_with_radio_box{padding: 10px 0px;}
	.p_radio_btn{padding:0px 10px 0px 0px;}

	.display_flex{justify-content: space-between;}
	.not_tit{width: 100%;padding: 0px 0px 20px 0px;text-align: center;color: #f00;font-weight: bold;}
</style>
<div class="setting_wrap">
	{% set loginIDX = GetGlobals('loginIDX') %}
	{% set superAdmin = 'N' %}
	{% if loginIDX == 3 or loginIDX == 5 or loginIDX == 9 or loginIDX == 13 or loginIDX ==  6 %}
		{% set superAdmin = 'Y' %}
	{% endif %}

	{% for key in dataPack %}
		<div class="setting_box">
			<div class="setting_title_box">
				<span class="f_big setting_title">{{key.memo}}</span>
			</div>
			<div class="checkbox-wrapper-64 {% if key.status == 3 %}checked{% endif %}" data-idx="{{key.idx}}">
				{% if key.idx==8 %}
					<input type="text" class="p_input value_val" value="{{key.value}}">
					<a href="javascript:void(0)" class="inactive_btn">
						<span class="f_normal">저장</span>
					</a>
				{# idx6과 7을 같이 하면 수동쪽에서 p_radio_s가 겹침 #}
				{% elseif key.idx==6 %}
					<div class="depo_with_radio_box">
						{% if key.status == 2 %}{% set radio_2_s='p_radio_s' %}
						{% elseif key.status==3 %}{% set radio_3_s='p_radio_s' %}
						{% else %}{% set radio_4_s='p_radio_s' %}
						{% endif %}
						<a href="javascript:void(0);" class="p_radio p_radio_btn {{radio_2_s}}" data-status="2">
		                    <span class="p_radio_i"></span>
		                    <span class="p_radio_f f_small">수동</span>
		                </a>
		                <a href="javascript:void(0);" class="p_radio p_radio_btn {{radio_3_s}}" data-status="3">
		                    <span class="p_radio_i"></span>
		                    <span class="p_radio_f f_small">자동</span>
		                </a>
	                	<a href="javascript:void(0);" class="p_radio p_radio_btn {{radio_4_s}}" data-status="4">
		                    <span class="p_radio_i"></span>
		                    <span class="p_radio_f f_small">가상계좌</span>
		                </a>
					</div>
				{% elseif key.idx==7 %}
					<div class="depo_with_radio_box">
						{% if key.status == 2 %}{% set radio_5_s='p_radio_s' %}
						{% else %}{% set radio_6_s='p_radio_s' %}
						{% endif %}
						<a href="javascript:void(0);" class="p_radio p_radio_btn {{radio_5_s}}" data-status="2">
		                    <span class="p_radio_i"></span>
		                    <span class="p_radio_f f_small">수동</span>
		                </a>
		                <a href="javascript:void(0);" class="p_radio p_radio_btn {{radio_6_s}}" data-status="3">
		                    <span class="p_radio_i"></span>
		                    <span class="p_radio_f f_small">자동</span>
		                </a>
					</div>
				{% elseif key.idx==11 %}
					{% if superAdmin=="Y" %}
						<div class="depo_with_radio_box">
							{% if key.status == 2 %}{% set radio_7_s='p_radio_s' %}
							{% elseif key.status==3 %}{% set radio_8_s='p_radio_s' %}
							{% else %}{% set radio_9_s='p_radio_s' %}
							{% endif %}
							<a href="javascript:void(0);" class="p_radio p_radio_btn {{radio_7_s}}" data-status="2">
			                    <span class="p_radio_i"></span>
			                    <span class="p_radio_f f_small">기본환율</span>
			                </a>
			                <a href="javascript:void(0);" class="p_radio p_radio_btn {{radio_8_s}}" data-status="3">
			                    <span class="p_radio_i"></span>
			                    <span class="p_radio_f f_small">김프환율</span>
			                </a>
		                	<a href="javascript:void(0);" class="p_radio p_radio_btn {{radio_9_s}}" data-status="4">
			                    <span class="p_radio_i"></span>
			                    <span class="p_radio_f f_small">스태프환율</span>
			                </a>
						</div>
					{% else %}
						<span>특정 스태프만 환율을 설정할 수 있습니다.</span>
					{% endif %}
				{% else %}
					<label class="switch">
						<input type="checkbox" {% if key.status == 3 %}checked{% endif %}>
	                    <span class="slider"></span>
					</label>
				{% endif %}
			</div>
			<div class="ex_box">
				{% set idx = key.idx %}
				{% if idx==6 or idx==7 %}
					<div class="inactive_box">
						<div class="display_flex">
							<div class="inactive_title f_normal">잠금시 문구</div>
						</div>
						<textarea class="p_textarea value_val value_val_textarea">{{key.value}}</textarea>
						<a href="javascript:void(0)" class="inactive_btn">
							<span class="f_normal">저장</span>
						</a>
					</div>
				{% elseif idx==8 %}
				{% elseif idx==11 %}
					{% if superAdmin=="Y" %}
					<div class="inactive_box">
						<div class="display_flex">
							<div class="inactive_title f_normal">스태프 환율 (소수점 두번째 까지 입력)</div>
						</div>
						<textarea class="p_textarea value_val value_val_textarea">{{key.value}}</textarea>
						<a href="javascript:void(0)" class="inactive_btn">
							<span class="f_normal">저장</span>
						</a>
					</div>
					{% endif %}
				{% else %}
					<div class="inactive_box">
						<div class="display_flex">
							<div class="inactive_title f_normal">잠금시 문구</div>
							<div class="ex_span_box">
								<span class="ex_chk_span">체크: 열림</span>
								<span class="ex_span">해제: 잠금</span>
							</div>
						</div>
						<textarea class="p_textarea value_val value_val_textarea">{{key.value}}</textarea>
						<a href="javascript:void(0)" class="inactive_btn">
							<span class="f_normal">저장</span>
						</a>
					</div>
				{% endif %}
			</div>

		</div>
	{% endfor %}
</div>
<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');

	//체크버튼
	body.on('click','.slider',function(e){
		e.preventDefault()
		var tmpThis=$(this);
		var targetWrapper=tmpThis.closest('.checkbox-wrapper-64');
		var targetIDX=tmpThis.closest('.checkbox-wrapper-64').data('idx');
		var targetStatus;
		var targetStat = '';
		if(targetWrapper.hasClass('checked')){
			// targetWrapper.removeClass('checked');
			targetStatus=2;
			targetStat = '해제';
		}else{
			// targetWrapper.addClass('checked');
			targetStatus=3;
			targetStat = '체크';
		}
		var titleElement = targetWrapper.siblings('.setting_title_box');
	    var titleText = titleElement.find('.setting_title').text();

		$.confirm({
			title:'정보',
			content:'<span class="f_bigger f_bold">'+titleText+' 정보를 '+targetStat+' 하시겠습니까?</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '500px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						$.post(DomainUri+'/SettingCon/SystemStatusUpdate',{
							targetIDX:targetIDX,
							targetStatus:targetStatus,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
							}else{
								pToastr(titleText+' 수정이 완료되었습니다.','');
								location.reload();
							}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});
		
		

	});

	//잠금문구 저장버튼
	body.on('click','.inactive_btn',function(){
		var tmpThis=$(this);
		var value=tmpThis.siblings('.value_val').val();
		var targetWrapper = tmpThis.closest('.setting_box');
	    var targetIDX = targetWrapper.find('.checkbox-wrapper-64').data('idx');
	    var titleElement = targetWrapper.find('.setting_title_box .setting_title');
	    var titleText = titleElement.text()+'잠금문구를 저장 하시겠습니까';
	    if(targetIDX==11){
	    	var titleText = titleElement.text()+'을 저장 하시겠습니까';
	    }

		$.confirm({
			title:'정보',
			content:'<span class="f_bigger f_bold">'+titleText+'</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '500px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						$.post(DomainUri+'/SettingCon/SystemValueUpdate',{
							targetIDX:targetIDX,
							value:value,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
							}else{
								pToastr(titleText+' 저장이 완료되었습니다.','');
							}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});

	    


	});

	//라디오버튼
	body.on('click','.p_radio_btn',function(e){
		e.preventDefault();
		var tmpThis=$(this);
		
		var targetWrapper=tmpThis.closest('.checkbox-wrapper-64');
		var titleElement = targetWrapper.siblings('.setting_title_box');
	    var titleText = titleElement.find('.setting_title').text();
		var radioText = tmpThis.find('.p_radio_f').text();

		var targetStatus=tmpThis.attr('data-status');
		var targetIDX=tmpThis.closest('.checkbox-wrapper-64').data('idx');

		$.confirm({
			title:'정보',
			content:'<span class="f_bigger f_bold">'+titleText+' '+radioText+'(으)로 변경 하시겠습니까?</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '500px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						$.post(DomainUri+'/SettingCon/SystemStatusUpdate',{
							targetIDX:targetIDX,
							targetStatus:targetStatus,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
							}else{
								pToastr(titleText+' 저장이 완료되었습니다.','');
								location.reload();
							}
						});
					}
				},
				cancel:{text:"취소"}
				
				
			}
		});


		
	});



});
</script>


{% endblock %}
