{# {% set DomainUri=GetGlobals('DomainUri') %} #}
<style>
	.toast-info{z-index: 9999999999;}
	.flex_between{display: flex;justify-content: space-between;padding: 10px 0px 10px 10px;}
	.flex_start{display: flex;align-items: flex-start;}
	.detail_box{height: auto;}
	.change_time_box{text-align: end;}
	.change_time td{width: 200px !important;}
	.d_b{display: block !important;}
	.f_highlight{color: #00990d !important;}

	.f_red{color: #ff0600 !important;}
	.f_green{color: #35ad06 !important;}
	.w_25{width: 25%;}
	.w_50{width: 50%;}
	.w_100{width: 100%;}
	.pd_3_0{padding: 3px 0px;}

	.c_btn{background-color: var(--css-maincolor);}
	.c_btn span{color: #fff;}
	.p_d_box{width: 100%;min-height:600px;padding: 10px;margin:5px;text-align: start;background-color: #e7e7e7;}
	.p_d_box_2{width: 100%;min-height:850px;padding: 10px;margin:5px;text-align: start;background-color: #e7e7e7;}
	.p_d_box_title{padding: 0px 10px;}

	.total_mileage{color: #1f3082;}
	.client_detail_box{min-height: 80px;padding: 10px;}
	.box_detail{display:flex;padding: 4px 0px;}
	.detail_title{width: 100px;}
	.pd_left_5{padding-left: 5px;}
	.sub_title_txt{padding: 10px 0px 0px 0px;}

	.c_detail_table_wrap{padding: 10px 0px;}
    .c_detail_table_wrap table{width:100%;table-layout: fixed;}
    .tbl-content{overflow-x:auto;margin-top: 0px;border: 1px solid rgba(255,255,255,0.3); margin-bottom: 20px;}
    .c_detail_table_wrap th{padding: 5px;text-align: left;font-weight: 500;font-size: 10px;color: #000;background-color: #1f3082;border: 1px solid #000;color: #fff;text-align: center;}
    .c_detail_table_wrap td{padding: 5px;text-align: left;vertical-align:middle;font-weight: 500;font-size: 10px;color: #000;border: solid 1px rgba(0,0,0,0.4);}

    .client_d_table_box{max-height: 440px;padding:10px;overflow-y: scroll;}
    .client_d_table_box table{width: 100% !important;}

    .search_input{max-width: 120px;border: 1px solid #000;}

    .ptp_info_txt{padding-bottom: 10px;}
    .cml_box{width: calc(100% / 4);padding: 10px 0px}

    .memo_list_box{width: 100%;height: 500px;position: relative;padding: 10px 14px;overflow-y: auto;bottom: 0px;}
    .memo_list{border-bottom: 1px dashed #8d8d8d;}
/*    .memo_val_box{bottom: -150px;}*/

	.timezone_btn{display: inline-block;}
</style>

<div class="st_right_detail_con_container">

	<div class="detail_box display_flex">
		<div class="client_info_box p_d_box">
			<span class="p_d_box_title f_big f_bold">기본정보</span>
			<div class="client_detail_box">
				<div class="box_detail">
					<span class="detail_title f_normal">총마일리지</span>
					<span>:</span>
					<span class="total_mileage pd_left_5 f_normal f_bold">{{getMileage|number_format(0)}}원</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">이름</span>
					<span>:</span>
					<span class="client_name_txt pd_left_5 f_normal">{{dataPack['name']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">생년월일</span>
					<span>:</span>
					<span class="client_birth_txt pd_left_5 f_normal">{{dataPack['birth']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">휴대폰번호</span>
					<span>:</span>
					<span class="client_phone_txt pd_left_5 f_normal">{{dataPack['phone']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">등급</span>
					<span>:</span>
					<span class="client_grade_txt pd_left_5 f_normal">{{dataPack['gradeName']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">상태</span>
					<span>:</span>
					<span class="client_status_txt pd_left_5 f_normal">{{dataPack['status']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">가입시간</span>
					<span>:</span>
					<span class="client_createTime_txt pd_left_5 f_normal">{{dataPack['createTime']}} (UTC)</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">가입시간</span>
					<span>:</span>
					<span class="client_createTime_txt_kst pd_left_5 f_normal">{{ dataPack['createTime'] | date('Y-m-d H:i:s', '+9 hours') }} (KST)</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">가입시간</span>
					<span>:</span>
					<span class="client_createTime_txt_gmt pd_left_5 f_normal">{{ dataPack['createTime'] | date('Y-m-d H:i:s', '+8 hours') }} (GMT+8)</span>
				</div>
				<span class="f_normal f_bold sub_title_txt">등급수수료</span>
				<div class="box_detail">
					<span class="detail_title f_normal">기본수수료</span>
					<span>:</span>
					<span class="client_grade_defaultFeeKRW pd_left_5 f_normal">{{dataPack['defaultFeeKRW']}}원</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">출금수수료</span>
					<span>:</span>
					<span class="client_grade_withFeeKRW pd_left_5 f_normal">{{dataPack['withFeeKRW']}}원</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">최소출금금액</span>
					<span>:</span>
					<span class="client_grade_withMinKRW pd_left_5 f_normal">{{dataPack['withMinKRW']}}원</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">P2P거래수수료</span>
					<span>:</span>
					<span class="client_grade_tradeFeePer pd_left_5 f_normal">{{dataPack['tradeFeePer']}}%</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">지불대행수수료</span>
					<span>:</span>
					<span class="client_grade_tranFeePer pd_left_5 f_normal">{{dataPack['tranFeePer']}}%</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">출금대행수수료</span>
					<span>:</span>
					<span class="client_grade_withFeePer pd_left_5 f_normal">{{dataPack['withFeePer']}}%</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">등급상향조건</span>
					<span>:</span>
					<span class="client_grade_upto pd_left_5 f_normal">$ {{dataPack['upto']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">누적거래USD</span>
					<span>:</span>
					<span class="client_grade_upto pd_left_5 f_normal">$ {{ClientAllAmountSumData['AllAmountSum']|number_format(2)}}</span>
				</div>


			</div>
		</div>
		<div class="client_auth_box p_d_box">
			<span class="p_d_box_title f_big f_bold">인증정보</span>
			<div class="client_detail_box">
				<span class="f_normal f_bold sub_title_txt">디바이스</span>
				<div class="box_detail">
					<span class="detail_title f_normal">디바이스</span>
					<span>:</span>
					<span class="client_device pd_left_5 f_normal" style="width: calc(100% - 100px);">{{dataPack['deviceNumber']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">타입</span>
					<span>:</span>
					<span class="client_device_type pd_left_5 f_normal">{{dataPack['deviceType']}}</span>
				</div>
				<span class="f_normal f_bold sub_title_txt">이메일</span>
				<div class="box_detail">
					<span class="detail_title f_normal">이메일</span>
					<span>:</span>
					<span class="client_email_txt pd_left_5 f_normal">{{emailPack['email']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">인증시간</span>
					<span>:</span>
					<span class="client_email_createTime_txt pd_left_5 f_normal">{{emailPack['createTime']}} (UTC)</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">인증시간</span>
					<span>:</span>
					<span class="client_email_createTime_txt_kst pd_left_5 f_normal">{{emailPack['createTime'] | date('Y-m-d H:i:s', '+9 hours')}} (KST)</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">인증시간</span>
					<span>:</span>
					<span class="client_email_createTime_txt_gmt pd_left_5 f_normal">{{emailPack['createTime'] | date('Y-m-d H:i:s', '+8 hours')}} (GMT+8)</span>
				</div>
				<span class="f_normal f_bold sub_title_txt">계좌</span>
				<div class="box_detail">
					<span class="detail_title f_normal">은행명</span>
					<span>:</span>
					<span class="client_bank_name_txt pd_left_5 f_normal">{{bankPack['bankName']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">은행코드</span>
					<span>:</span>
					<span class="client_bank_code_txt pd_left_5 f_normal">{{bankPack['bankCode']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">예금주</span>
					<span>:</span>
					<span class="client_bank_accountHolder_txt pd_left_5 f_normal">{{bankPack['accountHolder']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">계좌번호</span>
					<span>:</span>
					<span class="client_bank_accountNumber_txt pd_left_5 f_normal">{{bankPack['accountNumber']}}</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">인증시간</span>
					<span>:</span>
					<span class="client_bank_createTime_txt pd_left_5 f_normal">{{bankPack['createTime']}} (UTC)</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">인증시간</span>
					<span>:</span>
					<span class="client_bank_createTime_txt_kst pd_left_5 f_normal">{{bankPack['createTime'] | date('Y-m-d H:i:s', '+9 hours')}} (KST)</span>
				</div>
				<div class="box_detail">
					<span class="detail_title f_normal">인증시간</span>
					<span>:</span>
					<span class="client_bank_createTime_txt_gmt pd_left_5 f_normal">{{bankPack['createTime'] | date('Y-m-d H:i:s', '+8 hours')}} (GMT+8)</span>
				</div>
			</div>
		</div>
		<div class="client_bank_box p_d_box">
			<span class="p_d_box_title f_big f_bold">메모내역</span>
			<div class="memo_detail_box ">
				<div class="memo_wrap">
					<div class="memo_list_box">
						{% if memoData %}
							{% for key in memoData %}
								{% set noneClass = 'display_none' %}
								{% if key.writerType == 't' %}
									{% set noneClass = '' %}
								{% endif %}
								<div class="memo_list">
									<span class="f_small memo_txt">{{key.memo}}</span>
									<span class="f_small memo_txt">작성자 : {{key.staffName}}</span>
									<span class="f_small memo_txt">KST : {{key.createTime|date('Y-m-d H:i:s', '+9 hours')}}</span>
								</div>
							{% endfor %}
						{% else %}
							<span class="f_normal">메모내역이 존재하지 않습니다.</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="client_bank_box p_d_box">
			<span class="p_d_box_title f_big f_bold">히스토리</span>
			<div class="flex_between">
				<input type="text" class="p_input search_input" placeholder="검색">
				<div class="change_time_box">
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="UTC"><span class="f_normal">UTC</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="KST"><span class="f_normal">KST</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="GMT+8"><span class="f_normal">GMT+8</span></a>
				</div>
			</div>
			<div class="c_detail_table_wrap client_d_table_box scroll_change">
				<table>
				    <tbody>
				    	{% if clientHistory %}
	    			        <tr>
	    			            {% for key in clientHistory[0]|keys %}
	    			                <th>{{ key }}</th>
	    			            {% endfor %}
	    			        </tr>
		    			    {% for row in clientHistory %}
		    			        <tr>
		    			            {# {% for column in row %}
		    		                    <td>{{ column }}</td>
		    			            {% endfor %} #}
		    			            <td class="change_time">{{ row.시간 }} </td>
		    			            <td>{{ row.내용 }}</td>
		    			            <td>{{ row.Ex }}</td>
		    			        </tr>
		    			    {% endfor %}
						{% else %}
			            <!-- 데이터가 없을 때의 메시지 -->
				            <tr>
				                <td colspan="{{ clientHistory[0]|length }}">히스토리가 존재하지 않습니다.</td>
				            </tr>
				        {% endif %}
				    </tbody>
				</table>
			</div>
		</div>
		<div class="client_transaction_box p_d_box">
			<span class="p_d_box_title f_big f_bold">잔액 변동내역</span>
			<div class="flex_between">
				<input type="text" class="p_input search_input" placeholder="검색">
				<div class="change_time_box">
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="UTC"><span class="f_normal">UTC</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="KST"><span class="f_normal">KST</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="GMT+8"><span class="f_normal">GMT+8</span></a>
				</div>
			</div>
			<div class="c_detail_table_wrap client_d_table_box scroll_change">
				<table>
				    <tbody>
				    	{% if clientMileageChangeHistory %}
					        <tr>
					            {% for key in clientMileageChangeHistory[0]|keys %}
					                <th>{{ key }}</th>
					            {% endfor %}
					        </tr>
						    {% for row in clientMileageChangeHistory %}
						        <tr>
						            {% set 증감금액 = row.증감금액 %}
						            {% set 차감금액 = row.차감금액 %}

		    		            	{% if row.증감금액 == '' %}
		    		            		{% set 증감금액 = '-' %}
		    		            	{% else %}
		    		            		{% set 증감금액 = row.증감금액 | number_format %}
		    		            	{% endif %}

		    		            	{% if row.차감금액 == '' %}
		    		            		{% set 차감금액 = '-' %}
				            		{% else %}
				            			{% set 차감금액 = row.차감금액 | number_format %}
		    		            	{% endif %}

		                            {% set statusColor = '' %}
		    						{% if row.상태 == '마일리지 차감' or row.상태 == '스태프 차감' or row.상태 == '지불대행 차감' or row.상태 == 'P2P거래 차감' %}
		    	                        {% set statusColor = 'f_red' %}
		    	                    {% elseif row.상태 == '마일리지 증감' or row.상태 == '스태프 증감' or row.상태 == '출금대행 증감' or row.상태 == 'P2P거래 증감' %}
		    	                        {% set statusColor = 'f_green' %}
		    	                    {% endif %}

						            <td class="{{statusColor}}">{{ row.상태 }}</td>
						            <td class="change_time">{{ row.요청시간 }}</td>
						            <td>{{ 증감금액 }} </td>
						            <td>{{ 차감금액 }}</td>
						            <td>{{ row.남은금액 | number_format }}</td>
						        </tr>
						    {% endfor %}
				    	{% else %}
			            <!-- 데이터가 없을 때의 메시지 -->
				            <tr>
				                <td colspan="{{ clientMileageChangeHistory[0]|length }}">잔액 변동내역이 존재하지 않습니다.</td>
				            </tr>
				        {% endif %}
				    </tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="detail_box display_flex">
		<div class="mileage_depo_box p_d_box_2">
			<span class="p_d_box_title f_big f_bold">입금내역</span>
			<div class="client_detail_box">
				<div class="display_flex pd_3_0">
					<div class="box_detail w_25">
						<span class="f_normal">입금횟수</span>
						<span>:</span>
						<span class="total_depo_count pd_left_5 f_normal">{{clientMileageDepositDetailPack['totalDeposit']}}회</span>
					</div>
					<div class="box_detail w_25">
						<span class="f_normal">수동입금</span>
						<span>:</span>
						<span class="manual_depo_count pd_left_5 f_normal">{{clientMileageDepositDetailPack['manualDeposit']}}회</span>
					</div>
					<div class="box_detail w_25">
						<span class="f_normal">자동입금</span>
						<span>:</span>
						<span class="depo_auto_count pd_left_5 f_normal">{{clientMileageDepositDetailPack['autoDeposit']}}회</span>
					</div>
					<div class="box_detail w_25">
						<span class="f_normal">가상계좌입금</span>
						<span>:</span>
						<span class="depo_account_count pd_left_5 f_normal">{{clientMileageDepositDetailPack['accountDeposit']}}회</span>
					</div>
				</div>
				<div class="display_flex pd_3_0">
					<div class="box_detail w_50">
						<span class="f_normal">총 입금액</span>
						<span>:</span>
						<span class="total_depo_amount pd_left_5 f_normal">{{clientMileageDepositDetailPack['totalAmount']}}원</span>
					</div>
					<div class="box_detail w_50">
						<span class="f_normal">평균 입금액</span>
						<span>:</span>
						<span class="total_depo_avg_amount pd_left_5 f_normal">{{clientMileageDepositDetailPack['avgWithAmount']}}원</span>
					</div>
				</div>
				<div class="display_flex pd_3_0">
					<div class="box_detail w_50">
						<span class="f_normal">최대 입금액</span>
						<span>:</span>
						<span class="total_depo_max_amount pd_left_5 f_normal">{{clientMileageDepositDetailPack['maxWithAmount']}}원</span>
					</div>
					<div class="box_detail w_50">
						<span class="f_normal">최소 입금액</span>
						<span>:</span>
						<span class="total_depo_min_amount pd_left_5 f_normal">{{clientMileageDepositDetailPack['minWithAmount']}}원</span>
					</div>
				</div>
				<div class="display_flex pd_3_0">
					<div class="box_detail pd_3_0">
						<span class="f_normal">최근이용시간</span>
						<span>:</span>
						<span class="depo_recentTime pd_left_5 f_normal">{{clientMileageDepositDetailPack['recentTime']}}</span>
					</div>
				</div>
			</div>
			<div class="flex_between">
				<input type="text" class="p_input search_input" placeholder="검색">
				<div class="change_time_box">
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="UTC"><span class="f_normal">UTC</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="KST"><span class="f_normal">KST</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="GMT+8"><span class="f_normal">GMT+8</span></a>
				</div>
			</div>
			<div class="c_detail_table_wrap client_d_table_box scroll_change">
				<table>
				    <tbody>
				    	{% if clientMileageDepositPack %}
					        <tr>
					            {% for key in clientMileageDepositPack[0]|keys %}
					                <th>{{ key }}</th>
					            {% endfor %}
					        </tr>
						    {% for row in clientMileageDepositPack %}
						        <tr>
						            {# {% for column in row %}
					                    <td class="{{statusColor}}">{{ column }}</td>
						            {% endfor %} #}
		        	                {% set statusColor = '' %}
		                            {% if row.상태 == '기타취소' or row.상태 == '스태프취소' or row.상태 == '유저취소' or row.상태 == '가상계좌실패' or row.상태 == '크론취소' %}
		                                {% set statusColor = 'f_red' %}
		                            {% elseif row.상태 == '수동완료' or row.상태 == '자동완료' or row.상태 == '가상계좌완료' %}
		                                {% set statusColor = 'f_green' %}
		                            {% endif %}

						            <td class="{{statusColor}}">{{ row.상태 }}</td>
						            <td>{{ row.금액 }} </td>
						            <td class="change_time">{{ row.요청시간 }}</td>
						            <td>{{ row.계좌번호 }}</td>
						            <td>{{ row.예금주 }}</td>
						            <td>{{ row.승인스태프 }}</td>
						            <td>{{ row.완료시간 }}</td>
						        </tr>
						    {% endfor %}
						{% else %}
				            <!-- 데이터가 없을 때의 메시지 -->
				            <tr>
				                <td colspan="{{ clientMileageDepositPack[0]|length }}">입금내역이 존재하지 않습니다.</td>
				            </tr>
				        {% endif %}
				    </tbody>
				</table>
			</div>
		</div>
		<div class="mileage_with_box p_d_box_2">
			<span class="p_d_box_title f_big f_bold">출금내역</span>
			<div class="client_detail_box">
				<div class="display_flex pd_3_0">
					<div class="box_detail w_25">
						<span class="f_normal">출금횟수</span>
						<span>:</span>
						<span class="total_with_count pd_left_5 f_normal">{{clientMileageWithdrawalDetailPack['totalWithdrawal']}}회</span>
					</div>
					<div class="box_detail w_25">
						<span class="f_normal">수동출금</span>
						<span>:</span>
						<span class="with_manual_count pd_left_5 f_normal">{{clientMileageWithdrawalDetailPack['manualWithdrawal']}}회</span>
					</div>
					<div class="box_detail w_25">
						<span class="f_normal">자동출금</span>
						<span>:</span>
						<span class="auto_manual_count pd_left_5 f_normal">{{clientMileageWithdrawalDetailPack['autoWithdrawal']}}회</span>
					</div>
					<div class="box_detail w_25"></div>
				</div>
				<div class="display_flex pd_3_0">
					<div class="box_detail w_50">
						<span class="f_normal">총 출금액</span>
						<span>:</span>
						<span class="total_with_amount pd_left_5 f_normal">{{clientMileageWithdrawalDetailPack['totalAmount']}}원</span>
					</div>
					<div class="box_detail w_50">
						<span class="f_normal">평균 출금액</span>
						<span>:</span>
						<span class="total_with_avg_amount pd_left_5 f_normal">{{clientMileageWithdrawalDetailPack['avgWithAmount']}}원</span>
					</div>
				</div>
				<div class="display_flex pd_3_0">
					<div class="box_detail w_50">
						<span class="f_normal">최대 출금액</span>
						<span>:</span>
						<span class="total_with_max_amount pd_left_5 f_normal">{{clientMileageWithdrawalDetailPack['maxWithAmount']}}원</span>
					</div>
					<div class="box_detail w_50">
						<span class="f_normal">최소 출금액</span>
						<span>:</span>
						<span class="total_with_min_amount pd_left_5 f_normal">{{clientMileageWithdrawalDetailPack['minWithAmount']}}원</span>
					</div>
				</div>
				<div class="display_flex pd_3_0">
					<div class="box_detail">
						<span class="f_normal">최근이용시간</span>
						<span>:</span>
						<span class="with_recentTime pd_left_5 f_normal">{{clientMileageWithdrawalDetailPack['recentTime']}}</span>
					</div>
				</div>
			</div>
			<div class="flex_between">
				<input type="text" class="p_input search_input" placeholder="검색">
				<div class="change_time_box">
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="UTC"><span class="f_normal">UTC</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="KST"><span class="f_normal">KST</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="GMT+8"><span class="f_normal">GMT+8</span></a>
				</div>
			</div>
			<div class="c_detail_table_wrap client_d_table_box scroll_change">
				<table>
				    <tbody>
				        {% if clientMileageWithdrawalPack %}
				            <tr>
				                {% for key in clientMileageWithdrawalPack[0]|keys %}
				                    <th>{{ key }}</th>
				                {% endfor %}
				            </tr>
				            {% for row in clientMileageWithdrawalPack %}
				                <tr>
				                    {% set statusColor = '' %}
				                    {% if row.상태 == '기타취소' or row.상태 == '스태프취소' %}
				                        {% set statusColor = 'f_red' %}
				                    {% elseif row.상태 == '수동완료' or row.상태 == '자동완료' %}
				                        {% set statusColor = 'f_green' %}
				                    {% endif %}
				                    <td class="{{statusColor}}">{{ row.상태 }}</td>
				                    <td>{{ row.실출금액 }} </td>
				                    <td>{{ row.수수료 }} </td>
				                    <td class="change_time">{{ row.요청시간 }}</td>
				                    <td>{{ row.계좌번호 }}</td>
				                    <td>{{ row.예금주 }}</td>
				                    <td>{{ row.승인스태프 }}</td>
				                    <td>{{ row.완료시간 }}</td>
				                </tr>
				            {% endfor %}
				        {% else %}
				            <!-- 데이터가 없을 때의 메시지 -->
				            <tr>
				                <td colspan="{{ clientMileageWithdrawalPack[0]|length }}">출금내역이 존재하지 않습니다.</td>
				            </tr>
				        {% endif %}
				    </tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="detail_box display_flex">
		<div class="transaction_box p_d_box_2">
			<span class="p_d_box_title f_big f_bold">지불대행내역</span>
			<div class="client_detail_box">
				<div class="display_flex pd_3_0">
					<div class="box_detail w_25">
						<span class="f_normal">지불대행 횟수</span>
						<span>:</span>
						<span class="total_depo_count pd_left_5 f_normal">{{clientDepositDetailPack['totalDeposit']}}회</span>
					</div>
				</div>
				<span class="f_normal d_b w_100">지불대행 이메일</span>
				<div class="box_detail" style="flex-wrap: wrap;">
					{% for key in clientMarketList %}
						<div class="cml_box">
							<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{key.referenceId}}">
							    <span class="f_small">{{key.referenceId}}</span>
							</a>
							<span class="d_b p_i_con">{{key.marketName}}(코드:{{key.marketCode}})</span>
						</div>
					{% endfor %}
				</div>
				<div class="display_flex pd_3_0">
					<div class="box_detail w_50">
						<span class="f_normal">총 지불대행 금액</span>
						<span>:</span>
						<span class="total_depo_amount pd_left_5 f_normal">{{clientDepositDetailPack['totalAmount']}}원</span>
					</div>
					<div class="box_detail w_50">
						<span class="f_normal">평균 지불대행 금액</span>
						<span>:</span>
						<span class="total_depo_avg_amount pd_left_5 f_normal">{{clientDepositDetailPack['avgWithAmount']}}원</span>
					</div>
				</div>
				<div class="display_flex pd_3_0">
					<div class="box_detail w_50">
						<span class="f_normal">최대 지불대행 금액</span>
						<span>:</span>
						<span class="total_depo_max_amount pd_left_5 f_normal">{{clientDepositDetailPack['maxWithAmount']}}원</span>
					</div>
					<div class="box_detail w_50">
						<span class="f_normal">최소 지불대행 금액</span>
						<span>:</span>
						<span class="total_depo_min_amount pd_left_5 f_normal">{{clientDepositDetailPack['minWithAmount']}}원</span>
					</div>
				</div>
			</div>
			<div class="flex_between">
				<input type="text" class="p_input search_input" placeholder="검색">
				<div class="change_time_box">
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="UTC"><span class="f_normal">UTC</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="KST"><span class="f_normal">KST</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="GMT+8"><span class="f_normal">GMT+8</span></a>
				</div>
			</div>
			<div class="c_detail_table_wrap client_d_table_box scroll_change">
				<table>
				    <tbody>
				    	{% if clientDepositPack %}
					        <tr>
					            {# {% for key in clientDepositPack[0]|keys %}
					                <th>{{ key }}</th>
					            {% endfor %} #}
					            <th>상태</th>
					            <th>시간</th>
					            <th>마켓코드</th>
					            <th>마켓이름</th>
					            <th>지불대행금액</th>
					            <th>환율</th>
					            <th>유저수수료</th>
					            <th>금액</th>
					            <th>InvoiceID</th>
					            <th>지불대행이메일</th>
					        </tr>
						    {% for row in clientDepositPack %}
						        <tr>
		        	                {% set statusColor = '' %}
		                            {% if row.상태 == '' %}
		                                {% set statusColor = 'f_red' %}
		                            {% elseif row.상태 == '지불대행 완료' %}
		                                {% set statusColor = 'f_green' %}
		                            {% endif %}
						            <td class="{{statusColor}}">{{ row.상태 }}</td>
						            <td class="change_time">{{ row.시간 }} </td>
						            <td>{{ row.마켓코드 }} </td>
						            <td>{{ row.마켓이름 }} </td>
						            <td>$ {{ row.지불대행금액 }} </td>
						            <td>{{ row.환율 }} </td>
						            <td>{{ row.유저수수료|number_format(0) }}원</td>
						            <td>{{ row.금액|number_format(0) }}원 </td>
						            <td>{{ row.InvoiceID }} </td>
						            <td>{{ row.지불대행이메일 }} </td>
						        </tr>
						    {% endfor %}
						{% else %}
			            <!-- 데이터가 없을 때의 메시지 -->
				            <tr>
				                <td colspan="{{ clientDepositPack[0]|length }}">지불대행 내역이 존재하지 않습니다.</td>
				            </tr>
				        {% endif %}
				    </tbody>
				</table>
			</div>
		</div>
		<div class="withdrawal_box p_d_box_2">
			<span class="p_d_box_title f_big f_bold">출금대행내역</span>
			<div class="client_detail_box">
				<div class="display_flex pd_3_0">
					<div class="box_detail w_25">
						<span class="f_normal">출금대행 횟수</span>
						<span>:</span>
						<span class="total_depo_count pd_left_5 f_normal">{{clientWithdrawalDetailPack['totalDeposit']}}회</span>
					</div>
				</div>
				<div class="display_flex pd_3_0">
					<div class="box_detail w_50">
						<span class="f_normal">총 출금대행 금액</span>
						<span>:</span>
						<span class="total_depo_amount pd_left_5 f_normal">{{clientWithdrawalDetailPack['totalAmount']}}원</span>
					</div>
					<div class="box_detail w_50">
						<span class="f_normal">평균 출금대행 금액</span>
						<span>:</span>
						<span class="total_depo_avg_amount pd_left_5 f_normal">{{clientWithdrawalDetailPack['avgWithAmount']}}원</span>
					</div>
				</div>
				<div class="display_flex pd_3_0">
					<div class="box_detail w_50">
						<span class="f_normal">최대 출금대행 금액</span>
						<span>:</span>
						<span class="total_depo_max_amount pd_left_5 f_normal">{{clientWithdrawalDetailPack['maxWithAmount']}}원</span>
					</div>
					<div class="box_detail w_50">
						<span class="f_normal">최소 출금대행 금액</span>
						<span>:</span>
						<span class="total_depo_min_amount pd_left_5 f_normal">{{clientWithdrawalDetailPack['minWithAmount']}}원</span>
					</div>
				</div>
			</div>
			<div class="flex_between">
				<input type="text" class="p_input search_input" placeholder="검색">
				<div class="change_time_box">
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="UTC"><span class="f_normal">UTC</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="KST"><span class="f_normal">KST</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="GMT+8"><span class="f_normal">GMT+8</span></a>
				</div>
			</div>
			<div class="c_detail_table_wrap client_d_table_box scroll_change">
				<table>
				    <tbody>
				    	{% if clientWithdrawalPack %}
					        <tr>
					            {# {% for key in clientWithdrawalPack[0]|keys %}
					                <th>{{ key }}</th>
					            {% endfor %} #}
					            <th>상태</th>
								<th>시간</th>
								<th>마켓코드</th>
								<th>마켓이름</th>
								<th>지불대행금액</th>
								<th>환율</th>
								<th>유저수수료</th>
								<th>금액</th>
								<th>InvoiceID</th>
								<th>지불대행이메일</th>
					        </tr>
						    {% for row in clientWithdrawalPack %}
						        <tr>
		        	                {% set statusColor = '' %}
		                            {% if row.상태 == '' %}
		                                {% set statusColor = 'f_red' %}
		                            {% elseif row.상태 == '출금대행 완료' %}
		                                {% set statusColor = 'f_green' %}
		                            {% endif %}
						            <td class="{{statusColor}}">{{ row.상태 }}</td>
						            {# <td>{{ row.결과 }}</td> #}
						            <td class="change_time">{{ row.시간 }} </td>
						            <td>{{ row.마켓코드 }} </td>
						            <td>{{ row.마켓이름 }} </td>
						            <td>$ {{ row.출금대행금액 }} </td>
						            <td>{{ row.환율 }} </td>
						            <td>{{ row.유저수수료|number_format(0) }}원</td>
						            <td>{{ row.금액|number_format(0) }}원 </td>
						            <td>{{ row.InvoiceID }} </td>
						            <td>{{ row.지불대행이메일 }} </td>
						        </tr>
						    {% endfor %}
						{% else %}
			            <!-- 데이터가 없을 때의 메시지 -->
				            <tr>
				                <td colspan="{{ clientWithdrawalPack[0]|length }}">출금대행 내역이 존재하지 않습니다.</td>
				            </tr>
				        {% endif %}
				    </tbody>
				</table>
			</div>
		</div>
	</div>
	{# -----------------------------------------P2P--------------------------------------- #}
	<div class="detail_box display_flex">
		<div class="transaction_box p_d_box_2">
			<span class="p_d_box_title f_big f_bold">P2P거래내역</span>
			<div class="client_detail_box">
				<div class="flex_start">
					<div class="net_box w_50">
						<span class="f_normal ptp_info_txt d_b">넷텔러 계정 리스트</span>
						{% for key in clientPtpAccountPack %}
							{% if key.typeName == '넷텔러' %}
								<div class="ptp_info_box pd_3_0">
									<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{key['account']}}">
									    <span class="f_small">{{key['account']}} | {{key['createTime']}}</span>
									</a>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="scr_box w_50">
						<span class="f_normal ptp_info_txt d_b">스크릴 계정 리스트</span>
						{% for key in clientPtpAccountPack %}
							{% if key.typeName == '스크릴' %}
								<div class="ptp_info_box pd_3_0">
									<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{key['account']}}">
									    <span class="f_small">{{key['account']}} | {{key['createTime']}}</span>
									</a>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="flex_between">
				<input type="text" class="p_input search_input" placeholder="검색">
				<div class="change_time_box">
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="UTC"><span class="f_normal">UTC</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="KST"><span class="f_normal">KST</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="GMT+8"><span class="f_normal">GMT+8</span></a>
				</div>
			</div>
			<div class="c_detail_table_wrap client_d_table_box scroll_change">
				<table>
				    <tbody>
				    	{% if clientPtpData %}
				    		<tr>
					            {% for key in clientPtpData[0]|keys %}
					                <th>{{ key }}</th>
					            {% endfor %}
					        </tr>
						    {% for row in clientPtpData %}
						        <tr>
		        	                {% set statusColor = '' %}
		        	                {% set fontBold = '' %}
		        	                {% set clientName = dataPack['name'] %}
						            <td class="{{statusColor}}">{{ row.상태 }}</td>
						            <td class="change_time">{{ row.신청일시 }} </td>
						            <td class="change_time">{{ row.종료일시 }} </td>
						            <td>$ {{ row.수량 }} </td>
						            <td>{{ row.단가 }} </td>
						            <td>{{ row.구매자계정이메일 }}</td>
						            <td>{{ row.전자화폐 }}</td>
						            <td class="{% if clientName == row.구매자 %}f_highlight{% endif %}">{{ row.구매자 }} </td>
						            <td>{{ row.구매자전자화폐계정 }} </td>
						            <td class="{% if clientName == row.판매자 %}f_highlight{% endif %}">{{ row.판매자 }} </td>
						            <td>{{ row.판매자전자화폐계정 }} </td>
						            <td>{{ row.합계금액 }} </td>
						            <td>{{ row.구매금액 }} </td>
						            <td>{{ row.판매금액 }} </td>
						        </tr>
						    {% endfor %}
						{% else %}
			            <!-- 데이터가 없을 때의 메시지 -->
				            <tr>
				                <td colspan="{{ clientPtpData[0]|length }}">P2P 거래내역이 존재하지 않습니다.</td>
				            </tr>
				        {% endif %}
				    </tbody>
				</table>
			</div>
		</div>

		<div class="transaction_box p_d_box_2">
			<span class="p_d_box_title f_big f_bold">누적거래량 USD</span>
			<div class="client_detail_box">
				<div class="flex_start">
					<div class="box_detail w_50">
						<span class="f_normal">누적합계</span>
						<span>:</span>
						<span class="total_mileage pd_left_5 f_normal f_bold">$ {{ClientAllAmountSumData['AllAmountSum']|number_format(2)}}</span>
					</div>
				</div>
			</div>
			<div class="flex_between">
				<input type="text" class="p_input search_input" placeholder="검색">
				<div class="change_time_box">
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="UTC"><span class="f_normal">UTC</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="KST"><span class="f_normal">KST</span></a>
					<a href="javascript:void(0)" class="timezone_btn p_btn" data-timezone="GMT+8"><span class="f_normal">GMT+8</span></a>
				</div>
			</div>
			<div class="c_detail_table_wrap client_d_table_box scroll_change">
				<table>
				    <tbody>
				    	{% if ClientAllAmountData %}
				    		<tr>
					            <th>USD</th>
								<th>시간</th>
								<th>구분</th>
					        </tr>
						    {% for row in ClientAllAmountData %}
	                            {% set statusTxt = '에러' %}
	    						{% if row.statusIDX == '206101' %}
	    	                        {% set statusTxt = '구이바이내역합계' %}
	    	                    {% elseif row.statusIDX == '906101' %}
	    	                        {% set statusTxt = '지불대행' %}
	    	                    {% elseif row.statusIDX == '251401' %}
	    	                        {% set statusTxt = 'P2P' %}
	    	                    {% endif %}
						        <tr>
						            <td>$ {{ row.amount }} </td>
						            <td class="change_time">{{ row.createTime }} </td>
						            <td>{{ statusTxt }} </td>
						        </tr>
						    {% endfor %}
						{% else %}
			            <!-- 데이터가 없을 때의 메시지 -->
				            <tr>
				                <td colspan="{{ ClientAllAmountData[0]|length }}">거래내역이 존재하지 않습니다.</td>
				            </tr>
				        {% endif %}
				    </tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var clientIDX= "{{targetIDX}}";

	// $(".memo_list_box").animate({ scrollTop: $(document).height() }, 0);

	$('.change_time').each(function() {
	    var utcTimeString = $(this).text();
	    $(this).data('originalUtcTime', utcTimeString);
	});

	body.on('click', '.timezone_btn', function() {
	    var timezone = $(this).data('timezone');
	    // 모든 td.change_time 엘리먼트를 가져와서 각각의 시간을 변환
	    $('.change_time').each(function() {
	        var originalUtcTimeString = $(this).data('originalUtcTime');
	        var utcTime = new Date(originalUtcTimeString);
	        var localTime;
	        switch (timezone) {
	            case 'KST':
	                localTime = new Date(utcTime.getTime() + (9 * 60 * 60 * 1000));
	                break;
	            case 'GMT+8':
	                localTime = new Date(utcTime.getTime() + (8 * 60 * 60 * 1000));
	                break;
	            default:
	                localTime = utcTime;
	        }
	        var formattedTime = localTime.getFullYear() + '-' +
	            ('0' + (localTime.getMonth() + 1)).slice(-2) + '-' +
	            ('0' + localTime.getDate()).slice(-2) + ' ' +
	            ('0' + localTime.getHours()).slice(-2) + ':' +
	            ('0' + localTime.getMinutes()).slice(-2) + ':' +
	            ('0' + localTime.getSeconds()).slice(-2);

	        $(this).text(formattedTime + ' (' + timezone + ')');
	    });
	});

	body.on('keyup','.search_input',function(){
		var searchKeyword = $(this).val().toLowerCase();

	    // 현재 입력란의 부모 .c_detail_table_wrap table tbody 찾기
	    var tbody = $(this).parents('.flex_between').next('.c_detail_table_wrap').find('table tbody');

	    // 모든 행 숨기기
	    tbody.find('tr:not(:first-child)').hide();

	    // 두 번째 tr부터 검색 시작
	    tbody.find('tr:not(:first-child)').each(function() {
	        var rowContainsKeyword = false;

	        $(this).find('td').each(function() {
	            var cellText = $(this).text().toLowerCase();
	            if (cellText.indexOf(searchKeyword) !== -1) {
	                rowContainsKeyword = true;
	                return false;
	            }
	        });

	        if (rowContainsKeyword) {
	            $(this).show();
	        }
	    });
	});

	var pClipboard=new ClipboardJS('.p_clipboard_btn');
	body.on('click','.p_clipboard_btn',function(){
		pToastr('클립보드에 복사되었습니다','');
	});

	function pToastr(msg,uri){
	toastr.options = {
		// "closeButton": true,
		"closeButton": false,
		"debug": false,
		"progressBar": true,
		"positionClass": "toast-bottom-center",
		"showDuration": "200",
		"hideDuration": "200",
		"preventDuplicates" : true,
		// "timeOut": 300000,
		"timeOut": 3000,
		"extendedTimeOut": 6000,
		"showEasing": "swing",
		"hideEasing": "linear",
		"showMethod": "fadeIn",
		"hideMethod": "fadeOut",
		"onclick": function(){
		}
	};
	toastr.info('<span class="f_normal">'+msg+'</span>', '');
}


});
</script>