{% extends "/index.html" %}

{% block content %}
<style>
	.p_td_name{color: #007bff;}
	.p_td_status{width: 80px;}
	.st_bot_sorting_box{width: 240px;margin-top:0px;/*height: calc(100% - 40px);*/}

	.c_btn , .client_balance_btn{background-color: var(--css-maincolor);}
	.c_btn span , .client_balance_btn span{color: #fff;}

	.p_i_con_box{width: calc(100% - 110px);}
	.long_txt{width: 100%;overflow:hidden;}

	.mileage_text{color: #1f3082;}

	.detail_flex{display: flex;justify-content: space-between;align-items: center;}


	.now_balance_box{padding: 5px 0px;}
	.balance_radio_box{padding: 20px 0px 20px 0px;}
	.balance_radio_chk{padding: 0px 5px;}
	.balance_txt{font-weight: 500;font-size: 14px;}
	.balance_box{display: flex;justify-content: space-between;align-items: center;padding-bottom: 10px;}
	.balace_exp_txt{width: 100px;}
	.input_100{width: calc(100% - 100px);font-weight: 500;}

	.tr_red{background-color:#fddfdf ;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>oldIDX</th>
				<th>statusIDX</th>
				<th>last_login</th>
				<th>name</th>
				<th>diffNameStat</th>
				<th>oldMileage</th>
				<th>newMileage</th>
				<th>diffMileageStat</th>
				<th>diffMileage</th>
				<th>M_LEVEL</th>
				<th>M_LEVELNAME</th>
				<th>diffGradeStat</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info(급하면 스크립트 주석을 푸세요)</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';

	function resetSortingCount(){
		var columnsArr = [];
		$('[data-column]').each(function() {
			var columnIndex = $(this).attr('data-column');
			if (columnsArr.indexOf(columnIndex) === -1) {
				columnsArr.push(columnIndex);
			}
		});

		var columnsVal = columnsArr.map(function(value) {
			var searchValues = $('.sorting_box').not('.display_none').find('[data-column="' + value + '"].p_chkbox_s').map(function() {
				var searchValue = $(this).attr('data-sel') || '';
			    return searchValue === '전체' ? '' : searchValue;
			}).get().join('|');
			return searchValues;
		});

		$.post(DomainUri+"/ClientCon/ResetSortingCount",{
			columnsVal:columnsVal,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=='t'){
				var data=obj.data;
				var count=data.count;
				$('.total_num').html('Total '+count);
			}
		});
	}

	resetSortingCount();

	//리셋버튼
	body.on('click','.sort_reset_btn',function(){
		resetSortingCount();
	});

	//서치버튼
	body.on('click', '.sort_apply_btn', function () {
		resetSortingCount();
	});

	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[2,'asc'],[8,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/oldEbuyClientCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	// d.startDate=startDate;
	        	// d.endDate=endDate;
	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":""},
	        { "data": "oldIDX", "class":""},
	        { "data": "statusIDX", "class":""},
	        { "data": "last_login", "class":""},
	        { "data": "name", "class":"p_td_name"},
	        { "data": "diffNameStat", "class":""},
	        { "data": "oldMileage", "class":""},
	        { "data": "newMileage", "class":""},
	        { "data": "diffMileageStat", "class":""},
	        { "data": "diffMileage", "class":""},
	        { "data": "M_LEVEL", "class":""},
	        { "data": "M_LEVELNAME", "class":""},
	        { "data": "diffGradeStat", "class":""}

	    ],
    	"initComplete": function(settings, data, dataIndex){
			// pTableInitComplete(this,'y','y');
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['oldMileage'] != aData['newMileage']) {
				$(nRow).addClass('tr_red')
			}
    		pLoadingOff();

		},
		drawCallback: function( settings ) {

		},
	});

	//이름 클릭했을때 공통 정보(유저의 모든 정보)
	ebuyTable.on( 'click', 'tbody td.p_td_name', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		    $.post(DomainUri+'/ClientCon/ClientDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
				$.confirm({
					title:'회원정보',
					content:html,
					closeIcon: true,
					useBootstrap: false,
					backgroundDismiss: true,
					boxWidth: '95%',
					buttons: {
						'confirm': {
							text: '확인',
							btnClass: 'btn-blue director_update',
							keys:['enter'],
							action:function(){

							}
						},
						// cancel:{text:"취소"}
					}
				});
			});
		}
	});

	// // status 수정
	// body.on('click','.status_btn',function(){
	// 	var targetTd=$(this);
	//     var targetRow=targetTd.closest('tr')[0];
	//     var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	// 	var status=targetTd.attr('data-status');
	// 	if(status==226101){
	// 		statusVal=226202;
	// 	}else{
	// 		statusVal=226101;
	// 	}
	// 	$.post(DomainUri+'/ClientCon/StatusUpdate',{
	// 		targetIDX:targetIDX,
	// 		statusVal:statusVal,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pAlert(obj.msg);
	// 			return false;
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('수정이 완료되었습니다.','');
	// 		}
	// 	});
	// });

	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
	        $(e.target).hasClass('p_td_name') === false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
	        $(e.target.parentElement).hasClass('p_td_name') === false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/ClientCon/ClientRightDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}

	});



	// //클라이언트 수정
	// body.on('click','.st_r_de_f_btn_save',function(){
	// 	var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
	// 	var gradeIDX=$('.c_grade_val').val();
	// 	var gradeName=$('.c_grade_val option:selected').text();

	// 	$.post(DomainUri+'/ClientCon/ClientUpdate',{
	// 		targetIDX:targetIDX,
	// 		gradeIDX:gradeIDX,
	// 		gradeName:gradeName,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pToastr(obj.msg);
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('수정이 완료되었습니다.');
	// 			// window.location.reload();
 //    			// $('.st_r_de_f_info_btn_close').trigger('click');
	// 			// pToastr("등록이 완료되었습니다.");
	// 		}
	// 	});
	// });

	//발란스 수정버튼 (클라이언트 발란스 수정)
	// body.on('click','.client_balance_btn',function(){
	// 	var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
	// 	$.post(DomainUri+'/ClientCon/getBalance',{
	// 		targetIDX:targetIDX,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="t"){
	// 			var balance = obj.getBalance;
	//             var getBalance = pComma(balance);
	//             var totalBalance = parseFloat(balance.replace(/,/g, '')); // 초기값 설정

	//             function updateTotalBalance() {
	//                 var selectedRadio = $('.balance_radio_chk.p_radio_s').attr('data-idx');
	//                 var amount = parseFloat($('.client_balance_val').val().replace(/,/g, '')) || 0;
	//                 var changeBalance=parseFloat(balance.replace(/,/g, '')) || 0;

	//                 if (selectedRadio == '205101') {
	//                     totalBalance = changeBalance + amount;
	//                 } else {
	//                     totalBalance = changeBalance - amount;
	//                 }

	//                 $('.now_balance_box:eq(1) span').text('적용발란스 : ' + pComma(totalBalance.toFixed(0)) + '원');
	//             }
	// 			$.confirm({
	// 				title:'발란스 수정',
	// 				content:`
	// 				<div class="market_balance_wrap">
	// 					<span class="market_balance_tit f_big f_bold">증/차감 할 발란스를 입력해주세요.</span>

	// 					<div class="balance_radio_box">
	// 						<a href="javascript:void(0);" class="p_radio balance_radio_chk p_radio_s" data-idx="205101">
	// 							<span class="p_radio_i"></span>
	// 							<span class="p_radio_f balance_txt">증감</span>
	// 						</a>
	// 						<a href="javascript:void(0);" class="p_radio balance_radio_chk" data-idx="205201">
	// 							<span class="p_radio_i"></span>
	// 							<span class="p_radio_f balance_txt">차감</span>
	// 						</a>
	// 					</div>
	// 					<div class="balance_box">
	// 						<span class="balace_exp_txt f_normal">발란스 : </span>
	// 						<input type="text" class="p_input client_balance_val input_100" value="">
	// 					</div>
	// 					<div class="balance_box">
	// 						<span class="balace_exp_txt f_normal">사유 : </span>
	// 						<input type="text" class="p_input market_balance_exp_val input_100" value="">
	// 					</div>

	// 					<div class="now_balance_box">
	//                         <span class="f_normal">현재발란스 : ` + getBalance + `원</span>
	//                     </div>
	//                     <div class="now_balance_box">
	//                         <span class="f_normal">적용발란스 : ` + pComma(totalBalance.toFixed(0)) + `원</span>
	//                     </div>
	// 				</div>
	// 				`,
	// 				closeIcon: true,
	// 				useBootstrap: false,
	// 				backgroundDismiss: true,
	// 				boxWidth: '500px',
	// 				onOpenBefore: function () {
	//                     // keyup 이벤트 리스너 등록
	//                     $('.client_balance_val').on('input', updateTotalBalance);

	//                     $('.balance_radio_chk').on('click', function () {
	//                         // client_balance_val 초기화
	//                         $('.client_balance_val').val('');

	//                         // now_balance_box 초기값으로 설정
	//                         $('.now_balance_box:eq(1) span').text('적용발란스 : ' + getBalance + '원');
	//                     });
	//                 },
	//                 onClose: function () {
	//                     // keyup 이벤트 리스너 제거
	//                     $('.client_balance_val').off('keyup', updateTotalBalance);
	//                     $('.balance_radio_chk').off('click');
	//                 },
	// 				buttons: {
	// 					'confirm': {
	// 						text: '확인',
	// 						btnClass: 'btn-blue director_update',
	// 						keys:['enter'],
	// 						action:function(){
	// 							var statusIDX=$('.balance_radio_chk.p_radio_s').attr('data-idx');
	// 							var amount=$('.client_balance_val').val();
	// 							var exVal=$('.market_balance_exp_val').val();

	// 							$.post(DomainUri+'/ClientCon/ClientBalanceUpdate',{
	// 								targetIDX:targetIDX,
	// 								statusIDX:statusIDX,
	// 								amount:amount,
	// 								exVal:exVal,
	// 							},function(data){
	// 								var obj=JSON.parse(data);
	// 								if(obj.result=='t'){
	// 									pAlert('수정이 완료되었습니다.','300px',function(){
	// 										location.reload();
	// 									});
	// 								}else{
	// 									pAlert(obj.msg);
	// 								}

	// 							});

	// 						}
	// 					},
	// 					cancel:{text:"취소"}
	// 				}
	// 			});
	// 		}else{
	// 			pAlert(obj.msg);
	// 		}
	// 	});

	// });


});
</script>
{% endblock %}
