{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
	<div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    	<div class="index_sorting">
    		<div class="index_sort_tit">
    			<span class="f_small sorting_date">Date</span>
    			<div class="sort_btn_box display_flex">
    				<a class="today_apply_btn p_btn" href="javascript:void(0)" title="Searching based on today's date">
    					<span class="f_small">Today</span>
    				</a>
    			</div>
    		</div>
    		<div class="p_help_me_datatable_im_between_date_wrap">
    			<input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-1 month")|date("Y-m-d") }}">
    			<span class="p_calaner_icon"></span>
    			<span class="p_between_hyphen"> - </span>
    			<input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
    			<span class="p_calaner_icon"></span>
    		</div>
    	</div>
    	<ul class="option_date_ul">
    	{% set optionDateFunc = GetGlobals('monthCount') %}
    	{% set optionDateData = optionDateFunc.data %}
    	{% for key in optionDateData %}
    		<li class="p_wid_4">
    			<a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
    				<span class="f_small">{{key.standMonth}}월</span>
    			</a>
    		</li>
    	{% endfor %}
    	</ul>
    </div>

    <div class="st_bot_sorting_box">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">마켓</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in dataPack %}
            	<a href="javascript:void(0);" class="p_chkbox" data-sel="{{key.code}}" data-column="4">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	.p_td_no{width: 50px;}
	.p_td_status{font-weight: bold;width: 100px;}
	.p_td_name{width: 120px;}
	.p_td_code{width: 150px;}
	.p_td_refereceId{width: 240px;}
	.p_td_invoiceId{width: 300px;}
	.p_td_oldIDX{width: 80px;}
	.p_table_box{width: 100%;}
	.p_td_reg{width: 170px !important;}
	.f_green{color: #00850b;}
	.status_memo_val{border: 1px solid #ccc;width: 100%;}
	.del_col{width: 50px;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>No</th>
				<th class="p_th_search_date">완료시간</th>
				<th>상태</th>
				<th>마켓코드</th>
				<th>마켓</th>
				<th>이름</th>
				<th>참조아이디</th>
				<th>수량</th>
				<th>invoiceId</th>
				<th>oldIDX</th>
				<th>메모</th>
				<th>저장</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	{# <div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>  #}
</div>


<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';
	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/DepositDiffCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	d.startDate=$('.start_date').val();
				d.endDate=$('.end_date').val();
	   	    },
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "no", "class":"p_td_no"},
	        { "data": "createTime", "class":"td_change_createTime p_td_reg"},
	        { "data": "status", "class":"p_td_status"},
	        { "data": "code", "class":"p_td_code"},
	        { "data": "marketName", "class":""},
	        { "data": "name", "class":"p_td_name"},
	        { "data": "refereceId", "class":"p_td_refereceId"},
	        { "data": "amount", "class":"p_td_amount"},
	        { "data": "invoiceId", "class":"p_td_invoiceId"},
	        { "data": "oldIDX", "class":"p_td_oldIDX"},
	        { "data": "memo", "class":"p_td_memo"},
	        { "data": null, "class": "del_col", "defaultContent": '<a href="javascript:void(0)" class="update_btn p_btn"><span class="f_small">저장</span></a>', "orderable": false }
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){

			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html(getHtmlUTCKOR(createTime));
			}

			var memo = aData['memo'];
			$('.p_td_memo', nRow).html('<input type="text" class="status_memo_val" value="'+memo+'">');


			if(aData['status']){
				var status=aData['status'];
				var spanColor = '';
				if(status == '잡확인(매칭X)'){
					spanColor = 'f_red';
				}else if(status == '비정상'){
					spanColor = 'f_blue';
				}
				$('.p_td_status', nRow).html('<span class="f_small f_bold '+spanColor+'">'+status+'</span>');
			}

			if(aData['code']){
				var code=aData['code'];
				$('.p_td_code', nRow).html('<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="'+code+'"><span class="f_small">'+code+'</span></a>');
			}

			if(aData['refereceId']){
				var refereceId=aData['refereceId'];
				$('.p_td_refereceId', nRow).html('<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="'+refereceId+'"><span class="f_small">'+refereceId+'</span></a>');
			}

			if(aData['invoiceId']){
				var invoiceId=aData['invoiceId'];
				$('.p_td_invoiceId', nRow).html('<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="'+invoiceId+'"><span class="f_small">'+invoiceId+'</span></a>');
			}


			// if(aData['createTime']){
			// 	var createTime=aData['createTime'];
			// 	$('.td_change_createTime', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(createTime)+'</span>');
			// }
    		// pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	body.on('click','.test_btn',function(){
		$.post(DomainUri+'/DepositDiffCon/testst',function(data){
			console.log(data);
		});
	});

	body.on('click','.update_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    var memo=targetTd.closest('tr').find('.status_memo_val').val();

		$.post(DomainUri+'/DepositDiffCon/StatusUpdate',{
			idx:targetIDX,
			memo:memo,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				pToastr('수정완료.','');
			}
		});
	});


});
</script>
{% endblock %}
