{% set DomainUri=GetGlobals('DomainUri') %}
{% set renderidx=GetUrlData('renderidx') %}
{% set start=GetUrlData('start') %}
{% set end=GetUrlData('end') %}
{% set exchageRate=GetExchangeRate() %}
<!DOCTYPE html>
<html>
<head>
{% block head %}
<title>ebuy</title>
<meta charset="utf-8">
<meta name="Generator" content="SaIlGong">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="noindex, nofollow">
<meta name="googlebot" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="{{DomainUri}}/source/css/main.css?v={{ "now"|date("Y-m-d H:i:s") }}">
<link rel="stylesheet" href="{{DomainUri}}/source/outSource/summernote/summernote-lite.min.css">
<link rel="stylesheet" href="{{DomainUri}}/source/outSource/kindeditor/themes/default/default.css">
<link rel="stylesheet" href="{{DomainUri}}/source/css/jquery-confirm.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
{# 브라우저가 지맘대로 파비콘 get요청을 해서 mvc 충돌이 납니다. #}
<link rel="icon" href="data:,">
{# 브라우저가 지맘대로 파비콘 get요청을 해서 mvc 충돌이 납니다. #}
<script src="https://kit.fontawesome.com/beebe4a618.js" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/05efe43d24.js"></script>
<script src="{{DomainUri}}/source/js/jquery-3-2-1.min.js"></script>
<script src="{{DomainUri}}/source/js/jquery-ui-1-10-3.min.js"></script>
<script type="text/javascript" language="javascript" src="{{DomainUri}}/source/js/datatables.min.js"></script>
<script src="{{DomainUri}}/source/outSource/summernote/summernote-lite.min.js"></script>
<script src="{{DomainUri}}/source/outSource/kindeditor/kindeditor-all-min.js"></script>
<script src="{{DomainUri}}/source/outSource/kindeditor/lang/en.js"></script>
<script src="{{DomainUri}}/source/js/main.js?v={{ "now"|date("Y-m-d H:i:s") }}"></script>
<script src="{{DomainUri}}/source/js/clipboard.min.js"></script>
<script src="{{DomainUri}}/source/js/jquery-confirm.min.js"></script>
<script src="{{DomainUri}}/source/js/toastr.min.js"></script>

<script src="{{DomainUri}}/source/js/pChk.js?v={{ "now"|date("Y-m-d H:i:s") }}>"></script>
<script src="{{DomainUri}}/source/js/nestable.js"></script>
<script src="{{DomainUri}}/source/js/socket.io.js"></script>

<script type="text/javascript">
	var DomainUri='{{GetGlobals('DomainUri')}}';
</script>
<style type="text/css">
	/*알람 css*/
	.nav_alarm_icon , .sub_nav_alarm_icon{display: none; padding:2px 4px; border-radius: 2px; background-color: #f00;  text-align:center;}
	.nav_alarm_icon span , .sub_nav_alarm_icon span{color:#fff !important;}
	.sub_nav_alarm_icon{display: none;}
	.display_inline_block{display: inline-block;}
	/*알람 css 끝*/
	.login_gnb_wrap .login_time{text-align: center;}

	.time_zone_box{width: 250px;}
	.kor_time_wrap{text-align: start;}
	.utc_time_wrap{text-align: start;}
	.today_txt{padding: 0px !important;color: #fff;}

	.toast-close-button{right: 0; position: absolute; bottom:0px; line-height: 25px; width: 25px; height: 25px; font-size: 20px; background-color: #f56565; color: white}
</style>
{% endblock %}
</head>
<body>
<div class="header_wrap">
	<div class="header_box">
		<a href="/dashboard?token={{PageToken}}" class="h_logo_btn" >
			<img class="h_logo" src="{{DomainUri}}/source/img/icons/ebuy_logo_white.png" alt="logo">
		</a>
		<div class="nav_box">
			<ul class="nav_ul">
				<li class="nav_li">{# /{{momUrl}} #}
					<a href="https://9d1bdca2f758ae4.ebuycompany.com/chatAdmin?idx={{GetGlobals('chatGlobalIDX')}}" class="nav_btn" target="_blank">
						<span class="f_normal">채팅상담</span>
					</a>
				</li>
				{% set NavFunc = GetNav() %}
				{% set NavData = NavFunc.data %}
				{% for key in NavData %}
					{% set navClass = '' %}
					{% set navDisplayClass='' %}
					{% if key.targetPageStat == 1 %}{% set navClass = 'nav_btn_active' %}{% endif %}
					{% if key.permission == 2 %}{% set navDisplayClass='display_none' %}{% endif %}

					{# 알람 카운트 전에 childPack 셋팅 #}
					{% set childPack = key.childPack %}
					{# 1차메뉴 알람 카운트 #}
					{% set totalCount = 0 %}
					{% for key2 in childPack %}
						{% set count = key2.count %}
						{% set totalCount = totalCount + count %}
					{% endfor %}
					{% set alarmDisplay = '' %}
					{% if totalCount > 0 %}{% set alarmDisplay='display_inline_block' %}{% endif %}
					{# 1차메뉴 알람 카운트 끝 #}
					<li class="nav_li">{# /{{momUrl}} #}
						<a href="/{{key.url}}?token={{PageToken}}" class="nav_btn {{navClass}} {{navDisplayClass}}">
							<span class="f_normal">{{key.name}}</span>
							{# 알람 #}
							<div class="nav_alarm_icon cIDX_{{key.idx}} {{alarmDisplay}}" data-idx="{{key.idx}}">
                                <span class="f_normal totalCount_text_{{key.idx}}">{{totalCount}}</span>
                            </div>
                            {# 알람 끝 #}
						</a>
						<ul class="childnav_ul">
							{% for key2 in childPack %}
								{% set childNavClass = '' %}
								{% set childNavDisplayClass='' %}
								{% if key2.childTargetPageStat == 1 %}{% set childNavClass = 'subNav_btn_active' %}{% endif %}
								{% if key2.childPermission == 2 %}{% set childNavDisplayClass='display_none' %}{% endif %}
								{% set count=key2.count %}
								{% set alarmDisplay = '' %}
								{% if count > 0 %}{% set alarmDisplay='display_inline_block' %}{% endif %}
								<li>
									<a href="/{{key2.childUrl}}?token={{PageToken}}" class="subNav_btn {{childNavClass}} {{key2.childTargetPageStat}} {{childNavDisplayClass}}" data-idx="{{key2.childIDX}}">
										<span class="f_normal">{{key2.childName}}</span>
										{# 서브 알람 카운트 #}
										<div class="sub_nav_alarm_icon cIDX_{{key2.childIDX}} {{alarmDisplay}}">
						                    <span class="f_normal count_text_{{key2.childIDX}}" data-idx="{{key2.childIDX}}">{{count}}</span>
						                </div>
						                {# 서브 알람 카운트 끝 #}
									</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="login_gnb_wrap">
		<ul>
			<li>
	            <div class="sub_exchange_box" title="Exchage rate">
		            <span class="f_small exchange_txt">환율</span>
		            <span class="f_small exchange_txt">[ $</span>
		            <span class="f_small exchange_txt">1</span>
		            <span class="f_small exchange_txt">to</span>
		            <span class="f_small exchange_txt">&#8361;</span>
		            <span class="f_small exchange_txt exchange_val">{{exchageRate|number_format(1, '.', ',')}}</span>
		            <span class="f_small exchange_txt">]</span>

	            </div>
			</li>
			<li class="time_zone_box">
				<div class="kor_time_wrap">
					<span class="kor_today today_txt"></span>
				</div>
				<div class="utc_time_wrap">
					<span class="utc_today today_txt"></span>
				</div>
			</li>
			<li><span class="f_normal header_email">Hello, {{GetGlobals('loginEmail')}}</span></li>
			<li>
				<a href='javascript:void(0)' class='icon_box logout_btn'>
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
			</li>
			<li >
				<a href='javascript:void(0)' class='login_time'>
					<span class="login_time_m"></span>
					<span class="">:</span>
					<span class="login_time_s"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="menu_box">
	<ul class="menu_ul">
	{% for key in NavData %}
		{% set childPack = key.childPack %}
		{% for key2 in childPack %}
			{% set munuActive = '' %}
			{% set childNavDisplayClass='' %}
			{% if key2.childTargetPageStat == 1 %}{% set munuActive = ' menu_btn_active' %}{% endif %}
			{% if key2.childPermission == 2 %}{% set childNavDisplayClass='display_none' %}{% endif %}
			{% set count=key2.count %}
			{% set alarmDisplay = '' %}
			{% if count > 0 %}
				{% set alarmDisplay='display_inline_block' %}
			{% endif %}
			{% if key.targetPageStat == 1 %}
			<li>
				<a href="/{{key2.childUrl}}?token={{PageToken}}" class="menu_btn{{munuActive}} {{childNavDisplayClass}}" data-idx="{{key2.childIDX}}">
					<span class="f_small f_400">{{key2.childName}}</span>
					{# 서브 알람 카운트 #}
					<div class="sub_nav_alarm_icon cIDX_{{key2.childIDX}} {{alarmDisplay}}">
	                    <span class="f_small count_text_{{key2.childIDX}}" data-idx="{{key2.childIDX}}">{{count}}</span>
	                </div>
	                {# 서브 알람 카운트 끝 #}
				</a>
			</li>
			{% endif %}
		{% endfor %}
	{% endfor %}
	</ul>
</div>
<div class="body_wrap">
	{% block sortingWrap %}{% endblock %}
	<div class="table_wrap">
		{% block content %}{% endblock %}
	</div>
</div>
{% block footer %}{% endblock %}
<script type="text/javascript">
$(document).ready(function(){
	var body = $('body');
	var GbLoginIDX = '{{GetGlobals('loginIDX')}}';
	var DomainUri='{{GetGlobals('DomainUri')}}';
	var PageToken='{{PageToken}}';




	// body.on('click','.postit_btn',function(){
	// 	location.href=DomainUri+'/postit?token='+PageToken+'';
	// });

	// body.on('click','.alarm_btn',function(){
	// 	location.href=DomainUri+'/alarm?token='+PageToken+'';
	// });

	// body.on('click','.mypage_btn',function(){
	// 	location.href=DomainUri+'/myPage?token='+PageToken+'';
	// });

	body.on('mouseover','.nav_li',function(){
		var thisBtn=$(this);
		$('.nav_li').removeClass('nav_li_active');
		thisBtn.addClass('nav_li_active');
	});
	body.on('mouseleave','.nav_li',function(){
		$('.nav_li').removeClass('nav_li_active');
	});

	//살릴것
	var socket = io.connect( DomainUri+':16001' );
	socket.emit('p_con',GbLoginIDX);
	// socket.on('alarmFromClient',function(data){
	// 	var con=data.con;
	// 	var title=data.title;
	// 	pToastr(title,con,'');
	// 	resetCount();
	// });
	socket.on('JobExchangeRate', function(data) {
		var exchangeRate = data;
		$('.exchange_val').html(exchangeRate);
    });

	socket.on('staffAlarm',function(data){
		var menuIDX=data.menuIDX;
		var msg=data.msg;
		var marketIDX=data.marketIDX;
		var uri=$('.subNav_btn[data-idx="' + menuIDX + '"]').attr('href');
		if(menuIDX==119){
			uri=uri+'&marketIDX='+marketIDX+'';
		}

		var audioLink = '';
		if(menuIDX == 105){//입금신청내역
			audioLink = '/source/sound/0007_balanceDeposit.mp3';
		}else if(menuIDX == 107){//출금신청내역
			audioLink = '/source/sound/0008_balanceWithdrawal.mp3';
		}else if(menuIDX == 124){//지불대행
			audioLink = '/source/sound/0001_deposit.mp3';
		}else if(menuIDX == 125){//출금대행
			audioLink = '/source/sound/0002_withdrawal.mp3';
		}else if(menuIDX == 121){//정산신청내역
			audioLink = '/source/sound/0005_settlement.mp3';
		}else if(menuIDX == 120){//탑업신청내역
			audioLink = '/source/sound/0006_topup.mp3';
		}else if(menuIDX == 126){//qna
			audioLink = '/source/sound/0004_qna.mp3';
		}

		//탑업신청내역이랑 메뉴idx가 같아서 includes로 구분함
		if(msg.includes('해쉬')){
			audioLink = '/source/sound/0009_hash.mp3';
		}




		alarmToastr(uri,msg);
		resetCount();

		var audio = new Audio();
	    // MP3 파일 경로 설정

	    if(audioLink!==''){
	    	audio.src = DomainUri+audioLink;
		    // 재생
		    audio.muted = true;
		    audio.play();
		    audio.muted = false;
	    }

	});




	//알람 들어오면 숫자 증가 시켜줌
	function resetCount(){
		$.post(DomainUri+'/NavCon/GetAlarmResetData',{
			staffIDX:GbLoginIDX,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=='t'){
				var data=obj.data;
				for(var i = 0 ; i < data.length ; i++){
					var menuIDX=data[i].menuIDX;
					var count=data[i].count;
					$('.count_text_'+menuIDX+'').html(count);
					var countText=$('.count_text_'+menuIDX+'').text();
					if(countText > 0){
						$('.cIDX_'+menuIDX+'').attr('class','sub_nav_alarm_icon display_inline_block')
					}
				}

				var totalData=obj.totalData;
				for(var j = 0 ; j < totalData.length ; j++){
					var totalCount=totalData[j].count;
					var momIDX=totalData[j].momIDX;
					$('.totalCount_text_'+momIDX+'').html(totalCount);
					var countText=$('.totalCount_text_'+momIDX+'').text();
					if(countText > 0){
						$('.cIDX_'+momIDX+'').attr('class','nav_alarm_icon display_inline_block');
					}
				}
			}
		});
	}



	//ㄱㄱ
	//시간구하기 시작
	var utcDate='{{GetHeaderTime('UTC')}}';
	var korDate='{{GetHeaderTime('KOR')}}';
    var utcTime = new Date(utcDate.replace(/-/g, '/'));
    var korTime = new Date(korDate.replace(/-/g, '/'));

    // 날짜 포맷팅 함수
    function formatDate(date) {
        const daysOfWeek = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        const seconds = String(date.getSeconds()).padStart(2, '0');
        const dayOfWeek = daysOfWeek[date.getDay()];

        return `${year}년 ${month}월 ${day}일 ${dayOfWeek} ${hours}:${minutes}:${seconds}`;
    }

    var UTC = formatDate(utcTime);
    var KOR = formatDate(korTime);

    $('.utc_today').html('UTC : ' + UTC); // formattedTime을 HTML 요소에 적용합니다.
    $('.kor_today').html('KST : ' + KOR); // formattedTime을 HTML 요소에 적용합니다.

    // 1초마다 함수를 호출하여 utcTime을 1초씩 증가시키기
	setInterval(function() {
	    utcTime.setSeconds(utcTime.getSeconds() + 1);
	    korTime.setSeconds(korTime.getSeconds() + 1);

	    var UTC = formatDate(utcTime);
	    var KOR = formatDate(korTime);

	    $('.utc_today').html('UTC : ' + UTC); // formattedTime을 HTML 요소에 적용합니다.
	    $('.kor_today').html('KST : ' + KOR); // formattedTime을 HTML 요소에 적용합니다.
	}, 1000); // 1초마다 실행
	//시간구하기 끝

	var gbMin="{{GetGlobals('min')}}";
	var gbSec="{{GetGlobals('sec')}}";
	var logout = function(fromData) {
		$.post(DomainUri+'/LoginCon/LogoutAct',{
			data:fromData
		},function(){
			location.href=DomainUri;
		});
	}
	// 로그인 시간카운트
	var loginTimeM;
	var loginTimeS;
	var loginTimeTerm=setInterval(loginTimeCountDown, 1000);
	var loginTimeStart=function(){
		loginTimeTerm=setInterval(loginTimeCountDown, 1000);
	}
	var loginTimeStop=function(){
		window.clearInterval(loginTimeTerm);
	}
	var loginTimeReset=function(){
	   window.clearInterval(loginTimeTerm);
	   loginTimeM=$('.login_time_m');
	   loginTimeS=$('.login_time_s');
	   loginTimeM.text(loginTimePad(gbMin));
	   loginTimeS.text(loginTimePad(gbSec));
	}
	var loginTimeCountDown=function(){
	   loginTimeM=$('.login_time_m');
	   loginTimeS=$('.login_time_s');
	   if(loginTimeS.text()<=0){
		  loginTimeS.text('60')
		  loginTimeM.text(loginTimePad(loginTimeM.text()*1-1));
	   };
	   loginTimeS.text(loginTimePad(loginTimeS.text()*1-1));

	   if(loginTimeS.text()*1<=0 && loginTimeM.text()*1==5){
			new_confirm_time = $.confirm({
				title:'로그인연장',
				content:"<span class=''>로그인연장하시겠습니까?</span>",
				useBootstrap: false,
				boxWidth: '400px',
				opacity: 0.5,
				backgroundDismiss: true,
				theme: 'light,jmConfirm',
				buttons:{
					'confirm':{
						'text': 'Extend login',
						btnClass: 'btn-blue',
						action:function(){
							$(".login_time").trigger("click");
						}
					},
					cancel:{
						text:'Cancel'
					}
				},
			});
	   }
	   if(loginTimeS.text()*1<=0 && loginTimeM.text()*1<=0){
			loginTimeStop();
			logout('timeOut');
		}
	}
	function loginTimePad(n){
	   n=n + '';
	   return n.length >= '2' ? n : new Array('2' - n.length + 1).join('0') + n;
	}
	loginTimeReset();
	loginTimeStart();

	body.on('click','.logout_btn',function(){
		$.confirm({
			title:'로그아웃',
			content:'<span>정말 로그아웃 하시겠습니까?</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '300px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-main',
					keys:['enter'],
					action:function(){
						logout('buttonClick');
					}
				},
				cancel:{text:"취소"}
			}
		});
	});

	body.on('click','.login_time',function(){
		$.post(DomainUri+'/LoginCon/LoginExtend',function(){
			$.post(DomainUri+'/LoginCon/LoginTimeLoad',function(data2){
				var obj=JSON.parse(data2);
				gbMin=obj.min;
				gbSec=obj.sec;
				loginTimeReset();
				loginTimeStart();
			});
		});
	});

	var permission='{{GetGlobals('permission')}}';
	if(permission==2){
		logout('permission');
	}
});
</script>
</body>
</html>