{% extends "/index.html" %}
{% block sortingWrap %}{% endblock %}
{% block content %}
<style>
	.p_td_status{width: 60px;}
	.c_btn{background-color: var(--css-maincolor);border: none;}
	.c_btn span{color: #fff;}

	/*--------*/

	.detail_sub_title{padding: 8px 14px;}
	.p_input_w80{width: 80% !important;text-align: end;}
	.p_i_tit{width: 140px;}
	.per_txt{padding-left: 5px;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn grade_regist_btn"><span class="f_normal">추가</span></a>
		</div>
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>등급이름</th>
				<th>기본수수료</th>
				<th>출금수수료</th>
				<th>최소출금금액</th>
				<th>P2P거래수수료</th>
				<th>지불대행수수료</th>
				<th>출금대행수수료</th>
				<th>등급상향조건</th>
				<th>입금은행</th>
				<th  class="p_th_search_sel" data-opop="All,정상,비활성">상태</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';

	var ebuyTable=$('.staff_table').DataTable({
	    // "order": [[2,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/ClientGradeCon/dataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	// d.startDate=startDate;
				// d.endDate=endDate;
	   	    },
	   	},

	   	"columns": [
	        { "data": "idx", "class":"p_td_idx","orderable": false,"visible":false},
	        { "data": "name", "class":"p_render_idx"},
	        { "data": "defaultFeeKRW", "class":""},
	        { "data": "withFeeKRW", "class":""},
	        { "data": "withMinKRW", "class":""},
	        { "data": "tradeFeePer", "class":""},
	        { "data": "tranFeePer", "class":""},
	        { "data": "withFeePer", "class":""},
	        { "data": "upto", "class":""},
	        { "data": "bankName", "class":""},
	        { "data": "status", "class":"p_td_status"},
	        // { "data": null, "class": "del_col", "defaultContent": '<a href="javascript:void(0)" class="update_btn p_btn"><span class="f_small">수정</span></a>', "orderable": false }
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['status']){
				var status=aData['status'];
				var statusBtnClass='';
				if(status=='정상'){
					statusVal='325301';
					statusBtnClass='c_btn';
				}else{
					statusVal='비활성';
				}
				if(status.length>0){
					$('.p_td_status', nRow).html('<a href="javascript:void(0)" class="status_btn p_btn '+statusBtnClass+'" data-status="'+statusVal+'"><span class="f_small">'+status+'</span></a>');
				}
			}
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});


	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('status_btn')===false // 상태버튼
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/ClientGradeCon/ClientGradeDetailFormLoad',{
	    		pageType:'upd',
				targetIDX:targetIDX,
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}

	});

	//퍼센트 소수점 첫번째 자리까지만 입력
	body.on('keyup','.per_input',function(){
		var inputValue = $(this).val();
	    // 정규표현식을 사용하여 숫자와 소수점만 허용
	    var sanitizedInput = inputValue.replace(/[^0-9.]/g, '');
	    // 소수점을 기준으로 문자열을 분할하여 소수점 이하 한 자리까지만 허용
	    var parts = sanitizedInput.split('.');
	    if (parts.length > 1) {
	        parts[1] = parts[1].substring(0, 1); // 소수점 이하 한 자리까지만 유효
	        sanitizedInput = parts.join('.');
	    }
	    // 입력 필드에 유효한 값 적용
	    $(this).val(sanitizedInput);
	});

	//숫자만 입력
	body.on('keyup','.dol_input',function(){
		var inputValue = $(this).val();
	    // 정규표현식을 사용하여 숫자와 소수점만 허용
	    var sanitizedInput = inputValue.replace(/[^0-9]/g, '');
	    // 입력 필드에 유효한 값 적용
	    $(this).val(sanitizedInput);
	});

	//추가하기 버튼 클릭 시 랜더
	body.on('click','.grade_regist_btn',function(){
    	$.post(DomainUri+'/ClientGradeCon/ClientGradeDetailFormLoad',{
			pageType:'ins'
		},function(html){
	    	$(".st_detail_wrap").html(html);
		});
	});

	//등급 추가하기
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		var name = $('.grade_name_val').val();
		var ebuyBankIDX = $('.ebuyBank_val').val();
		var defaultFeeKRW = $('.defaultFeeKRW_val').val();
		var tradeFeePer = $('.tradeFeePer_val').val();
		var withFeeKRW = $('.withFeeKRW_val').val();
		var withMinKRW = $('.withMinKRW_val').val();
		var tranFeePer = $('.tranFeePer_val').val();
		var withFeePer = $('.withFeePer_val').val();
		var upto = $('.upto_val').val();

		$.post(DomainUri+'/ClientGradeCon/ClientGradeInsert',{
    		name:name,
    		ebuyBankIDX:ebuyBankIDX,
			defaultFeeKRW:defaultFeeKRW,
			tradeFeePer:tradeFeePer,
			withFeeKRW:withFeeKRW,
			withMinKRW:withMinKRW,
			tranFeePer:tranFeePer,
			withFeePer:withFeePer,
			upto:upto,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
			}else{
				ebuyTable.ajax.reload();
				pToastr('추가가 완료되었습니다.','');
			}
		});
	});

	//수수료 수정하기
	body.on('click','.st_r_de_f_btn_save',function(){
		var targetIDX=$('.st_right_detail_con_container').data('idx');
		var name = $('.grade_name_val').val();
		var ebuyBankIDX = $('.ebuyBank_val').val();
		var defaultFeeKRW = $('.defaultFeeKRW_val').val();
		var tradeFeePer = $('.tradeFeePer_val').val();
		var withFeeKRW = $('.withFeeKRW_val').val();
		var withMinKRW = $('.withMinKRW_val').val();
		var tranFeePer = $('.tranFeePer_val').val();
		var withFeePer = $('.withFeePer_val').val();
		var upto = $('.upto_val').val();
		var ebuyBankName=$('.ebuyBank_val option:selected').text();

		$.confirm({
			title:'등급 수정',
			content:'<span class="f_normal">수수료 및 조건도 같이 수정됩니다.</br>수정하시겠습니까?</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '400px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						$.post(DomainUri+'/ClientGradeCon/ClientGradeFeeUpdate',{
				    		targetIDX:targetIDX,
				    		name:name,
				    		ebuyBankIDX:ebuyBankIDX,
							defaultFeeKRW:defaultFeeKRW,
							tradeFeePer:tradeFeePer,
							withFeeKRW:withFeeKRW,
							withMinKRW:withMinKRW,
							tranFeePer:tranFeePer,
							withFeePer:withFeePer,
							upto:upto,
							ebuyBankName:ebuyBankName
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
							}else{
								ebuyTable.ajax.reload();
								pToastr('수정이 완료되었습니다.','');
							}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});

	});

	// status 수정
	body.on('click','.status_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		var status=targetTd.attr('data-status');
		if(status==325301){
			statusVal=325401;
		}else{
			statusVal=325301;
		}
	    console.log(statusVal);
		$.post(DomainUri+'/ClientGradeCon/StatusUpdate',{
			targetIDX:targetIDX,
			statusVal:statusVal,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('수정이 완료되었습니다.','');
			}
		});
	});


});
</script>

{% endblock %}
