<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="log">
		<span class="f_big ">Log</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>
<div class="st_right_detail_con_container" data-idx="{{targetIDX}}" data-logType="staffGrade" data-memoStatus="392101">
	<div class="info_detail_box">
		<div class="p_i">
			<span class="p_i_tit">등급이름</span>
			<div class="p_i_con_box">
				<input type="text" name="" class="p_input grade_name" data-idx="{{dataPack['idx']}}" value="{{dataPack['name']}}">
			</div>
		</div>
		<div class="staff_list_box">
			<span class="f_big f_bold menu_title">스태프 목록</span>
			{% for key in groupPack %}
				<div class="staff_list_box_detail">
					<span class="f_normal">{{key.name}} ({{key.email}})</span>
				</div>
			{% endfor %}
		</div>
		{% if pageType=='upd' %}
			<div class="detail_menu_box">
				<span class="f_big f_bold menu_title">등급 권한</span>
				<a href="javascript:void(0);" class="p_chkbox all">
					<span class="f_big">전체</span>
					<span class="p_chkbox_i"></span>
				</a>
				<div class="p_i_line"></div>
				{% set allHavePermission3 = true %}
				{% for key in menuListArr %}
					{% set permission=key.permission %}
					{% set perClass='' %}
					{% if permission == 3 %}
						{% set perClass='p_chkbox_s' %}
					{% endif %}
					<div class="child_chkbox_box">
						<a href="javascript:void(0);" class="p_chkbox all_chkbox momMenu {{perClass}}" data-idx="{{key.menuIDX}}" data-per="{{key.permission}}">
							<span class="f_big">{{key.menuName}}</span>
							<span class="p_chkbox_i"></span>
						</a>
						{% set childMenuListArr=key.childMenuListArr %}
						{% for key2 in childMenuListArr %}
							{% set childPermission=key2.childPermission %}
							{% set perClass='' %}
							{% if childPermission == 3 %}
								{% set perClass='p_chkbox_s' %}
							{% endif %}
							<a href="javascript:void(0);" class="p_chkbox all_chkbox childMenu {{perClass}}" data-idx="{{key2.childIDX}}" data-per="{{key2.childPermission}}">
								<span class="f_big">{{key2.childName}}</span>
								<span class="p_chkbox_i"></span>
							</a>
							{% if childPermission != 3 %}
								{% set allHavePermission3 = false %}
							{% endif %}
						{% endfor %}
					</div>
					<div class="p_i_line"></div>
					{% if permission != 3 %}
						{% set allHavePermission3 = false %}
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="log_detail_box display_none"></div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>
</div>
{% if pageType=='ins' %}
	<div class="click_btn_box">
		<a class="st_r_de_f_btn st_r_de_f_btn_ins_save" href="javascript:void(0);"><span class="f_normal">등록하기</span></a>
	</div>
{% else %}
	<div class="click_btn_box">
		<a class="st_r_de_f_btn st_r_de_f_btn_save" href="javascript:void(0);"><span class="f_normal">수정하기</span></a>
	</div>
{% endif %}
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>
{% if allHavePermission3 %}
    <script>
        $(document).ready(function() {
            $(".all").addClass("p_chkbox_s");
        });
    </script>
{% else %}
    <script>
        $(document).ready(function() {
            $(".all").removeClass("p_chkbox_s");
        });
    </script>
{% endif %}



