{% extends "/index.html" %}
{% block sortingWrap %}{% endblock %}
{% block content %}
<style>
	.detail_menu_box , .staff_list_box{padding: 10px;}
	.grade_box_detail , .staff_list_box_detail{display: block;padding: 5px 0px}
	.menu_title{padding: 15px 0px;}
	.p_chkbox{display: block;}
	.momMenu{padding: 10px 0px 5px 0px;}
	.childMenu{padding: 2px 40px;}
	.p_i_line:before{width: 100%;}
	.childMenu:before{content: "└";position: absolute;top: 4px;left:20px;font-size: 14px;color: #000;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn status_regist_btn"><span class="f_normal">추가</span></a>
		</div>
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>등급</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';
	var ebuyTable=$('.staff_table').DataTable({
	    // "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/StaffGradeCon/dataTableListLoad",
	        type:"POST",
	        data:function(d){
	   	    },
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "name", "class":"p_render_idx"},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/StaffGradeCon/StaffGradeDetailFormLoad',{
				targetIDX:targetIDX,
				pageType:'upd'
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}

	});

	//추가 버튼 랜더
	body.on('click','.status_regist_btn',function(){
		$.post(DomainUri+'/StaffGradeCon/StaffGradeDetailFormLoad',{
			pageType:'ins'
		},function(html){
	    	$(".st_detail_wrap").html(html);
	    	$('.click_btn_box').addClass('{{permissionView}}');
		});
	});

	//추가하기
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		// var idx=$('.status_idx').val();
		var name=$('.grade_name').val();
		$.post(DomainUri+'/StaffGradeCon/GradeInsert',{
			name:name
		},function(data){
	    	var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('추가가 완료되었습니다.','');
				// window.location.reload();
			}
		});

	});

	// grade 수정
	body.on('click','.st_r_de_f_btn_save',function(){
		var name=$('.grade_name').val();
		var idx=$('.st_right_detail_con_container').attr('data-idx');//targetIDX
		var gradeIDX=$('.grade_name').attr('data-idx');

		console.log(gradeIDX);
		// var chked=$('.all_chkbox.p_chkbox_s');
		var chkAll=$('.all_chkbox');
		var tmpData=[];
		chkAll.each(function(){
			var menuIDX=$(this).attr('data-idx');
			var permission=$(this).attr('data-per');
			tmpData.push({
				gradeIDX:idx,
				menuIDX:menuIDX,
				permission:permission
			});
		});
		$.post(DomainUri+'/StaffGradeCon/GradeUpdate',{
			idx:idx,
			gradeIDX:gradeIDX,
			name:name,
			tmpData:tmpData,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('수정이 완료되었습니다.','');
				// window.location.reload();
			}
		});
	});

	//솔팅 전체버튼
	body.on('click','.all',function(){
		if ($(this).hasClass("p_chkbox_s")) {
            // 이미 선택된 상태이면 모든 하위 p_chkbox의 p_chkbox_s 클래스 제거
            $(".all_chkbox").addClass("p_chkbox_s");
            $(".all_chkbox").attr("data-per",3);
            // $('.momMenu').removeClass("p_chkbox_s");
        } else {
            // 선택되지 않은 상태이면 모든 하위 p_chkbox에 p_chkbox_s 클래스 추가
            $(".all_chkbox").removeClass("p_chkbox_s");
            $(".all_chkbox").attr("data-per",2);
            // $('.momMenu').addClass("p_chkbox_s");
        }
	});

	//솔팅 1차메뉴
	body.on('click','.momMenu',function(){
        var $childMenus = $(this).siblings(".childMenu");

        if ($childMenus.hasClass("p_chkbox_s")) {
            // 이미 선택된 상태이면 모든 하위 childMenu의 p_chkbox_s 클래스 제거
            $childMenus.removeClass("p_chkbox_s");
            $childMenus.attr("data-per",2);
            $(this).attr('data-per',2);
        } else {
            // 선택되지 않은 상태이면 모든 하위 childMenu에 p_chkbox_s 클래스 추가
            $childMenus.addClass("p_chkbox_s");
            $childMenus.attr("data-per",3);
            $(this).attr('data-per',3);
        }


	});

	//솔팅 2차메뉴
	body.on('click','.childMenu',function(){
		// momMenu에 p_chkbox_s 클래스를 주기 위해 부모 요소를 찾아 처리
        var $momMenu = $(this).closest(".child_chkbox_box").find(".momMenu");
        var $childMenus = $(this).closest(".child_chkbox_box").find(".childMenu");
        if($(this).hasClass('p_chkbox_s')){
        	$(this).attr('data-per',3);
        }else{
        	$(this).attr('data-per',2);
        }
        if ($childMenus.hasClass("p_chkbox_s")) {
            // 하위 childMenu 중에 p_chkbox_s 클래스가 하나라도 있으면 momMenu에 p_chkbox_s 클래스 추가
            $momMenu.addClass("p_chkbox_s");
            $momMenu.attr("data-per",3);

        } else {
            // 하위 childMenu에 p_chkbox_s 클래스가 없으면 momMenu의 p_chkbox_s 클래스 제거
            $momMenu.removeClass("p_chkbox_s");
            $momMenu.attr("data-per",2);

        }
	});



});
</script>
{% endblock %}
