{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
	<div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    </div>
    <div class="st_bot_sorting_box">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">마켓</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in marketPack %}
            	<a href="javascript:void(0);" class="p_chkbox" data-sel="{{key.name}}" data-column="5">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	/*00a114*/
	.st_bot_sorting_box{width: 240px;margin-top:0px;height: calc(100% - 40px);}
	.td_change_createTime{width: 200px;}
	.btn_box{width: 50px;text-align: center;}
	.c_btn{background-color: var(--css-maincolor);border: none;}
	.d_btn{background-color: #f00;border: none;}
	.e_btn{background-color: #763eff;border: none;}
	.c_btn span , .d_btn span , .e_btn span{color: #fff;}

	.f_request{font-weight:600;color: #000;}
	.f_approval{font-weight:600;color: #00a114;}
	.f_delete{font-weight:600;color: #f00;}
	.f_refuse{font-weight:600;color: #763eff;}

	.info_text{display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;}

	/*------------*/


</style>
<div class="table_flex_box">
	<div class="p_table_box">
		{# <div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn market_regist_btn"><span class="f_normal">추가</span></a>
		</div> #}
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>statusIDX</th>
				<th class="p_th_search_date">생성시간</th>
				<th class="p_th_search_sel" data-opop="All,IP추가신청,IP삭제신청,IP신청취소,승인,삭제,반려">상태</th>
				<th>IP주소</th>
				<th>마켓코드</th>
				<th>마켓이름</th>
				<th>승인</th>
				{# <th>삭제</th> #}
				<th>반려</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';
	var ebuyTable=$('.staff_table').DataTable({
		"order": [],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/MarketWhiteIpCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	// d.startDate=startDate;
	        	// d.endDate=endDate;
	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "statusIDX", "class":"","orderable": false,"visible":false},
	        { "data": "createTime", "class":"td_change_createTime"},
	        { "data": "status", "class":"p_td_status"},
	        { "data": "ipAddress", "class":"p_render_idx"},
	        { "data": "marketCode", "class":""},
	        { "data": "marketName", "class":""},
	        { "data": null, "class": "approval_btn_box btn_box", "defaultContent": '', "orderable": false },
	        // { "data": null, "class": "delete_btn_box btn_box", "defaultContent": '', "orderable": false },
	        { "data": null, "class": "refuse_btn_box btn_box", "defaultContent": '', "orderable": false },
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			var status=aData['status'];
			$('.approval_btn_box', nRow).html('-');
			$('.refuse_btn_box', nRow).html('-');
			switch(status){
				case 'IP추가신청' :
				    $('.p_td_status', nRow).html('<span class="f_small f_request">'+status+'</span>');
				    $('.approval_btn_box', nRow).html('<a href="javascript:void(0)" class="approval_btn p_btn c_btn" data-status="351101" data-statusVal="승인"><span class="f_small">승인</span></a>');
					$('.refuse_btn_box', nRow).html('<a href="javascript:void(0)" class="refuse_btn p_btn e_btn" data-status="351201" data-statusVal="반려"><span class="f_small">반려</span></a>');
			    break;
			    case 'IP삭제신청' :
				    $('.p_td_status', nRow).html('<span class="f_small f_request">'+status+'</span>');
				    $('.approval_btn_box', nRow).html('<a href="javascript:void(0)" class="approval_btn p_btn c_btn" data-status="351102" data-statusVal="삭제"><span class="f_small">승인</span></a>');
				    //240121 삭제신청은 반려가 없음// 삭제신청 취소는 포탈에서 가능함
					// $('.refuse_btn_box', nRow).html('<a href="javascript:void(0)" class="refuse_btn p_btn e_btn" data-status="351201" data-statusVal="반려"><span class="f_small">반려</span></a>');
			    break;
			    case 'IP신청취소' :
				    $('.p_td_status', nRow).html('<span class="f_small f_delete">'+status+'</span>');
			    break;
			    case '승인' :
				    $('.p_td_status', nRow).html('<span class="f_small f_approval">'+status+'</span>');
			    break;
			    case '삭제' :
				    $('.p_td_status', nRow).html('<span class="f_small f_delete">'+status+'</span>');
			    break;
			    case '반려' :
				    $('.p_td_status', nRow).html('<span class="f_small f_refuse">'+status+'</span>');
			    break;
			}


			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(createTime)+'</span>');
			}
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target).hasClass('approval_btn_box')===false &&
			$(e.target).hasClass('delete_btn_box')===false &&
			$(e.target).hasClass('refuse_btn_box')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('approval_btn')===false&&
			$(e.target.parentElement).hasClass('delete_btn')===false&&
			$(e.target.parentElement).hasClass('refuse_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/MarketWhiteIpCon/DetailFormLoad',{
				targetIDX:targetIDX,
				pageType:'upd'
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}
	});


	function statusUpd(targetIDX,statusIDX,statusVal,nowStatusIDX){
		$.confirm({
	        title:'IP',
	        content:'<span class="f_normal cf_txt">해당 IP를 처리하시겠습니까?</span>',
	        closeIcon: true,
	        useBootstrap: false,
	        backgroundDismiss: false,
	        boxWidth: '600px',
	        buttons: {
	            cancel:{text:"Cancel"},
	            'confirm': {
	                text: 'Confirm',
	                btnClass: 'btn-blue',
	                keys:['enter'],
	                action:function(){
	                	pLoadingOn();
	                	$.post(DomainUri+'/MarketWhiteIpCon/StatusUpdate',{
							targetIDX:targetIDX,
							statusIDX:statusIDX,
							statusVal:statusVal,
							nowStatusIDX:nowStatusIDX,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
								return false;
							}else{
								ebuyTable.ajax.reload();
								pToastr('수정이 완료되었습니다.','');
							}
						});
	                }
	            }
	        }
	    });
		
	}

	// 승인 (추가,삭제)
	body.on('click','.approval_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    var nowStatusIDX=ebuyTable.row(targetRow).data()['statusIDX'];
	    var statusIDX=targetTd.attr('data-status');
	    var statusVal=targetTd.attr('data-statusVal');
		console.log(nowStatusIDX)
		console.log(statusIDX)

	    statusUpd(targetIDX,statusIDX,statusVal,nowStatusIDX);
	});

	// 거절
	body.on('click','.refuse_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    var nowStatusIDX=ebuyTable.row(targetRow).data()['statusIDX'];
		var statusIDX=targetTd.attr('data-status');
		var statusVal=targetTd.attr('data-statusVal');
		console.log(nowStatusIDX)
		console.log(statusIDX)


	    statusUpd(targetIDX,statusIDX,statusVal,nowStatusIDX);


	});



});
</script>
{% endblock %}
