<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>
<div class="st_right_detail_con_container" data-idx="{{targetIDX}}" data-logType="" data-memoStatus="377101">
	<div class="info_detail_box">
		<div class="p_i">
			<span class="p_i_tit">회원통장</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['clientBank']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">회원예금주</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['clientAccountHolder']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">찾은금액</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['withdrawalAmount']|number_format(0)}}원</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">맡긴금액</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['depositAmount']|number_format(0)}}원</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">거래후잔액</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['afterAmount']|number_format(0)}}원</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">이바이은행</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['ebuyBankName']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">이바이예금주</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['ebuyAccountHolder']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">이바이계좌번호</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['ebuyAccountNumber']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">상태</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['status']}}</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">거래시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['tradeTime']}} (UTC)</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">거래시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['tradeTime']|date('Y-m-d H:i:s', '+0900')}} (KST)</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">거래시간</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['tradeTime']|date('Y-m-d H:i:s', '+0800')}} (GMT+8)</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">적요</span>
			<div class="p_i_con_box">
				<span class="p_i_con">{{dataPack['ex']}}</span>
			</div>
		</div>
	</div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>
</div>
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>
{# {% if pageType=='ins' %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_ins_save" href="javascript:void(0);"><span class="f_normal">등록하기</span></a>
	</div>
{% else %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_save" href="javascript:void(0);"><span class="f_normal">수정하기</span></a>
	</div>
{% endif %} #}




