{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
    <div class="st_top_sorting_box">
    	<div class="top_sorting_count_box">
    		<div class="p_t_b_3 total_count_txt flex_between"></div>
    		<div class="p_t_b_3 before_count_txt flex_between"></div>
    		<div class="p_t_b_3 after_count_txt flex_between"></div>
    		<div class="p_t_b_3 total_success_amount_txt flex_between"></div>
			<div class="p_t_b_3 total_fail_amount_txt flex_between"></div>
    	</div>
        <div class="p_btn_box index_sorting">
            <div class="index_sort_tit">
                <span class="f_normal sorting_date">Date</span>
                <div class="sort_btn_box">
                	<a class="today_apply_btn p_btn" href="javascript:void(0)">
                        <span class="f_small">Today</span>
                    </a>
                </div>
            </div>
            <div class="p_help_me_datatable_im_between_date_wrap">
                <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-1 month")|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
                <span class="p_between_hyphen"> - </span>
                <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
            </div>
        </div>
        <ul class="option_date_ul">
        {% set optionDateFunc = GetGlobals('monthCount') %}
        {% set optionDateData = optionDateFunc.data %}
        {% for key in optionDateData %}
            <li class="p_wid_4">
                <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
                    <span class="f_small">{{key.standMonth}}월</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="st_bot_sorting_box">
    	{# <div class="sorting_box">
			<span class="sorting_tit f_normal">은행</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in bankPack %}
            	<a href="javascript:void(0);" class="p_chkbox" data-sel="{{key.name}}" data-column="7">
	                    <span class="p_chkbox_i"></span>
	                    <span class="p_chkbox_f f_small sorting_grade'+idx+'">{{key.name}}</span>
	                </a>
            {% endfor %}
        </div> #}
        <div class="sorting_box">
			<span class="sorting_tit f_normal">맡긴금액</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
        	<a href="javascript:void(0);" class="p_chkbox" data-sel="A" data-column="9">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">1원 ~ 1,000,000원</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="B" data-column="9">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">1,000,001원 ~ 5,000,000원</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="C" data-column="9">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">5,000,001원 ~ 10,000,000원</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="D" data-column="9">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">10,000,001원 이상</span>
            </a>
        </div>
        <div class="sorting_box">
			<span class="sorting_tit f_normal">찾은금액</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
        	<a href="javascript:void(0);" class="p_chkbox" data-sel="Z" data-column="10">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">1원 ~ 1,000,000원</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="Y" data-column="10">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">1,000,001원 ~ 5,000,000원</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="X" data-column="10">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">5,000,001원 ~ 10,000,000원</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="W" data-column="10">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">10,000,001원 이상</span>
            </a>
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	.st_right_detail_con_container{padding: 0px;}
	.detail_tab_box a{width: calc(100% / 2);}
	.p_t_b_3{padding: 3px 0px;}
	.index_sorting{height: auto;margin: 0px;}
	/*.st_sorting_wrap{height: 100%;}
	.table_wrap{height: 100%;}
	.p_table_box{height: 100%;}
	.st_detail_wrap{width: 100%;}*/
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">거래시간</th>
				<th>회원통장</th>
				<th>회원예금주</th>
				<th>찾은금액</th>
				<th>맡긴금액</th>
				<th>거래후잔액</th>
				<th>이바이은행</th>
				<th>상태</th>
				<th>적요</th>
				<th>depositAmountGrade</th>
				<th>withdrawalAmountGrade</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		{# 원래데이터 #}
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
		{# 원래데이터 #}
		{# <div class="p_i">
			<span class="p_i_tit">회원통장</span>
			<div class="p_i_con_box">
				<input type="text" class="p_input clientBankIDX_val" value="127">
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">clientBank</span>
			<div class="p_i_con_box">
				<input type="text" class="p_input clientBank_val" value="카카오뱅크">
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">회원예금주</span>
			<div class="p_i_con_box">
				<input type="text" class="p_input clientAccountHolder_val" value="김장배">
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">찾은금액</span>
			<div class="p_i_con_box">
				<input type="text" class="p_input withdrawalAmount_val" value="0">
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">맡긴금액</span>
			<div class="p_i_con_box">
				<input type="text" class="p_input depositAmount_val" value="50000">
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">거래후잔액</span>
			<div class="p_i_con_box"></div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">이바이은행</span>
			<div class="p_i_con_box">
				<select class="p_select ebuyBankIDX_val">
					{% for key in bankPack %}
						<option value="{{key.idx}}">{{key.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">상태</span>
			<div class="p_i_con_box"></div>
		</div>
		<div class="p_i">
			<span class="p_i_tit">적요</span>
			<div class="p_i_con_box"></div>
		</div>
		<a href="javascript:void(0)" class="tmp_insert_btn p_btn">
			<span class="f_normal">입금하기(테스트입니다)</span>
		</a> #}
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';


	/*임시 스크래핑 데이터 만들기*/
	body.on('click','.tmp_insert_btn',function(){
		var clientBankIDX=$('.clientBankIDX_val').val();
		var clientBank=$('.clientBank_val').val();
		var clientAccountHolder=$('.clientAccountHolder_val').val();
		var withdrawalAmount=$('.withdrawalAmount_val').val();
		var depositAmount=$('.depositAmount_val').val();
		var ebuyBankIDX=$('.ebuyBankIDX_val').val();

		$.post(DomainUri+"/MileageCon/tmpLogInsert",{
			clientBankIDX:clientBankIDX,
			clientBank:clientBank,
			clientAccountHolder:clientAccountHolder,
			withdrawalAmount:withdrawalAmount,
			depositAmount:depositAmount,
			ebuyBankIDX:ebuyBankIDX,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=='t'){
				ebuyTable.ajax.reload();
				pToastr('완료');
			}
		});

	});
	/*임시 스크래핑 데이터 만들기 끝*/

	function formatNumber(number) {
	    return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
	function resetDateCount() {
	    return new Promise(function(resolve, reject) {
	        startDate = $('.start_date').val();
			endDate = $('.end_date').val();
			$.post(DomainUri+"/MileageCon/ResetDateCount",{
				startDate:startDate,
				endDate:endDate,
			},function(data){
				var obj=JSON.parse(data);
				if(obj.result=='t'){
					var data=obj.data;
					var beforeCount=data.beforeCount;
					var afterCount=data.afterCount;
					var withdrawalAmount = data.withdrawalAmount;
					var depositAmount = data.depositAmount;
					var totalCount=parseInt(beforeCount)+parseInt(afterCount);
					var numberWithdrawalAmount=formatNumber(withdrawalAmount);
					var numberDepositAmount=formatNumber(depositAmount);
					$('.total_count_txt').html('<span class="f_small">전체</span><span class="f_small">'+totalCount+'건</span>');
					$('.before_count_txt').html('<span class="f_small">매칭전</span><span class="f_small">'+beforeCount+'건</span>');
					$('.after_count_txt').html('<span class="f_small">매칭후</span><span class="f_small">'+afterCount+'건</span>');
					$('.total_success_amount_txt').html('<span class="f_small">맡긴금액</span><span class="f_small">'+numberDepositAmount+'원</span>');
					$('.total_fail_amount_txt').html('<span class="f_small">찾은금액</span><span class="f_small">'+numberWithdrawalAmount+'원');
				}
			});
	        resolve();
	    });
	}

	resetDateCount();

	function resetSortingCount(){
		var columnsArr = [];
		$('[data-column]').each(function() {
			var columnIndex = $(this).attr('data-column');
			if (columnsArr.indexOf(columnIndex) === -1) {
				columnsArr.push(columnIndex);
			}
		});

		var columnsVal = columnsArr.map(function(value) {
			var searchValues = $('.sorting_box').not('.display_none').find('[data-column="' + value + '"].p_chkbox_s').map(function() {
				var searchValue = $(this).attr('data-sel') || '';
			    return searchValue === '전체' ? '' : searchValue;
			}).get().join('|');
			return searchValues;
		});

		$.post(DomainUri+"/MileageCon/ResetSortingCount",{
			columnsVal:columnsVal,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=='t'){
				var data=obj.data;
				var beforeCount=data.beforeCount;
				var afterCount=data.afterCount;
				var withdrawalAmount = data.withdrawalAmount;
				var depositAmount = data.depositAmount;
				var totalCount=parseInt(beforeCount)+parseInt(afterCount);
				var numberWithdrawalAmount=formatNumber(withdrawalAmount);
				var numberDepositAmount=formatNumber(depositAmount);
				$('.total_count_txt').html('<span class="f_small">전체</span><span class="f_small">'+totalCount+'건</span>');
				$('.before_count_txt').html('<span class="f_small">매칭전</span><span class="f_small">'+beforeCount+'건</span>');
				$('.after_count_txt').html('<span class="f_small">매칭후</span><span class="f_small">'+afterCount+'건</span>');
				$('.total_success_amount_txt').html('<span class="f_small">맡긴금액</span><span class="f_small">'+numberDepositAmount+'원</span>');
				$('.total_fail_amount_txt').html('<span class="f_small">찾은금액</span><span class="f_small">'+numberWithdrawalAmount+'원');
			}
		});
	}

	//날짜별 검색
	body.on('click','.date_apply_btn',function(){
		resetDateCount();
	});

	//Today 검색
	body.on('click','.today_apply_btn',function(){
		resetDateCount();
	});

	//달별로 검색
	body.on('click','.option_date_btn',function(){
		resetDateCount();
	});

	//리셋버튼
	body.on('click','.sort_reset_btn',function(){
		resetDateCount();
	});

	//서치버튼
	body.on('click', '.sort_apply_btn', function () {
		resetSortingCount();
	});

	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/MileageCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	d.startDate=$('.start_date').val();
				d.endDate=$('.end_date').val();
	   	    },
	   	},
	   	"columns": [
	        { "data": "idx", "class":"p_td_idx","orderable": false,"visible":false},
	        { "data": "tradeTime", "class":"p_td_reg td_change_tradeTime"},
	        { "data": "clientBank", "class":"p_render_idx"},
	        { "data": "clientAccountHolder", "class":""},
	        { "data": "withdrawalAmount", "class":"td_withdrawalAmount"},
	        { "data": "depositAmount", "class":"td_depositAmount"},
	        { "data": "afterAmount", "class":"td_afterAmount"},
	        { "data": "ebuyBankName", "class":""},
	        { "data": "status", "class":"td_status"},
	        { "data": "ex", "class":""},
	        { "data": "depositAmountGrade", "class":"","orderable": false,"visible":false},
	        { "data": "withdrawalAmountGrade", "class":"","orderable": false,"visible":false},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			var tradeTime=aData['tradeTime'];
			$('.td_change_tradeTime', nRow).html('<span class="utc_time f_small">UTC : '+tradeTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(tradeTime)+'</span>');

			var withdrawalAmount = parseFloat(aData['withdrawalAmount'].replace(/,/g, '')); // 천 단위 구분 기호(,) 제거
			var withdrawalAmountTxt = withdrawalAmount.toLocaleString(); // 천 단위 구분 기호(,)를 포함한 문자열로 변환
			$('.td_withdrawalAmount', nRow).html('<span class="f_small">'+withdrawalAmountTxt+'</span>');

			var depositAmount = parseFloat(aData['depositAmount'].replace(/,/g, '')); // 천 단위 구분 기호(,) 제거
			var depositAmountTxt = depositAmount.toLocaleString(); // 천 단위 구분 기호(,)를 포함한 문자열로 변환
			$('.td_depositAmount', nRow).html('<span class="f_small">'+depositAmountTxt+'</span>');

			var afterAmount = parseFloat(aData['afterAmount'].replace(/,/g, '')); // 천 단위 구분 기호(,) 제거
			var afterAmountTxt = afterAmount.toLocaleString(); // 천 단위 구분 기호(,)를 포함한 문자열로 변환
			$('.td_afterAmount', nRow).html('<span class="f_small">'+afterAmountTxt+'</span>');

			var status=aData['status'];
			switch (status) {
				case '매칭전' :
					$('.td_status', nRow).html('<span class="f_small" style="color:#f00">'+status+'</span>');
				break;
				case '매칭후' :
					$('.td_status', nRow).html('<span class="f_small" style="color:#00c908">'+status+'</span>');
				break;
			}

    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	//td클릭했을떄 거래 정보
	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty') === false &&
	        $(e.target).hasClass('p_clipboard_btn') === false &&
	        $(e.target.parentElement).hasClass('p_clipboard_btn') === false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/MileageCon/MileageDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}
	});

	// //추가하기
	// body.on('click','.st_r_de_f_btn_ins_save',function(){
	// 	var bankIDX=$('.bank_val').val();
	// 	var accountNumber=$('.e_bank_accountNumber_val').val();
	// 	var accountHolder=$('.e_bank_accountHolder_val').val();
	// 	$.post(DomainUri+'/EbuyBankCon/EbuyBankInsert',{
	// 		bankIDX:bankIDX,
	// 		accountNumber:accountNumber,
	// 		accountHolder:accountHolder,
	// 	},function(data){
	//     	var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pAlert(obj.msg);
	// 			return false;
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('추가가 완료되었습니다.');
	// 		}
	// 	});

	// });

	// // status 수정
	// body.on('click','.status_btn',function(){
	// 	var targetTd=$(this);
	//     var targetRow=targetTd.closest('tr')[0];
	//     var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	// 	var status=targetTd.attr('data-status');
	// 	if(status==303101){
	// 		statusVal=303201;
	// 	}else{
	// 		statusVal=303101;
	// 	}
	//     var status=targetTd.closest('tr').find('.status').val();
	//     console.log(targetIDX);
	// 	$.post(DomainUri+'/EbuyBankCon/StatusUpdate',{
	// 		targetIDX:targetIDX,
	// 		statusVal:statusVal,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pAlert(obj.msg);
	// 			return false;
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('수정이 완료되었습니다.');
	// 		}
	// 	});
	// });

	// // ebuyBank 수정
	// body.on('click','.update_btn',function(){
	// 	var targetTd=$(this);
	//     var targetRow=targetTd.closest('tr')[0];
	//     var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	//     var accountHolder=targetTd.closest('tr').find('.accountHolder_val').val();
	//     var accountNumber=targetTd.closest('tr').find('.accountNumber_val').val();

	// 	$.post(DomainUri+'/EbuyBankCon/EbuyBankUpdate',{
	// 		targetIDX:targetIDX,
	// 		accountHolder:accountHolder,
	// 		accountNumber:accountNumber,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pAlert(obj.msg);
	// 			return false;
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('수정이 완료되었습니다.');
	// 		}
	// 	});
	// });



});
</script>
{% endblock %}


