
{% block content %}


<style>
.category_confirm_wrap{height: 500px;}
.confirm_wrap{display: flex;justify-content: space-between;}
.category_list{width: 50%;}
.cate_wrap{width: 50%;height: 400px;background-color: #eee;padding: 15px;}

.pub_dt_top_btn_box{display: flex;justify-content: space-between;align-items: center; padding: 10px 0px;}
.cate_insert_html_btn{display: flex;width: 100px;justify-content: center;padding: 7px 10px;border-radius: 3px;}
.cate_insert_html_btn span{color: #000;}
.menu_reload_btn{display: flex;width: 100px;justify-content: center;padding: 7px 10px;border-radius: 3px;}
.menu_reload_btn span{color: #000;}
.cate_inset_btn_box{padding: 10px 0px;}

.category_insert_title{padding: 10px 0px;}
.dd{max-width: 100%;}

</style>
<div class="category_confirm_wrap">
    <div class="pub_dt_top_btn_box">
        <a class="cate_insert_html_btn p_btn" href="javascript:void(0)">
           <span class="f_small">추가하기</span>
        </a>
        <a class="menu_reload_btn p_btn" href="javascript:void(0)">
           <span class="f_small">새로고침</span>
        </a>
    </div>
    <div class="confirm_wrap">
        <div class="dd category_list" id="cheese">
            {# <ol class="dd-list">
              <li class="dd-item" data-id="">
                    <div class="dd-handle"></div>
                    <div class="dd-content"><span class="font_short">ddd</span></div>
                    <div class="cheese_eye"></div>
                    <div class="cheese_setting"></div>
                    <div class="cheese_del"></div>
                </li>
                <li class="dd-item" data-id="">
                    <div class="dd-handle"></div>
                    <div class="dd-content"><span class="font_short">ddd</span></div>
                    <div class="cheese_eye"></div>
                    <div class="cheese_setting"></div>
                    <div class="cheese_del"></div>

                    <ol class="dd-list">
                       <li class="dd-item" data-id="">
                          <div class="dd-handle"></div>
                          <div class="dd-content"><span class="font_short">ddd</span></div>
                          <div class="cheese_eye"></div>
                          <div class="cheese_setting"></div>
                          <div class="cheese_del"></div>
                      </li>
                   </ol>
                </li>
            </ol> #}
        </div>
        <div class="cate_wrap">
            {# append 구간 #}
        </div>
    </div>

    <textarea id="cheese_output"></textarea>
</div>



<script type="text/javascript">
$(document).ready(function(){
    var body=$('body');
    var Cheese=$('#cheese');
    var CheeseOutput=$('#cheese_output');
    var cheeseNestable;

    function menu_reload(){
        $.post(DomainUri+"/QnaCon/QnaCategoryFormList",{

        },function(data){
            var cheese_html='<ol class="dd-list dd-list_one_depth">';
            var obj=JSON.parse(data);
            var data=obj.data;
                for (var i = 0; i < data.length; i++) {
                var idx=data[i].idx;
                var name=data[i].name;
                var statusIDX=data[i].statusIDX;
                var childCategoryListArr=data[i].childCategoryListArr;
                if(statusIDX==345501){
                   var visible=' dd-item_disable';
                }else{
                   var visible='';
                }
                cheese_html+='<li class="dd-item'+visible+'" data-id="'+idx+'"><button data-action="collapse" type="button">Collapse</button><button data-action="expand" type="button" style="display: none;">Expand</button><div class="dd-handle"></div><div class="dd-content"><span class="font_short">'+name+'</span></div><div class="cheese_eye"></div><div class="cheese_setting"></div><div class="cheese_del"></div>';
                if(childCategoryListArr.length>0){
                    cheese_html+='<ol class="dd-list">';
                    for (var j = 0; j < childCategoryListArr.length; j++) {
                        var childIDX=childCategoryListArr[j].childIDX;
                        var childCateName=childCategoryListArr[j].childCateName;
                        var childStatusIDX=childCategoryListArr[j].childStatusIDX;
                        if(childStatusIDX==345501){
                            var children_visible=' dd-item_disable';
                        }else{
                            var children_visible='';
                        }
                        cheese_html+='<li class="dd-item'+children_visible+'" data-id="'+childIDX+'"><div class="dd-handle"></div><div class="dd-content"><span class="font_short">'+childCateName+'</span></div><div class="cheese_eye"></div><div class="cheese_setting"></div><div class="cheese_del"></div>';
                    }
                    cheese_html+='</ol>';//2차
                }
                cheese_html+='</li>';
            }
            cheese_html+='</ol>';//1차
            Cheese.html(cheese_html);
        });
    }
    menu_reload();

    body.on('click','.menu_reload_btn',function(){
        menu_reload();
    })

    body.on('click','.delete_btn',function(){
        menu_reload();
    });

    body.on('click','.category_insert_btn',function(){
        menu_reload();
    });

    body.on('click','.category_update_btn',function(){
        menu_reload();
    });


    var updateOutput=function(e){
        var list  =e.length ? e : $(e.target),
            output=list.data('output');
        if (window.JSON) {
            output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
        } else {
            output.val('JSON browser support required for this demo.');
        }
        // console.log(output.val());
        console.log(Cheese.nestable('serialize'));
        $.ajax({
            type: 'POST',
            url: DomainUri+'/QnaCon/MenuUpdate',
            data : {
                data : Cheese.nestable('serialize')
            },
            success: function(data) {
                menu_reload();
            }
        });
    };
    $('#cheese').promise().done(function(){
        cheeseNestable=Cheese.nestable({
            group: 1,
            maxDepth: 3
        })
        .on('change', updateOutput);
        updateOutput(cheeseNestable.data('output', CheeseOutput));
    });
    var target;
    var EditItem;
    var EditItemId;
    var EditItemName;
    var EditItemUrl;



});
</script>
{% endblock %}

