<style>

    :root {
      --css-bubble-left: #dfefff;
      --css-bubble-leftSub: #dfefff;

      --css-bubble-right: #faffe0;
      --css-bubble-rightSub: #fff8c7;
    }

    /*디테일 공통*/
    .qna_detail_wrap{height: 100%;}
    /*업데이트 부분*/
    .detail_data_box{display: flex;justify-content: space-between;align-items: center; height: 40px;padding: 10px;border-bottom: 1px solid black;}
    .qna_tit{padding: 0px 0px;}
    .chat_time_box{position: relative;}

    .detail_box{height: calc(100% - 40px);display: flex;flex-direction: column;justify-content: space-between;}
    .content_box{height: 100%;overflow-y: scroll;}
    .detail_name_text{padding: 5px 10px;}
    .createTime_text{padding: 0px 5px;}
    .content_val{height: 100px;}

    .content_insert_btn , .staff_insert_btn{display: flex;justify-content: center;align-items: center;width: 70px;height: 100%;background-color: var(--css-maincolor);}
    .content_insert_btn span , .staff_insert_btn span{color:#fff;}
    /* 채팅창 말풍선 스타일 */
    .bubble_box , .bubble_right_box{margin: 10px 0px;}
    .bubble_right_box{text-align: end;padding: 0px 10px;}
    .bubble {
        max-width: 400px; /* 말풍선의 최대 너비 설정 */
        padding: 10px 15px; /* 내부 여백 설정 */
        background-color: var(--css-bubble-left); /* 배경색 설정 */
        color: #fff; /* 텍스트 색상 설정 */
        border-radius: 20px; /* 말풍선의 모서리를 둥글게 만듦 */
        /*margin: 10px 0;*/ /* 말풍선 간의 간격 설정 */
        position: relative; /* 포지션 설정 */
        font-weight: 500;
        color: #000;
        line-height: 22px;
        letter-spacing: 0.3px;
        white-space: pre-line;
    }

    /* 오른쪽에 위치한 말풍선 */
    .bubble_right_box .bubble {
        background-color: var(--css-bubble-right); /* 오른쪽 말풍선의 배경색 설정 */
        display: inline-block;
        text-align: start;
    }

    .right_box{display: flex;flex-direction: row-reverse;align-items: flex-end;}
    .left_box{display: flex;align-items: flex-end;}

    /* 파일 다운로드 css */
    .bubble_con_box .files_box{display: flex; flex-direction: column; align-items: flex-start; border-radius: 5px; overflow: hidden; border: 1px solid var(--css-bubble-left);}
    .bubble_con_box .files_box .icon{border-radius: 100%; border: 1px solid #838383; color: #838383; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; margin-left: 10px;}
    .bubble_con_box .files_box .con_box{display: flex; align-items: center;}
    .bubble_con_box .files_box .bubble{background-color: transparent; padding: 0;}
    /*.bubble_con_box .files_box .bubble_file{padding: 5px 0; margin-top: 5px;}*/
    /*.bubble_con_box .files_box .bubble_file .bubble{padding: 0;}*/
    .bubble_con_box .files_box .con_box{padding: 10px 15px;  }
    .bubble_con_box .files_box .bubble_file {width: 100%; display: inline-block; background-color: var(--css-bubble-leftSub); padding: 3px 5px; text-align: center;}
    .bubble_right_box .con_box{background-color: var(--css-bubble-right);}
    .bubble_right_box .files_box{border: 1px solid var(--css-bubble-right);}
    .bubble_right_box .bubble_con_box .files_box .bubble_file{background-color: var(--css-bubble-rightSub);}

    .display_none {display: none !important;}

    .system_wrap{text-align: center;}
    .system_wrap::before{content: '';position: absolute;top: 50%;left: 0;width: 100%;height: 1px;background-color: #d9d9d9;}
    .system_box{display: inline-block;background-color: #666;padding: 5px 30px;margin: 20px auto;text-align: center;}
    .system_createTime_text{padding-bottom: 2px;font-weight: 300;color: #fff;}
    .system_content{display:block;color: #fff;}


    /*파일*/
    .qna_file_box{display: flex;}
    .qna_file_box_header{display: flex;align-items: center; text-align: center;  padding: 0px 0px;}
    #file_el_form{position: absolute; left: -9999px; top:-9999px; display: none;}
    .qna_file_box_tit span{padding: 5px 5px;}
    .file_attach_btn {background-color: var(--css-maincolor);padding: 4px 12px; min-width: 150px;}
    .file_attach_btn span{color: #fff;}
    .file_list_el{display: inline-block; padding:1px 10px; border:1px solid#395B77; margin:3px;}
    .file_del_btn span{font-weight: bold; color:#f56565; margin-left: 10px;}
    .file_del_btn:active{top:1px;}

    .thum_img{max-width: 200px;}

    /* 20240311 스태프가 티켓코드 생성 */

    .category_select_val , .market_select_val{width: 50%;}
    .ins_title_box{padding: 10px 0px 5px 0px;}
    .ins_title_val{border: 1px solid var(--css-maincolor);}
    .category_select{display: flex;justify-content: space-between;}
    .textarea_box{height: 100px;}

</style>
<div class="qna_detail_wrap">
    {% if type == 'insert' %}
        <div class="category_select">
            <select class="p_select category_select_val">
                <option value="999999999">카테고리를 선택해주세요.</option>
                {% for key in catePack %}
                    {% if key.name != 'SandBox' %}
                        <option value="{{key.idx}}">{{key.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select class="p_select market_select_val">
                <option value="999999999">마켓을 선택해주세요.</option>
                {% for key in marketPack %}
                    <option value="{{key.idx}}">{{key.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="ins_title_box">
            <input type="text" class="p_input ins_title_val" placeholder="제목을 입력해주세요.">
        </div>
    {% else %}
    {# 여기부터 #}
    {% set status=detailPack['status'] %}
    <div class="detail_data_box" data-idx="{{targetIDX}}">
        <span class="f_big qna_tit f_bold">{{detailPack['title']}}</span>
        {% if status=='취소' or status=='종료' or status=='자동종료' %}
        {% else %}
            <div class="status_update_btn_box">
                <a href="javascript:void(0)" class="status_update_btn p_btn c_btn"><span class="f_normal">답변완료</span></a>
            </div>
        {% endif %}
    </div>
    {# 여기까지 #}
    <div class="detail_box">
        <div class="content_box scroll_change">
            {% set prevKey = null %}
            {% set lastAnwser = '' %}
            {% set nowAnwser = '' %}
            {% set email = '' %}
            {% set rightBoxClass = '' %}

            {% for key in dataPack %}
                {% set displayNone='' %}
                {% set tStatus = key.statusIDX %}
                {% set idx = key.idx %}

                {% set marketManagerEmail = key.marketManagerEmail %}
                {% set staffEmail = key.staffEmail %}

                {% if prevKey is not null and tStatus == prevthisStauts %}
                    {% set displayNone='display_none' %}
                {% endif %}
                {# 질문자 = 마켓매니저 > 질문을 하는 입장이니까 오른쪽 #}
                {% if tStatus=='441101' or tStatus=='441102'
                    or  tStatus=='341101' or  tStatus=='341102'%}

                    {% if tStatus=='441101' or tStatus=='441102'%}
                        {% set bubbleBoxClass = "bubble_left_box" %}
                        {% set nowAnwser = 'left' %}
                        {% set email=marketManagerEmail %}
                        {% set rightBoxClass='left_box' %}

                    {% elseif tStatus=='341101' or  tStatus=='341102' %}
                        {% set bubbleBoxClass = "bubble_right_box" %}
                        {% set nowAnwser = 'right' %}
                        {% set rightBoxClass='right_box' %}
                        {% set email=staffEmail %}
                    {% endif %}


                    <div class="bubble_box {{bubbleBoxClass}}">
                    {% if lastAnwser!=nowAnwser %}
                        <span class="detail_name_text display_block f_small {{
                        displayNone}}">{{email}}</span>
                    {% endif %}
                        <div class="bubble_con_box {{rightBoxClass}}">
                            {% set thisCon = key.content %}
                            {% set bubbleEl='' %}
                            {% if tStatus=='341102' or tStatus=='441102'%}
                                {# 파일들 #}
                                {% set srcFileName = key.srcFileName %}
                                {% set ext = key.ext %}
                                {% set fileIDX = key.fileIDX %}
                                {# 이미지 파일 #}
                                {% if ext in ['jpeg', 'png', 'jpg', 'gif'] %}
                                    <div class="bubble img_bubble">
                                        <a href="javascript:void(0)" class="bubble_file" data-idx='{{fileIDX}}'><img class='thum_img' src="{{srcFileName}}" alt='{{thisCon}}'>
                                        </a>
                                    </div>
                                {# 이미지 아닌 파일 #}
                                {% elseif ext in ['doc', 'docx', 'pdf', 'txt', 'xlsx'] %}
                                    <div class="files_box">
                                        <div class="con_box">
                                            <span class="f_small bubble">{{thisCon}}</span>
                                            <i class="icon">{{ext}}</i>
                                        </div>
                                        <a href="javascript:void(0)" class="bubble_file" data-idx='{{fileIDX}}'>
                                            <span class="f_small bubble">Download</span>
                                            <i class="fa-solid fa-download fd_icon" style="color:#858585"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            {% else  %}
                                <span class="f_normal bubble">{{thisCon}}</span>
                            {% endif %}

                            {% set krTime = key.createTime|date_modify('+9 hours') %}
                            <span class="createTime_text utc_time f_small">{{key.createTime}} (UTC)</span>
                            <span class="createTime_text kr_time f_small">{{ krTime|date('Y-m-d H:i:s') }} (KST)</span>
                        </div>
                    </div>
                {% elseif tStatus=='441103' or tStatus=='341103' %}
                    {% set nowAnwser='center' %}

                    <div class="system_wrap">
                        <div class="system_box">
                            {% set krTime = key.createTime|date_modify('+9 hours') %}
                            <span class="system_createTime_text utc_time f_small">{{key.createTime}} (UTC)</span>
                            <span class="system_createTime_text kr_time f_small">{{ krTime|date('Y-m-d H:i:s') }} (KST)</span>
                            <span class="system_content f_small" style="white-space: pre-line;">{{key.staffContent}}</span>
                        </div>
                    </div>
                {% endif %}
                {% set lastAnwser = nowAnwser %}
                {% set prevKey = key %}
            {% endfor %}
        </div>
    {% endif%}
    
        {% if status=='취소' or status=='종료' or status=='자동종료' %}
        {% else %}
            <div class="qna_file_box">
                {% set ticketCode=detailPack['ticketCode'] %}
                    <div class="qna_file_box_header">
                        {# <div class="qna_file_box_tit">
                            <span class="f_normal">Attachment</span>
                        </div> #}
                        <label class="pub_fB_find_label" for="file_el">
                            <a class="p_btn file_attach_btn">
                                <span class="f_normal">파일첨부</span>
                            </a>
                            <form id="file_el_form" class="file_form" method="POST" enctype="multipart/form-data" action="/oo.php">
                            {#  <input type="hidden" name="insertedIDX" value="" class="file_docIDX_input"> #}
                                <input id="file_el" class="pub_fB_files" value="" multiple="multiple" type="file">
                            </form>
                        </label>
                    </div>
                    <div class="document_file_preview_box">
                    </div>
            </div>

            <div class="textarea_box display_flex">
                <textarea class="p_textarea content_val"></textarea>
                {% if type == 'insert' %}
                <a href="javascript:void(0)" class="staff_insert_btn p_btn"><span class="f_normal">Send2</span></a>   
                {% else %}
                    <a href="javascript:void(0)" class="content_insert_btn p_btn"><span class="f_normal">Send</span></a>    
                {% endif %}
                
            </div>
        {% endif %}

    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    var type = '{{type}}';
    if(type == ''){
        $('.content_box').scrollTop($('.content_box')[0].scrollHeight);//스크롤 하단 고정
    }
});
</script>