{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
    <div class="st_top_sorting_box">
    	<div class="category_wrap total_num">
    		<span class="f_big total_count_text">Total</span>
    		<div class="category_confirm_btn_box">
                <a href="javascript:void(0)" class="p_btn d_btn ticketCode_insert_btn" style="margin-right:2px;">
                    <span class="f_small">티켓 생성</span>
                </a>
    			<a href="javascript:void(0)" class="p_btn d_btn category_confirm_btn">
    				<span class="f_small">카테고리 관리</span>
    			</a>
    		</div>
    	</div>
        <div class="p_btn_box index_sorting">
            <div class="index_sort_tit">
                <span class="f_normal sorting_date">Date</span>
                <div class="sort_btn_box">
                	<a class="today_apply_btn p_btn" href="javascript:void(0)">
                        <span class="f_small">Today</span>
                    </a>
                </div>
            </div>
            <div class="p_help_me_datatable_im_between_date_wrap">
                <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-1 month")|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
                <span class="p_between_hyphen"> - </span>
                <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
            </div>
        </div>
        <ul class="option_date_ul">
        {% set optionDateFunc = GetGlobals('monthCount') %}
        {% set optionDateData = optionDateFunc.data %}
        {% for key in optionDateData %}
            <li class="p_wid_4">
                <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
                    <span class="f_small">{{key.standMonth}}월</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="st_bot_sorting_box">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">마켓</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in marketPack %}
            	<a href="javascript:void(0);" class="p_chkbox" data-sel="{{key.name}}" data-column="5">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	.total_num{padding: 14px 8px;}
	.category_wrap , .cate_info_box{display: flex;justify-content: space-between;align-items: center;}
	.total_count_text{color: #fff;}

	.chatting_wrap{width: 50%;height: 100%;padding: 10px; background-color: #fff;border-left: 1px solid #eee;}
	.qna_table_box{width: 50%;min-width: 0px;}

	.c_btn{background-color: var(--css-maincolor);}
	.c_btn span{color: #fff;}

	.info_text{display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;}

	.p_td_name{color: #007bff;}
	.p_td_reg{width: 140px;}

	td.td_change_expectedTime span{color: #af0000;}

	.index_sorting{height: auto;margin: 0px;}

	.category_confirm_btn_box{display: flex;justify-content:space-between;}
	.d_btn{padding: 4px 4px;}

	/*디테일*/
	.info_flex_box_list{width: 100%;}
	.category_box{padding: 10px;}
	.category_title{padding: 10px 0px;}
	
	.q_cate_box {width: calc(100% / 2);}

	.detail_tab_box a{width: calc(100% / 2);}


	.before_qna_wrap{padding: 20px 10px 10px 10px;}
	.before_qna_box{margin: 10px 0px;}
	.before_qna_title{padding-bottom: 10px;}
	.before_data_btn{width: 100%;padding: 10px;border: 1px solid #000;}

	.flex_box_list{width: 100%;height: 100%;min-height:300px;overflow-y: scroll;}

	.info_detail_box{height: 100%;flex-direction: column;justify-content: space-between;}
	.display_flex_between{display: flex;justify-content: space-between;}

	.f_green_i{color: green !important;}
	.f_blue_i{color: blue !important;}
	.f_red_i{color: red !important;}

	.expectedTime_text{background-color: #af0000;color: #fff;padding: 2px 4px;}

	/*컨펌창*/
	.chk_text_box{padding: 10px 0px;}
</style>
<div class="table_flex_box">
	<div class="p_table_box qna_table_box">
		<table class="p_table qna_table">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">생성시간</th>
				<th class="p_th_search_date">업데이트시간</th>
				<th class="p_th_search_date">답변예정일</th>
				<th>티켓코드</th>
				{# <th>제목</th> #}
				<th>마켓</th>
				<th>카테고리</th>
				<th>상태</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="chatting_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var startDate=$('.start_date').val();
	var endDate=$('.end_date').val();
	var renderidx='{{renderidx}}';

	function resetDateCount() {
	    return new Promise(function(resolve, reject) {
	        startDate = $('.start_date').val();
			endDate = $('.end_date').val();
			$.post(DomainUri+"/QnaCon/ResetDateCount",{
				startDate:startDate,
				endDate:endDate,
			},function(data){
				var obj=JSON.parse(data);
				if(obj.result=='t'){
					var data=obj.data;
					var count=data.count;
					$('.total_count_text').html('Total '+count);
				}
			});
	        resolve();
	    });
	}

	resetDateCount();

	function resetSortingCount(){
		var columnsArr = [];
		$('[data-column]').each(function() {
			var columnIndex = $(this).attr('data-column');
			if (columnsArr.indexOf(columnIndex) === -1) {
				columnsArr.push(columnIndex);
			}
		});

		var columnsVal = columnsArr.map(function(value) {
			var searchValues = $('.sorting_box').not('.display_none').find('[data-column="' + value + '"].p_chkbox_s').map(function() {
				var searchValue = $(this).attr('data-sel') || '';
			    return searchValue === '전체' ? '' : searchValue;
			}).get().join('|');
			return searchValues;
		});

		$.post(DomainUri+"/QnaCon/ResetSortingCount",{
			columnsVal:columnsVal,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=='t'){
				var data=obj.data;
				var count=data.count;
				$('.total_count_text').html('Total '+count);
			}
		});
	}

	//날짜별 검색
	body.on('click','.date_apply_btn',function(){
		resetDateCount();
	});

	//Today 검색
	body.on('click','.today_apply_btn',function(){
		resetDateCount();
	});

	//달별로 검색
	body.on('click','.option_date_btn',function(){
		resetDateCount();
	});

	//리셋버튼
	body.on('click','.sort_reset_btn',function(){
		resetSortingCount();
	});

	//서치버튼
	body.on('click', '.sort_apply_btn', function () {
		resetSortingCount();
	});

	ebuyTable=$('.qna_table').DataTable({
	    "order": [[2,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/QnaCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
				d.startDate=$('.start_date').val();
				d.endDate=$('.end_date').val();
	   	    },
	   	},
	   	"destroy": true,//재설정
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "createTime", "class":"td_change_createTime"},
	        { "data": "updateTime", "class":"td_change_updateTime"},
	        { "data": "expectedTime", "class":"td_change_expectedTime"},
	        { "data": "ticketCode", "class":"p_render_idx"},
	        { "data": "marketName", "class":""},
	        // { "data": "title", "class":""},
	        { "data": "categoryName", "class":"td_categoryName"},
	        { "data": "status", "class":"p_td_status"},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			var status = aData['status'];
			switch(status){
				case '접수' :
					$('.p_td_status', nRow).html('<span class="f_small f_bold" style="color:blue;">'+status+'</span>');
				break;
				case '재문의' :
					$('.p_td_status', nRow).html('<span class="f_small f_bold" style="color:blue;">'+status+'</span>');
				break;
				case '취소' :
					$('.p_td_status', nRow).html('<span class="f_small f_bold" style="color:red;">'+status+'</span>');
				break;
				case '종료' :
					$('.p_td_status', nRow).html('<span class="f_small f_bold" style="color:red;">'+status+'</span>');
				break;
				case '답변완료' :
					$('.p_td_status', nRow).html('<span class="f_small f_bold" style="color:green;">'+status+'</span>');
				break;
				case '자동종료' :
					$('.p_td_status', nRow).html('<span class="f_small f_bold" style="color:red;">'+status+'</span>');
				break;
				case '스태프문의' :
					$('.p_td_status', nRow).html('<span class="f_small f_bold" style="color:blue;">'+status+'</span>');
				break;
			}

			var momName=aData['momName'];
			var categoryName=aData['categoryName'];

			if(momName==null || momName==undefined || momName==''){
				$('.td_categoryName', nRow).html('<span class="f_small">'+categoryName+'</span>');
			}else{
				$('.td_categoryName', nRow).html('<span class="f_small">'+momName+' → '+categoryName+'</span>');
			}

			var createTime=aData['createTime'];
			$('.td_change_createTime', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(createTime)+'</span>');
			var updateTime=aData['updateTime'];
			$('.td_change_updateTime', nRow).html('<span class="utc_time f_small">UTC : '+updateTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(updateTime)+'</span>');
			var expectedTime=aData['expectedTime'];
			if(expectedTime=='-'||expectedTime==''){
				$('.td_change_expectedTime', nRow).html('-');
			}else{
				$('.td_change_expectedTime', nRow).html('<span class="utc_time f_small">UTC : '+expectedTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(expectedTime)+'</span>');
			}

			if(aData['ticketCode']){
				var ticketCode=aData['ticketCode'];
				$('.td_change_ticketCode', nRow).html('<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="'+ticketCode+'"><span class="f_small">'+ticketCode+'</span></a>');
			}

    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	function chattingLoad(targetIDX){
		$.post(DomainUri+'/QnaCon/ChattingFormLoad',{
			targetIDX:targetIDX,
		},function(html){
	    	$(".chatting_wrap").html(html);
		});
	}

	function detailLoad(targetIDX){
		$.post(DomainUri+'/QnaCon/DetailFormLoad',{
			targetIDX:targetIDX,
		},function(html){
	    	$(".st_detail_wrap").html(html);
	    	var currentURL = window.location.href;
			var urlParams = new URLSearchParams(currentURL);
			var viewValue = urlParams.get('view');
			$('.detail_tab[data-type='+viewValue+']').trigger('click');
		});
	}

	//td클릭했을떄 거래 정보
	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty') === false &&
	        $(e.target).hasClass('p_clipboard_btn') === false &&
	        $(e.target.parentElement).hasClass('p_clipboard_btn') === false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		    detailLoad(targetIDX);
	    	chattingLoad(targetIDX);
		}
	});

	//스태프가 먼저 티켓발행할때 렌더
	body.on('click','.ticketCode_insert_btn',function(){
		chattingLoad('insert');
	});

	//스태프문의
	body.on('click', '.staff_insert_btn', function() {
		var qnaCategoryIDX = $('.category_select_val').val();
		var marketIDX = $('.market_select_val').val();
		var title = $('.ins_title_val').val();
		var content = $('.content_val').val();

		if(qnaCategoryIDX == '999999999'){
			pToastr('카테고리를 선택해주세요.','');
			return false;
		}
		if(marketIDX == '999999999'){
			pToastr('마켓을 선택해주세요.','');
			return false;
		}
		if(title == ''){
			pToastr('제목을 입력해주세요.','');
			return false;
		}
		if(content == ''){
			pToastr('내용을 입력해주세요.','');
			return false;
		}
		$.confirm({
			title:'티켓코드 생성',
			content:'<span class="f_normal">티켓코드를 생성하시겠습니까?</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '700px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						var form = document.querySelector("#file_el_form");
						// for로 돌려서 배열에 담은다음 여러개 한꺼번에 돌리기
						var formData = new FormData(form);
						var filesListCount=0;
						for (var i = 0; i < filesArr.length; i++) {
							// 삭제되지 않은 파일만 폼데이터에 담기
							if (!filesArr[i].is_delete) {
							    formData.append("files[]", filesArr[i]);
							    filesListCount++;
							}
						}
					    formData.append('qnaCategoryIDX',qnaCategoryIDX);
					    formData.append('marketIDX',marketIDX);
					    formData.append('title',title);
					    formData.append('content',content);

					    $.ajax({
							beforeSend: function() {
							},
							url: DomainUri+'/QnaCon/newQnaInsertFromStaff',
							type: "POST",
							data: formData,
							contentType: false,
							cache: false,
							processData:false,
							success:function(response){
								var obj=JSON.parse(response);
						    	if(obj.result=='t'){
						    		formData = new FormData();
						    		filesArr=[];
						            filesListCount = 0;

						    		pToastr('티켓코드가 생성되었습니다.','');
					    			// chattingLoad(targetIDX);
					    			ebuyTable.ajax.reload();


						    	}else{
						    		pAlert(obj.msg)
						    	}
							},
							error: function(jqXHR, text, error){
								//
							}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});
	});
	

	//말풍선 보내기
	body.on('click','.content_insert_btn',function(){
		var targetIDX=$('.detail_data_box').attr('data-idx');
		var content=$('.content_val').val();
		if(content==''){pAlert('내용을 작성해주세요');return false;}
		$.confirm({
			title:'답변보내기',
			content:'<div class="chk_text_box">\
			<span class="f_normal" style="line-height=20px;">답변을 보내시겠습니까? </br>답변완료를 처리하지 않으려면 체크를 해제해주세요.</br>체크 후 전송하면 해당 마켓매니저에게 메일이 전송됩니다.</span>\
			</div>\
			\
			<a href="javascript:void(0);" class="p_chkbox answer_comp_chk p_chkbox_s">\
                <span class="p_chkbox_i"></span>\
                <span class="p_chkbox_f f_small sorting_all">답변완료</span>\
            </a>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '700px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						var completeChk='N';
						if($('.answer_comp_chk').hasClass('p_chkbox_s')){
							completeChk='Y';
						}
						var form = document.querySelector("#file_el_form");
						// for로 돌려서 배열에 담은다음 여러개 한꺼번에 돌리기
						var formData = new FormData(form);
						var filesListCount=0;
						for (var i = 0; i < filesArr.length; i++) {
							// 삭제되지 않은 파일만 폼데이터에 담기
							if (!filesArr[i].is_delete) {
							    formData.append("files[]", filesArr[i]);
							    filesListCount++;
							}
						}
					    formData.append('content',content);
					    formData.append('targetIDX',targetIDX);
					    formData.append('completeChk',completeChk);

					    $.ajax({
							beforeSend: function() {
							},
							url: DomainUri+'/QnaCon/QnaContentInsert',
							type: "POST",
							data: formData,
							contentType: false,
							cache: false,
							processData:false,
							success:function(response){
								var obj=JSON.parse(response);
						    	if(obj.result=='t'){
						    		formData = new FormData();
						    		filesArr=[];
						            filesListCount = 0;

						    		pToastr('답변이 완료되었습니다.','');
					    			chattingLoad(targetIDX);
					    			ebuyTable.ajax.reload();


						    	}else{
						    		pAlert(obj.msg)
						    	}
							},
							error: function(jqXHR, text, error){
								//
							}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});
	});

	

	//답변완료 버튼
	body.on('click','.status_update_btn',function(){
		var targetIDX=$('.detail_data_box').attr('data-idx');
		var statusIDX=340101;
		$.confirm({
			title:'답변완료',
			content:'<span class="f_normal">답변완료 처리를 하시겠습니까?</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '400px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						$.post(DomainUri+'/QnaCon/QnaContentComplete',{
							targetIDX:targetIDX,
							statusIDX:statusIDX,
						},function(data){
					    	var obj=JSON.parse(data);
					    	if(obj.result=='t'){
					    		pToastr('완료처리가 되었습니다','');
					    		ebuyTable.ajax.reload();
								chattingLoad(targetIDX);
					    	}else{
					    		pAlert(obj.msg)
					    	}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});
	});

	//이전문의 내역보기
	body.on('click','.before_data_btn',function(){
		var tmpThis=$(this);
		var targetIDX=tmpThis.attr('data-idx');
		chattingLoad(targetIDX);
		detailLoad(targetIDX);

		ebuyTable.rows().every(function() {
	        var rowData = this.data();
	        if (rowData.idx == targetIDX) {
	            // 일치하는 행에 p_tr_active 클래스 추가
	            $(this.node()).addClass('p_tr_active');
	        } else {
	            // 일치하지 않는 행에 p_tr_active 클래스 제거
	            $(this.node()).removeClass('p_tr_active');
	        }
	    });
	});

	/* ----------------------------카테고리부분-------------------------------- */

	//카테고리 관리 컨펌
	body.on('click','.category_confirm_btn',function(){
		$.post(DomainUri+'/QnaCon/QnaCategoryConfirmLoad',{
		},function(html){
	    	$.confirm({
	    		title:'카테고리 관리',
	    		content:html,
	    		closeIcon: true,
	    		useBootstrap: false,
	    		backgroundDismiss: true,
	    		boxWidth: '1200px',
	    		buttons: {
	    			'confirm': {
	    				text: '확인',
	    				btnClass: 'btn-blue director_update',
	    				keys:['enter'],
	    				action:function(){

	    				}
	    			},
	    			cancel:{text:"취소"}
	    		}
	    	});
		});
	});

	//카테고리 추가 html
	body.on('click','.cate_insert_html_btn',function(){
		var tmpHtml='';
		tmpHtml+='<span class="f_big category_insert_title">카테고리 추가</span>';
		tmpHtml+='<div class="cate_box">';
        tmpHtml+='    <input type="text" class="p_input category_name_val" placeholder="메뉴명을 적어주세요.">';
        tmpHtml+='</div>';
        tmpHtml+='<div class="cate_inset_btn_box">';
        tmpHtml+='    <a href="javascript:void(0)" class="category_insert_btn p_btn"><span class="f_normal">추가</span></a>';
        tmpHtml+='</div>';
        $('.cate_wrap').html(tmpHtml);
	});

	//카테고리 추가
	body.on('click','.category_insert_btn',function(){
		var name=$('.category_name_val').val();
		$.post(DomainUri+'/QnaCon/QnaCategoryInsert',{
			name:name,
		},function(data){
	    	var obj=JSON.parse(data);
	    	console.log(obj.result);
	    	if(obj.result=='t'){
	    		pAlert('카테고리 추가가 완료되었습니다. 새로고침을 눌러주세요.');
	    	}else{
	    		pAlert(obj.msg)
	    	}
		});
	});

	//카테고리 숨김
    body.on( 'click', '.cheese_eye', function () {
    	pLoadingOn();
        tmpThis=$(this);
        tmpItem=tmpThis.closest($('.dd-item'));
        if(tmpItem.hasClass('dd-item_disable')){
        	tmpItem.removeClass('dd-item_disable')
        }else{
        	tmpItem.addClass('dd-item_disable')
        }
        targetIDX=tmpItem.attr("data-id");
        $.post(DomainUri+"/QnaCon/CheeseEyeAction",{
            targetIDX:targetIDX,
        },function(data){
            pLoadingOff();
        });
    });

    //카테고리 수정 html
    body.on('click','.cheese_setting',function(){
    	var tmpThis=$(this);
        var tmpItem=tmpThis.closest($('.dd-item'));
        var targetIDX=tmpItem.attr("data-id");

    	$.post(DomainUri+"/QnaCon/GetTargetNameData",{
            targetIDX:targetIDX,
        },function(data){
        	console.log(data);
        	var obj=JSON.parse(data);
        	if(obj.result=='t'){
        		var namePack = obj.namePack;
        		var idx=namePack.idx;
        		var name=namePack.name;
				var tmpHtml='';
				tmpHtml+='<span class="f_big category_insert_title">카테고리 수정</span>';
				tmpHtml+='<div class="upd_cate_box" data-idx="'+idx+'">';
		        tmpHtml+='    <input type="text" class="p_input upd_category_name_val" value="'+name+'">';
		        tmpHtml+='</div>';
		        tmpHtml+='<div class="cate_inset_btn_box">';
		        tmpHtml+='    <a href="javascript:void(0)" class="category_update_btn p_btn"><span class="f_normal">수정</span></a>';
		        tmpHtml+='</div>';
		        $('.cate_wrap').html(tmpHtml);
        	}
        });
    });

    //카테고리 수정
	body.on('click','.category_update_btn',function(){
		var targetIDX=$('.upd_cate_box').attr('data-idx');
		var name=$('.upd_category_name_val').val();
		$.post(DomainUri+'/QnaCon/QnaCategoryUpdate',{
			targetIDX:targetIDX,
			name:name,
		},function(data){
	    	var obj=JSON.parse(data);
	    	if(obj.result=='t'){
	    		pAlert('카테고리 수정이 완료되었습니다. 새로고침을 눌러주세요.');
	    	}else{
	    		pAlert(obj.msg)
	    	}
		});
	});

	//카테고리 삭제
	body.on( 'click', '.cheese_del', function () {
        pLoadingOn();
        var tmpThis=$(this);
        var tmpItem=tmpThis.closest($('.dd-item'));
        var targetIDX=tmpItem.attr("data-id");
        $.confirm({
            title:'메뉴삭제',
            content:'<span>정말로 삭제하시겠습니까?</span>',
            useBootstrap: false,
            backgroundDismiss: true,
            boxWidth: '300px',
            onContentReady: function () {
               pLoadingOff();
            },
            buttons: {
                'confirm': {
                    text: '확인',
                    btnClass: 'btn-blue',
                    keys:['enter'],
                    action:function(){
                        pLoadingOn();
                        $.post(DomainUri+'/QnaCon/QnaCategoryDelete',{
                        targetIDX:targetIDX,
                    },function(data){
                        pLoadingOff();
                        var obj=JSON.parse(data);
                            if(obj.result=="t"){
                            	pAlert('카테고리 삭제가 완료되었습니다. 새로고침을 눌러주세요.');
                            }else{
                                pAlert(obj.msg);
                            }
                        });
                    }
                },cancel:{text:'취소'}
            }
        });
    });

    //해당 qna 카테고리 변경

    //카테고리 select change시 리스트 불러오기
	body.on('change','.q_cate_select',function(){
		var tmpThis=$(this);
		var tmpThisVal=tmpThis.val();

		var tmpKey=1;
		if(tmpThis.hasClass('q_cate_select_1')){tmpKey=2;}

		$.post(DomainUri+'/QnaCon/CategorySelectChange',{
			idx:tmpThisVal,
			type:tmpKey,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="t"){
				if(obj.data.length>0){
					var selectBox = $('.q_cate_select_' + tmpKey);
					if(selectBox.length===0){
						$('.q_cate_box_' + tmpKey).html('<select class="p_select q_cate_select q_cate_select_' + tmpKey + '"></select>');
	                    selectBox = $('.q_cate_select_' + tmpKey);
					}
					var selectedValue = selectBox.val();

	                selectBox.empty();
					for (var i = 0; i < obj.data.length; i++) {
						var tmpData=obj.data[i];
						var tmpIDX=tmpData['idx'];
						var name=tmpData['name'];
						selectBox.append('<option value="'+tmpIDX+'">'+name+'</option>');
					}
				}else{
					$('.q_cate_box_'+tmpKey).empty();
				}
			}
		});
	});

	body.on('click','.cate_change_btn',function(){
		var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		var qnaCategoryIDX=$('.q_cate_select_2').val();
		if(qnaCategoryIDX==null || qnaCategoryIDX==undefined || qnaCategoryIDX==''){
			qnaCategoryIDX=$('.q_cate_select_1').val();
		}

		$.confirm({
			title:'QnA 카테고리 변경',
			content:'<span class="f_normal">카테고리를 변경하시겠습니까?</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '500px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						$.post(DomainUri+'/QnaCon/DetailQnaCategoryChange',{
							targetIDX:targetIDX,
							qnaCategoryIDX:qnaCategoryIDX,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="t"){
								pToastr('카테고리 변경이 완료되었습니다.','');
								ebuyTable.ajax.reload();
								chattingLoad(targetIDX);
								detailLoad(targetIDX);
							}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});

	});

    /* ----------------------------카테고리부분 끝-------------------------------- */



    //파일첨부
    var filesArr = new Array();
	var fileNo=0;
	var FileMaxSize='{{FileMaxSize}}';
	var FileAbledExtString='{{FileAbledExt}}';
	var FileAbledExt = FileAbledExtString.split(', ');
	var FileAbledCount='{{FileAbledCount}}';


	function fileConfirm(obj){
		var thisTempFileName=obj['name'];
		var thisTempFileExtn=thisTempFileName.substring(thisTempFileName.lastIndexOf('.') + 1).toLowerCase();

		if (FileAbledExt.includes(thisTempFileExtn)===false) {
        	var errMsg = "Up to "+FileAbledExtString+" files can be registered.";
			pToastr(errMsg);
			pLoadingOff();
			return false;
		}
		if(obj.name.length > 100){
			pToastr('Files with file names longer than 100 characters cannot be attached.','300px');
			pLoadingOff();
			return false;
		}
		if(obj.size > FileMaxSize){
            var errMsg = "Up to "+$FileMaxSize+"MB per file can be registered.";
			pToastr(errMsg);
			pLoadingOff();
			return false;
		}
		if(obj.name.lastIndexOf('.') == -1){
			var errMsg="Files without an extension cannot be attached.";
			pToastr(errMsg);
			pLoadingOff();
        	return false;
		}

  		return true;
	}
	body.on('change','#file_el',function(){
		pLoadingOn();
    	var attFileCnt = document.querySelectorAll('.file_list_el').length;    // 기존 추가된 첨부파일 개수
   		var remainFileCnt = FileAbledCount - attFileCnt;    // 추가로 첨부가능한 개수
    	var curFileCnt = this.files.length;  // 현재 선택된 첨부파일 개수
    	if (curFileCnt > remainFileCnt) {
            var errMsg = "Up to "+FileAbledCount+" files can be registered.";
        	pToastr(errMsg);
			pLoadingOff();
        	return false;
    	}
		if (this.files.length != 0) {
			var tempErrStatus=2;
			var filesPreviewEl='';
			//자료형에는 for of를 쓰나? 이해가 안됩니다.
			for (const targetFile of this.files) {
			// for (var i = 0; i < this.files.length; i++) {
				// var targetFile=this.files[i];
				var targetFileName=targetFile['name'];
				var fileConfirmFnc=fileConfirm(targetFile);
				if(fileConfirmFnc===true){
					var reader = new FileReader();
	                reader.onload = function () {
	                    filesArr.push(targetFile);
	                };
	                reader.readAsDataURL(targetFile);

					filesPreviewEl+='<li class="file_list_el"><span class="f_normal">'+targetFileName+'</span><a href="javascript:void(0)" class="file_del_btn " data-seq="'+fileNo+'"><span class="f_normal">X</span></a> </li>';
						fileNo++
				}else{
					tempErrStatus=3;
					break;
				}
			}
			//초기화
			$('#file_el').val("");
			if(tempErrStatus==3){
				filesPreviewEl='';
				pLoadingOff();
			}else{
				$('.document_file_preview_box').append(filesPreviewEl);
				pLoadingOff();
			}
		}else{
			pLoadingOff();
		}
	});
	body.on('click','.file_del_btn',function(){
		var thisBtn=$(this);
		var thisIndex=thisBtn.attr('data-seq')*1;
		$('.file_del_btn[data-seq='+thisIndex+']').closest('li').remove();
    	filesArr[thisIndex].is_delete = true;
	});

	body.on('click','.bubble_file',function(){
		var fileIDX = $(this).data('idx');
		$.post(DomainUri+'/QnaCon/FileDownOrImageView',{
			fileIDX: fileIDX,
		},function(data){
			console.log(data);

			var {result, uri, type} = JSON.parse(data);

			if(result == 't'){
				if(type === 'img'){
					var popup = window.open(uri, '_blank');
					if (!popup) {
						alert('팝업이 차단되었습니다. 팝업 차단을 해제하고 다시 시도하세요.');
					}
				}else if (type === 'file'){
					// 다운로드 코드
					var link = document.createElement('a');
					link.href = uri;
					link.download = 'asdsadasdsadasd'; // 여기에 파일 이름을 지정하세요
					document.body.appendChild(link);
					link.click();
					document.body.removeChild(link);
				}
			}
		});
	});

});
</script>

{% endblock %}



