<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	{# <a href="javascript:void(0);" class="detail_tab" data-type="log">
		<span class="f_big ">Log</span>
	</a> #}
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>
<div class="st_right_detail_con_container" data-idx="{{targetIDX}}" data-logType="marketQna" data-memoStatus="387101">
	<div class="info_detail_box display_flex">
		<div class="info_flex_box_list">
			<div class="p_i">
				<span class="p_i_tit">티켓코드</span>
				<div class="p_i_con_box">
					<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{dataPack['ticketCode']}}">
					    <span class="f_small">{{dataPack['ticketCode']}}</span>
					</a>
				</div>
			</div>
			{% set fontColor='f_green_i' %}
			{% if dataPack['status']=='접수' or dataPack['status']=='재문의' or dataPack['status']=='스태프문의' %}
				{% set fontColor='f_blue_i' %}
			{% elseif dataPack['status']=='취소' or dataPack['status']=='종료' or dataPack['status']=='자동종료' %}
				{% set fontColor='f_red_i' %}
			{% endif %}
			<div class="p_i">
				<span class="p_i_tit">상태</span>
				<div class="p_i_con_box">
					<span class="p_i_con f_bold {{fontColor}}">{{dataPack['status']}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">신청시간</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{dataPack['createTime']}} (UTC)</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">신청시간</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{dataPack['createTime']|date('Y-m-d H:i:s', '+0900')}} (KST)</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">신청시간</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{dataPack['createTime']|date('Y-m-d H:i:s', '+0800')}} (GMT+8)</span>
				</div>
			</div>
			<div class="p_i">
			    <span class="p_i_tit">최근대화시간</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{dataPack['lastTime']}} (UTC)</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">최근대화시간</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{dataPack['lastTime']|date('Y-m-d H:i:s', '+0900')}} (KST)</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">최근대화시간</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{dataPack['lastTime']|date('Y-m-d H:i:s', '+0800')}} (GMT+8)</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">해당마켓</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{dataPack['marketName']}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">마켓매니저</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{dataPack['email']}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">매니저이름</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{dataPack['managerName']}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">답변예정일</span>
				<div class="p_i_con_box">
					{% set krTime = dataPack['expectedTime']|date_modify('+9 hours') %}
                    <span class="p_i_con f_bold expectedTime_text utc_time">{{dataPack['expectedTime']}} (UTC)</span>
                    <span class="p_i_con f_bold expectedTime_text kr_time">{{ krTime|date('Y-m-d H:i:s') }} (KST)</span>
					{# <span class="p_i_con f_bold expectedTime_text">{{dataPack['expectedTime']}}</span> #}
				</div>
			</div>
			{% if dataPack['categoryName'] != 'SandBox' %}
				<div class="category_box">
					<div class="cate_info_box">
						<span class="category_title f_small f_bold">카테고리</span>
						{% if dataPack['status']=='취소' or dataPack['status']=='종료' or dataPack['status']=='자동종료' %}
						{% else %}
							<a href="javascript:void(0)" class="cate_change_btn p_btn"><span class="f_small">카테고리 변경</span></a>
						{% endif %}
					</div>
					<div class="display_flex">
						<div class="q_cate_box q_cate_box_1">
							<!-- cateList_1 -->
							{% if cateList_1 != 0 %}
								<select class="p_select q_cate_select q_cate_select_1">
									{% for key in cateList_1 %}
										{% set idx = key.idx %}
										{% set name = key.name %}
										{% if name != 'SandBox' %}
											{% if cate1IDX == idx %}
												{% set idxCrt = 'selected' %}
											{% else %}
												{% set idxCrt = '' %}
											{%endif%}
											<option value = "{{idx}}" {{idxCrt}}>{{name}}</option>
										{% endif %}
									{% endfor %}
								</select>
							{%endif%}
						</div>
						<div class="q_cate_box q_cate_box_2">
							<!-- cateList_2 -->
							{% if cateList_2 != 0 %}
								<select class="p_select q_cate_select q_cate_select_2">
									{% for key in cateList_2 %}
										{% set idx = key.idx %}
										{% set name = key.name %}
										{% if cate2IDX == idx %}
											{% set idxCrt = 'selected' %}
										{% else %}
											{% set idxCrt = '' %}
										{%endif%}
										<option value = "{{idx}}" {{idxCrt}}>{{name}}</option>
									{% endfor %}
								</select>
							{%endif%}
						</div>
					</div>

				</div>
			{% endif %}


		</div>
		<div class="flex_box_list">
			<div class="before_qna_wrap scroll_change">
				<span class="before_qna_title f_small f_bold">이전문의</span>
				{% for key in beforeData %}
					{% set fontColor='f_green_i' %}
					{% if key.status=='접수' or key.status=='재문의' or key.status=='스태프문의' %}
						{% set fontColor='f_blue_i' %}
					{% elseif key.status=='취소' or key.status=='종료' or key.status=='자동종료' %}
						{% set fontColor='f_red_i' %}
					{% endif %}
					<div class="before_qna_box">
						<a href="javascript:void(0)" class="before_data_btn p_btn" data-idx="{{key.idx}}">
							<span class="display_flex_between">
								<span class="display_block f_small">{{key.title}}</span>
								<span class="f_small f_bold {{fontColor}}">{{key.status}}</span>
							</span>
							<span class="display_block f_small">{{key.ticketCode}}</span>
							<span class="display_block f_small">{{key.createTime}}</span>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="log_detail_box display_none"></div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>
</div>
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>
{# {% if pageType=='ins' %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_ins_save" href="javascript:void(0);"><span class="f_normal">등록하기</span></a>
	</div>
{% else %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_save" href="javascript:void(0);"><span class="f_normal">수정하기</span></a>
	</div>
{% endif %} #}




