{% extends "/index.html" %}
{% block sortingWrap %}{% endblock %}
{% block content %}
<style>
	.staff_regist_box{padding: 10px;}
	.status_memo_val{width: 100%;padding:2px 4px;letter-spacing: 0;border: 1px solid #d5d5d5;}
	.p_td_idx{width: 100px;}
	.del_col{width: 50px;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>메모</th>
				<th>수정</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Information</span>
		<div class="st_right_detail_con_container" >
			<div class="detail_box">
				<div class="p_i">
					<span class="p_i_tit">idx</span>
					<div class="p_i_con_box">
						<input type="text" name="" class="p_input status_idx">
					</div>
				</div>
				<div class="p_i">
					<span class="p_i_tit">메모</span>
					<div class="p_i_con_box">
						<input type="text" name="" class="p_input status_memo" value="">
					</div>
				</div>
			</div>
		</div>
		<div class="click_btn_box">
		    <a class="st_r_de_f_btn st_r_de_f_btn_ins_save" href="javascript:void(0);"><span class="f_normal">등록하기</span></a>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var ebuyTable=$('.staff_table').DataTable({
	    // "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/StatusCon/dataTableListLoad",
	        type:"POST",
	        data:function(d){
	   	    },
	   	},
	   	"columns": [
	        { "data": "idx", "class":"p_td_idx"},
	        { "data": "memo", "class":"p_td_memo"},
	        { "data": null, "class": "del_col", "defaultContent": '<a href="javascript:void(0)" class="update_btn p_btn"><span class="f_small">수정</span></a>', "orderable": false }
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y');
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['memo']){
				var memo=aData['memo'];
				if(memo.length>0){
					$('.p_td_memo', nRow).html('<input type="text" class="status_memo_val" value="'+memo+'">');
				}
			}
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	//추가하기
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		var idx=$('.status_idx').val();
		var memo=$('.status_memo').val();
		$.post(DomainUri+'/StatusCon/StatusInsert',{
			idx:idx,
			memo:memo
		},function(data){
	    	var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('추가가 완료되었습니다.','');
				// window.location.reload();
			}
		});

	});

	// status 수정
	body.on('click','.update_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    var memo=targetTd.closest('tr').find('.status_memo_val').val();

		$.post(DomainUri+'/StatusCon/StatusUpdate',{
			idx:targetIDX,
			memo:memo,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
				return false;
			}else{
				ebuyTable.ajax.reload();
				pToastr('수정이 완료되었습니다.','');
				// window.location.reload();
			}
		});
	});



});
</script>
{% endblock %}
