{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
    <div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    	<div class="p_btn_box index_sorting">
    	    <div class="index_sort_tit">
    	        <span class="f_normal sorting_date">Date</span>
    	        <div class="sort_btn_box">
    	        	<a class="today_apply_btn p_btn" href="javascript:void(0)">
    	                <span class="f_small">Today</span>
    	            </a>
    	            <a class="date_apply_btn p_btn" href="javascript:void(0)">
    	                <span class="f_small">날짜별 검색</span>
    	            </a>
    	        </div>
    	    </div>
    	    <div class="p_help_me_datatable_im_between_date_wrap">
    	        <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-1 month")|date("Y-m-d") }}">
    	        <span class="p_calaner_icon"></span>
    	        <span class="p_between_hyphen"> - </span>
    	        <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
    	        <span class="p_calaner_icon"></span>
    	    </div>
    	</div>
    	<ul class="option_date_ul">
    	{% set optionDateFunc = GetGlobals('monthCount') %}
    	{% set optionDateData = optionDateFunc.data %}
    	{% for key in optionDateData %}
    	    <li class="p_wid_4">
    	        <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
    	            <span class="f_small">{{key.standMonth}}월</span>
    	        </a>
    	    </li>
    	{% endfor %}
    	</ul>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	.p_table_box{width: calc(100% - 150px);}
	.st_detail_wrap{width: 400px;}
/*	.p_td_name{color: #333;}*/
/*	.st_bot_sorting_box{width: 240px;margin-top:0px;}*/
	.c_btn{background-color: var(--css-maincolor);}
	.c_btn span{color: #fff;}
	.f_green{color: #00a716;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>생성시간</th>
				<th>이름</th>
				<th>이메일</th>
				<th>코드</th>
				<th>상태</th>
				<th>ex</th>
			</thead>
			{# <th class="p_th_search_date">생성시간</th> #}
			{# <th class="p_th_search_sel" data-opop="All,Step1_성공,Step1_실패,Step2_성공,Step2_실패">상태</th> #}
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';

	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/StaffLogCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	d.startDate=$('.start_date').val();
	        	d.endDate=$('.end_date').val();
	   	    },
	   	    "dataSrc": function (json) {
				$('.total_count_txt').text(pComma(json.data.length * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "createTime", "class":"p_td_reg td_change_createTime"},
	        { "data": "staffName", "class":""},
	        { "data": "staffEmail", "class":""},
	        { "data": "statusIDX", "class":""},
	        { "data": "memo", "class":""},
	        { "data": "ex", "class":""},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html(getHtmlKORUTC(createTime));
			}
		},
		drawCallback: function( settings ) {

		},
	});

	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
	        $(e.target).hasClass('p_td_name') === false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
	        $(e.target.parentElement).hasClass('p_td_name') === false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/StaffLogCon/StaffLogRightDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}

	});


});
</script>
{% endblock %}
