<html>
<head>
	<link rel="shortcut icon" href="#">
	{# <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"> #}
</head>

<style>
.error_wrap {min-width: 1200px; width: 50%;  margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); padding: 0 210px; box-sizing: border-box;}
.tit_wrap{display: flex; align-items: center; }
.tit_wrap .w_icon {font-size: 90px; color: #f00;}
.tit_wrap .tit {font-size: 30px; font-weight: 600;    padding: 15px;}

.txt_wrap {display:flex; padding-left: 10px; margin-top: 31px;}
.txt_wrap .txt_bar{width: 8px; height: 56px; background-color: #f00; left: 20%;} 
.txt_wrap .txt {padding-left:10px;line-height: 25px;}
.back_btn {padding: 10px 13px; background-color: #e6e6e6; text-decoration-line: none; font-size: 14px; color: #000;}

.back_btn_wrap{text-align: right;    padding: 30px 0;}
.error_msg_wrap {border:1px solid #f00;}
.error_msg_exp {background-color: #ff0000e0; padding: 4px 10px;} 
.error_msg_exp span {font-size: 14px; color: #fff;}
.error_msg {padding: 10px;}
.error_msg span {display:block; padding: 3px 0}
.highlight{color: royalblue; font-weight: bold;}
</style>

<div class="error_wrap">
	
	<div class="tit_wrap">
		<i class="xi-error w_icon"></i>
		<span class="tit"><span style="color: #9e9e9e">Oops!</span> Error 404</span>
	</div>
	<div class="txt_wrap">
		<div class="txt_bar"></div>
		<span class="txt">An error occurred on the requested page. You entered the address of the page incorrectly or the page is unavailable. Please check the address you entered</span>
	</div>

	<div class="back_btn_wrap">
		<a href="javascript:void(0)" class="back_btn" onclick="history.back()">Back</a>
	</div>

	{% if allowStat==1 %}
		<div class="error_msg_wrap">
			<div class="error_msg_exp">
				<span class="">에러메세지는 다음 아이피에서만 공개됩니다. [ {{allowIpTxt}} ]</span>
			</div>
			<div class="error_msg">
				<span>{{cls}}</span>
				<span class="highlight">{{msg}}</span>
				<span>{{sta}}</span>
				<span>{{path}}</span>
			</div>
		</div>
	{% endif %}


</div>
</html>