{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
    <div class="st_top_sorting_box">
    	<span class="total_box">
	        <span class="f_small total_count_txt"></span>
	        <span class="display_flex">
		        <span class="f_normal total_success_amount_txt"></span>
		        <span class="f_normal total_fail_amount_txt"></span>
	        </span>
    	</span>
        <div class="p_btn_box index_sorting">
            <div class="index_sort_tit">
                <span class="f_normal sorting_date">Date</span>
                <div class="sort_btn_box">
                	<a class="today_apply_btn p_btn" href="javascript:void(0)">
                        <span class="f_small">Today</span>
                    </a>
                    {# <a class="date_apply_btn p_btn" href="javascript:void(0)">
                        <span class="f_small">날짜별 검색</span>
                    </a> #}
                </div>
            </div>
            <div class="p_help_me_datatable_im_between_date_wrap">
                <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-7 days")|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
                <span class="p_between_hyphen"> - </span>
                <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
            </div>
        </div>
        <ul class="option_date_ul">
        {% set optionDateFunc = GetGlobals('monthCount') %}
        {% set optionDateData = optionDateFunc.data %}
        {% for key in optionDateData %}
            <li class="p_wid_4">
                <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
                    <span class="f_small">{{key.standMonth}}월</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {# <div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    </div> #}
   {#  <div class="st_bot_sorting_box">
        <div class="sorting_box">
			<span class="sorting_tit f_normal">등급</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in gradePack %}
            	<a href="javascript:void(0);" class="p_chkbox" data-sel="{{key.name}}" data-column="9">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
        <div class="sorting_box">
			<span class="sorting_tit f_normal">타입</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
        	<a href="javascript:void(0);" class="p_chkbox" data-sel="안드로이드" data-column="10">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">안드로이드</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="아이폰" data-column="10">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">아이폰</span>
            </a>
        </div>
        <div class="sorting_box">
			<span class="sorting_tit f_normal">상태</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
        	<a href="javascript:void(0);" class="p_chkbox" data-sel="정상" data-column="12">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">정상</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="앱미가입" data-column="12">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">앱미가입</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="스태프차단" data-column="12">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">스태프차단</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="본인인증완료" data-column="12">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">본인인증완료</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="탈퇴" data-column="12">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">탈퇴</span>
            </a>

        </div>
    </div> #}
   {#  <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div> #}
</div>
{% endblock %}
{% block content %}
<style>
	.p_td_name{color: #007bff;}
	.p_td_status{width: 80px;}
	.st_bot_sorting_box{width: 240px;margin-top:0px;/*height: calc(100% - 40px);*/}
	.f_i_bold{font-weight: bold !important;}

	.client_withdrawal_block_btn{margin-left: 10px;}
	.c_btn , .client_balance_btn{background-color: var(--css-maincolor);}
	.c_btn span , .client_balance_btn span{color: #fff;}

	.p_i_con_box{width: calc(100% - 110px);}
	.long_txt{width: 100%;overflow:hidden;}

	.d_b{display: block;}
	.p_5_red{padding: 5px 0px;color: #f00;}

	.mileage_text{color: #1f3082;}

	.detail_flex{display: flex;justify-content: space-between;align-items: center;}


	.now_balance_box{padding: 5px 0px;}
	.balance_radio_box{padding: 20px 0px 20px 0px;}
	.balance_radio_chk{padding: 0px 5px;}
	.balance_txt{font-weight: 500;font-size: 14px;}
	.balance_box{display: flex;justify-content: space-between;align-items: center;padding-bottom: 10px;}
	.balace_exp_txt{width: 100px;}
	.input_100{width: calc(100% - 100px);font-weight: 500;}

	.f_mig{color: #2900ff;}

	.td_statusName{width: 130px; text-align: center;}
	.td_resultCode{width:40px; text-align: center;}
	.td_oacxCode{width: 120px; text-align: center;}
	.p_td_birth{width: 80px; text-align: center;}
	.p_td_phone{width: 60px; text-align: center;}
	.p_td_provider{width: 150px; text-align: center;}
	.p_td_idx{min-width: 65px;text-align: center;}
	.tr_fail{background: #fddfdf}
	.tr_success{background: #d1ffdb}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">createTime</th>
				<th>statusIDX</th>
				<th>statusName</th>
				<th>name</th>
				<th>birth</th>
				<th>phone</th>
				<th>resultCode</th>
				<th class="p_th_search_date">oacxCode</th>
				<th>provider</th>
				<th>clientMessage</th>


			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';
	// function resetSortingCount(){
	// 	var columnsArr = [];
	// 	$('[data-column]').each(function() {
	// 		var columnIndex = $(this).attr('data-column');
	// 		if (columnsArr.indexOf(columnIndex) === -1) {
	// 			columnsArr.push(columnIndex);
	// 		}
	// 	});

	// 	var columnsVal = columnsArr.map(function(value) {
	// 		var searchValues = $('.sorting_box').not('.display_none').find('[data-column="' + value + '"].p_chkbox_s').map(function() {
	// 			var searchValue = $(this).attr('data-sel') || '';
	// 		    return searchValue === '전체' ? '' : searchValue;
	// 		}).get().join('|');
	// 		return searchValues;
	// 	});

	// 	$.post(DomainUri+"/ClientCon/ResetSortingCount",{
	// 		columnsVal:columnsVal,
	// 	},function(data){

	// 	});
	// }

	// resetSortingCount();

	// //리셋버튼
	// body.on('click','.sort_reset_btn',function(){
	// 	resetSortingCount();
	// });

	// //서치버튼
	// body.on('click', '.sort_apply_btn', function () {
	// 	resetSortingCount();
	// });

	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc'],[2,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/ClientAuthLogCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	d.startDate=$('.start_date').val();
	        	d.endDate=$('.end_date').val();
	   	    },
	  //  	    "dataSrc": function (json) {
	  //  	    	console.log(json.totalCount.total);
			// 	var totalCount = json.totalCount.total;
			// 	$('.total_count_txt').text(pComma(totalCount * 1));
			// 	return json.data;
			// }
	   	},
	   	"columns": [
	        // { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "idx", "class":"p_td_idx","orderable": false},
	        { "data": "createTime", "class":"p_td_reg td_change_createTime"},
	        { "data": "statusIDX", "class":"", "visible":false},
	        { "data": "statusName", "class":"td_statusName"},
	        { "data": "name", "class":"p_td_name"},
	        { "data": "birth", "class":"p_td_birth"},
	        { "data": "phone", "class":"p_td_phone"},
	        { "data": "resultCode", "class":"td_resultCode"},
	        { "data": "oacxCode", "class":"td_oacxCode"},
	        { "data": "provider", "class":"p_td_provider"},
	        { "data": "clientMessage", "class":""},
	    ],
    	"initComplete": function(settings, data, dataIndex){
			// pTableInitComplete(this,'y','y');
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html(getHtmlKORUTC(createTime));
			}

			// if(aData['memoTime']){
			// 	var memoTime=aData['memoTime'];
			// 	if(memoTime != null){
			// 		$('.p_td_count', nRow).css({'background-color':'#9d9dff'});
			// 	}
			// }

			// if(aData['withdrawalBlock']){
			// 	var withdrawalBlock=aData['withdrawalBlock'];
			// 	if(withdrawalBlock == 'Y'){
			// 		$('.p_td_name',nRow).css({'background-color':'#ffeb3b'});
			// 	}
			// }

			// if(aData['emergency']){
			// 	var emergency=aData['emergency'];
			// 	if(emergency == 'Y'){
			// 		$(nRow).css({'background-color':'#ffc7c7'});
			// 	}
			// }




			if(aData['statusIDX'] == 807101){
				$(nRow).addClass('tr_success')
			}else if(
				aData['statusIDX'] == 807201 ||
				aData['statusIDX'] == 806201 ||
				aData['statusIDX'] == 805201 ||
				aData['statusIDX'] == 804201
			){
				$(nRow).addClass('tr_fail')
			}
			// 	var status=aData['status'];
			// 	var statusBtnClass='';
			// 	if(status=='정상'){
			// 		statusVal='226101';
			// 		statusBtnClass='c_btn';
			// 	}else{
			// 		statusVal='226202';//차단
			// 	}
			// 	if(aData['migrationIDX']){
			// 		var migrationIDX=aData['migrationIDX'];
			// 		var existMem = '';
			// 		if(status=='정상' && migrationIDX > 0){
			// 			existMem = '기존(앱설치O)';
			// 		}else{
			// 			existMem = '기존(앱설치X)';
			// 		}
			// 		if(migrationIDX != '신규'){
			// 			$('.td_change_migrationIDX', nRow).html('<span class="f_small f_mig f_bold">'+existMem+'('+migrationIDX+')</span>');
			// 		}

			// 	}
			// 	if(status == '정상' || status == '스태프차단'){
			// 		$('.p_td_status', nRow).html('<a href="javascript:void(0)" class="status_btn p_btn '+statusBtnClass+'" data-status="'+statusVal+'"><span class="f_small">'+status+'</span></a>');
			// 	}else{
			// 		$('.p_td_status', nRow).html('<span class="f_small">'+status+'</span>');
			// 	}
			// }
    		pLoadingOff();

		},
		drawCallback: function( settings ) {

		},
	});

	// //이름 클릭했을때 공통 정보(유저의 모든 정보)
	// ebuyTable.on( 'click', 'tbody td.p_td_name', function(e){
	// 	if(
	// 		$(this).hasClass('dataTables_empty')===false &&
	// 		$(e.target).hasClass('p_clipboard_btn')===false &&
	// 		$(e.target.parentElement).hasClass('p_clipboard_btn')===false
	// 	){
	// 		var targetTd=$(this);
	// 	    var targetRow=targetTd.closest('tr')[0];
	// 	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	// 	    $.post(DomainUri+'/ClientCon/ClientDetailFormLoad',{
	// 			targetIDX:targetIDX,
	// 		},function(html){
	// 			$.confirm({
	// 				title:'회원정보',
	// 				content:html,
	// 				closeIcon: true,
	// 				useBootstrap: false,
	// 				backgroundDismiss: true,
	// 				boxWidth: '95%',
	// 				buttons: {
	// 					'confirm': {
	// 						text: '확인',
	// 						btnClass: 'btn-blue director_update',
	// 						keys:['enter'],
	// 						action:function(){

	// 						}
	// 					},
	// 					// cancel:{text:"취소"}
	// 				}
	// 			});
	// 		});
	// 	}
	// });

	// // status 수정
	// body.on('click','.status_btn',function(){
	// 	var targetTd=$(this);
	//     var targetRow=targetTd.closest('tr')[0];
	//     var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	// 	var status=targetTd.attr('data-status');
	// 	if(status==226101){
	// 		statusVal=226202;
	// 	}else{
	// 		statusVal=226101;
	// 	}
	// 	$.confirm({
	// 		title:'정보',
	// 		content:'<span class="f_normal">상태를 변경하시겠습니까?</span>',
	// 		closeIcon: true,
	// 		useBootstrap: false,
	// 		backgroundDismiss: true,
	// 		boxWidth: '500px',
	// 		buttons: {
	// 			'confirm': {
	// 				text: '확인',
	// 				btnClass: 'btn-blue director_update',
	// 				keys:['enter'],
	// 				action:function(){
	// 					$.post(DomainUri+'/ClientCon/StatusUpdate',{
	// 						targetIDX:targetIDX,
	// 						statusVal:statusVal,
	// 					},function(data){
	// 						var obj=JSON.parse(data);
	// 						if(obj.result=="f"){
	// 							pAlert(obj.msg);
	// 							return false;
	// 						}else{
	// 							ebuyTable.ajax.reload();
	// 							pToastr('수정이 완료되었습니다.','');
	// 						}
	// 					});
	// 				}
	// 			},
	// 			cancel:{text:"취소"}
	// 		}
	// 	});
	// });

	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
	        $(e.target).hasClass('p_td_name') === false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
	        $(e.target.parentElement).hasClass('p_td_name') === false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    	$.post(DomainUri+'/ClientAuthLogCon/ClientAuthLogDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');
			});
		}

	});



	// //클라이언트 수정
	// body.on('click','.st_r_de_f_btn_save',function(){
	// 	var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
	// 	var gradeIDX=$('.c_grade_val').val();
	// 	var gradeName=$('.c_grade_val option:selected').text();

	// 	$.post(DomainUri+'/ClientCon/ClientUpdate',{
	// 		targetIDX:targetIDX,
	// 		gradeIDX:gradeIDX,
	// 		gradeName:gradeName,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pToastr(obj.msg);
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('수정이 완료되었습니다.');
	// 			// window.location.reload();
    // 			// $('.st_r_de_f_info_btn_close').trigger('click');
	// 			// pToastr("등록이 완료되었습니다.");
	// 		}
	// 	});
	// });

	// //긴급버튼
	// body.on('click','.client_emergency_btn',function(){
	// 	var tmpThis = $(this);
	// 	var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
	// 	var emergency = tmpThis.attr('data-type');

	// 	$.post(DomainUri+'/ClientCon/ClientEmergencyUpdate',{
	// 		targetIDX:targetIDX,
	// 		emergency:emergency
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pToastr(obj.msg);
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('수정이 완료되었습니다.');
	// 			// window.location.reload();
    // 			// $('.st_r_de_f_info_btn_close').trigger('click');
	// 			// pToastr("등록이 완료되었습니다.");
	// 		}
	// 	});

	// });

	// //출금금지버튼
	// body.on('click','.client_withdrawal_block_btn',function(){
	// 	var tmpThis = $(this);
	// 	var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
	// 	var withdrawalBlock = tmpThis.attr('data-type');

	// 	$.post(DomainUri+'/ClientCon/ClientWithdrawalBlockUpdate',{
	// 		targetIDX:targetIDX,
	// 		withdrawalBlock:withdrawalBlock
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pToastr(obj.msg);
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('수정이 완료되었습니다.');
	// 			// window.location.reload();
    // 			// $('.st_r_de_f_info_btn_close').trigger('click');
	// 			// pToastr("등록이 완료되었습니다.");
	// 		}
	// 	});

	// });

	// //탈퇴처리하기
	// body.on('click','.client_del_btn',function(){
	// 	var targetIDX=$('.st_right_detail_con_container').attr('data-idx');

	// 	///////////////////////////////////////


	// 	$.confirm({
	// 		title:'회원탈퇴',
	// 		content:`
	// 			<span class="d_b p_5_red f_bold f_normal">탈퇴처리를 하시겠습니까?</span>
	// 			<span class="d_b p_5_red f_bold f_normal">탈퇴처리를 하시면 더이상 앱을 사용할 수 없게 됩니다.</span>
	// 		`,
	// 		closeIcon: true,
	// 		useBootstrap: false,
	// 		backgroundDismiss: true,
	// 		boxWidth: '500px',
	// 		buttons: {
	// 			'confirm': {
	// 				text: '확인',
	// 				btnClass: 'btn-blue director_update',
	// 				keys:['enter'],
	// 				action:function(){

	// 					///////////////////////////////////////


	// 					$.confirm({
	// 						title:'회원탈퇴',
	// 						content:`
	// 							<span class="d_b p_5_red f_bold f_normal">탈퇴처리 복구가 불가능합니다.</span>
	// 							<span class="d_b p_5_red f_bold f_normal">진행하시려면 확인을 눌러주세요.</span>
	// 						`,
	// 						closeIcon: true,
	// 						useBootstrap: false,
	// 						backgroundDismiss: true,
	// 						boxWidth: '700px',
	// 						buttons: {
	// 							'confirm': {
	// 								text: '확인',
	// 								btnClass: 'btn-blue director_update',
	// 								keys:['enter'],
	// 								action:function(){
	// 									$.post(DomainUri+'/ClientCon/ClientDel',{
	// 										targetIDX:targetIDX
	// 									},function(data){
	// 										console.log(data);
	// 										var obj=JSON.parse(data);
	// 										if(obj.result=='t'){
	// 											ebuyTable.ajax.reload();
	// 											pToastr('수정이 완료되었습니다.');
	// 										}else{
	// 											pAlert(obj.msg);
	// 										}
	// 									});
	// 								}
	// 							},
	// 							cancel:{text:"취소"}
	// 						}
	// 					});

	// 					///////////////////////////////////////


	// 				}
	// 			},
	// 			cancel:{text:"취소"}
	// 		}
	// 	});

	// 	///////////////////////////////////////


	// });

	// //발란스 수정버튼 (클라이언트 발란스 수정)
	// body.on('click','.client_balance_btn',function(){
	// 	var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
	// 	$.post(DomainUri+'/ClientCon/getBalance',{
	// 		targetIDX:targetIDX,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="t"){
	// 			var balance = obj.getBalance;
	//             var getBalance = pComma(balance);
	//             var totalBalance = parseFloat(balance.replace(/,/g, '')); // 초기값 설정

	//             function updateTotalBalance() {
	//                 var selectedRadio = $('.balance_radio_chk.p_radio_s').attr('data-idx');
	//                 var amount = parseFloat($('.client_balance_val').val().replace(/,/g, '')) || 0;
	//                 var changeBalance=parseFloat(balance.replace(/,/g, '')) || 0;

	//                 if (selectedRadio == '205101') {
	//                     totalBalance = changeBalance + amount;
	//                 } else {
	//                     totalBalance = changeBalance - amount;
	//                 }

	//                 $('.now_balance_box:eq(1) span').text('적용발란스 : ' + pComma(totalBalance.toFixed(0)) + '원');
	//             }
	// 			$.confirm({
	// 				title:'발란스 수정',
	// 				content:`
	// 				<div class="market_balance_wrap">
	// 					<span class="market_balance_tit f_big f_bold">증/차감 할 발란스를 입력해주세요.</span>
	// 					<div class="balance_radio_box">
	// 						<a href="javascript:void(0);" class="p_radio balance_radio_chk p_radio_s" data-idx="205101">
	// 							<span class="p_radio_i"></span>
	// 							<span class="p_radio_f balance_txt">증감</span>
	// 						</a>
	// 						<a href="javascript:void(0);" class="p_radio balance_radio_chk" data-idx="205201">
	// 							<span class="p_radio_i"></span>
	// 							<span class="p_radio_f balance_txt">차감</span>
	// 						</a>
	// 					</div>
	// 					<div class="balance_box">
	// 						<span class="balace_exp_txt f_normal">발란스 : </span>
	// 						<input type="text" class="p_input client_balance_val input_100" value="">
	// 					</div>
	// 					<div class="balance_box">
	// 						<span class="balace_exp_txt f_normal">사유 : </span>
	// 						<input type="text" class="p_input market_balance_exp_val input_100" value="">
	// 					</div>

	// 					<div class="now_balance_box">
	//                         <span class="f_normal">현재발란스 : ` + getBalance + `원</span>
	//                     </div>
	//                     <div class="now_balance_box">
	//                         <span class="f_normal">적용발란스 : ` + pComma(totalBalance.toFixed(0)) + `원</span>
	//                     </div>
	//                     <span class="f_normal">아직 앱으로 넘어오지 않은 구이바이 회원이라면 구이바이에도 동일하게 적용됩니다.</span>
	// 				</div>
	// 				`,
	// 				closeIcon: true,
	// 				useBootstrap: false,
	// 				backgroundDismiss: true,
	// 				boxWidth: '500px',
	// 				onOpenBefore: function () {
	//                     // keyup 이벤트 리스너 등록
	//                     $('.client_balance_val').on('input', updateTotalBalance);

	//                     $('.balance_radio_chk').on('click', function () {
	//                         // client_balance_val 초기화
	//                         $('.client_balance_val').val('');

	//                         // now_balance_box 초기값으로 설정
	//                         $('.now_balance_box:eq(1) span').text('적용발란스 : ' + getBalance + '원');
	//                     });
	//                 },
	//                 onClose: function () {
	//                     // keyup 이벤트 리스너 제거
	//                     $('.client_balance_val').off('keyup', updateTotalBalance);
	//                     $('.balance_radio_chk').off('click');
	//                 },
	// 				buttons: {
	// 					'confirm': {
	// 						text: '확인',
	// 						btnClass: 'btn-blue director_update',
	// 						keys:['enter'],
	// 						action:function(){
	// 							var statusIDX=$('.balance_radio_chk.p_radio_s').attr('data-idx');
	// 							var amount=$('.client_balance_val').val();
	// 							var exVal=$('.market_balance_exp_val').val();

	// 							$.post(DomainUri+'/ClientCon/ClientBalanceUpdate',{
	// 								targetIDX:targetIDX,
	// 								statusIDX:statusIDX,
	// 								amount:amount,
	// 								exVal:exVal,
	// 							},function(data){
	// 								var obj=JSON.parse(data);
	// 								if(obj.result=='t'){
	// 									pAlert('수정이 완료되었습니다.','300px',function(){
	// 										location.reload();
	// 									});
	// 								}else{
	// 									pAlert(obj.msg);
	// 								}

	// 							});

	// 						}
	// 					},
	// 					cancel:{text:"취소"}
	// 				}
	// 			});
	// 		}else{
	// 			pAlert(obj.msg);
	// 		}
	// 	});

	// });


});
</script>
{% endblock %}
