{% extends "/index.html" %}
{% block sortingWrap %}

{% endblock %}
{% block content %}
<style>
	.wrap{width: 1850px;margin: auto;text-align: center;}
.box {width: 99%;border: 1px solid #000; margin: 10px; display: flex; flex-direction: column; align-items: center; padding: 10px;}
.box span {width: 100%;font-size: 16px; font-weight:500}
.box input {background-color: lightgray; margin: 10px; padding: 5px; width: 50%}
.box a {font-size: 14px; font-weight: 500; color: #000; border: 1px solid #000; padding: 5px 10px;}
.box select {border: 1px solid #000; margin-top: 10px;}
.result1{width: 100%;height: 40px;padding: 10px 0px;text-align: center;}
.result1 , .result2{padding: 20px 0px;}
</style>
<div class="wrap">
	<div class="box">
		<span>암호화 -> 원문</span>
		<select class="table_select_val">
			<option value="ClientMarketList">ClientMarketList</option>
			<option value="Client">Client</option>
			<option value="Email">Email</option>
			<option value="Staff">Staff</option>
			<option value="Manager">Manager</option>
			<option value="ClientBank">ClientBank</option>
			<option value="ClientPtpAccount">ClientPtpAccount</option>
		</select>
		<input type="text" class="lockToOriginal">
		<span class="result1"></span>
		<a href="javascript:void(0)" class="result1_btn">변환하기</a>
	</div>

	<div class="box">
		<span>원문 -> 암호화</span>
		<select class="table_select_val_2">
			<option value="ClientMarketList">ClientMarketList</option>
			<option value="Client">Client</option>
			<option value="Email">Email</option>
			<option value="Staff">Staff</option>
			<option value="Manager">Manager</option>
			<option value="ClientBank">ClientBank</option>
			<option value="ClientPtpAccount">ClientPtpAccount</option>
		</select>
		<input type="text" class="originalToLock">
		<span class="result2"></span>
		<a href="javascript:void(0)" class="result2_btn">변환하기</a>
	</div>
</div>



<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	body.on( 'click', '.result1_btn', function(e){
		var table = $('.table_select_val').val();
		var value=$('.lockToOriginal').val();
		$.post(DomainUri+'/LockCon/TestAAAA',{
			table: table,
			value:value,
			type: 'E',
		},function(data){
			var obj=JSON.parse(data);
			$('.result1').html('');
			if(obj.result=='t'){
				var resultData=obj.data;
				console.log(resultData);
				$('.result1').html(JSON.stringify(resultData));
			}
		});
	});

	body.on( 'click', '.result2_btn', function(e){
		var table = $('.table_select_val_2').val();
		var value=$('.originalToLock').val();
		$.post(DomainUri+'/LockCon/TestAAAA',{
			table: table,
			value:value,
			type: 'D',
		},function(data){
			var obj=JSON.parse(data);
			$('.result2').html('');
			if(obj.result=='t'){
				var resultData=obj.data;
				console.log(resultData);
				$('.result2').html(JSON.stringify(resultData));
			}
		});
	});
	
});
</script>

{% endblock %}



