{% extends "/index.html" %}
{# {% block sortingWrap %}
<div class="st_sorting_wrap">
    <div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    </div>
    <div class="st_bot_sorting_box">
        <div class="sorting_box">
			<span class="sorting_tit f_normal">등급</span>
			<a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in gradePack %}
            	<a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox" data-sel="{{key.name}}" data-column="6">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
        <div class="sorting_box">
			<span class="sorting_tit f_normal">타입</span>
			<a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
        	<a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox" data-sel="안드로이드" data-column="7">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">안드로이드</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox sorting_status sorting_chkbox" data-sel="아이폰" data-column="7">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">아이폰</span>
            </a>
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %} #}
{% block content %}
<style>

</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">등록일</th>
				<th>이용약관일시</th>
				<th>등록인</th>
				<th>기기번호</th>
				<th>푸시토큰</th>
				<th>rn</th>
				<th>기기타입</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';

	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/ClientDeviceCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){

	   	    },
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "createTime", "class":"td_change_createTime p_render_idx"},
	        { "data": "termsTime", "class":"td_change_termsTime"},
	        { "data": "name", "class":"p_td_name"},
	        { "data": "deviceNumber", "class":""},
	        { "data": "pushToken", "class":""},
	        { "data": "roomName", "class":""},
	        { "data": "deviceType", "class":""},
	        { "data": "clientIDX", "class":"","orderable": false,"visible":false},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html(getHtmlKORUTC(createTime));
			}
			if(aData['termsTime']){
				var termsTime=aData['termsTime'];
				$('.td_change_termsTime', nRow).html(getHtmlKORUTC(termsTime));
			}
    		pLoadingOff();

		},
		drawCallback: function( settings ) {

		},
	});

	//이름 클릭했을때 공통 정보(유저의 모든 정보)
	ebuyTable.on( 'click', 'tbody td.p_td_name', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['clientIDX'];
		    $.post(DomainUri+'/ClientDeviceCon/ClientDetailFormLoad',{
				targetIDX:targetIDX,
			},function(html){
				$.confirm({
					title:'회원정보',
					content:html,
					closeIcon: true,
					useBootstrap: false,
					backgroundDismiss: true,
					boxWidth: '95%',
					buttons: {
						'confirm': {
							text: '확인',
							btnClass: 'btn-blue director_update',
							keys:['enter'],
							action:function(){

							}
						},
						// cancel:{text:"취소"}
					}
				});
			});
		}
	});


	function isOverNineteen(birthDate) {
	    // 생년월일을 Date 객체로 변환합니다.
	    var dob = new Date(birthDate);
	    console.log(dob)
	    // 현재 날짜를 가져옵니다.
	    var currentDate = new Date();
console.log(currentDate)
	    // 생년월일에서 현재 날짜를 뺍니다.
	    var age = currentDate.getFullYear() - dob.getFullYear();

	    // 생일이 아직 지나지 않았다면 나이를 1 줄입니다.
	    if (dob.getMonth() > currentDate.getMonth() || (dob.getMonth() === currentDate.getMonth() && dob.getDate() > currentDate.getDate())) {
	        age--;
	    }

	    // 계산된 나이가 19 이상인지 확인합니다.
	    return age >= 19;
	}


	var birth = "120050222";

	// YYYYMMDD 형식의 날짜인지 검사
        if (/^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$/.test(birth)==false) {
            console.log("생년월일 형식이 아닙니다");
            return;
        }


	var birthForm = birth.substring(0, 4) + '-' + birth.substring(4, 6) + '-' + birth.substring(6, 8);
	console.log(isOverNineteen(birthForm))
});
</script>
{% endblock %}
