{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
	<div class="st_top_sorting_box">
    	<span class="total_num f_big">Total</span>
        <div class="p_btn_box index_sorting">
            <div class="index_sort_tit">
                <span class="f_normal sorting_date">Date</span>
                <div class="sort_btn_box">
                	<a class="today_apply_btn p_btn" href="javascript:void(0)">
                        <span class="f_small">Today</span>
                    </a>
                </div>
            </div>
            <div class="p_help_me_datatable_im_between_date_wrap">
                <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
                <span class="p_between_hyphen"> - </span>
                <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y") ~ "-12-31" }}">
                <span class="p_calaner_icon"></span>
            </div>
        </div>
        <ul class="option_date_ul">
        {% set optionDateFunc = GetGlobals('monthCount') %}
        {% set optionDateData = optionDateFunc.data %}
        {% for key in optionDateData %}
            <li class="p_wid_4">
                <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
                    <span class="f_small">{{key.standMonth}}월</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="st_bot_sorting_box">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">타입</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
        	<a href="javascript:void(0);" class="p_chkbox" data-sel="390101" data-column="6">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">영업일</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="390102" data-column="6">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">주말</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="390103" data-column="6">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">내부휴일</span>
            </a>
            <a href="javascript:void(0);" class="p_chkbox" data-sel="390104" data-column="6">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small">공휴일</span>
            </a>
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="e_sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	/*.p_table_box{width: 50%;}
	.st_detail_wrap{width: 50%;}
	.info_text{display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;}*/
/*	.st_bot_sorting_box{width: 240px;margin-top:0px;height: calc(100% - 40px);}*/
	.td_change_createTime{width: 170px;}

	.index_sorting{height: auto;margin: 0px;}

	.c_btn{background-color: var(--css-maincolor);}
	.d_btn{background-color: #eee;}
	.c_btn span{color: #fff;}
	.d_btn span{color: #000;}
	.td_btn{width: 50px;}

	/*인서트*/

	.date_input{width: 100%;margin: 10px 0px;}


	.ins_name_val , .upd_title_val{border: 1px solid var(--css-maincolor);padding: 5px;height: 30px;}
	.ins_memo_val , .upd_content_val{height: 80%;padding: 5px;margin-top:15px;border: 1px solid var(--css-maincolor);border-radius: 0px;}
	.ins_notice_insert_btn , .notice_update_btn{display:block;height: 40px;margin-top: 10px;text-align: center;background-color: var(--css-maincolor);line-height: 40px;}
	.ins_notice_insert_btn span , .notice_update_btn span{color:#fff;}
	.displayNone{display: none;}


	.save_btn_active{background: var(--css-maincolor);}
	.save_btn_active span{color: white;}

	.tr_red td{color: #f56565}
	.tr_blue td{color: royalblue}



	.td_day{width: 30px;text-align: center;}
	.td_week{width: 30px;text-align: center;}
	.td_month{width: 30px;text-align: center;}
	.td_year{width: 50px;text-align: center;}
	.td_date{width: 100px; text-align: center;}
	.td_statusName{width: 100px;}
	.td_openTime{width: 100px;}
	.td_closeTime{width: 100px;}
	.td_saveBtn{width: 20px;}
	.td_saveBtn a.p_btn{padding: 3px 10px;}


	.client_alert_method_box{padding: 10px;}
	.client_alert_method_box{text-align: center;}
	.client_alert_method_box span{padding: 5px 0px; color: #6b6b6b; line-height: 1.4}

</style>
<div class="table_flex_box">
	<div class="p_table_box notice_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn change_operate_time_btn"><span class="f_normal year_txt">영업시간 변경</span></a>

			<a href="javascript:void(0)" class="p_btn insert_schedule_btn"><span class="f_normal year_txt">스케쥴 넣기</span></a>
		</div>
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>일</th>
				<th>요일</th>
				<th>월</th>
				<th>년</th>
				<th class="p_th_search_date">날짜</th>
				<th>상태IDX</th>
				<th>상태</th>
				<th>개시시간</th>
				<th>마감시간</th>
				<th>메모</th>
				<th>저장</th>

			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Information</span>
		<div class="client_alert_method_box">
			<span class="f_normal f_bold">
			  Portal에 안내되는 예정일은 다음과 같은 원칙으로 정해집니다.
			</span>
			<span class="f_normal f_bold">1. 00:00:00 이후부터 개시시간까지 들어오는 문의&요청은 오늘 영업일 개시시간 +3시까지 응답을 완료해야합니다.</span>
			<span class="f_normal f_bold">2. 개시시간부터 마감시간 -3시 전에 들어오는 문의&요청은 오늘 영업일 마감시간까지 응답을 완료해야합니다.</span>
			<span class="f_normal f_bold">3. 마감시간 3시간 전 이후로 들어오는 문의&요청은 다음 영업일 개시시간 +3시 이후까지 응답을 완료해야합니다.</span>

		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');

	var startDate=$('.start_date').val();
	var endDate=$('.end_date').val();

	//리셋버튼
	body.on('click','.e_sort_reset_btn',function(){
		pLoadingOn();
		startDate='{{ "now"|date("Y-m-d") }}';
		endDate='{{ "now"|date("Y") ~ "-12-31" }}';

		$('.option_date_btn').removeClass('p_btn_active');
		var startDateChk = pDateChk(startDate);
		var endDateChk = pDateChk(endDate);

		if(startDateChk == true && endDateChk == true){
			dtSortReset();
			$('.start_date').val(startDate);
			$('.end_date').val(endDate);
			ebuyTable.ajax.reload();
		}else{
			pToastr('날짜 형식이 아닙니다.');
		}
        pLoadingOff();
	});



	ebuyTable=$('.staff_table').DataTable({
	    "order": [[5,'asc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/EbuyScheduleCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	        	d.startDate=$('.start_date').val();
				d.endDate=$('.end_date').val();
	   	    },
	   	},
	   	"destroy": true,//재설정
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "day", "class":"td_day"},
	        { "data": "dayOfWeek", "class":"td_week"},
	        { "data": "month", "class":"td_month"},
	        { "data": "year", "class":"td_year"},
	        { "data": "date", "class":"td_date"},
	        { "data": "statusIDX","visible":false},
	        { "data": "statusName", "class":"td_statusName"},
	        { "data": "openTime", "class":"td_openTime"},
	        { "data": "closeTime", "class":"td_closeTime"},
	        { "data": "memo", "class":"td_memo"},
	        { "data": "saveBtn", "class":"td_saveBtn"},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y');
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			var thisOpenTime = aData.openTime;
			var thisCloseTime = aData.closeTime;
			var thisStatusIDX = aData.statusIDX;
			var thisMemo = aData.memo;
			var thisWeek = aData.dayOfWeek;

			if(thisMemo==null){
				thisMemo=""
			}

			$('.td_statusName', nRow).html('\
			<select class="p_select status_sel" >\
				<option value="390101">영업일</option>\
				<option value="390102">주말</option>\
				<option value="390103">내부휴일</option>\
				<option value="390104">공휴일</option>\
			</select>');
			$('.td_statusName', nRow).find('.status_sel').val(thisStatusIDX)

			$('.td_openTime', nRow).html('\
			<select class="p_select open_time_sel" >\
				<option value="00:00">00:00</option>\
				<option value="01:00">01:00</option>\
				<option value="02:00">02:00</option>\
				<option value="03:00">03:00</option>\
				<option value="04:00">04:00</option>\
				<option value="05:00">05:00</option>\
				<option value="06:00">06:00</option>\
				<option value="07:00">07:00</option>\
				<option value="08:00">08:00</option>\
				<option value="09:00">09:00</option>\
				<option value="10:00">10:00</option>\
				<option value="11:00">11:00</option>\
				<option value="12:00">12:00</option>\
				<option value="13:00">13:00</option>\
				<option value="14:00">14:00</option>\
				<option value="15:00">15:00</option>\
				<option value="16:00">16:00</option>\
				<option value="17:00">17:00</option>\
				<option value="18:00">18:00</option>\
				<option value="19:00">19:00</option>\
				<option value="20:00">20:00</option>\
				<option value="21:00">21:00</option>\
				<option value="22:00">22:00</option>\
				<option value="23:00">23:00</option>\
			</select>');
			$('.td_openTime', nRow).find('.open_time_sel').val(thisOpenTime)
			if(thisStatusIDX==390102 || thisStatusIDX==390103 || thisStatusIDX==390104){
				$('.td_openTime', nRow).find('.open_time_sel').attr("disabled",true)
			}

			$('.td_closeTime', nRow).html('\
			<select class="p_select close_time_sel" >\
				<option value="00:00">00:00</option>\
				<option value="01:00">01:00</option>\
				<option value="02:00">02:00</option>\
				<option value="03:00">03:00</option>\
				<option value="04:00">04:00</option>\
				<option value="05:00">05:00</option>\
				<option value="06:00">06:00</option>\
				<option value="07:00">07:00</option>\
				<option value="08:00">08:00</option>\
				<option value="09:00">09:00</option>\
				<option value="10:00">10:00</option>\
				<option value="11:00">11:00</option>\
				<option value="12:00">12:00</option>\
				<option value="13:00">13:00</option>\
				<option value="14:00">14:00</option>\
				<option value="15:00">15:00</option>\
				<option value="16:00">16:00</option>\
				<option value="17:00">17:00</option>\
				<option value="18:00">18:00</option>\
				<option value="19:00">19:00</option>\
				<option value="20:00">20:00</option>\
				<option value="21:00">21:00</option>\
				<option value="22:00">22:00</option>\
				<option value="23:00">23:00</option>\
			</select>');
			$('.td_closeTime', nRow).find('.close_time_sel').val(thisCloseTime)
			if(thisStatusIDX==390102 || thisStatusIDX==390103 || thisStatusIDX==390104){
				$('.td_closeTime', nRow).find('.close_time_sel').attr("disabled",true)
			}
			$('.td_saveBtn', nRow).html('\
			<a href="javascript:void(0)" class="save_btn p_btn"><span>저장<sapn></a>');

			$('.td_memo', nRow).html('\<input type="text" class="p_input memo_input" value="'+thisMemo+'" >');

			if(thisStatusIDX==390102){
				if(thisWeek=='Sat'){
					$(nRow).addClass('tr_blue')
				}else{
					$(nRow).addClass('tr_red')
				}
			}else if(thisStatusIDX==390103 || thisStatusIDX==390104){
				$(nRow).addClass('tr_red')
			}

    		pLoadingOff();
		},

		drawCallback: function( settings ) {

		},
	});




	body.on('change','.status_sel',function(){
		var thisBtn = $(this);
		var thisTrEl =thisBtn.closest('tr');
		var thisTr = thisBtn.closest('tr')[0];
		var thisIDX = ebuyTable.row(thisTr).data()['idx'];
		var thisVal = thisBtn.val();
		if(thisVal==390102 || thisVal==390103 || thisVal==390104){
			thisTrEl.find('.open_time_sel').attr('disabled',true);
			thisTrEl.find('.close_time_sel').attr('disabled',true);
		}else{
			thisTrEl.find('.open_time_sel').attr('disabled',false);
			thisTrEl.find('.close_time_sel').attr('disabled',false);
		}
		saveBtnActive(thisBtn)
	});

	function saveBtnActive(thisBtn){
		var thisTrEl =thisBtn.closest('tr');
		thisTrEl.find('.save_btn').addClass('save_btn_active');
	}

	body.on('change','.open_time_sel ,.close_time_sel',function(){
		var thisBtn=$(this);
		saveBtnActive(thisBtn)
	});

	body.on('keyup','.memo_input',function(){
		var thisBtn=$(this);
		saveBtnActive(thisBtn)
	});

	body.on('click','.save_btn_active',function(){
		var thisBtn=$(this);
		var thisTrEl =thisBtn.closest('tr');

	    var thisTr=thisBtn.closest('tr')[0];
	    var targetIDX=ebuyTable.row(thisTr).data()['idx'];
	    var targetWeek=ebuyTable.row(thisTr).data()['dayOfWeek'];
	    var targetStatus = thisTrEl.find('.status_sel').val();
	    var targetOpenTime = thisTrEl.find('.open_time_sel').val();
	    var targetCloseTime = thisTrEl.find('.close_time_sel').val();
	    var targetMemo = thisTrEl.find('.memo_input').val();


	   	$.post(DomainUri+'/EbuyScheduleCon/dateUpdate',{
	    	targetIDX:targetIDX,
	    	statusIDX:targetStatus,
	    	openTime:targetOpenTime,
	    	closeTime:targetCloseTime,
	    	memo:targetMemo
	    },function(data){
	    	var obj=JSON.parse(data);
	    	if(obj.result=="f"){
	    		pAlert(obj.msg);
	    		return false;
	    	}else{
	    		thisBtn.removeClass('save_btn_active')

				thisTrEl.removeClass('tr_blue')
				thisTrEl.removeClass('tr_red')

	    		if(targetStatus==390102){
					if(targetWeek=='Sat'){
						thisTrEl.addClass('tr_blue')
					}else{
						thisTrEl.addClass('tr_red')
					}
				}else if(targetStatus==390103 || targetStatus==390104){
					thisTrEl.addClass('tr_red')
				}
	    		pToastr("수정완료","");
	    		thisTrEl.find('.td_day').trigger('click');
	    	}
	    });

	});

	//td클릭했을때 거래 정보
	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('td_day') === true ||
			$(this).hasClass('td_week') === true ||
			$(this).hasClass('td_month') === true ||
			$(this).hasClass('td_year') === true ||
			$(this).hasClass('td_date') === true
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		    $.post(DomainUri+'/EbuyScheduleCon/DetailFormLoad',{
		    	targetIDX:targetIDX,
				pageType:'upd'
			},function(html){
		    	$(".st_detail_wrap").html(html);
		    	$('.detail_tab').trigger('click')
			});
		}
	});
	body.on('click','.insert_schedule_btn',function(){
		pLoadingOn();
		$.post(DomainUri+'/EbuyScheduleCon/InsertScheduleForm',function(html){
			pLoadingOff();
			var changeForm=$.confirm({
				title:'스케쥴 넣기',
				content:html,
				closeIcon: true,
				useBootstrap: false,
				backgroundDismiss: true,
				boxWidth: '500px',
				buttons: {
					'confirm': {
						text: '확인',
						btnClass: 'btn-blue director_update',
						keys:['enter'],
						action:function(){
							pLoadingOn();
							var insertYear = $('.isf_input').val();
							$.post(DomainUri+'/EbuyScheduleCon/InsertSchedule',{
								year : insertYear
							},function(data){
								pLoadingOff();
								var obj=JSON.parse(data);
								if(obj.result=="t"){
									pToastr("추가되었습니다.","")
									changeForm.close();
									ebuyTable.ajax.reload();
								}else{
									pAlert(obj.msg)
								}
							});
							return false;
						}
					},
					cancel:{text:"취소"}
				}
			});
		});
	});
	body.on('click','.change_operate_time_btn',function(){
		$.post(DomainUri+'/EbuyScheduleCon/ChangeOperateTimeForm',function(html){
			var changeForm=$.confirm({
				title:'운영시간 변경',
				content:html,
				closeIcon: true,
				useBootstrap: false,
				backgroundDismiss: true,
				boxWidth: '500px',
				buttons: {
					'confirm': {
						text: '확인',
						btnClass: 'btn-blue director_update',
						keys:['enter'],
						action:function(){


							var changeOpenTime = $('.edit_open_time_sel').val();
							var changeCloseTime =  $('.edit_close_time_sel').val();

							$.post(DomainUri+'/EbuyScheduleCon/changeOperateTime',{
								openTime : changeOpenTime,
								closeTime : changeCloseTime
							},function(data){
								var obj=JSON.parse(data);
								if(obj.result=="t"){
									pToastr("변경되었습니다","")
									changeForm.close();
									ebuyTable.ajax.reload();
								}else{
									pAlert(obj.msg)
								}
							});
							return false;
						}
					},
					cancel:{text:"취소"}
				}
			});
		});
	});
});
</script>

{% endblock %}



