{% extends "/index.html" %}
{% block sortingWrap %}
{# <div class="st_sorting_wrap">
    <div class="st_top_sorting_box">
    	<div class="category_wrap total_num">
    		<span class="f_big total_count_text">Total</span>
    		<div class="category_confirm_btn_box">
    			<a href="javascript:void(0)" class="p_btn category_confirm_btn">
    				<span class="f_small">카테고리 관리</span>
    			</a>
    		</div>
    	</div>
        <div class="p_btn_box index_sorting">
            <div class="index_sort_tit">
                <span class="f_normal sorting_date">Date</span>
                <div class="sort_btn_box">
                	<a class="today_apply_btn p_btn" href="javascript:void(0)">
                        <span class="f_small">Today</span>
                    </a>
                    <a class="date_apply_btn p_btn" href="javascript:void(0)">
                        <span class="f_small">날짜별 검색</span>
                    </a>
                </div>
            </div>
            <div class="p_help_me_datatable_im_between_date_wrap">
                <input type="text" name="" class="p_datepicker_between p_input p_between_date start_date" data-type="start" value="{{ "now"|date_modify("-1 month")|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
                <span class="p_between_hyphen"> - </span>
                <input type="text" name="" class="p_datepicker_between p_input p_between_date end_date" data-type="end" value="{{ "now"|date("Y-m-d") }}">
                <span class="p_calaner_icon"></span>
            </div>
        </div>
        <ul class="option_date_ul">
        {% set optionDateFunc = GetGlobals('monthCount') %}
        {% set optionDateData = optionDateFunc.data %}
        {% for key in optionDateData %}
            <li class="p_wid_4">
                <a class="option_date_btn p_left_box_btn" href="javascript:void(0)" data-start={{key.startDate}} data-end={{key.endDate}}>
                    <span class="f_small">{{key.standMonth}}월</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="st_bot_sorting_box">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">마켓</span>
			<a href="javascript:void(0);" class="p_chkbox sorting_ebuy_bank sorting_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in marketPack %}
            	<a href="javascript:void(0);" class="p_chkbox sorting_ebuy_bank sorting_chkbox" data-sel="{{key.name}}" data-column="7">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div> #}
{% endblock %}
{% block content %}
<style>
	.p_table_box{width: 50%;}
	.st_detail_wrap{width: 50%;}
	.info_text{display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;}
	.td_change_createTime{width: 170px;}
	.notice_regist_box{padding: 10px;}
	.p_td_status{text-align: center;}

	.c_btn{background-color: var(--css-maincolor);}
	.c_btn span{color: #fff;}
	.td_btn{width: 60px;}

	/*인서트*/
	.ins_detail_box{padding: 10px;}
	.ins_title_val , .upd_title_val , .app_pushAlarm_val{border: 1px solid var(--css-maincolor);padding: 5px;height: 30px;}
	.ins_content_val , .upd_content_val{height: 80%;min-height: 500px;padding: 5px;border: 1px solid var(--css-maincolor);border-radius: 0px;}
	.app_pushAlarm_val{margin: 10px 0px 0px 0px;}
	/*.ins_notice_insert_btn , .notice_update_btn{display:block;height: 40px;text-align: center;background-color: var(--css-maincolor);line-height: 40px;}
	.ins_notice_insert_btn span , .notice_update_btn span{color:#fff;}*/
	.displayNone{display: none;}

	/*메일 / 상태*/
	.mail_status_wrap{display: flex;align-items: center;}
	.mail_box , .status_box{width: 50%;}
	.notice_chk_box{padding-left: 30px;}
	.p_chkbox{padding: 0px 10px;}
	.mail_box , .popup_chk_box{width: 50%;}
	.al_mail_txt{width: 100%;text-align: center;}
	.mail_send_btn{width: 100%;background-color: var(--css-maincolor);}
	.mail_send_btn span{color: #fff;}



	/*파일부분*/
	#file_el_form{position: absolute; left: -9999px; top:-9999px; display: none;}
	.file_attach_btn {background-color: var(--css-maincolor);padding: 4px 12px; min-width: 150px;}
	.gesipan_file_tme_list{display: inline-block; padding:1px 10px; border:1px solid#395B77; margin:3px;}
	.p_file_box{display: flex;}
	.p_file_box_header{display: flex;align-items: center; text-align: center;  padding: 0px 0px;}
	.file_del_btn span{font-weight: bold; color:#f56565; margin-left: 10px;}
	.file_del_btn:active{top:1px;}

	.note-dimension-picker{width: 150px;height: 150px;}
	.note-dimension-picker-mousecatcher{width: 143px !important;height: 143px !important;}
	.note-dimension-picker-highlighted{width: 143px !important;height: 143px !important;}
	.note-dimension-picker-unhighlighted{width: 143px !important;height: 143px !important;}
	.note-dimension-display{height: 30px;font-size: 14px;}

	.table-bordered th{padding: 5px;text-align: left;font-weight: 500;font-size: 10px;color: #000;background-color: #1f3082;border: 1px solid #000 !important;color: #fff;text-align: center;}
    .table-bordered td{padding: 5px;text-align: left;vertical-align:middle;font-weight: 500;font-size: 10px;color: #000;border: solid 1px rgba(0,0,0,0.4) !important;}

	/* 에디터 */
	.note-editable{background-color:#fff;}
	.note-editable b{font-weight: bold;}
</style>
<div class="table_flex_box">
	<div class="p_table_box notice_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn notice_regist_btn"><span class="f_normal">추가</span></a>
		</div>
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th>상태</th>
				<th class="p_th_search_date">생성시간</th>
				<th>제목</th>
				<th>내용</th>
				<th>작성자</th>
				<th>삭제</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');

	//DefinAll 파일관련 정의
	var FileMaxSize='{{FileMaxSize}}';
	var FileAbledExtString='{{FileAbledExt}}';
	var FileAbledExt = FileAbledExtString.split(', ');
	var FileAbledCount='{{FileAbledCount}}';

	//파일배열 세팅
	var filesArr = new Array();
	var fileNo=0;

	//파일 유효성 확인 함수
	function fileConfirm(obj){
		pLoadingOff();
		var thisTempFileName=obj['name'];
		var thisTempFileExtn=thisTempFileName.substring(thisTempFileName.lastIndexOf('.') + 1).toLowerCase();

		if (FileAbledExt.includes(thisTempFileExtn)===false) {
        	var errMsg = ""+FileAbledCount+"개 이상 업로드를 할 수 없습니다.";
        	pLoadingOff();
			pToastr(errMsg);
			return false;
		}
		if(obj.name.length > 100){
			pToastr('Files with file names longer than 100 characters cannot be attached.','300px');
			pLoadingOff();
			return false;
		}
		if(obj.size > FileMaxSize){
            var errMsg = "Up to "+$FileMaxSize+"MB per file can be registered.";
            pLoadingOff();
			pToastr(errMsg);
			return false;
		}
		if(obj.name.lastIndexOf('.') == -1){
			var errMsg="Files without an extension cannot be attached.";
			pLoadingOff();
			pToastr(errMsg);
        	return false;
		}

  		return true;
	}


	body.on('change','#file_el',function(){
		pLoadingOn();
    	var attFileCnt = document.querySelectorAll('.gesipan_file_tme_list').length;    // 기존 추가된 첨부파일 개수
   		var remainFileCnt = FileAbledCount - attFileCnt;    // 추가로 첨부가능한 개수
    	var curFileCnt = this.files.length;  // 현재 선택된 첨부파일 개수
    	if (curFileCnt > remainFileCnt) {
            var errMsg = ""+FileAbledCount+"개 이상 업로드를 할 수 없습니다.";
            pLoadingOff();
        	pToastr(errMsg);
        	return false;
    	}
		if (this.files.length != 0) {
			var tempErrStatus=2;
			var filesPreviewEl='';
			//자료형에는 for of를 쓰나? 이해가 안됩니다.
			for (const targetFile of this.files) {
			// for (var i = 0; i < this.files.length; i++) {
				// var targetFile=this.files[i];
				var targetFileName=targetFile['name'];
				var fileConfirmFnc=fileConfirm(targetFile);
				if(fileConfirmFnc===true){
					var reader = new FileReader();
	                reader.onload = function () {
	                    filesArr.push(targetFile);
	                };
	                reader.readAsDataURL(targetFile);

					filesPreviewEl+='<li class="gesipan_file_tme_list"><span class="f_normal">'+targetFileName+'</span><a href="javascript:void(0)" class="file_del_btn " data-seq="'+fileNo+'"><span class="f_normal">X</span></a> </li>';
						fileNo++
				}else{
					tempErrStatus=3;
					break;
				}
			}
			//초기화
			$('#file_el').val("");
			if(tempErrStatus==3){
				filesPreviewEl='';
				pLoadingOff();
			}else{
				$('.document_file_preview_box').append(filesPreviewEl);
				pLoadingOff();
			}
		}else{
			pLoadingOff();
		}
	});

	body.on('click','.file_del_btn',function(){
		var thisBtn=$(this);
		var thisIndex=thisBtn.attr('data-seq')*1;
		$('.file_del_btn[data-seq='+thisIndex+']').closest('li').remove();
    	filesArr[thisIndex].is_delete = true;
	});



	ebuyTable=$('.staff_table').DataTable({
	    "order": [[1, 'asc'], [2, 'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/AppNoticeCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){

	   	    },
	   	},
	   	"destroy": true,//재설정
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "status", "class":"p_td_status td_btn"},
	        { "data": "createTime", "class":"td_change_createTime"},
	        { "data": "title", "class":""},
	        {
		        "data": "content",
		        "class": "p_td_content",
		        "render": function (data, type, row) {
		            return type === 'display' ? $('<div/>').html(data).text().substring(0, 15) + "..." : data.substring(0, 15) + "...";
		        }
		    },
	        { "data": "staffEmail", "class":""},
	        { "data": null, "class": "del_col td_btn", "defaultContent": '', "orderable": false },
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y');
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			if(aData['status']){
				var status=aData['status'];
				if(status=='긴급'){
					$(nRow).css({'background-color':'#ffcabe'});
					$('.p_td_status', nRow).html('<i class="fa-solid fa-bullhorn f_big"></i>');
				}
				if(status=='비활성'){
					$(nRow).css({'background-color':'#bbb'});
				}

			}

			if(aData['popupStatusIDX']){
				var popupStatusIDX=aData['popupStatusIDX'];
				if(popupStatusIDX=='313601'){
					$(nRow).css({'background-color':'#a6c503'});
				}

			}

			$('.del_col', nRow).html('<a href="javascript:void(0)" class="del_btn p_btn"><span class="f_small">삭제</span></a>');


			// var content=aData['content'];
			// var contentTxt = content;
			// if(content.length>15){
			// 	contentTxt =content.substring(0, 15) + "...";
			// }
			// $('.p_td_content', nRow).html('<span class="f_small">'+contentTxt+'</span>');

			var createTime=aData['createTime'];
			$('.td_change_createTime', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(createTime)+'</span>');
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	// status 수정
	// body.on('click','.status_btn',function(){
	// 	var targetTd=$(this);
	//     var targetRow=targetTd.closest('tr')[0];
	//     var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	// 	var status=targetTd.attr('data-status');
	// 	if(status==313401){
	// 		statusVal=313403;
	// 	}else{
	// 		statusVal=313401;
	// 	}
	// 	$.post(DomainUri+'/AppNoticeCon/StatusUpdate',{
	// 		targetIDX:targetIDX,
	// 		statusVal:statusVal,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pAlert(obj.msg);
	// 			return false;
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('수정이 완료되었습니다.','');
	// 		}
	// 	});
	// });

	// 공지사항 삭제 (db에서 delete 하는게 아니라 status만 바꿔주는거)
	body.on('click','.del_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	    $.confirm({
	    	title:'공지사항 삭제',
	    	content:'<span class="f_big">공지사항을 삭제하시겠습니까?</span>',
	    	closeIcon: true,
	    	useBootstrap: false,
	    	backgroundDismiss: true,
	    	boxWidth: '500px',
	    	buttons: {
	    		'confirm': {
	    			text: '확인',
	    			btnClass: 'btn-blue director_update',
	    			keys:['enter'],
	    			action:function(){
	    				$.post(DomainUri+'/AppNoticeCon/DeleteStatusUpdate',{
	    					targetIDX:targetIDX,
	    				},function(data){
	    					var obj=JSON.parse(data);
	    					if(obj.result=="f"){
	    						pAlert(obj.msg);
	    						return false;
	    					}else{
	    						ebuyTable.ajax.reload();
	    						pToastr('삭제가 완료되었습니다.','');
	    					}
	    				});
	    			}
	    		},
	    		cancel:{text:"취소"}
	    	}
	    });

	});

	//추가하기 버튼 클릭 시 랜더
	body.on('click','.notice_regist_btn',function(){
		$.post(DomainUri+'/AppNoticeCon/NoticeDetailFormLoad',{
			pageType:'ins'
		},function(html){
	    	$(".st_detail_wrap").html(html);
		});
	});

	body.on('click','.notice_mail_chk',function(){
		var tmpThis=$(this);
		if(tmpThis.hasClass('p_chkbox_s')){
			tmpThis.attr('data-idx',313501);
		}else{
			tmpThis.attr('data-idx',313502);
		}
	});

	body.on('click','.notice_popup_chk',function(){
		var tmpThis=$(this);
		if(tmpThis.hasClass('p_chkbox_s')){
			tmpThis.attr('data-idx',313601);
		}else{
			tmpThis.attr('data-idx',313602);
		}
	});

	body.on('change','.status_select_val',function(){
		var tmpThis=$(this);
		var thisVal=tmpThis.val();
		var pushVal='';
		if(thisVal==313401 || thisVal==313402){
			pushVal='공지사항이 등록되었습니다.';
		}else if(thisVal==313404){
			pushVal='이벤트 및 혜택 공지가 등록되었습니다.';
		}

		$('.app_pushAlarm_val').val(pushVal);
	});

	//추가하기 버튼
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		var title=$('.ins_title_val').val();
		// var content=$('.ins_content_val').val();
		// var content=$('.ins_content_val').val();

		var iframe = document.getElementsByClassName('ke-edit-iframe')[0];
		// iframe의 contentWindow를 통해 내부 document에 액세스
		var iframeDocument = iframe.contentWindow.document;
		// 내부 document에서 원하는 요소 선택하여 내용 가져오기
		var content = iframeDocument.querySelector('.ke-content').innerHTML;

		var statusIDX=$('.status_select_val').val();
		var mailingStatusIDX=$('.notice_mail_chk').attr('data-idx');
		var popupStatusIDX=$('.notice_popup_chk').attr('data-idx');
		var pushAlarmContent=$('.app_pushAlarm_val').val();

		// var form = document.querySelector("#file_el_form");
		// for로 돌려서 배열에 담은다음 여러개 한꺼번에 돌리기
		// var formData = new FormData(form);
		var formData = new FormData();
		// var filesListCount=0;
		// for (var i = 0; i < filesArr.length; i++) {
		// 	// 삭제되지 않은 파일만 폼데이터에 담기
		// 	if (!filesArr[i].is_delete) {
		// 	    formData.append("files[]", filesArr[i]);
		// 	    filesListCount++;
		// 	}
		// }

		formData.append('title',title);
	    formData.append('content',content);

	    formData.append('statusIDX',statusIDX);
	    formData.append('mailingStatusIDX',mailingStatusIDX);
	    formData.append('popupStatusIDX',popupStatusIDX);
	    formData.append('pushAlarmContent',pushAlarmContent);

		$.ajax({
			beforeSend: function() {
			},
			url: DomainUri+'/AppNoticeCon/NoticeInsert',
			type: "POST",
			data: formData,
			contentType: false,
			cache: false,
			processData:false,
			success:function(response){
				var obj=JSON.parse(response);
				if(obj.result=='t'){
					pToastr('공지사항 등록이 완료되었습니다.','');
		    		// ebuyTable.ajax.reload();
					location.reload();
				}else{
					pAlert(obj.msg);
				}
			},
			error: function(jqXHR, text, error){
				//
			}
		});



		// $.post(DomainUri+'/AppNoticeCon/NoticeInsert',{
		// 	title:title,
		// 	content:content,
		// },function(data){
	    // 	var obj=JSON.parse(data);
	    // 	if(obj.result=='t'){
	    // 		pToastr('공지사항 등록이 완료되었습니다.','');
	    // 		ebuyTable.ajax.reload();
	    // 	}
		// });
	});

	function detailUpdLoad(targetIDX){
	    $.post(DomainUri+'/AppNoticeCon/NoticeDetailFormLoad',{
	    	targetIDX:targetIDX,
			pageType:'upd'
		},function(html){
	    	$(".st_detail_wrap").html(html);
	    	var currentURL = window.location.href;
			var urlParams = new URLSearchParams(currentURL);
			var viewValue = urlParams.get('view');
			$('.detail_tab[data-type='+viewValue+']').trigger('click');
		});
	}

	//td클릭했을때 거래 정보
	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty') === false &&
	        $(e.target).hasClass('p_clipboard_btn') === false &&
	        $(e.target).hasClass('p_td_status')===false &&
	        $(e.target).hasClass('del_col')===false &&
	        $(e.target.parentElement).hasClass('p_clipboard_btn') === false &&
	        $(e.target.parentElement).hasClass('del_btn') === false &&
			$(e.target.parentElement).hasClass('status_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		    detailUpdLoad(targetIDX);
		}
	});

	//업데이트
	body.on('click','.st_r_de_f_btn_save',function(){
		var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		var title=$('.upd_title_val').val();
		// var content=$('.upd_content_val').val();

		var iframe = document.getElementsByClassName('ke-edit-iframe')[0];
		// iframe의 contentWindow를 통해 내부 document에 액세스
		var iframeDocument = iframe.contentWindow.document;
		// 내부 document에서 원하는 요소 선택하여 내용 가져오기
		var content = iframeDocument.querySelector('.ke-content').innerHTML;

		var statusIDX=$('.status_select_val').val();
		var statusVal=$('.status_select_val').find(':selected').text();
		var popupStatusIDX=$('.popup_status_val').val();
		var popupStatusVal=$('.popup_status_val').find(':selected').text();

		// var form = document.querySelector("#file_el_form");
		// for로 돌려서 배열에 담은다음 여러개 한꺼번에 돌리기
		var formData = new FormData();
		// var filesListCount=0;
		// for (var i = 0; i < filesArr.length; i++) {
		// 	// 삭제되지 않은 파일만 폼데이터에 담기
		// 	if (!filesArr[i].is_delete) {
		// 	    formData.append("files[]", filesArr[i]);
		// 	    filesListCount++;
		// 	}
		// }

		formData.append('targetIDX',targetIDX);
	    formData.append('title',title);
	    formData.append('content',content);

	    formData.append('statusIDX',statusIDX);
	    formData.append('popupStatusIDX',popupStatusIDX);

	    formData.append('statusVal',statusVal);
	    formData.append('popupStatusVal',popupStatusVal);

	    $.ajax({
			beforeSend: function() {
			},
			url: DomainUri+'/AppNoticeCon/NoticeUpdate',
			type: "POST",
			data: formData,
			contentType: false,
			cache: false,
			processData:false,
			success:function(response){
				var obj=JSON.parse(response);
				if(obj.result=='t'){
					pToastr('공지사항 수정이 완료되었습니다.','');
					detailUpdLoad(targetIDX);
		    		ebuyTable.ajax.reload();
				}else{
					pAlert(obj.msg);
				}
			},
			error: function(jqXHR, text, error){
				//
			}
		});


		// $.post(DomainUri+'/AppNoticeCon/NoticeUpdate',{
		// 	targetIDX:targetIDX,
		// 	title:title,
		// 	content:content,
		// },function(data){
	    // 	var obj=JSON.parse(data);
	    // 	if(obj.result=='t'){
	    // 		pToastr('공지사항 수정이 완료되었습니다.','');
	    // 		ebuyTable.ajax.reload();
	    // 	}
		// });
	});

	body.on('click','.mail_send_btn',function(){
		var targetIDX=$('.st_right_detail_con_container').attr('data-idx');
		var title=$('.upd_title_val').val();
		var content=$('.upd_content_val').val();

		$.confirm({
			title:'메일 보내기',
			content:'<span class="f_normal">메일을 전송하시겠습니까?</br> 모든 매니저에게 메일을 보냅니다.</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '500px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						$.post(DomainUri+'/AppNoticeCon/NoticeMailSend',{
							targetIDX:targetIDX,
							title:title,
							content:content,
						},function(data){
					    	var obj=JSON.parse(data);
					    	if(obj.result=='t'){
					    		pToastr('메일 발송이 완료되었습니다.','');
					    		detailUpdLoad(targetIDX);
					    	}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});


	});

	body.on('click','.file_btn',function(){
		var fileIDX = $(this).data('idx');
		$.post(DomainUri+'/AppNoticeCon/FileDownOrImageView',{
			fileIDX: fileIDX,
		},function(data){
			console.log(data);

			var {result, uri, type} = JSON.parse(data);

			if(result == 't'){
				if(type === 'img'){
					var popup = window.open(uri, '_blank');
					if (!popup) {
						alert('팝업이 차단되었습니다. 팝업 차단을 해제하고 다시 시도하세요.');
					}
				}else if (type === 'file'){
					// 다운로드 코드
					var link = document.createElement('a');
					link.href = uri;
					link.download = 'asdsadasdsadasd'; // 여기에 파일 이름을 지정하세요
					document.body.appendChild(link);
					link.click();
					document.body.removeChild(link);
				}
			}
		});
	});


});
</script>

{% endblock %}



