<div class="detail_tab_box display_flex flex_wrap">
	<a href="javascript:void(0);" class="detail_tab detail_tab_active" data-type="info">
		<span class="f_big ">Info</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="log">
		<span class="f_big ">Log</span>
	</a>
	<a href="javascript:void(0);" class="detail_tab" data-type="memo">
		<span class="f_big ">Memo</span>
	</a>
</div>
<div class="st_right_detail_con_container" data-idx="{{targetIDX}}" data-logType="market" data-memoStatus="382101">
	<div class="info_detail_box">
		{% if pageType=='ins' %}
			<div class="p_i">
				<span class="p_i_tit">업체명</span>
				<div class="p_i_con_box">
					<select class="p_select partner_info_select">
						<option value="none">업체를 선택해주세요</option>
						{% for key in partnerPack %}
							<option value="{{key.idx}}">{{key.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">마켓명</span>
				<div class="p_i_con_box">
					<input type="text" name="" class="p_input ins_name_val" value="">
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">비상연락망</span>
				<div class="p_i_con_box">
					<input type="text" name="" class="p_input ins_phoneNumber_val" value="">
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">Host Url</span>
				<div class="p_i_con_box">
					<input type="text" name="" class="p_input ins_hostUrl_val" value="">
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">Service Url</span>
				<div class="p_i_con_box">
					<input type="text" name="" class="p_input ins_serviceUrl_val" value="">
				</div>
			</div>
		{% else %}
			<div class="p_i">
				<span class="p_i_tit">업체명</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{dataPack['partnerName']}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">업체코드</span>
				<div class="p_i_con_box">
					<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{dataPack['partnerCode']}}"><span class="f_small">{{dataPack['partnerCode']}}</span></a>
				</div>
			</div>
			<div class="p_i_line"></div>
			<div class="p_i">
				<span class="p_i_tit">마켓명</span>
				<div class="p_i_con_box">
					<span class="p_i_con">{{dataPack['name']}}</span>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">마켓코드</span>
				<div class="p_i_con_box">
					<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{dataPack['code']}}"><span class="f_small marketCode_txt">{{dataPack['code']}}</span></a>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">마켓발란스</span>
				<div class="p_i_con_box detail_flex">
					<span class="p_i_con balance_txt">$ {{getBalance|number_format(2)}}</span>
					<a href="javascript:void(0)" class="p_btn market_balance_btn"><span class="f_small">수정</span></a>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">슈퍼매니저</span>
				<div class="p_i_con_box">
					<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="{{dataPack['email']}}"><span class="f_small">{{dataPack['email']}}</span></a>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">상태</span>
				<div class="p_i_con_box">
					<select class="p_select status_val">
						<option value="412101" {% if dataPack['status']=='정상' %}selected{% endif %}>정상</option>
						<option value="412201" {% if dataPack['status']=='차단' %}selected{% endif %}>차단</option>
						<option value="412202" {% if dataPack['status']=='계약만료' %}selected{% endif %}>계약만료</option>
					</select>
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">비상연락망</span>
				<div class="p_i_con_box">
					<input type="text" name="" class="p_input phoneNumber_val" value="{{dataPack['phoneNumber']}}">
					{# <span class="p_i_con">{{dataPack['phoneNumber']}}</span> #}
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">Host Url</span>
				<div class="p_i_con_box">
					<input type="text" name="" class="p_input hostUrl_val" value="{{dataPack['hostUrl']}}">
				</div>
			</div>
			<div class="p_i">
				<span class="p_i_tit">Service Url</span>
				<div class="p_i_con_box">
					<input type="text" name="" class="p_input serviceUrl_val" value="{{dataPack['serviceUrl']}}">
				</div>
			</div>
		{% endif %}
		<div class="p_i_line"></div>
		<div class="display_flex">
			<span class="f_big f_bold detail_sub_title">수수료</span>
			<div class="sub_ex_box">
				<span class="f_small f_bold ex_sub_title">%는 소수점 첫번째 까지만 입력가능</span>
				<span class="f_small f_bold ex_sub_title">$는 정수만 입력가능</span>
			</div>

		</div>
		<div class="p_i">
			<span class="p_i_tit_140">지불대행수수료</span>
			<div class="p_i_con_box">
				<input type="text" name="" class="p_input_w80 per_input marketDepositFeePer_val" value="{{dataPack['marketDepositFeePer']}}">
				<span class="per_txt f_normal f_bold">%</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit_140">출금대행수수료</span>
			<div class="p_i_con_box">
				<input type="text" name="" class="p_input_w80 per_input marketWithdrawalFeePer_val" value="{{dataPack['marketWithdrawalFeePer']}}">
				<span class="per_txt f_normal f_bold">%</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit_140">정산 bankwire</span>
			<div class="p_i_con_box">
				<input type="text" name="" class="p_input_w80 per_input marketSettleBankwireFeePer_val" value="{{dataPack['marketSettleBankwireFeePer']}}">
				<span class="per_txt f_normal f_bold">%</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit_140">정산 crypto</span>
			<div class="p_i_con_box">
				<input type="text" name="" class="p_input_w80 per_input marketSettleCryptoFeePer_val" value="{{dataPack['marketSettleCryptoFeePer']}}">
				<span class="per_txt f_normal f_bold">%</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit_140">역정산 bankwire</span>
			<div class="p_i_con_box">
				<input type="text" name="" class="p_input_w80 per_input marketTopupBankwireFeePer_val" value="{{dataPack['marketTopupBankwireFeePer']}}">
				<span class="per_txt f_normal f_bold">%</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit_140">역정산 crypto</span>
			<div class="p_i_con_box">
				<input type="text" name="" class="p_input_w80 per_input marketTopupCryptoFeePer_val" value="{{dataPack['marketTopupCryptoFeePer']}}">
				<span class="per_txt f_normal f_bold">%</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit_140">마이너스한도</span>
			<div class="p_i_con_box">
				<input type="text" name="" class="p_input_w80 dol_input marketMinusLimitAmount_val" value="{{dataPack['marketMinusLimitAmount']}}">
				<span class="per_txt f_normal f_bold">$</span>
			</div>
		</div>
		<span class="f_big f_bold detail_sub_title">1회 지불대행 한도</span>
		<div class="p_i">
			<span class="p_i_tit_140">최소</span>
			<div class="p_i_con_box">
				<input type="text" name="" class="p_input_w80 dol_input marketDepositMinAmount_val" value="{{dataPack['marketDepositMinAmount']}}">
				<span class="per_txt f_normal f_bold">$</span>
			</div>
		</div>
		<div class="p_i">
			<span class="p_i_tit_140">최대</span>
			<div class="p_i_con_box">
				<input type="text" name="" class="p_input_w80 dol_input marketDepositMaxAmount_val" value="{{dataPack['marketDepositMaxAmount']}}">
				<span class="per_txt f_normal f_bold">$</span>
			</div>
		</div>
	</div>
	<div class="log_detail_box display_none"></div>
	<div class="memo_detail_box display_none">
		<div class="memo_wrap">
			<div class="memo_list_box"></div>
			<div class="memo_val_box">
				<textarea class="p_textarea memo_val"></textarea>
			</div>
		</div>
	</div>

	{# {% if pageType=='upd' %}


	<div class="api_form_wrap">
		<div class="p_i">
			<span class="p_i_tit_140">api key</span>
			<div class="p_i_con_box">
				<span class="p_i_con" style="word-break: break-word;">{{apiKey}}</span>
			</div>
		</div>
	</div>
	{% endif %} #}



</div>
{% if pageType=='ins' %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_ins_save" href="javascript:void(0);"><span class="f_normal">등록하기</span></a>
	</div>
{% else %}
	<div class="click_btn_box">
	    <a class="st_r_de_f_btn st_r_de_f_btn_save" href="javascript:void(0);"><span class="f_normal">수정하기</span></a>
	</div>
{% endif %}
<div class="memo_save_btn_box display_none">
	<a class="st_r_de_f_btn memo_save_btn" href="javascript:void(0);"><span class="f_big">등록</span></a>
</div>



