{% extends "/index.html" %}
{% block sortingWrap %}
<div class="st_sorting_wrap">
	<div class="st_top_sorting_box">
        <span class="top_sorting_count_box">
        	<div class="sorting_count_box flex_between">
	        	<span class="f_normal count_tit">Total</span>
	        	<span class="f_normal count_txt total_count_txt"></span>
        	</div>
    	</span>
    </div>
    <div class="st_bot_sorting_box scroll_change">
    	<div class="sorting_box">
			<span class="sorting_tit f_normal">마켓</span>
			<a href="javascript:void(0);" class="p_chkbox p_chkbox_s all">
                <span class="p_chkbox_i"></span>
                <span class="p_chkbox_f f_small sorting_all">전체</span>
            </a>
            {% for key in dataPack %}
            	<a href="javascript:void(0);" class="p_chkbox" data-sel="{{key.name}}" data-column="2">
                    <span class="p_chkbox_i"></span>
                    <span class="p_chkbox_f f_small">{{key.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="st_sorting_final_btn">
        <a class="sort_reset_btn" href="javascript:void(0)">
            <span class="f_normal">reset</span>
        </a>
        <a class="sort_apply_btn" href="javascript:void(0)">
            <span class="f_normal">search</span>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
	.st_bot_sorting_box{width: 240px;margin-top:0px;}
	.c_btn{background-color: var(--css-maincolor);border: none;}
	.d_btn{background-color: #00a114;border: none;}
	.e_btn{background-color: #763eff;border: none;}
	.market_balance_btn{padding: 3px 6px;background-color: var(--css-maincolor);border-radius: 3px;}
	.c_btn span , .d_btn span , .e_btn span , .market_balance_btn span{color: #fff;}


	/*------------*/

	.detail_flex{display: flex;justify-content: space-between;align-items: center;}
	.detail_sub_title{padding: 8px 14px;}
	.ex_sub_title{padding: 2px;color: #f00;}
	.p_input_w80{width: 80% !important;text-align: end;}
	.p_i_tit_140{width: 140px;padding-left: 5px;margin-right: 20px;text-align-last: left;font-weight: 400;border-right: 1px solid #c9c9c9;}
	.per_txt{padding-left: 5px;}
	.balance_txt{font-weight: 500;}

	.now_balance_box{padding: 5px 0px;}
	.market_balance_radio_box{padding: 20px 0px 20px 0px;}
	.balance_radio_chk{padding: 0px 5px;}
	.market_balance_txt{font-weight: 500;font-size: 14px;}
	.market_balance_box{display: flex;justify-content: space-between;align-items: center;padding-bottom: 10px;}
	.market_balace_exp_txt{width: 100px;}
	.input_100{width: calc(100% - 100px);}

	.market_balance_exp_por_val{height: 150px;}

	.st_bot_sorting_box{max-height:103.5%;}

	.f_13{font-size: 13px;}
	.market_exp_tit{padding: 10px 0px;}
	.market_sub_exp_tit{padding: 3px 0px;}
	.detail_sub_box{padding-top:30px;}
	.detail_sub_box span{display: block;text-align: center;}
</style>
<div class="table_flex_box">
	<div class="p_table_box">
		<div class="p_table_btn_wrap">
			<a href="javascript:void(0)" class="p_btn market_regist_btn"><span class="f_normal">추가</span></a>
		</div>
		<table class="p_table staff_table">
			<thead>
				<th>idx</th>
				<th class="p_th_search_date">생성시간</th>
				<th>업체</th>
				<th>마켓이름</th>
				<th>코드</th>
				<th>발란스</th>
				<th>대표매니저</th>
				<th class="p_th_search_sel" data-opop="All,정상,비활성,계약만료">상태</th>
				<th>지불대행상태</th>
				<th>출금대행상태</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="st_detail_wrap">
		<span class="f_big st_detail_con_tit">Info</span>
		<div class="detail_wrap">
			<div class="detail_box scroll_change">
				<div class="default_wrap">
					<i class="xi-mouse-pointer mouse_icon"></i>
					<span class="exp_default_txt">Select a list to view detailed information</span>
					<div class="detail_sub_box">
						<span class="f_big f_bold market_exp_tit">※ 마켓 등록 방법 ※</span>
						<span class="f_13 market_sub_exp_tit">1. 메뉴 [파트너 → 업체] 이동 후 업체를 추가합니다.</span>
						<span class="f_13 market_sub_exp_tit">2. 메뉴 [파트너 → 마켓] 이동 후 마켓을 추가합니다.</span>
						<span class="f_13 market_sub_exp_tit">3. 메뉴 [파트너 → 마켓매니저] 이동 후 해당 마켓매니저(Lev5)를 추가합니다.</span>
						<span class="f_13 market_sub_exp_tit">4. 메뉴 [파트너 → 마켓APIKEY] 이동 후 해당 마켓APIKEY를 추가합니다.</span>
						<span class="f_13 market_sub_exp_tit">5. 메뉴 [파트너 → 마켓] 이동 후 마켓 상태를 정상으로 변경합니다.</span>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>


<script type="text/javascript">
$(document).ready(function(){
	var body=$('body');
	var renderidx='{{renderidx}}';
	var ebuyTable=$('.staff_table').DataTable({
	    "order": [[1,'desc']],
	    "iDisplayLength":100,
	    "ajax" : {
	        url:DomainUri+"/MarketCon/DataTableListLoad",
	        type:"POST",
	        data:function(d){
	   	    },
	   	    "dataSrc": function (json) {
				var totalCount = json.data.length;
				$('.total_count_txt').text(pComma(totalCount * 1));
				return json.data;
			}
	   	},
	   	"columns": [
	        { "data": "idx", "class":"","orderable": false,"visible":false},
	        { "data": "createTime", "class":"td_change_createTime"},
	        { "data": "partnerName", "class":"p_render_idx"},
	        { "data": "name", "class":""},
	        { "data": "code", "class":"p_td_code"},
	        { "data": "balance", "class":"p_td_balance"},
	        { "data": "email", "class":"p_td_email"},
	        { "data": "status", "class":"p_td_status"},
	        { "data": "depositStatus", "class":"p_td_deposit_status"},
	        { "data": "withdrawalStatus", "class":"p_td_withdrawal_status"},
	    ],
    	"initComplete": function(settings, data, dataIndex){
    		pTableInitComplete(this,'y','y',renderidx);
		},
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
			// //최상상태
			// if(aData['status']){
			// 	var status=aData['status'];
			// 	var statusBtnClass='';
			// 	if(status=='정상'){
			// 		statusVal='412101';
			// 		statusBtnClass='c_btn';
			// 	}else{
			// 		statusVal='412201';//차단
			// 	}
			// 	$('.p_td_status', nRow).html('<a href="javascript:void(0)" class="status_btn p_btn '+statusBtnClass+'" data-status="'+statusVal+'"><span class="f_small">'+status+'</span></a>');
			// }

			if(aData['balance']){
				var balance=aData['balance'];
				var intBalance = pComma(balance,2);
				$('.p_td_balance', nRow).html('<span class="f_small">'+intBalance+'</span>');
			}

			if(aData['email']){
				var email=aData['email'];
				$('.p_td_email', nRow).html('<a href="javascript:void(0)" class="p_clipboard_btn" data-clipboard-text="'+email+'"><span class="f_small">'+email+'</span></a>');
			}

			//지불대행
			if(aData['depositStatus']){
				var depositStatus=aData['depositStatus'];

				var statusBtnClass='';
				if(depositStatus=='지불대행정상'){
					statusVal='413101';
					statusBtnClass='d_btn';
				}else{
					statusVal='413201';//차단
				}
				$('.p_td_deposit_status', nRow).html('<a href="javascript:void(0)" class="deposit_status_btn p_btn '+statusBtnClass+'" data-status="'+statusVal+'"><span class="f_small">'+depositStatus+'</span></a>');
			}

			//출금대행
			if(aData['withdrawalStatus']){
				var withdrawalStatus=aData['withdrawalStatus'];
				var statusBtnClass='';
				if(withdrawalStatus=='출금대행정상'){
					statusVal='414101';
					statusBtnClass='e_btn';
				}else{
					statusVal='414201';//차단
				}
				$('.p_td_withdrawal_status', nRow).html('<a href="javascript:void(0)" class="withdrawal_status_btn p_btn '+statusBtnClass+'" data-status="'+statusVal+'"><span class="f_small">'+withdrawalStatus+'</span></a>');
			}
			if(aData['createTime']){
				var createTime=aData['createTime'];
				$('.td_change_createTime', nRow).html('<span class="utc_time f_small">UTC : '+createTime+'</span><span class="kr_time f_small">KST : '+changeDateKR(createTime)+'</span>');
			}
    		pLoadingOff();
		},
		drawCallback: function( settings ) {

		},
	});

	ebuyTable.on( 'click', 'tbody td', function(e){
		if(
			$(this).hasClass('dataTables_empty')===false &&
			$(e.target).hasClass('p_clipboard_btn')===false &&
			$(e.target).hasClass('p_td_status')===false &&
			$(e.target).hasClass('p_td_deposit_status')===false &&
			$(e.target).hasClass('p_td_withdrawal_status')===false &&
			$(e.target.parentElement).hasClass('p_clipboard_btn')===false &&
			$(e.target.parentElement).hasClass('status_btn')===false&&
			$(e.target.parentElement).hasClass('deposit_status_btn')===false&&
			$(e.target.parentElement).hasClass('withdrawal_status_btn')===false
		){
			var targetTd=$(this);
		    var targetRow=targetTd.closest('tr')[0];
		    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		    var marketCode=ebuyTable.row(targetRow).data()['code'];
	    	$.post(DomainUri+'/MarketCon/MarketDetailFormLoad',{
				targetIDX:targetIDX,
				marketCode:marketCode,
				pageType:'upd'
			},function(html){
		    	$(".st_detail_wrap").html(html);

		    	var currentURL = window.location.href;
				var urlParams = new URLSearchParams(currentURL);
				var viewValue = urlParams.get('view');
				$('.detail_tab[data-type='+viewValue+']').trigger('click');


			});
		}
	});

	//퍼센트 소수점 첫번째 자리까지만 입력
	body.on('keyup','.per_input',function(){
		var inputValue = $(this).val();
	    // 정규표현식을 사용하여 숫자와 소수점만 허용
	    var sanitizedInput = inputValue.replace(/[^0-9.]/g, '');
	    // 소수점을 기준으로 문자열을 분할하여 소수점 이하 한 자리까지만 허용
	    var parts = sanitizedInput.split('.');
	    if (parts.length > 1) {
	        parts[1] = parts[1].substring(0, 1); // 소수점 이하 한 자리까지만 유효
	        sanitizedInput = parts.join('.');
	    }
	    // 입력 필드에 유효한 값 적용
	    $(this).val(sanitizedInput);
	});

	//숫자만 입력
	body.on('keyup','.dol_input',function(){
		var inputValue = $(this).val();
	    // 정규표현식을 사용하여 숫자와 소수점만 허용
	    var sanitizedInput = inputValue.replace(/[^0-9]/g, '');
	    // 입력 필드에 유효한 값 적용
	    $(this).val(sanitizedInput);
	});

	//마켓 추가하기
	body.on('click','.st_r_de_f_btn_ins_save',function(){
		var partnerIDX = $('.partner_info_select').val();
		var name = $('.ins_name_val').val();
		// var code = $('.ins_code_val').val();
		var phoneNumber = $('.ins_phoneNumber_val').val();
		var marketDepositFeePer = $('.marketDepositFeePer_val').val();
		var marketWithdrawalFeePer = $('.marketWithdrawalFeePer_val').val();
		var marketSettleBankwireFeePer = $('.marketSettleBankwireFeePer_val').val();
		var marketSettleCryptoFeePer = $('.marketSettleCryptoFeePer_val').val();
		var marketTopupBankwireFeePer = $('.marketTopupBankwireFeePer_val').val();
		var marketTopupCryptoFeePer = $('.marketTopupCryptoFeePer_val').val();
		var marketMinusLimitAmount = $('.marketMinusLimitAmount_val').val();
		var marketDepositMinAmount = $('.marketDepositMinAmount_val').val();
		var marketDepositMaxAmount = $('.marketDepositMaxAmount_val').val();
		var hostUrl=$('.ins_hostUrl_val').val();
		var serviceUrl=$('.ins_serviceUrl_val').val();
		// 여기까지했음

		$.post(DomainUri+'/MarketCon/MarketInsert',{
    		partnerIDX:partnerIDX,
			name:name,
			// code:code,
			phoneNumber:phoneNumber,
			marketDepositFeePer:marketDepositFeePer,
			marketWithdrawalFeePer:marketWithdrawalFeePer,
			marketSettleBankwireFeePer:marketSettleBankwireFeePer,
			marketSettleCryptoFeePer:marketSettleCryptoFeePer,
			marketTopupBankwireFeePer:marketTopupBankwireFeePer,
			marketTopupCryptoFeePer:marketTopupCryptoFeePer,
			marketMinusLimitAmount:marketMinusLimitAmount,
			marketDepositMinAmount:marketDepositMinAmount,
			marketDepositMaxAmount:marketDepositMaxAmount,
			hostUrl:hostUrl,
			serviceUrl:serviceUrl,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="f"){
				pAlert(obj.msg);
			}else{
				ebuyTable.ajax.reload();
				pToastr('추가가 완료되었습니다.','');
			}
		});

	});

	//마켓 수정하기
	body.on('click','.st_r_de_f_btn_save',function(){
		var targetIDX=$('.st_right_detail_con_container').data('idx');
		var phoneNumber=$('.phoneNumber_val').val();
		var marketDepositFeePer = $('.marketDepositFeePer_val').val();
		var marketWithdrawalFeePer = $('.marketWithdrawalFeePer_val').val();
		var marketSettleBankwireFeePer = $('.marketSettleBankwireFeePer_val').val();
		var marketSettleCryptoFeePer = $('.marketSettleCryptoFeePer_val').val();
		var marketTopupBankwireFeePer = $('.marketTopupBankwireFeePer_val').val();
		var marketTopupCryptoFeePer = $('.marketTopupCryptoFeePer_val').val();
		var marketMinusLimitAmount = $('.marketMinusLimitAmount_val').val();
		var marketDepositMinAmount = $('.marketDepositMinAmount_val').val();
		var marketDepositMaxAmount = $('.marketDepositMaxAmount_val').val();
		var statusIDX=$('.status_val').val();
		var statusVal=$('.status_val option:selected').text();
		var marketCode=$('.marketCode_txt').text();
		var hostUrl=$('.hostUrl_val').val();
		var serviceUrl=$('.serviceUrl_val').val();
		$.confirm({
			title:'마켓 수정',
			content:'<span class="f_normal">수수료 및 한도도 같이 수정됩니다. </br>수정하시겠습니까?</span>',
			closeIcon: true,
			useBootstrap: false,
			backgroundDismiss: true,
			boxWidth: '400px',
			buttons: {
				'confirm': {
					text: '확인',
					btnClass: 'btn-blue director_update',
					keys:['enter'],
					action:function(){
						$.post(DomainUri+'/MarketCon/MarketUpdate',{
				    		targetIDX:targetIDX,
				    		phoneNumber:phoneNumber,
							marketDepositFeePer:marketDepositFeePer,
							marketWithdrawalFeePer:marketWithdrawalFeePer,
							marketSettleBankwireFeePer:marketSettleBankwireFeePer,
							marketSettleCryptoFeePer:marketSettleCryptoFeePer,
							marketTopupBankwireFeePer:marketTopupBankwireFeePer,
							marketTopupCryptoFeePer:marketTopupCryptoFeePer,
							marketMinusLimitAmount:marketMinusLimitAmount,
							marketDepositMinAmount:marketDepositMinAmount,
							marketDepositMaxAmount:marketDepositMaxAmount,
							statusIDX:statusIDX,
							statusVal:statusVal,
							marketCode:marketCode,
							hostUrl:hostUrl,
							serviceUrl:serviceUrl,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
							}else{
								ebuyTable.ajax.reload();
								pToastr('수정이 완료되었습니다.','');
							}
						});
					}
				},
				cancel:{text:"취소"}
			}
		});
	});



	//추가하기 버튼 클릭 시 랜더
	body.on('click','.market_regist_btn',function(){
    	$.post(DomainUri+'/MarketCon/MarketDetailFormLoad',{
			pageType:'ins'
		},function(html){
	    	$(".st_detail_wrap").html(html);
		});
	});

	// status 수정
	// body.on('click','.status_btn',function(){
	// 	var targetTd=$(this);
	//     var targetRow=targetTd.closest('tr')[0];
	//     var targetIDX=ebuyTable.row(targetRow).data()['idx'];
	// 	var status=targetTd.attr('data-status');
	// 	if(status==412101){
	// 		statusVal=412201;
	// 	}else{
	// 		statusVal=412101;
	// 	}
	// 	$.post(DomainUri+'/MarketCon/StatusUpdate',{
	// 		targetIDX:targetIDX,
	// 		statusVal:statusVal,
	// 	},function(data){
	// 		var obj=JSON.parse(data);
	// 		if(obj.result=="f"){
	// 			pAlert(obj.msg);
	// 			return false;
	// 		}else{
	// 			ebuyTable.ajax.reload();
	// 			pToastr('수정이 완료되었습니다.','');
	// 		}
	// 	});
	// });

	//지불대행 status 수정
	body.on('click','.deposit_status_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		var status=targetTd.attr('data-status');
		if(status==413101){
			statusVal=413201;
		}else{
			statusVal=413101;
		}
		$.confirm({
	        title:'지불대행 상태 수정',
	        content:'<span class="f_normal cf_txt">수정하시겠습니까?</span>',
	        closeIcon: true,
	        useBootstrap: false,
	        backgroundDismiss: false,
	        boxWidth: '600px',
	        buttons: {
	            cancel:{text:"Cancel"},
	            'confirm': {
	                text: 'Confirm',
	                btnClass: 'btn-blue',
	                keys:['enter'],
	                action:function(){
	                	pLoadingOn();
	                	$.post(DomainUri+'/MarketCon/DepositStatusUpdate',{
							targetIDX:targetIDX,
							statusVal:statusVal,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
								return false;
							}else{
								ebuyTable.ajax.reload();
								pToastr('수정이 완료되었습니다.','');
							}
						});
						pLoadingOff();
	                }
	            }
	        }
	    });
		
	});

	//출금대행 status 수정
	body.on('click','.withdrawal_status_btn',function(){
		var targetTd=$(this);
	    var targetRow=targetTd.closest('tr')[0];
	    var targetIDX=ebuyTable.row(targetRow).data()['idx'];
		var status=targetTd.attr('data-status');
		if(status==414101){
			statusVal=414201;
		}else{
			statusVal=414101;
		}
		$.confirm({
	        title:'출금대행 상태 수정',
	        content:'<span class="f_normal cf_txt">수정하시겠습니까?</span>',
	        closeIcon: true,
	        useBootstrap: false,
	        backgroundDismiss: false,
	        boxWidth: '600px',
	        buttons: {
	            cancel:{text:"Cancel"},
	            'confirm': {
	                text: 'Confirm',
	                btnClass: 'btn-blue',
	                keys:['enter'],
	                action:function(){
	                	pLoadingOn();
	                	$.post(DomainUri+'/MarketCon/WithdrawalStatusUpdate',{
							targetIDX:targetIDX,
							statusVal:statusVal,
						},function(data){
							var obj=JSON.parse(data);
							if(obj.result=="f"){
								pAlert(obj.msg);
								return false;
							}else{
								ebuyTable.ajax.reload();
								pToastr('수정이 완료되었습니다.','');
							}
						});
						pLoadingOff();
	                }
	            }
	        }
	    });
	});

	//발란스 수정버튼 (마켓발란스 수정)
	body.on('click','.market_balance_btn',function(){
		var marketCode=$('.marketCode_txt').text();
		$.post(DomainUri+'/MarketCon/getBalance',{
			marketCode:marketCode,
		},function(data){
			var obj=JSON.parse(data);
			if(obj.result=="t"){
				var balance=obj.getBalance;
				var getBalance = pComma(balance,2);
				var totalBalance = pComma(balance,2);

				function updateTotalBalance() {
				    var selectedRadio = $('.balance_radio_chk.p_radio_s').attr('data-idx');
				    var amount = parseFloat($('.market_balance_val').val()) || 0;
				    if (selectedRadio == '419101') {
				        totalBalance = parseFloat(balance) + amount;
				    } else {
				        totalBalance = parseFloat(balance) - amount;
				    }
				    $('.now_balance_box:eq(1) span').text('적용발란스 : $ ' + pComma(totalBalance.toFixed(2), 2));
				}

				$.confirm({
					title:'발란스 수정',
					content:`
					<div class="market_balance_wrap">
						<span class="market_balance_tit f_big f_bold">증/차감 할 발란스를 입력해주세요.</span>

						<div class="market_balance_radio_box">
							<a href="javascript:void(0);" class="p_radio balance_radio_chk p_radio_s" data-idx="419101">
								<span class="p_radio_i"></span>
								<span class="p_radio_f market_balance_txt">증감</span>
							</a>
							<a href="javascript:void(0);" class="p_radio balance_radio_chk" data-idx="419201">
								<span class="p_radio_i"></span>
								<span class="p_radio_f market_balance_txt">차감</span>
							</a>
						</div>
						<div class="market_balance_box">
							<span class="market_balace_exp_txt f_normal">발란스 : </span>
							<input type="text" class="p_input market_balance_val input_100" value="">
						</div>
						<div class="market_balance_box">
							<span class="market_balace_exp_txt f_normal">스태프사유 : </span>
							<input type="text" class="p_input market_balance_exp_val input_100" value="">
						</div>
						<div class="market_balance_box">
							<span class="market_balace_exp_txt f_normal">포탈사유 : </span>
							<textarea class="p_textarea market_balance_exp_por_val input_100"></textarea>
						</div>

						<div class="now_balance_box">
							<span class="f_normal">현재발란스 : $ `+getBalance+`</span>
						</div>
						<div class="now_balance_box">
							<span class="f_normal">적용발란스 : $ `+totalBalance+`</span>
						</div>
					</div>
					`,
					closeIcon: true,
					useBootstrap: false,
					backgroundDismiss: true,
					boxWidth: '500px',
					onOpenBefore: function () {
				        // keyup 이벤트 리스너 등록
				        $('.market_balance_val').on('keyup', updateTotalBalance);

				        $('.balance_radio_chk').on('click', function () {
		                    // market_balance_val 초기화
		                    $('.market_balance_val').val('');

		                    // now_balance_box 초기값으로 설정
		                    $('.now_balance_box:eq(1) span').text('적용발란스 : $ ' + getBalance);
		                });
				    },

				    onClose: function () {
				        // keyup 이벤트 리스너 제거
				        $('.market_balance_val').off('keyup', updateTotalBalance);
				        $('.balance_radio_chk').off('click');
				    },
					buttons: {
						'confirm': {
							text: '확인',
							btnClass: 'btn-blue director_update',
							keys:['enter'],
							action:function(){
								var marketIDX=$('.st_right_detail_con_container').attr('data-idx');
								var statusIDX=$('.balance_radio_chk.p_radio_s').attr('data-idx');
								var amount=$('.market_balance_val').val();
								var exVal=$('.market_balance_exp_val').val();
								var portalExVal = $('.market_balance_exp_por_val').val();

								$.post(DomainUri+'/MarketCon/MarketBalanceUpdate',{
									marketIDX:marketIDX,
									statusIDX:statusIDX,
									amount:amount,
									exVal:exVal,
									portalExVal:portalExVal,
								},function(data){
									var obj=JSON.parse(data);
									if(obj.result=='t'){
										pAlert('수정이 완료되었습니다.','300px',function(){
											location.reload();
										});
									}else{
										pAlert(obj.msg);
									}

								});

							}
						},
						cancel:{text:"취소"}
					}
				});
			}else{
				pAlert(obj.msg);
			}
		});

	});

	// body.on('click','.detail_tab ',function(){
	// 	var dataType = $('.detail_tab_active').attr('data-type');
	// 	if(dataType !== 'info'){
	// 		$('.api_form_wrap').css('display','none');
	// 	}
	// });



});
</script>
{% endblock %}
